.catalog-card {
	background: #FFF;
	width: 275px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0px 23px 15px 0px;
	padding: 0px;
	box-shadow: 0 1px 2px 0 rgba(50,50,50,0.3);
	cursor: pointer;
}
a.catalog-sidebar-item.setupdone {
    display: none;
}
.catalog-card:hover {
	box-shadow: 0px 1px 15px 0px rgba(50,50,50,0.4)
}

.catalog-3cols .catalog-card:nth-child(3n) { margin-right: 0px; }
.catalog-4cols .catalog-card:nth-child(4n) { margin-right: 0px; }

.catalog-card .catalog-card-image {
	overflow: hidden;
	margin: 4px;
}

.catalog-card .catalog-card-image img {
	/* In case bootstrap is used... */
	width: auto !important;
	max-width: none !important;
	height: 150px;
}

.catalog-card .catalog-card-name {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: #4189DD;
	font-size: 18px;
	margin: 5px 5px 0px 5px;
	padding: 0px 5px;
	height: 55px;
	overflow: hidden;
	font-family: 'Open Sans';
	font-weight: 300;
}

.catalog-card .catalog-card-subtitle {
	text-align: center;
	color: #4189DD;
	padding: 5px 0px;
}

.catalog-card .catalog-card-name.longtext { font-size: 14px; }

.catalog-card .catalog-card-progress {
	background: #F4F4F4;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
	padding: 8px 4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.catalog-card .catalog-card-progress-text {
	text-align: center;
	position: relative;
	margin-top: -20px;
	text-shadow: 0px 0px 3px #FFF;
	font-size: 11px;
}

.catalog-card .catalog-card-status {
	background: #E9F3FC;
	color: #4189DD;
	line-height: 33px;
	padding: 0px 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.catalog-card .catalog-card-teacher {
	background: #F4F4F4;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
	padding: 8px 4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;

	font-weight: bold;
	font-size: 12px;
	line-height: normal;
	white-space: nowrap;
	overflow: hidden;
	height: 50px;
}

.catalog-card .catalog-card-teacher img {
	width: 32px;
	height: 32px;
	border-radius: 2px;
	margin: 0px 10px 0px 5px;
}

.catalog-card .catalog-card-status .fa { line-height: inherit; }

.catalog-vertical-fade {
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);

	height: 20px;
	margin-top: -20px;
	position: relative;
}

.catalog-sidebar {
	width: 275px;
	background: #EEE;
	box-shadow: 0 1px 2px 0 rgba(50,50,50,0.3);
}

.catalog-sidebar .catalog-sidebar-item {
	display: block;
	color: #333;
	text-decoration: none;
	margin: 15px 15px 0px 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #C8C8C8;
}

.catalog-container {
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

.catalog-panel {
	background: #FFF;
	border-radius: 3px;
	box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.3);
	padding: 1em 2em;
	margin-bottom: 24px;
}

.catalog-panel-head {
	font-family: "Open Sans";
	font-weight: 300;
	color: #478FE1;
	font-size: 22px;
	border-bottom: 1px solid #C1C1C1;
	padding-bottom: 5px;
	line-height: 40px;
}

.catalog-dropdown {
	font-size: 22px;
	font-weight: 300;
	font-family: "Open Sans";
	text-decoration: none;
	color: #666;
}

.catalog-dropdown:hover, .catalog-dropdown:active, .catalog-dropdown:focus { color: #666 !important; text-decoration: none !important; }

@media (min-width: 979px) and (max-width: 1199px) {
	.catalog-card, .catalog-sidebar { width: 223px; }
	.catalog-card { margin-right: 16px; }
	.catalog-container { width: 942px; }
}

@media (max-width: 979px) {
	.catalog-card, .catalog-sidebar { width: 231px; }
	.catalog-card { margin-right: 15px; }
	.catalog-3cols .catalog-card:nth-child(3n) { margin-right: 15px; }
	.catalog-3cols .catalog-card:nth-child(2n) { margin-right: 0px; }
	.catalog-4cols .catalog-card:nth-child(4n) { margin-right: 15px; }
	.catalog-4cols .catalog-card:nth-child(3n) { margin-right: 0px; }
	.catalog-container { width: 724px; }
}
