@-webkit-keyframes toolbuttonhover {
	from { color: #666; }
	to { color: #4189DD; }
}

@keyframes toolbuttonhover {
	from { color: #666; }
	to { color: #4189DD; }
}

.header-block {
	height: 51px;
	box-shadow: 0 1px 2px 0 rgba(50,50,50,0.3);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	opacity: 0.97;
	background: #FFF;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 990;
}

.header-logo {
	line-height: 50px;
	margin: 0px;
	float: left;
}

.header-mobile-bar {
	margin-left: 130px;
}

.header-right-box {
	float: right;
}

.header-mobile-btn {
	display: none !important;
}

.header-menu-item {
	display: inline-block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 51px;
	height: 51px;
	margin: 0px 8px;
	padding: 0px 1px;
	text-decoration: none;
	color: #666;
	outline: 0;
	cursor: pointer;
}

.header-menu-item a {
	color: #666;
	text-decoration: none;
}

.header-menu-item a:hover {
	text-decoration: none;
}

.header-user-picture {
	border-radius: 15px;
	margin: 0px 10px;
}

.header-menu-item.active {
	border-bottom: 3px solid #4189DD;
	color: #000;
}

.header-menu-item:hover {
	color: #4189DD;
	text-decoration: none;
	-webkit-animation: toolbuttonhover 0.3s;
	animation: toolbuttonhover 0.3s;
}

.header-menu-item:active, .header-menu-item:focus {
	color: #4189DD;
	text-decoration: none;
}

.header-menu-item i.fa {
	font-size: 22px;
	vertical-align: middle;
	margin-right: 5px;
}

.header-menu-item .dropdown-menu i.fa {
	font-size: 14px !important;
}

@media (max-width: 979px) and (min-width: 767px) {
	.mobile-friendly .header-menu-item {
		margin: 0px 4px;
	}

	.mobile-friendly .header-logo {
		margin: 0px 10px 0px 0px;
	}

	.header-button-label { display: none; }
}

@media (max-width: 767px) {
	.mobile-friendly .header-menu-item {
		display: block;
		line-height: 30px;
		padding: 0px 0px 0px 15px;
	}

	.mobile-friendly .header-logo { margin: 0px 0px 0px 10px; }

	.mobile-friendly .header-mobile-bar {
		background: #FFF;
		margin: 55px 0px 0px 0px;
		display: none;
	}

	.mobile-friendly .header-right-box {
		float: none;
		margin: 0px 0px 0px -20px;
		padding-bottom: 20px;
	}

	.mobile-friendly .header-right-box > * {
		margin: 10px 15px !important;
		height: auto !important;
	}

	.mobile-friendly .header-right-box .dropdown { display: block !important; }
	.mobile-friendly .header-right-box .btn { margin-left: 40px !important; }

	.mobile-friendly .mobile-reset {
		margin: 0px !important;
		width: auto !important;
	}

	.mobile-friendly .header-mobile-btn {
		display: inherit !important;
		float: right;
		margin: 8px 10px 0px 0px;
	}

	.header-block.mobile-friendly {
		position: relative !important;
	}

	.header-button-label { display: none; }
	.mobile-friendly .header-button-label { display: inline; }
}
