html, body {
	height: 100%;
}

body {
	padding: 0px;
	margin: 0px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1 {
	color: #4189DD;
	margin: 1em 0px 1em 0px;
	padding: 0px;
	text-align: center;
	line-height: 55px;
	font-size: 40px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 300;
}

h2 {
	color: #4189DD;
	line-height: 35px;
	margin: 10px 0px 25px 0px;
	padding: 0px;
	font-size: 26px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 300;
}

h2.underlined {
	border-bottom: 1px solid silver;
	padding: 0px 0px 10px 0px;
	margin: 10px 0px 25px 0px;
}

h3 {
	color: #4189DD;
	font-size: 22px;
	line-height: 24px;
	margin: 10px 0px 20px 0px;
	padding: 0px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 300;
}

h3.underlined {
	border-bottom: 1px solid silver;
	padding: 5px 0px 10px 0px;
	margin: 10px 0px 15px 0px;
}

h3 .fa {
	font-size: 72px;
	display: block;
	text-align: center;
	margin-bottom: 10px;
}

h4 {
	color: #4189DD;
	font-size: 18px;
	line-height: 20px;
	margin: 10px 0px 20px 0px;
	padding: 0px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 300;
}

a:hover {
	text-decoration: none;
}

p {
	color: #777;
}

p, .content li {
	line-height: 22px;
	color: #777;
}

p.sub1 {
    font-size: 19px;
    font-weight: 300;
    line-height: 27px;
    margin: 0 0 20px;
}

p.subheader {
	margin: 0px 0px 2em 0px;
	text-align: center;
	font-size: 20px;
	color: #666;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 300;
}

i.icon.big {
	font-size: 155px;
	color: #3E8DDD;
	line-height: 170.5px;
	width: auto;
	height: auto;
}

div.image img { width: 80%; }
div.image img { box-shadow: 2px 2px 8px #AAA; margin: 1em 0px 2em 0px; }
div.image.left { text-align: left; }
div.image.right { text-align: right; }

@media screen and (max-width: 768px) {
	div.image { text-align: center; }
	div.image.left { text-align: center; }
	div.image.right { text-align: center; }
	div.image img { width: 90%; }
}

div.image-s img { width: 45%; }
div.image-s { text-align: center; margin-bottom: 1.5em; }
@media screen and (max-width: 768px) { div.image-s img { width: 50%; } }

#cookiesdirective a {
	text-decoration: underline !important;	/* Overriding bootstraps' overrides... */
}

#wrapper {
	min-height: 100%;
	padding-bottom: 170px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#social-buttons-block, .center {
	text-align: center;
}

.panel { padding-bottom: 20px; }
.panel-wrapper { margin: 0px 3em; }

.braker-block {
	margin: 20px 0px;
	padding: 15px 0px;
	background: #F8F8F8;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
	text-align: center;
}

@media (max-width: 979px) and (min-width: 768px) {
	.panel-wrapper { margin: 0px 2.5em; }
}

@media (max-width: 768px) {
	.panel-wrapper { margin: 0px 1.5em; }
}

.page-wrapper { margin: 20px 30px; }

@media (min-width: 979px) {
	.lang-menu { margin-left: -150px; }
	.lang-menu .row-fluid { width: 300px; }
}

a.icon {
	display: inline-block;
	width: 30px;
	line-height: 35px;
	text-decoration: none;
}

a.icon.facebook { background: transparent url('../img/logo-facebook.png') 50% 50% no-repeat; width: 32px; height: 32px}
a.icon.twitter { background: transparent url('../img/logo-twitter.png') 50% 50% no-repeat; width: 32px; height: 32px}

.banner {
	height: 400px;
	overflow: hidden;
}

.banner .t, .banner .t2 {
	font-weight: bold;
	font-size: 30pt;
	color: #FFF;
	line-height: 120%;
	padding: 80px 0px 40px 0px;
	text-shadow: 0px 0px 15px #000;
}

.banner .s {
	font-size: 16pt;
	color: #FFF;
	line-height: 110%;
	text-shadow: 0px 0px 10px #000;
	padding-bottom: 20px;
}

.banner img { margin-top: 52px; }

.modal { color: #222; max-height: none; position: absolute; }

@media screen and (max-width: 1200px) {
	.banner img { margin-top: 87px; }
	.banner .t { padding: 70px 0px 20px 0px; }
	.banner .t2 { padding-top: 90px; }
}

@media screen and (max-width: 980px) {
	.content { padding: 35px 0px 30px 0px; }

	.row { margin: 0px; }
	.span4 { display: inline-block; float: left; width: 362px; margin: 0px; }
	.span5 { display: block; float: none; width: 100%; }

	.banner .t {
		font-size: 26pt;
		line-height: 110%;
		padding: 120px 0px 40px 0px;
	}

	.banner .t2 { padding-top: 60px; }
}

.mcols {
	display: table;
	width: 100%;
}

.mcols > .mleft {
	display: table-cell;
}

.mcols > .mright {
	display: table-cell;
	text-align: right;
}

.mcols > .mcenter {
	display: table-cell;
	text-align: center;
}

@media screen and (max-width: 768px) {
	.banner { padding: 0px 30px; }

	.banner .t {
		font-size: 22pt;
		line-height: 110%;
		padding: 80px 0px 40px 0px;
	}

	.banner .t2 {
		font-size: 22pt;
		line-height: 110%;
		padding: 30px 0px 20px 0px;
	}

	.banner .s {
		font-size: 16pt;
		line-height: 110%;
	}

	.span4 { display: block; float: none; width: 100%; }
	.span5 { margin: 0px 0px; }
	.note { width: 90%; max-width: 450px; }

	.mcols { display: block !important; }
	.mcols > * { display: block !important; text-align: center !important; }
	.mcols > * > * { display: block !important; padding: 10px 0px !important; }
}

.logos img { height: 50px; margin-bottom: 20px; }
.logos { text-align: center; margin-bottom: 2em; }

.logos-l img {
	height: 64px;
	margin: 0px auto 2em;
	display: block;
}

.nav{
	margin-bottom: 0px;
}
.nav-pills>li>a, .navbar .nav > li > a {
	line-height: 50px;
	padding: 0px 10px;
	margin-bottom: 0px;
	margin-top: 0px;
}
.nav-pills>.active>a, .nav-pills>.active>a:hover {
	color: #fff;
	background-color: #131313;

}
.nav-pills>.active, .nav-pills>.active:hover {

		background-color: #131313;

}

.nav-list.custom{
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    -moz-box-shadow:0 1px 4px rgba(0,0,0,0.065);
    -webkit-box-shadow:0 1px 4px rgba(0,0,0,0.065);
    box-shadow:0 1px 4px rgba(0,0,0,0.065);
    background-color:#fff;
    padding:0
}

.nav-list.custom li a{
    display:block;
    margin:0 0 -1px;
    padding:8px 14px;
    border:1px solid #e5e5e5;
    font-size: 14px;
    height: 20px;
}

.nav-list.custom li.active a {
	color: #555;
	text-shadow: 0 0 0 rgba(0,0,0,0);
	background-color: #e9f3fe;
	}

.nav-list.custom li a .icon-chevron-right{

    filter:alpha(opacity=25);
    -moz-opacity:.25;
    -khtml-opacity:.25;
    opacity:.25
}

.nav-list.custom li:first-child a
{
    border-radius:6px 6px 0 0

}

.nav-list.custom li:last-child a{
    border-radius:0 0 6px 6px

}

li.active a{
  background-color:#f5f5f5
}

.headers {
    text-align: left;
}

.nav-list.custom li.active a .icon-chevron-right{
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity:1;
    opacity:1;color:#fff
}

.formpage { padding: 30px 0px 10px 0px; }

.formpage > .container.panel {
	max-width: 420px;
	padding: 0px;
}

.formpage .topblock {
	text-align: center;
	border-bottom: 1px solid #C5C5C5;
	padding: 10px 0px 20px 0px;
	margin: 0px 20px 20px 20px;
}

.formpage .topblock > div { margin-bottom: 6px; }

.formpage .footerbox {
	background-color: #F0EFF0;
	border-top: 1px solid #C6C6C6;
	text-align: center;
	padding: 10px 5px;
}

.formpage .controls.submit {
	text-align: right;
	padding-right: 20px;
}

@media screen and (max-width: 480px) {
	.formpage .form-horizontal {
		margin-left: 20px;
	}

	.formpage .controls.submit {
		text-align: left;
		padding-right: 20px;
	}
}

@media (min-width: 980px) {
	#business_signup_form .input-large, #business_signup_form .btn-large { width: 200px; }
}

@media (max-width: 979px) and (min-width: 768px) {
	#business_signup_form .input-large { width: 155px; }
}

.line-separator {
	margin: 20px 0px 30px 0px;
	height: 1px;
	border-bottom: 1px solid #DDD;
}

.form-box {
	box-shadow: 0px 0px 3px 0 rgba(50,50,50,0.5);
	margin-bottom: 20px;
	border-radius: 3px;
}

.pricing-boxes { margin: 20px 0px; }

.pricing-boxes > div {
	display: inline-block;
	border: 1px solid #DDD;
	margin-left: -1px;
	padding: 15px 10px;
	min-width: 120px;
}

.pricing-boxes > div.active {
	padding: 25px 10px;
	border-radius: 4px;
}

.pricing-boxes > div:first-child { border-radius: 4px 0px 0px 4px; }
.pricing-boxes > div:last-child { border-radius: 0px 4px 4px 0px; }

.pricing-boxes > div > div:first-child {
	border: 1px solid #DDD;
	background: #EEE;
	padding: 4px;
	border-radius: 3px;
}

.pricing-boxes > div > div:nth-child(2) {
	font-size: 26px;
	line-height: 80px;
}

#featured-course-block { margin: 0px -8px; }

@media (min-width: 979px) and (max-width: 1199px) {
	#featured-course-block { margin: 0px 0px 0px 80px; }
}

@media (min-width: 600px) and (max-width: 979px) {
	#featured-course-block { margin: 0px 0px 0px 90px; }
}

.browser_warning {
	position: absolute;
	z-index: 9999;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #FFF;
	text-align: center;
	padding: 40px 20px 0px;
	font-size: 20px;
	color: red;
	font-weight: bold;
	filter: alpha(opacity=90);
	opacity: 0.9;
}

#course-cert-block .catalog-card {
	float: none !important;
	padding-top: 1px;
	width: 100% !important;
}

.twitter-timeline.twitter-timeline-rendered {
	display: inline-block !important;
}

/* responsive youtube player based on http://avexdesigns.com/responsive-youtube-embed/ */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
