/****** VARIABLES *****/
@text-normal-color:				#626262;
@text-feed-color:				#FF9600;
@text-title-color:				#2676CB;
@text-heading-color:			#65A256;
@text-urgent-color:				#f00;
@text-link-color:				#2676CB;
@text-button-color:				#fff;
@text-header-color:				#fff;
@text-notification-color: 		#fff;
@text-evernote-color:			#6BB130;
@text-discussion-name-color:	#2676CB;

@background-title-color:		#fff;
@background-heading-color:		#F2F7EF;
@background-attachment-color:	#fff;
@background-button-color:		#006dcc;
@background-html-color:			#F5F5F5;
@background-textfield-color:	#fff;
@background-header-color:		#060606;
@background-header-select-color:#232323;
@background-msg-notice-color:	#e5fffe;
@background-msg-error-color:	#f00;
@background-content-box-color:	#fff;
@background-forum-name-color:	#edf3e9;
@background-discussion-selected-color: #e6eff8;
@background-notification-color:	#f00;
@background-discussion-name-color: #e5eff7;

@line-main-content-divider-color: #dfdfdf;

@font-size-5:	24px;
@font-size-4:	18px;
@font-size-3:	16px;
@font-size-2:	14px;
@font-size-1:	12px;

@header-height: 	55px;

@padding-size: 		30px;
@padding-textfield: 10px;

@box-title-height:	58px;
@box-notification:	27px;
@box-icon-width:	66px;

@button-large-width: 300px;

@textfield-height: 			31px;
@content-box-min-height: 	300px;

@header-min-width:			880px;
@page-max-width:			1280px;
@page-min-width:			1020px;
@main-col-min-width:		672px;
@side-cold-min-width:		258px;
@standard-page-min-width:	800px;
@notifybar-width:			4px;

/****** END VARIABLES *****/

/****** MIXINS *****/

.rounded-corners(@radius:3px) {
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	border-radius: @radius;
}

.opaque(@o) {
	-moz-opacity: @o;
	-khtml-opacity: @o;
	opacity: @o;
}

.box-shadow(@x , @y=@x) {
	-moz-box-shadow: @x , @y;
	-webkit-box-shadow: @x , @y;
	box-shadow: @x , @y;
}

.gradient-linear(@x , @y , @z) {
	background-image: -moz-linear-gradient(@x , @y , @z);
	background-image: -o-linear-gradient(@x , @y , @z);
	background-image: -webkit-linear-gradient(@x , @y , @z);
	background-image: linear-gradient(@x , @y , @z);
}

.background-clip() {
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.box-sizing() {
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.no-padding() {
	padding: 0;
}

.no-margin() {
	margin: 0;
}

.transition(@x, @y) {
	-webkit-transition: @x, @y;
	-moz-transition: @x, @y;
	-o-transition: @x, @y;
	transition: @x, @y;
}

.text-subttitle() {
    color: @text-normal-color;
    font-family: @font-family;
    font-size: @font-size-4;
}

.text-title() {
    color: @text-title-color;
    font-family: @font-family;
    font-size: @font-size-5;
}

.button-large() {
    width: @button-large-width;
    color: @text-button-color;
    font-weight: bolder;
}

/****** END MIXINS *****/

