@import 'import.less';

/****** DEFINED CLASS *****/

.block {
	margin-top: @padding-size;
}

.bold {
	font-weight: bold;
}

.clear {
	clear: both;
}

.floatleft {
	display: block;
	float: left;
}

.floatright {
	display: block;
	float: right;
}

.rotate {
	transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
}

.flipv {
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
	filter: FlipV;
	-ms-filter: "FlipV";
}

.popup {
	cursor: pointer;
}

.overlay {
	background:#fff;
	z-index:100;
	filter: alpha(10);
	.opaque(0.1);
}

/****** END DEFINED CLASS *****/

/****** HTML ELEMENTS *****/

html, body { min-height: 100%; height: 100%; }

body {
	background-color: @background-html-color;
	color: @text-normal-color;
	font-size: @font-size-2;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover { text-decoration: none; }

h3 {
	font-size: @font-size-3;
	font-weight: bold;
	.no-margin();
}

/****** END HTML ELEMENTS *****/

/****** FORM ELEMENTS *****/

input[type=text],
input[type=password] {
	height: @field-height;
	padding: 0 @padding-textfield;
}

textarea {
	padding: @padding-textfield;
	height: 100px;
	resize: vertical;
}

input[type=submit],
input[type=button] {
	float: right;
	display: block;

}

input[type=submit]:focus,
input[type=button]:focus{
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

/* Select box */
.sbHolder {
	height: @textfield-height;
	position: relative;
	width: 320px;	
	background-color: @background-textfield-color;
	color: #555555;
	border: 1px solid #cccccc;
	.transition(border linear .2s, box-shadow linear .2s);
	.box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
	.rounded-corners();
	.background-clip();
}
.sbSelector {
	display: block;
	height: @textfield-height;
	left: 0;
	line-height: @textfield-height;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-indent: 10px;
	top: 0;
	width: 320px;
	
	&:link,
	&:visited,
	&:hover {
		outline: none;
		text-decoration: none;
	}
}

.sbToggle {
	background: url([[pix:theme|dropdown-arrow]]) center no-repeat;
	display: block;
	height: @textfield-height;
	outline: none;
	position: absolute;
	right: 0;
	top: 0;
	width: @textfield-height;
}
.sbHolderDisabled {
	background-color: #3C3C3C;
	border: solid 1px #515151;
}
.sbOptions {
	border: 1px solid #cccccc;
	list-style: none;
	left: -1px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: @textfield-height - 1px;
	width: 320px;
	z-index: 1;
	overflow-y: auto;
	background-color: @background-textfield-color;
	.transition(border linear .2s, box-shadow linear .2s);
	.box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
	.background-clip();
	.rounded-corners();	

	li {
		padding: 0 7px;
	}

	a {
		display: block;
		outline: none;
		padding: 7px 0 7px 3px;
	
		&:link,
		&:visited {
			text-decoration: none;
		}
	
	}
		
	li.last a {
		border-bottom: none;
	}
	
	.sbDisabled {
		color: #999;
		display: block;
		padding: 7px 0 7px 3px;
	}
	.sbGroup {
		color: #EBB52D;
		display: block;
		font-weight: bold;
		padding: 7px 0 7px 3px;
	}
	.sbSub {
		padding-left: 17px;
	}
}
/****** END FORM ELEMENTS *****/

/***** PAGE LAYOUT *****/

#page {
	min-height: 100%;
	position: relative;
	background-color: @background-html-color;
}

/* HEADER */
#page-header
{
	height: 51px;
	background-color: #222F3C;
	border-bottom: 1px solid #D1D1D1;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 1000;

	h1 {
		margin: 0px 20px;
		padding: 0px;
		font-family: 'Open Sans';
		font-size: 16pt;
		font-weight: 300;
		display: inline-block;

		a {
			color: #FFF;
			text-decoration: none;
			text-shadow: 1px -1px 2px #333;
			line-height 51px;
		}
	}

	ul.nav {
		margin-bottom: 0px;
		margin-top: 0px;

		#header_link_catalog { background-image: url('[[pix:theme|top-catalog]]'); background-position: 50% 7px; background-repeat: no-repeat; }
		#header_link_courses { background-image: url('[[pix:theme|top-courses]]'); background-position: 50% 7px; background-repeat: no-repeat; }
		#header_link_calendar { background-image: url('[[pix:theme|top-calendar]]'); background-position: 50% 7px; background-repeat: no-repeat; }
		#header_link_notes { background-image: url('[[pix:theme|top-notes]]'); background-position: 50% 7px; background-repeat: no-repeat; }

		label {
			display: block;
			text-align: center;
			width: 46px;
			margin-top: 30px;
			font-size: 9px;
			color: #4189DD;
		}
	}

	ul.nav > li { float: left; }

	ul.nav > li > a {
			display: inline-block;
			vertical-align: top;
			min-width: 38px;
			line-height: 49px;
			height: 49px;
			color: #FFF;
			font-size: 14px;
			padding: 0px 10px;
	}

	ul.nav > li > a:hover { background-color: #274059; }

	.userpicture {
		border-radius: 15px;
	}
}

#page-calendar-view #page-header ul.nav #header_link_calendar {
	background-color: #000;
	background-image: url('[[pix:theme|top-calendar-white]]'); background-position: 50% 7px; background-repeat: no-repeat;
	label { color: #FFF; }
}

#page-theme-monorail-notes #page-header ul.nav #header_link_notes {
	background-color: #000;
	background-image: url('[[pix:theme|top-notes-white]]'); background-position: 50% 7px; background-repeat: no-repeat;
	label { color: #FFF; }
}

#page-theme-monorail-forum #page-header ul.nav #header_link_courses {
	background-color: #000;
	background-image: url('[[pix:theme|top-courses-white]]'); background-position: 50% 7px; background-repeat: no-repeat;
	label { color: #FFF; }
}

#page-footer {
	background-color: #F5F5F5;
	color: #777;
	padding: 20px 0px;
	font-size: 14px;

	position: absolute;
	width: 100%;
	height: 30px;
	bottom: 0px;

	a { color: #777; }

	a:hover {
		color: #4189DD;
		text-decoration: underline;
	}

	.mcols {
		display: table;
		width: 100%;
	}

	.mcols > .mleft {
		display: table-cell;
		text-align: left;
	}

	.mcols > .mright {
		display: table-cell;
		text-align: right;
	}

	.mcols > .mcenter {
		display: table-cell;
		text-align: center;
	}
}

#page-content
{
	padding: 60px 0px 120px 0px;

	.title-block, .content-block {
		padding: 0px 0px 25px 0px;
		margin: 20px 0px 10px 0px;
		background: transparent url('[[pix:theme|shadow]]') 50% 100% no-repeat;
		background-size: 100% 25px;
	}

	.title-block > div, .content-block > div {
		background-color: #FFF;
		border-radius: 2px;
		box-shadow: 0px 0px 4px #BBB;
	}

	.title-block > div {
		line-height: 57px;
	}

	.title-block > div > a, .title-block > div > span {
		color: #4D9AEC;
		font-size: 17pt;
		font-family: 'Open Sans';
		font-weight: 300;
		text-decoration: none;
	}

	.content-block > div > span.green_title {
		color: #318C23;
		font-size: 17pt;
		font-family: 'Open Sans';
		font-weight: 300;
		padding: 60px 0px 40px 0px;
		display: block;
	}

	.content-block > div {
		padding-bottom: 30px;
		height: 100%;
	}

	.title-block > div > span { padding: 0px 30px; }

	.title-block > div > a.icon {
		display: inline-block;
		vertical-align: top;
		height: 57px;
		width: 57px;
	}
}

.hide,div#dock
{
    display:none;
}

.path-my .coursebox .overview {
    margin-bottom: 0;
}

/***** END PAGE LAYOUT *****/

/***** NOTIFICATION *****/
.notification {
	width: @box-notification;
	height: @box-notification;
	font-weight: bold;
	text-align: center;
	
	&.btcourse {
		background: url([[pix:theme|top-menu-icon-courses]]) no-repeat center;
	}
	
	&.btcalendar {
		background: url([[pix:theme|top-menu-icon-calendar]]) no-repeat center;
	}
	
	&.btnotes {
		background: url([[pix:theme|note-icon]]) no-repeat center;
		background-size:26px 26px;
	}
	
	li {
		list-style: none;
	}
}

.notificationMenu {
	position: absolute;
	visibility: hidden;
	.no-margin();
	.no-padding();

	li {
		padding: 1px 5px;
		list-style: none;
		display: block;
		float: none;
		background-color: red;
		color: @text-notification-color;
		font-weight: bold;
	}
}

#page-header .header-button .notification {
    right: 10px;
    top: 5px;
}
.notification.notify-unread {
    display: block;
}
.notification {
    background-image: url("/app/a/app/img/background-notification.png");
    color: #FFFFFF;
    display: none;
    font-size: 9px;
    font-weight: bold;
    height: 18px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    width: 18px;
}

/***** END NOTIFICATION *****/

/***** MISC *****/
.userpic-container {
	display: inline-block;
}

/* BOX ICON IN THE HEADING */
.box-icon {
	width: @box-icon-width;
	height: @box-title-height;
	display: block;
	float: left;
	margin-right: 20px;
	background-color: @background-title-color;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDY2IDU4IiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImhhdDAiIGdyYWRpZW50VW5pdHM9Im9iamVjdEJvdW5kaW5nQm94IiB4MT0iNTAlIiB5MT0iMTAwJSIgeDI9IjUwJSIgeTI9Ii0xLjQyMTA4NTQ3MTUyMDJlLTE0JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNkYWRhZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjY2IiBoZWlnaHQ9IjU4IiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
	.gradient-linear(90deg,#dadada 0%,#f3f3f3 100%);
	.rounded-corners();

	.icon {
		width: @box-icon-width;
		height: @box-title-height;
		display: block;
		text-align: center;
		line-height: @box-title-height;
	}
}

/* NOTICE MESSAGE */
#notice {
	border: 1px solid;
	padding: 30px 10px 10px 10px;
	text-align: center;
	background-color: @background-msg-notice-color;
	
	.rounded-corners();
	.background-clip();
	.box-shadow(inset 0 1px 1px #9fceff);
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDg3NSAxOTMiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E4YThhOCIgc3RvcC1vcGFjaXR5PSIwLjA1Ii8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFjMWUxZCIgc3RvcC1vcGFjaXR5PSIwLjA1Ii8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iODc1IiBoZWlnaHQ9IjE5MyIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
	.gradient-linear(90deg,rgba(168,168,168,0.05) 0%,rgba(28,31,30,0.05) 100%);

	div.buttons:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	
		.singlebutton input {
			margin: 20px 5px 5px;
		}
	}
}

/* ERROR MESSAGE */
div.errorbox {
	border: 1px solid;
	padding: 30px 10px 10px 10px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	.rounded-corners();
	.background-clip();
	background-color: @background-msg-error-color;
	.box-shadow(inset 0 1px 1px rgba(0,0,0,0.5));
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDM1MCA1OCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZGUwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmY3Njc2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIzNTAiIGhlaWdodD0iNTgiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
	.gradient-linear(90deg,#de0000 0%,#ff7676 100%);

	.errorcode {
		display: none;
	}
}
.continuebutton input {
	margin: 10px 20px 20px 0;
}

.skip-block, .skip-block-to,
/* Hide Navigation & Settings Block*/
.block_navigation, .block_settings
{
	display: none;
}

/****************** COURSES OVERVIEW BLOCK *****************/
div.block_monorail_course_overview
{
        background:#fff;
        -moz-border-radius: 3px; /* from vector shape */
        -webkit-border-radius: 3px; /* from vector shape */
        border-radius: 3px; /* from vector shape */
}

        div.block_monorail_course_overview.completedcourses div.box-icon span.icon
        {
                background: url([[pix:theme|completed-courses-icon]]) center no-repeat;
        }

        div.block_monorail_course_overview.ongoingcourses div.box-icon span.icon
        {
                background: url([[pix:theme|ongoing-courses-icon]]) center no-repeat;
        }
                
        div.block_monorail_course_overview.ongoingcourses h2
        {
                color:#2676cb;
        }
        
        div.block_monorail_course_overview.completedcourses h2
        {
                color:#65a256;
        }
        
        div.block_monorail_course_overview .coursebox
        {
                border-top:#e5e5e5 solid 1px;
        }
        
                div.block_monorail_course_overview h3
                {
                        height: 57px;
                        line-height: 57px;
                        color:#626262;
                }
                
        div.block_monorail_course_overview .notification
        {
                -moz-border-radius: 3px; /* from vector shape */
                -webkit-border-radius: 3px; /* from vector shape */
                border-radius: 3px; /* from vector shape */
                -moz-background-clip: padding;
                -webkit-background-clip: padding-box;
                background-clip: padding-box; /* prevents bg color from leaking outside the border */
                background-color: #d1dbe1; /* layer fill content */
                -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.3); /* inner shadow */
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.3); /* inner shadow */
                box-shadow: inset 0 1px 1px rgba(0,0,0,.3); /* inner shadow */
                background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDI3OSA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYzVkMWQ5IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTFlN2ViIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIyNzkiIGhlaWdodD0iNjQiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==); /* gradient overlay */
                background-image: -moz-linear-gradient(90deg, #c5d1d9 0%, #e1e7eb 100%); /* gradient overlay */
                background-image: -o-linear-gradient(90deg, #c5d1d9 0%, #e1e7eb 100%); /* gradient overlay */
                background-image: -webkit-linear-gradient(90deg, #c5d1d9 0%, #e1e7eb 100%); /* gradient overlay */
                background-image: linear-gradient(90deg, #c5d1d9 0%, #e1e7eb 100%); /* gradient overlay */

                margin: 16px 40px 0 20px;
        }
        
        div.block_monorail_course_overview span.completed-icon
        {
                margin: 16px 40px 0 20px;
                display:block;
                float:left;
                height: 27px;
                width: 27px;
                background: url([[pix:theme|completed-course-icon]]) center no-repeat;
                
                -moz-border-radius: 0; /* from vector shape */
                -webkit-border-radius: 0; /* from vector shape */
                border-radius: 0; /* from vector shape */
                -moz-box-shadow: none; /* inner shadow */
                -webkit-box-shadow: none; /* inner shadow */
                box-shadow: none; /* inner shadow */
        }

 /***** MISC *****/
.carousel
{
	min-height:40px; 
	
	.item > img
	{
	 	max-width:100%;
	}	
}
