<div class="hbox stretch" id="calendar-page">

<div class="expand">
<div class="block" style="margin-top: 30px;"><div class="inner" style="padding: 10px 30px; margin-bottom: 25px;">

<h3 class="block-title hbox middle" style="border: none; margin: 0px; padding: 0px;">
 <span class="expand">
  <a href="/calendar/<%= prev_month %>" class="bluelink"><i class="fa fa-arrow-left" style="font-size: 18px; top: -1px; position: relative;"></i></a>
  <span style="margin: 0px 2px;"><%= month.name %></span>
  <a href="/calendar/<%= next_month %>" class="bluelink"><i class="fa fa-arrow-right" style="font-size: 18px; top: -1px; position: relative;"></i></a>
 </span>
<% if (add_event) { %>
 <span class="noshrink"><%= str.select_time_or %> <button class="btn btn-danger" data-call="toggleAddEvent"><%= str.button_cancel %></button></span>
<% } else { %>
 <span style="cursor: pointer;" data-call="toggleAddEvent" class="noshrink"><i class="fa fa-plus" style="font-size: 18px;"></i> <%= str.add_new_event %></span>
<% } %>
</h3>

</div></div>

<table style="width: 100%; border: 1px solid #DDD; table-layout:fixed;">
<tr>
<% _.each(week_days, function (wd) { %>
 <td style="width: 14.285714285714286%; background: #F0EFEF; color: #4189DD; font-size: 16px; text-align: center; line-height: 40px; border: 1px solid #DDD;"><%= wd %></td>
<% }) %>
</tr>

<% _.each(days, function (week) { %>
<tr>
<% _.each(week, function (day) { %>
<td class="calendar-cell"<% if (day.this_month) { %> data-call="addEvent"<% } %> data-day="<%= day.timestamp %>" style="<%
	if (!day.this_month)
	{
		print("color: silver;");
	}
	else
	{
		print("cursor: pointer;");

		if (day.is_today)
		{
			print("border-top: 3px solid #4189DD;");
		}
	}

	if (day.is_weekend)
	{
		print("background: #F0EFEF;")
	}
	else if (day.this_week)
	{
		print("background: #F3F3F2;");
	}

%>">
<% if (add_event && day.this_month) { %>
<div class="add-event-cell" data-call="addEvent" data-day="<%= day.timestamp %>"><i class="fa fa-plus"></i></div>
<% } %>

<div style="text-align: right; margin: 3px 4px 0px 0px; <% if (day.is_today) print("font-weight: bold;"); %>"><%= day.name %></div>

<% if (day.items.length > 0) { %>
<div class="event-list hbox stretch">
<div class="expand" style="margin-right: -15px;">
<% _.each(day.items, function (item, idx) { if (idx < 3 || open_week == day.weeknum) {
if (item.eventtype == "due" || item.eventtype == "close") { %>

 <div class="hbox middle clickable" data-call="dueEventClicked" data-taskid="<%= item.instanceid %>"><i class="fa fa-circle noshrink" style="color: #4189DD; font-size: 6px; margin: 0px 4px;"></i><span><%= item.name %></span></div>

<% } else if (item.eventtype == "course") { %>

 <div class="hbox middle clickable" data-call="eventClicked" data-evid="<%= item.id %>"><i class="fa fa-circle noshrink" style="color: #4189DD; font-size: 6px; margin: 0px 4px;"></i><span><%= item.name %></span></div>

<% } else { %>

 <div class="hbox middle clickable" data-call="eventClicked" data-evid="<%= item.id %>"><i class="fa fa-circle noshrink" style="color: red; font-size: 6px; margin: 0px 4px;"></i><span><%= item.name %></span></div>

<% }}}) %>
<% if (day.items.length > 3 && open_week != day.weeknum) { %>
 <div class="clickable" data-call="showMoreClicked" data-week="<%= day.weeknum %>" style="padding-left: 15px; line-height: 16px;"><% print((day.items.length - 3) + " " + str.more); %></div>
<% } %>
</div>
<div class="noshrink <% print(day.is_weekend ? "fadeside2" : "fadeside1"); %>" style="width: 15px;"></div>
</div>
<% } %>

</td>
<% }) %>
</tr>
<% }) %>
</table>

</div>

<!-- List on the side. -->

<div class="noshrink block vbox stretch" style="margin: 30px 0px 0px 20px; width: 25%; background: #EFEFEF;">
 <h3 class="block-title" style="border-style: none; margin: 10px 15px 0px 15px;"><%= str.events %></h3>
 <div class="expand vbox stretch" id="calendar-upcoming-events" style="padding: 0px 20px; overflow-y: auto; max-height: 681px;"></div>
</div>

</div>

<a href="#" data-call="subscribeClicked" style="margin: 10px 0px; display: inline-block; color: #666;"><i class="fa fa-globe"></i> <%= str.calexport %></a>
