<div id="course-reuse-select">

<div class="hbox stretch" style="padding: 20px 0px; margin-bottom: 20px; border-bottom: 1px solid #CCC;">
 <div class="expand" style="text-align: center; border-right: 1px solid #CCC;">
	<h3 class="blue-header small"><%= str.label_choose_public_course %></h3>
	<a href="/reuse-public-course" class="btn btn-success btn-large"><%= str.label_browse %> <i class="fa fa-chevron-right"></i></a>
 </div>
 <div class="expand" style="text-align: center;">
	<h3 class="blue-header small"><%= str.import_moodle %></h3>
	<a href="/courses/import" class="btn btn-primary btn-large"><i class="fa fa-cloud-upload"></i> <%= str.button_import %></a>
 </div>
</div>

    <% if(items.length > 0) { %>
    <div class="subtitle-blue" style="text-align:center; margin: 0px 0px 30px 0px;">
         <span><%= str.reuse_instructions %></span>
    </div>

	<div class="hbox wrap catalog-4cols">
    <% var num = 0; _.each(items, function (item) { %>
	<div class="catalog-card" data-code="<%= item.code %>" data-call="courseSelected" style="position: relative;">
	<% if (item.completed) { %>
	  <div class="label label-warning" style="position: absolute; top: 130px; right: 10px;"><%= str.completed %></div>
	<% } %>
	<% if (item.cert_enabled) { %>
	  <div style="position: absolute; top: 10px; right: 10px;"><i class="fa fa-certificate" style="font-size: 26px; color: #gold;"></i></div>
	<% } %>
	<% if (item.course_privacy == 2) { %>
	 <div class="label label-info" style="position: absolute; top: 130px; left: 10px;"><%= str.course_private %></div>
	<% } %>
	<% if (item.coursebackgroundtn == '/') { %>
	 <div class="catalog-card-image"><img src="<%= RootDir + "/app/img/stock/other-tn.jpg" %>"></div>
	<% } else { %>
	 <div class="catalog-card-image"><img src="<%= item.coursebackgroundtn %>"></div>
	<% } %>
	 <div class="catalog-card-name<% if (item.fullname.length > 40) print(" longtext"); %>"><%= item.fullname %></div>
	 <div class="catalog-vertical-fade"></div>
	 <div class="catalog-card-status hbox middle">
		<span class="noshrink"><i class="fa fa-users"></i>&nbsp;<%= item.students %></span>
		<span class="expand" style="text-align: center; color: #F9D333;"><% if (item.stars != -1) { %>
		 <i class="fa fa-star<% if (item.stars < 1) { print("-o"); } %>"></i>
		 <i class="fa fa-star<% if (item.stars < 2) { print("-o"); } %>"></i>
		 <i class="fa fa-star<% if (item.stars < 3) { print("-o"); } %>"></i>
		 <i class="fa fa-star<% if (item.stars < 4) { print("-o"); } %>"></i>
		 <i class="fa fa-star<% if (item.stars < 5) { print("-o"); } %>"></i>
		<% } %></span>
		<span class="noshrink"><% if (item.price != -1) { print(item.price ? "€" + item.price : str.free); } %></span>
	 </div>
 	<div class="catalog-card-subtitle"><%= item.durationstr %></div>
	</div>
    <% }); %>
   </div>

  <% if (pageCount > 1) { %>
    <div style="text-align: center; margin: 10px 0px 20px 0px;">
        <div class="pagination">
            <ul>
                <% for (var i=1; i<=pageCount; i++) { %>
                    <li<% if (i == page) { print(" class=\"active\""); } %>><a href="#" class="ignored_link" data-page="<%= i %>" data-call="setPage"><%= i %></a></li>
                <% } %>
            </ul>
        </div>
    </div>
  <% } %>

    <% } else { %>
    <div class="subtitle-blue" style="text-align:center; margin: 0px 0px 30px 0px;">
         <span><%= str.reuse_nocourse %></span>
    </div>
    <% } %>

</div>
