<a href="#" id="course-import-back" class="back-button ignored_link" onclick="history.go(-1);return false"><i class="fa fa-chevron-left"></i> <%= str.button_back %></a>
<div class="shadowbox1" style="background-color: #FFF; padding: 20px 25px;">
    <div class="subtitle-blue" style="display: inline;"><%= str.import_moodle %></div>
    <div style="margin: 10px 0px;"><%= str.import_instructions %></div>
    <div><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/mya-u0zAZZE?rel=0&wmode=transparent" frameborder="0" allowfullscreen></iframe></div>        
    <div style="margin: 10px 0px;">
        <button id="course-import-upload-file" class="btn btn-primary"><i class="fa fa-upload"></i> <%= str.button_upload_file %></button>
        <div id="progress-container" style="display: none;">
            <div class="progress" id="progress-bar">
                <div class="bar" id="progress-now" style="width: 0%;"></div>
            </div>
            <div id="progress-text" style="margin-top: 8px;"></div>
        </div>
        <input id="testdata-filename" style="display: none;" type="text" value="">
    </div>
</div>
