<div class="catalog-header hbox middle">
 <% if (logo) { %>
 <img src="<%= logo %>" style="height: 54px; margin-right: 10px;">
 <% } %>
 <a href="<% print(isActive ? "/" : "/completed"); %>" class="noshrink catalog-tab<% if (!isTeacher) { print(" active"); } %>" style="margin-right: 20px;">
	<%= str.learning %>
	<% if (learningCount) { print("(" + learningCount + ")"); } %>
 </a>
 <a href="<% print(isActive ? "/teaching" : "/teaching/completed"); %>" class="noshrink catalog-tab<% if (isTeacher) { print(" active"); } %>">
	<%= str.teaching %>
	<% if (teachingCount) { print("(" + teachingCount + ")"); } %>
 </a>

 <span class="expand"></span>

 <a href="<% print(isActive ? (isTeacher ? "/teaching/completed" : "/completed") : (isTeacher ? "/teaching" : "/")); %>" class="noshrink catalog-tab">
	<% print(isActive ? str.completed_courses : str.ongoing_courses) %>
	<% if (isActive && totalComleted) { print("(" + totalComleted + ")"); } %>
	<% if (!isActive && totalOngoing) { print("(" + totalOngoing + ")"); } %>
 </a>
 <div class="input-prepend" style="margin: 0px 0px 0px 20px;">
	<span class="add-on"><i class="fa fa-search"></i></span>
	<input id="catalog-search-input" type="text" placeholder="<%= str.search_your_courses %>" value="<%= searchString %>">
 </div>
</div> <!-- /catalog header -->

<div class="hbox stretch">

<div class="expand"> <!-- course list -->

<% if (searchString) { %>
<div style="margin-bottom: 10px; margin-right: 10px;" class="hbox middle">
 <span class="blue-header small"><%= str.search_results %> '<%= searchString %>'</span>
 <span class="expand"></span>
 <a href="#" class="blue-header small" data-call="clearSearch"><i class="fa fa-times"></i> <%= str.clear_search %></a>
</div>
<% } %>

<% if (courses.length > 0) { %>

<div class="hbox wrap catalog-3cols">
<% if (isTeacher) { %>

<table>
<tr><td>
	<div class="catalog-card" style="box-shadow: 0 0 0 0; background: transparent;" data-call="createCourse">
		<div class="catalog-card-name" style="margin:0; height: 155px;">
			<div style="height: 100px; line-height: 100px; text-align: center; margin: 10px">
				<i class="fa fa-plus-circle" style="font-size: 90px; color: #4189DD; line-height: inherit;"></i>
				</div>
 			<div class="blue-header tiny" style="text-align: center;"><%= str.button_start_new_course %></div>
		</div>
	</div>
</td></tr>
<tr><td>
	<div class="catalog-card" style="box-shadow:0 0 0 0; background: transparent;" data-call="reuseCourse">
		<div class="catalog-card-name" style="margin:0; height: 104px;">
			<div style="height: 51px; line-height: 57px; text-align: center; margin: 9px">
				<span class="fa-stack fa-lg" style="font-size: 100px; line-height: inherit;">
				<i class="fa fa-circle fa-stack-1x" style="font-size: 60px; color: #339900; line-height: inherit;"></i>
				<i class="fa fa-history fa-stack-1x" style="font-size: 35px; color: white; line-height: inherit;"></i>
				</span>
			</div>
 			<div class="blue-header tiny" style="text-align: center;"><%= str.reuse_course %></div>
		</div>
	</div>
</td></tr>
</table>

<% } %>
<% _.each(courses, function (course) { %>
<div class="catalog-card"<% if (course.can_edit || course.course_privacy != 5) { %> data-call="openCourse" data-code="<%= course.code %>"<% } %> style="position: relative;">
<% if (course.course_privacy == 5) { %>
 <div class="label label-important" style="position: absolute; top: 130px; right: 10px;"><%= str.delisted %></div>
<% } else if (!isActive) { %>
 <div class="label label-warning" style="position: absolute; top: 130px; right: 10px;"><%= str.completed %></div>
<% } %>
<% if (course.cert_enabled) { %>
 <div style="position: absolute; top: 10px; right: 10px;"><i class="fa fa-certificate" style="font-size: 26px; color: gold;"></i></div>
<% } %>
 <div class="catalog-card-image"><img src="<%= course.coursebackgroundtn %>"></div>
 <div class="catalog-card-name<% if (course.fullname.length > 40) print(" longtext"); %>"><%= course.fullname %></div>
 <div class="catalog-vertical-fade"></div>

<% if (isTeacher) { %>
 <div class="catalog-card-status hbox middle">
	<span class="noshrink"><i class="fa fa-users"></i>&nbsp;<%= course.students %></span>
	<% if (course.course_privacy == 2) { %>
 		<div class="label label-info" style="position: absolute; top: 222px; right: 10px;"><%= str.course_private %></div>
	<% } %>
	<% if (course.course_access == 1) { %>
 		<div class="label label-success" style="position: absolute; top: 222px; right: 10px;"><%= str.course_draft %></div>
	<% } %>
	<% if (course.course_privacy == 1) { %>
		<span class="expand" style="text-align: center; color: #F9D333;"><% if (course.stars != -1) { %>
		 <i class="fa fa-star<% if (course.stars < 1) { print("-o"); } %>"></i>
		 <i class="fa fa-star<% if (course.stars < 2) { print("-o"); } %>"></i>
		 <i class="fa fa-star<% if (course.stars < 3) { print("-o"); } %>"></i>
		 <i class="fa fa-star<% if (course.stars < 4) { print("-o"); } %>"></i>
		 <i class="fa fa-star<% if (course.stars < 5) { print("-o"); } %>"></i>
		<% } %></span>
		<span class="noshrink"><% if (course.price != -1) { print(course.price ? "€" + course.price : str.free); } %></span>
	<% } %>
 </div>
<% } else { %>
 <div class="catalog-card-progress">
	<div class="progress" style="margin: 0px;"><div class="bar" style="width: <% print(Math.round(course.progress)); %>%;"></div></div>
	<div class="catalog-card-progress-text"><% print(Math.round(course.progress)); %>% <%= str.completed_percent %></div>
 </div>
<% } %>

<% if (course.durationstr == 0) { %>
<div class="catalog-card-subtitle"><%= str.self_paced %></div>
<% } else { %>
<div class="catalog-card-subtitle"><%= course.durationstr %></div>
<% } %>

</div>
<% }); %>
</div>

<% } else if (noCoursesAtAll && isActive) { %>

<% if (isTeacher) { %>
<div style="text-align: center; margin-top: 40px;">
 <div class="blue-header"><%= str.no_courses_teacher_info %></div>
 <div class="blue-header small"><%= str.no_courses_teacher_more_info %></div>
 <div style="margin: 20px 0px;">
  <iframe width="62%" height="315" src="https://www.youtube.com/embed/DE7rghCsIls" frameborder="0" allowfullscreen></iframe>
 </div>
 <a href="#" data-call="createCourse" class="btn btn-large btn-success" style="font-size: 18px;"><i class="fa fa-plus"></i> <%= str.button_start_first_course %></a> <%= str.or %>
 <a href="#" data-call="reuseCourse" class="btn btn-large btn-primary" style="font-size: 18px;"><i class="fa fa-history"></i> <%= str.reuse_course %></a>
</div>
<% } else { %>
<div class="blue-header small" style="padding-left: 210px;">
 <img src="<%= RootDir %>app/img/arrow-nw.png" style="margin-right: 15px; position: relative; top: -15px;"><%= str.tutorial_instructor_click_here %>
</div>
<div style="text-align: center; margin-top: 50px;">
 <div class="blue-header"><%= str.no_courses_student_info %></div>
 <div class="blue-header small"><%= str.no_courses_student_more_info %></div>
 <a href="<%= CatalogUrl %>" class="btn btn-large btn-success ignored_link" style="font-size: 18px; margin-top: 20px;"><i class="fa fa-plus"></i> <%= str.button_find_a_course %></a>
</div>
<% } %>

<% } else if (searchString) { %>

<div class="blue-header" style="text-align: center; margin-top: 50px; margin-right: 10px;"><%= str.search_no_results %></div>

<% } else { %>

<div class="blue-header" style="text-align: center; margin-top: 50px; margin-right: 10px;"><%= str.label_no_courses %></div>

<% } %>

</div> <!-- /course list -->

<div class="noshrink catalog-sidebar" id="dashboard-sidebar"></div>

</div>
