<div class="row-fluid">
  <div class="span12">
    <a href=":back" class="back-button noprint"><i class="fa fa-chevron-left"></i> <%= str.button_back %></a>

    <div id="course_page_header" class="block row-fluid">
        <div class="span12 course-edit-row-top">
              <div id="course-background" class="span8 carousel slide panel-left" data-interval="false" style="position: relative;">
          <% if (course.course_privacy == 5) { %>
          <div class="label label-important" style="position: absolute; top: 145px; right: 10px;"><%= str.delisted %></div>
          <% } else if (course.completed) { %>
          <div class="label label-warning" style="position: absolute; top: 145px; right: 10px;"><%= str.completed %></div>
          <% } %>
          <% if (course.cert_enabled) { %>
            <div style="position: absolute; top: 10px; right: 10px;"><i class="fa fa-certificate" style="font-size: 26px; color: gold;"></i></div>
          <% } %>
          <% if (course.course_privacy == 2) { %>
          <!--  <div class="label label-info" style="position: absolute; top: 145px; left: 10px;"><%= str.course_private %></div> -->
          <% } %>
                    <% if ( course.can_edit ) { %>
                        <div id="uploaded-background-container">
                            <img id="uploaded-background" style="width:850px"/>
                        </div>
              <div class="carousel-inner" id="course-background-carousel"></div>
              <a class="carousel-control left ignored_link" data-slide="prev" href="#course-background">&lsaquo;</a>
              <a class="carousel-control right ignored_link" data-slide="next" href="#course-background">&rsaquo;</a>
              <% if (course.wizard_mode !== 1) { %>
                            <a class="edit-course-background dropdown ignored_link" href="#"><%= str.edit%> <b class="caret"></b></a>
                        <% } %>
                    <% } %>
        </div>
        <div id="course-information" class="span4 panel-right">
          <div class="course-logo">
            <img id="course-logo-img" src=""/>
                        <% if ( course.can_edit && course.wizard_mode !== 1 ) { %>
                            <span id="change-course-logo">
                                <a id="btn-change-course-logo" href="#" class="ignored_link"><%= str.edit%> <b class="caret"></b></a>
                            </span>
                        <% } %>
          </div>
          <div class="teacher-information">
                        <% if (course.teacher) {  %>
                            <a href= <%=course.teacher.url%> class="teacher-profile hbox middle" style="overflow: hidden;">
                                <img width="32" height="32" class="userpicture teacher-image noshrink" alt="<%= course.teacher.fullname%>" src="<%= course.teacher.picurl.s %>">
                                <span class="teacher-detail vbox expand">
                                    <span class="teacher-name" style="white-space: nowrap;"><%= course.teacher.fullname%></span>
                                   <% if (course.teacher.title) { %>
                                    <span class="teacher-title" style="white-space: nowrap;"><%= course.teacher.title %></span>
                                   <% } else { %>
                                    <span class="teacher-title" style="white-space: nowrap;"><%= str.label_teacher%></span>
                                   <% } %>
                                </span>
                            </a>
                        <% } %>
                    </div>
          <div class="rating-information">
              <% if (course.course_privacy == 1) { %>
                <% if (course.course_access == 1) { %>
                  <div class="label label-success"><%= str.course_draft %></div>
                <% } else { %>


                <span style="color:#4189DD; font-size:12px; float: left;">
                <i style="float: left; margin-right: 4px; line-height: inherit;" class="fa fa-users"></i>
                <%= course._students %>
              </span>
            <div class="dropdown pull-right">
              <a class="dropdown-toggle ignored_link" data-toggle="dropdown" href="#" title="<%= str.button_share %>" style="text-decoration: none; color: rgb(71, 143, 225); position: relative; top: 3px;"><i class="fa fa-share-alt" style="font-size: 16px;"></i></a>
              <ul class="dropdown-menu pull-left" role="menu" aria-labelledby="dLabel">
              <li><a href="#" data-service="facebook" data-call="shareCourse"><i class="fa fa-facebook" style="width: 20px; display: inline-block; text-align: center;"></i><%= str.share_facebook %></a></li>
              <li><a href="#" data-service="google" data-call="shareCourse"><i class="fa fa-google-plus" style="width: 20px; display: inline-block; text-align: center;"></i><%= str.share_google %></a></li>
              <li><a href="#" data-service="twitter" data-call="shareCourse"><i class="fa fa-twitter" style="width: 20px; display: inline-block; text-align: center;"></i><%= str.share_twitter %></a></li>
              <li><a href="#" data-service="linkedin" data-call="shareCourse"><i class="fa fa-linkedin" style="width: 20px; display: inline-block; text-align: center;"></i><%= str.share_linkedin %></a></li>
              <li><a href="#" data-service="email" data-call="shareCourse"><i class="fa fa-envelope-o" style="width: 20px; display: inline-block; text-align: center;"></i><%= str.share_email %></a></li>
              <li><a href="#" data-service="other" data-call="shareCourse"><i class="fa fa-share-alt" style="width: 20px; display: inline-block; text-align: center;"></i><%= str.other_service %></a></li>
              </ul>
            </div>
                        <div style="text-align: center; font-size: 12px;">
                            <% if (course.course_rating) { %>
                              <% if (course.can_edit) { %>
                                <span style="color: rgb(71, 143, 225);">
                              <% } else { %>
                                <span style="cursor: pointer; color: rgb(71, 143, 225);" data-call="rateCourse">
                              <% } %>
                                <% var num = 0; while (num++ < parseInt(course.course_rating)) { %>
                                <i class="fa fa-star" style="color:gold"> </i>
                                <% } %><% while (num++ < 6) { %>
                                <i class="fa fa-star-o" style="color:gold"></i>
                                <% } %>
                            </span>
                            <% } else { %>
                              <% if (course.can_edit) { %>
                                <span style="color: gold;">
                              <% } else { %>
                                <span style="color: gold; cursor: pointer;" data-call="rateCourse">
                              <% } %>
                              <i class="fa fa-star-o" style="color:gold"></i>
                              <i class="fa fa-star-o" style="color:gold"></i>
                              <i class="fa fa-star-o" style="color:gold"></i>
                              <i class="fa fa-star-o" style="color:gold"></i>
                              <i class="fa fa-star-o" style="color:gold"></i>
                            </span>
                            <% } %>
                        </div>
<% } %>
                        <% } else { %>
                        <div class="label label-info"><%= str.course_private %></div>
            <% } %>
          </div>
        </div>
      </div>

      <div class="span12 course-edit-row" style="position: relative;">
        <div class="panel-left span8">
          <!-- do not remove min-height - breaks editing on FF -->
          <div class="editable inputfield livevalidation full-name caption" id="input-course-fullname" style="min-height: 30px;" data-field="fullname" data-placeholder="<%= str.wiz_label_title %>"><%= course.fullname %></div>
                    <span id="fullname-helpblock" class="help-block"></span>
        </div>
        <div class="panel-right span4">
                  <div id="course-settings" class="course-edit-row container-category-selection">
            <% if (!course.wizard_mode && !course.from_import && course.can_edit) { %>
            <button class="btn btn-primary disabled" id="course-settings-save-btn" data-call="saveCourseDetailsClicked" style="position: absolute; bottom: -70px; right: 0px;"><%= str.button_update %></button>
            <% } %>
                  </div>
                    <% if (! course.can_edit) { %>
                        <div class="social-interaction">
                            <button class="btn btn-linkedin" data-call="addToProfile"><i class="fa fa-linkedin"></i> | <%= str.add_to_profile %></button>
                        </div>
                    <% } %>
                </div>
      </div>
    </div>

        <div id="course-menu-row" class="row-fluid noprint">
        <div id="course-menu" class="btn-group span8 panel-left">
            <a type="button" id="course-button-overview" href="/courses/<%= course.code %>" class="btn"><%= str.overview %></a>
        <% if (course.cohortid || course.can_edit) { %>
                  <a type="button" id="course-button-liveevent" href="/courses/<%= course.code %>/liveevent" class="btn"><%= str.liveevents %></a>
                <% } %>
            <% if ((course.taskscount > 0) || course.can_edit) { %>
              <a type="button" id="course-button-tasks" href="/courses/<%= course.code %>/tasks" class="btn"><%= str.tasks %></a>
            <% } %>
            <% if (course.can_edit) { %>
            <a type="button" id="course-button-progress" href="/courses/<%= course.code %>/progress" class="btn"><%= str.gradebook %></a>
            <% } %>
                <a type="button" id="course-button-discussions" href="/courses/<%= course.code %>/discussions" class="btn"><%= str.forum %></a>

        <% if (course.participants_hidden) { %>
        <% if (course.can_edit) { %>
            <a type="button" style="opacity: 0.6;" data-toggle="tooltip" title="<%= str.tooltip_disable_page %>" id="course-button-participants" href="/courses/<%= course.code %>/participants" class="btn"><%= str.join_participants %></a>
        <% } %>
        <% } else { %>
            <a type="button" id="course-button-participants" href="/courses/<%= course.code %>/participants" class="btn"><%= str.join_participants %></a>
        <% } %>

          <% if (course.can_edit && !course.cantwrite) { %>
            <a type="button" id="course-button-certificate" href="/courses/<%= course.code %>/certificate" class="btn"><%= str.certificate %></a>
            <a type="button" id="course-button-settings" href="/courses/<%= course.code %>/settings" class="btn"><%= str.settings %></a>
          <% } %>

        <% if (!course.can_edit && course.cert_enabled) { %>
            <a type="button" id="course-button-certificate" href="/courses/<%= course.code %>/certificate" class="btn"><%= str.certificate %></a>
        <% } %>
          </div>

            <div id="course-menu-right" class="span4 panel-right" style="line-height: 30px;">
             <% if (!course.can_edit) { var sp = true; %>

        <% if (course.cert_enabled) { %>
        <% if (course.cert_hashurl) { %>
        <div class="dropdown pull-right">
          <a class="dropdown-toggle ignored_link" data-toggle="dropdown" href="#" style="text-decoration: none;"><i class="fa fa-certificate" style="font-size: 16px;"></i></a>
          <ul class="dropdown-menu pull-left" role="menu" aria-labelledby="dLabel">
          <li><a href="#" data-call="openCertificate"><i class="fa fa-certificate" style="width: 20px; display: inline-block; text-align: center;"></i><%= str.view_certificate %></a></li>
          <li><a href="#" data-call="shareCertificateFacebook"><i class="fa fa-facebook" style="width: 20px; display: inline-block; text-align: center;"></i><%= str.share_facebook %></a></li>
          <li><a href="#" data-call="shareCertificateTwitter"><i class="fa fa-twitter" style="width: 20px; display: inline-block; text-align: center;"></i><%= str.share_twitter %></a></li>
          <li><a href="#" data-call="shareCertificateLinkedin"><i class="fa fa-linkedin" style="width: 20px; display: inline-block; text-align: center;"></i><%= str.share_linkedin %></a></li>
          </ul>
        </div>
        <% sp=false; } else { %>
        <i class="fa fa-certificate pull-right" style="font-size: 16px; color: #888; margin-top: 5px;" data-toggle="tooltip" title="<%= str.certificate_waiting %>"></i>
        <% } %>

        <div class="progress" style="margin-right: 20px;<% if (course.cert_hashurl) print(" cursor: pointer;\" data-call=\"openCertificate") %>">
        <% } else { %>
        <div class="progress">
        <% } %>

                          <% var sptext = parseInt(course.progress)+'%';if(!sp) { sptext += " (" + str.certificate_ready + ")"; } %>
                          <% var sptextcolor = "black"; if(parseInt(course.progress)>55) { sptextcolor="white";} %>
                <div class="bar" style="width: <%= parseInt(course.progress) %>%"></div>
                            <span style="text-align:center;position:absolute;width:100%;line-height:20px;color:<%= sptextcolor %>;" ><%= sptext  %></span>
             </div>

             <% } else if (!course.wizard_mode && !course.from_import && !course.cert_enabled && !course.cantwrite) { %>
       <div class="pull-right" id="course-enable-cert-link">
        <a href="/courses/<%= course.code %>/certificate"><%= str.label_cert_enable %> <i class="fa fa-certificate"></i></a>
       </div>
       <% } %>
            </div>
        </div>

    <div id="content-box" class="fade">
      <div class="course-content">
      </div>
    </div>

  </div>
</div>
