<div id="generic-notice-container" style="padding-top: 150px; text-align: center; width: 100%;">
    <% if (notice.img) { %>
        <img src="../app/img/<%= notice.img %>"><br><br>
    <% } %>
    <h1><%= notice.text %></h1>
    <% if (notice.link) { %>
        <div id="generic-notice-link-container" style="padding-top:20px;">
            <a href="<%= notice.link[0] %>"><%= notice.link[1] %></a>
        </div>
    <% } %>
</div>
