<div class="container" style="padding-top: 30px;">
	<div class="row">
		<div style="text-align: center;">
			<div class="subtitle-blue" style="font-size: 28px;"><%= str.invite_process_msg %></div>
		</div>
	</div>
</div>
