<div style="position: relative;">

<div class="catalog-header hbox middle">
 <img src="<%= logo %>" style="height: 54px;">
</div> <!-- /catalog header -->

<% if (items.length > 0) { %>
<div class="hbox wrap catalog-4cols">
<% _.each(items, function (item) { %>
<div class="catalog-card" data-call="openCourse" data-code="<%= item.code %>" style="position: relative;">
<% if (item.course_privacy == 5) { %>
 <div class="label label-important" style="position: absolute; top: 130px; right: 10px;"><%= str.delisted %></div>
<% } else if (item.completed) { %>
 <div class="label label-warning" style="position: absolute; top: 130px; right: 10px;"><%= str.completed %></div>
<% } %>
<% if (item.cert_enabled) { %>
 <div style="position: absolute; top: 10px; right: 10px;"><i class="fa fa-certificate" style="font-size: 26px; color: gold;"></i></div>
<% } %>
<% if (item.course_privacy == 2) { %>
 <div class="label label-info" style="position: absolute; top: 271px; right: 10px;"><%= str.course_private %></div>
<% } %>
 <div class="catalog-card-image"><img src="<%= item.coursebackgroundtn %>"></div>
 <div class="catalog-card-name<% if (item.fullname.length > 40) print(" longtext"); %>"><%= item.fullname %></div>
 <div class="catalog-vertical-fade"></div>
 <div class="catalog-card-teacher hbox middle">
	<img src="<% print(item.teacherlogo ? item.teacherlogo : MoodleDir + "/public_images/user_picture/default_32.jpg"); %>">
	<div class="vbox">
	 <span><%= item.teachername %></span>
	 <span><%= item.teachertitle %></span>
	</div>
 </div>
 <div class="catalog-card-status hbox middle">
	<span class="noshrink"><i class="fa fa-users"></i>&nbsp;<%= item.students %></span>
 </div>
</div>
<% }); %>
</div>

<% if (pageCount > 1) { %>
<div style="text-align: center; margin: 10px 0px 20px 0px;">
	<div class="pagination">
		<ul>
			<% for (var i=1; i<=pageCount; i++) { %>
				<li<% if (i == page) { print(" class=\"active\""); } %>><a href="#" data-call="setPage" data-page="<%= i %>"><%= i %></a></li>
			<% } %>
		</ul>
	</div>
</div>
<% } %>

<% } else { %>
	<!-- Placeholder for empty list? -->
<% } %>
</div>
