<div style="max-width: 856px; margin: auto;">

<div style="text-align: center; padding: 30px 0px; border-bottom: 1px solid #CCC;">
 <h1 style="color: #4189DD;"><%= str.button_pro_go %></h1>
 <br>
 <h1 style="font-size: 72pt; line-height: normal; font-weight: bold; margin: 10px 0px;"><big>5</big>&euro;<sub>/<%= lstr.text_pricing_per_mo %></sub></h1>
  <div style="color: #444;">+1&euro; <%= lstr.text_cost_month_per_user %></div>
  <div style="color: #444; margin-bottom: 20px"><%= lstr.text_cost_month_per_admin %></div>
 <form class="start_demo_form">
  <input type="text" name="company" placeholder="<%= lstr.text_business_form_company_name %>" required="required" size="40" class="input" style="height: 32px; margin: 0px 5px 0px 0px;">
  <input type="submit" class="btn btn-primary btn-large" value="<%= str.sign_up_new_org %>">
 </form>
</div>

 <div class="row-fluid" style="margin-top: 3em;">
  <div class="span5">
    <div style="text-align: center;">
     <span style="border: 1px solid #4189DD; display: inline-block; padding: 10px; border-radius: 40px; min-width: 50px;">
      <i class="fa fa-lock" style="font-size: 25px; color: #4189DD; line-height: 50px;"></i>
     </span>
     <h3 style="color:#3A3A3A"><%= lstr.text_business_feature1 %></h3>
    </div>
    <p><%= lstr.text_business_subfeature1 %></p>
	<i class="fa fa-youtube-play"></i> <a class="ignored_link" data-utils="popup-youtube" href="https://www.youtube.com/watch?v=pxXV0xmxxV0"><%= lstr.button_learn_more %></a>
  </div>
  <div class="span7" style="text-align: right;">
    <img style="width: 80%; box-shadow: 2px 2px 8px #AAA;" src="<%= EliademyUrl %>/img/shots/business-courses.png">
  </div>
 </div>

 <div class="row-fluid" style="margin-top: 4em;">
  <div class="span7" style="text-align: left;">
    <img style="width: 80%; box-shadow: 2px 2px 8px #AAA;" src="<%= EliademyUrl %>/img/shots/business-webinar.png">
  </div>
  <div class="span5">
    <div style="text-align: center;">
     <span style="border: 1px solid #4189DD; display: inline-block; padding: 10px; border-radius: 40px; min-width: 50px;">
      <i class="fa fa-calendar" style="font-size: 25px; color: #4189DD; line-height: 50px;"></i>
     </span>
     <h3 style="color:#3A3A3A"><%= lstr.text_business_feature2 %></h3>
    </div>
    <p><%= lstr.text_business_subfeature2 %></p>
  </div>
 </div>

 <div class="row-fluid" style="margin-top: 4em;">
  <div class="span5">
    <div style="text-align: center;">
     <span style="border: 1px solid #4189DD; display: inline-block; padding: 10px; border-radius: 40px; min-width: 50px;">
      <i class="fa fa-cog" style="font-size: 25px; color: #4189DD; line-height: 50px;"></i>
     </span>
     <h3 style="color:#3A3A3A"><%= lstr.text_business_feature3 %></h3>
    </div>
    <p><%= lstr.text_business_subfeature3 %></p>
  </div>
  <div class="span7" style="text-align: right;">
    <img style="width: 80%; box-shadow: 2px 2px 8px #AAA;" src="<%= EliademyUrl %>/img/shots/business-analytics.png">
  </div>
 </div>

<h1 style="margin-top: 1em; padding: 1em 0px; color: #4189DD; text-align: center; border-top: 1px solid #CCC;"><%= lstr.text_business_plans_pricing %></h1>

<div class="row-fluid">
<div class="span6" style="text-align: center;">
  <div style="font-size: 92px; line-height: normal;"><big>5</big>&euro;<sub>/<%= lstr.text_pricing_per_mo %></sub></div>
  <div style="color: #666;">+1&euro; <%= lstr.text_cost_month_per_user %></div>

<!--  <div style="font-size: 92px; line-height: normal;">&euro;1</div>
  <div style="color: #666;"><%= lstr.text_cost_month_per_user %></div>
  <div style="color: #666;"><%= lstr.text_cost_month_per_admin %></div> -->
</div>

<div class="span6" style="line-height: 30px;">
 <div><i class="fa fa-check" style="color: green;"></i> <%= lstr.pro_feature0 %></div>
 <div><i class="fa fa-check" style="color: green;"></i> <%= lstr.pro_feature1 %></div>
 <div><i class="fa fa-check" style="color: green;"></i> <%= lstr.pro_feature4 %></div>
 <div><i class="fa fa-check" style="color: green;"></i> <%= lstr.pro_feature5 %></div>
 <div><i class="fa fa-check" style="color: green;"></i> <%= lstr.pro_feature2 %></div>
 <div><i class="fa fa-check" style="color: green;"></i> <%= lstr.pro_feature10 %></div>
 <div><i class="fa fa-check" style="color: green;"></i> <%= lstr.pro_feature11 %></div>
 <div><i class="fa fa-check" style="color: green;"></i> <%= lstr.pro_feature3 %></div>
 <div><i class="fa fa-check" style="color: green;"></i> <%= lstr.pro_feature6 %></div>
</div>

</div>

<p style="text-align: center; margin: 20px 0px;"><%= lstr.text_business_plans_custom.replace("{", "<a href=\"mailto:support@eliademy.com\" class=\"ignored_link\">").replace("}", "</a>") %></p>

<div class="row-fluid" style="margin: 2em 0px; padding: 2em 0px; border-top: 1px solid #CCC; border-bottom: 1px solid #CCC;">
<div class="span6">
 <strong><%= lstr.text_business_faq_q1 %></strong>
 <p><%= lstr.text_business_faq_a1 %></p>
 <strong><%= lstr.text_business_faq_q2 %></strong>
 <p><%= lstr.text_business_faq_a2 %></p>
 <strong><%= lstr.text_business_faq_q3 %></strong>
 <p><%= lstr.text_business_faq_a3 %></p>
 <strong><%= lstr.text_business_faq_q4 %></strong>
 <p><%= lstr.text_business_faq_a4 %></p>
</div><div class="span6">
 <strong><%= lstr.text_business_faq_q5 %></strong>
 <p><%= lstr.text_business_faq_a5 %></p>
 <strong><%= lstr.text_business_faq_q6 %></strong>
 <p><%= lstr.text_business_faq_a6 %></p>
 <strong><%= lstr.text_business_faq_q7 %></strong>
 <p><%= lstr.text_business_faq_a7 %></p>
 <strong><%= lstr.text_business_faq_q8 %></strong>
 <p><%= lstr.text_business_faq_a8 %></p>
</div>
</div>

<div style="text-align: center;">
<h1 style="color: #4189DD; margin: 1em 0px;"><%= lstr.text_business_start_now %></h1>
 <form class="start_demo_form">
  <input type="text" name="company" placeholder="<%= lstr.text_business_form_company_name %>" required="required" size="40" class="input" style="height: 32px; margin: 0px 5px 0px 0px;">
  <input type="submit" class="btn btn-primary btn-large" value="<%= str.sign_up_new_org %>">
 </form>
<p style="margin: 2em 0px;"><%= lstr.text_business_start_now_subtext_no_apps %></p>
</div>

</div>
