<div class="hbox">

 <div class="expand">
  <div class="block"><div class="inner">
	<div style="text-align: center;">
	<img src="/cert/<%= course.cert_hashurl %>.jpg">
	</div>
  </div></div>

<% if (course.cert_enabled == 2) { %>
  <div class="blue-header" style="margin-bottom: 30px;"><%= str.label_premium_cert_available %></div>

  <div class="block"><div class="inner">
	<div class="block-header mb"><h3><%= str.label_premium_cert %></h3></div>
	<p><%= str.label_premium_cert_msg %></p>
	<div class="hbox middle">
	 <div class="expand vbox middle" style="padding-right: 20px;">
	 <div style=" width: 80%; text-align: center; border-bottom: 1px solid #666; padding-bottom: 20px;">
		<div class="caption" style="font-size: 22px;"><%= str.label_premium_cert_price %></div>
		<div class="caption" style="font-size: 40px; line-height: 60px;">&euro;<%= _Config.cert_price %></div>
		<div style="color: #666;"><%= str.label_subject_vat %></div>
	 </div>
	 <div style="padding-top: 20px;">
		<div><i class="fa fa-check" style="color: green;"></i> <%= str.label_cert_pro_feature1 %></div>
		<div><i class="fa fa-check" style="color: green;"></i> <%= str.label_cert_pro_feature2 %></div>
		<div><i class="fa fa-check" style="color: green;"></i> <%= str.label_cert_pro_feature3 %></div>
		<div><i class="fa fa-check" style="color: green;"></i> <%= str.label_cert_pro_feature4 %></div>
	 </div>
	 </div>

	 <div class="expand">
		<img src="<%= EliademyUrl %>/img/gif/certificate-printed-animation.gif">
	 </div>

	</div>
  </div></div>

<% if (orders.length > 0 && !reordering) { %>

  <div class="block"><div class="inner">
	<div class="block-header mb"><h3><%= str.label_premium_order_history %></h3></div>

<% for (var i=0; i<orders.length; i++) { %>
<div style="margin-bottom: 2em;">
<%= str.label_cert_order_placed.
	 				replace("%DATE_ORDER", moment(orders[i].created, "X").format("LLL")).
					replace("%DATE_DELIVERY", moment(orders[i].expected_delivery, "X").format("LL")) %>
</div>
<% } %>

</div>

 <div class="footer hbox middle">
  <div class="expand"></div>
  <button class="btn btn-large btn-success" data-call="orderAgain"><%= str.label_premium_order_again %></button>
 </div>
 </div>

<% } else { /* orders == 0 */ %>

  <div class="block"><div class="inner">
	<div class="block-header mb"><h3><%= str.label_premium_cert_payment %></h3></div>

 <div class="hbox">
  <form class="expand vbox" id="billing_details">
	<label><%= str.label_your_name_delivery %></label>
	<input type="text" name="name" value="<%= address.name %>" required size="250">
	<label><%= str.label_vat_id %> (<%= str.label_if_applicable %>)</label>
	<input type="text" name="vat_id" value="<%= address.vat_id %>" size="250">
	<label><%= str.label_address %></label>
	<input type="text" name="address" value="<%= address.address %>" size="250" required>
	<label><%= str.city %></label>
	<input type="text" name="city" value="<%= address.city %>" size="250" required>
	<div class="hbox spread" style="width: 220px;">
	<div>
	 <label><%= str.state %></label>
	 <input type="text" name="state" value="<%= address.state %>" size="250" class="input-small">
	</div>
	<div>
	 <label><%= str.zip %></label>
	 <input type="text" name="zip" value="<%= address.zip %>" size="250" class="input-small">
	</div>
	</div>
	<label><%= str.country %></label>
	<select name="country">
	<% for (var i=0; i<countries.length; i++) { switch (countries[i].key) { case "SY": case "LY": continue; } %>
	 <option value="<%= countries[i].key %>"<% if (countries[i].key == address.country) { %> selected="selected"<% } %>><%= countries[i].value %></option>
	<% } %>
	</select>
	<input type="submit" style="display: none;">
  </form>

  <div class="expand">
	<label><%= str.link_payment_method %></label>
	<img src="<%= EliademyUrl %>/img/logo-creditcards.png">
	<form id="payment_method_form" style="margin-top: 20px;">
	 <div id="payment_form"></div>
	 <input type="submit" style="display: none;">
	</form>
  </div>
 </div>

 <div class="hbox" style="border-top: 1px solid #666;">
	<div class="expand"></div>
	<div class="noshrink">
	<table>
	<tr style="text-align: right;"><td><%= str.label_quantity %></td><td style="vertical-align: middle;" class="noselect"><i class="fa fa-minus" style="cursor: pointer; padding: 5px 0px;" data-call="decCertCount"></i><span id="cert-order-quantity" style="text-align: center; display: inline-block; min-width: 30px;"></span><i class="fa fa-plus" style="cursor: pointer; padding: 5px 0px;" data-call="incCertCount"></i></td></tr>
	<tr style="text-align: right;"><td><%= str.label_order_subtotal %></td><td><span id="order_subtotal"></span> &euro;</td></tr>
	<tr style="text-align: right;"><td><%= str.label_vat %></td><td><span id="order_vat">0</span> &euro;</td></tr>
	<tr style="color: red; text-align: right;"><td><%= str.label_free_delivery %></td><td>0 &euro;</td></tr>
	<tr style="font-size: 16px; font-weight: bold; border-top: 1px solid #999; text-align: right;"><td><%= str.label_order_total %></td><td style="padding-left: 20px;"><span id="order_total">0</span> &euro;</td></tr>
	</table>
	</div>
 </div>

  </div>

 <div class="footer hbox middle">
  <div class="expand"><%= str.label_complete_purchase_legal
  	.replace(/{/, "<a href=\"https://eliademy.com/terms\" target=\"blank\">")
	.replace(/{/, "<a href=\"https://eliademy.com/privacy\" target=\"blank\">")
	.replace(/}/g, "</a>").replace(/\n/g, "<br>") %></div>
  <button class="btn btn-large btn-success noshrink" style="margin-left: 10px;" data-call="completePurchase"><%= str.label_place_order %></button>
 </div>
  </div>
<% } /* /orders == 0 */ %>

<% } /* /premium cert */ %>
 </div>

 <div class="noshrink catalog_column_width" style="margin-left: 20px;">

  <div class="block" style="background-color: #EEE;"><div class="inner" style="text-align: center;">

	<div class="block-header" style="border: none;"><h3><%= str.download %></h3></div>
	<div><%= str.label_certificate_download %></div>
	<div style="border-bottom: 1px solid #AAA; padding: 12px 0px;"><a href="<%= EliademyUrl %>/cert/<%= course.cert_hashurl %>.pdf" class="ignored_link btn btn-success" target="_blank"><i class="fa fa-download"></i> <%= str.download %></a></div>

	<div class="block-header" style="border: none;"><h3><%= str.label_share %></h3></div>
	<div class="mbs"><a href="#" class="btn btn-facebook" data-call="shareCertificateFacebook"><i class="fa fa-facebook" style="width: 20px; display: inline-block; text-align: center;"></i><%= str.service_facebook %></a></div>
	<div class="mbs"><a href="#" class="btn btn-linkedin" data-call="shareCertificateLinkedin"><i class="fa fa-linkedin" style="width: 20px; display: inline-block; text-align: center;"></i><%= str.service_linkedin %></a></div>
	<div><a href="#" class="btn btn-twitter" data-call="shareCertificateTwitter"><i class="fa fa-twitter" style="width: 20px; display: inline-block; text-align: center;"></i><%= str.service_twitter %></a></div>

  </div></div>

<% if (course.cert_enabled == 2) { %>

	<div class="block"><div class="inner">
	 <div class="block-header mb"><h3><%= str.label_premium_delivery_policy %></h3></div>
	 <ul>
	 <li><%= str.label_premium_delivery_p1 %></li>
	 <li><%= str.label_premium_delivery_p2 %></li>
	 <li><%= str.label_premium_delivery_p3 %></li>
	 </ul>
	 <div style="text-align: center; margin: 15px 0px 0px 0px;" class="pagination"><ul><li><a href="http://www.metidaprint.com/delivery-policy-economy/Delivery.html" class="ignored_link" target="_blank"><%= str.label_read_more %> <i class="fa fa-long-arrow-right"></i></a></li></ul></div>
	</div></div>

<% } /* /premium cert */ %>
 </div>

</div>

<% if (course.cert_enabled == 2) { %>

<div class="block"><div class="inner">
	<div class="block-header mb"><h3><%= str.label_questions %></h3></div>
	<div class="hbox">
	<div class="expand mr">
	 <div class="caption mb" style="font-size: 18px;"><%= str.label_cert_faq_q1 %></div>
	 <div><%= str.label_cert_faq_a1 %></div>
	</div>
	<div class="expand mr">
	 <div class="caption mb" style="font-size: 18px;"><%= str.label_cert_faq_q2 %></div>
	 <div><%= str.label_cert_faq_a2 %></div>
	</div>
	<div class="expand mr">
	 <div class="caption mb" style="font-size: 18px;"><%= str.label_cert_faq_q3 %></div>
	 <div><%= str.label_cert_faq_a3 %></div>
	</div>
	<div class="expand">
	 <div class="caption mb" style="font-size: 18px;"><%= str.label_cert_faq_q4 %></div>
	 <div><%= str.label_cert_faq_a4 %></div>
	</div>
	</div>
</div></div>

<% } /* /premium cert */ %>
