<a class="back-button" id="task-view-back-link" href="/courses/<%= course.code %>/tasks"><i class="fa fa-chevron-left"></i> <span><%= str.button_back_to %> "<%= course.fullname %>"</span></a>

<div class="block">
 <div class="inner">

	<div class="hbox middle">
		<div id="full-name" style="min-height: 30px;" class="expand editable livevalidation full-name caption" data-field="name" data-placeholder="<%= placeholder %>"><%= data.name %></div>

		<% if (data.can_edit && !course.cantwrite) { %>
		<div class="noshrink hbox middle" id="btn-group-edit">
			<div class="btn-group">
				<button id="btn_edit" class="btn btn-primary edit_task"><i class="fa fa-pencil" style="color: white"></i> <%= str.edit %></button>
				<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a id="btn_delete_task" href="#" class="ignored_link"><%= str.delete_task %></a></li>
				</ul>
			</div>
		</div>
		<% } %>
	</div>

	<% if (data.can_edit && !course.cantwrite) { %>
	<div id="task-edit-subblock"></div>
	<% } %>
 </div>

 <div id="task-view-subblock" class="footer hbox">
	<div class="expand" id="task-view-subheader-left"><!--<a href="/courses/<%= course.code %>"><%= course.fullname %></a>--></div>
	<div class="noshrink" id="task-view-subheader-right">
	<% if (data.duedate) { %>
	<%= str.label_duedate %> <%= moment(data.duedate, "X").format("LLL") %> <strong>(<%= moment(data.duedate, "X").fromNow() %>)</strong>
	<% } else { %>
	<%= str.no_due_date %>
	<% } %>
	</div>
 </div>

</div>

<!--if opens on date is in future teacher sees lable + content, student sees only label-->
<% if (data.startdate > (new Date().getTime() / 1000)) { %>
	<% if (data.can_edit) { %>
		<div class="blue-placeholder"><%= str.task_not_available_yet_teacher %> <%= moment(data.startdate, "X").format("LLL") %> (<%= moment(data.startdate, "X").fromNow() %>)</div>
		<div id="content-box"></div>
	<% } else { %>
		<div class="blue-placeholder"><%= str.task_not_available_yet_student %> <%= moment(data.startdate, "X").format("LLL") %> (<%= moment(data.startdate, "X").fromNow() %>)</div>
	<% } %>
<% } else { %>
	<div id="content-box"></div>
<% } %>
