<div style="clear: both; padding: 10px 0px;">
<div style="display: inline-block;<% if (editMode) { %> cursor: crosshair;<% } %>" class="interactiveimage-box">
 <div id="interactiveimage-<%= cid %>-items"></div>
 <img class="img-polaroid" style="width: 400px;" src="<%= data.url %>">
</div>
</div>
