<% if (links.length) { %>

<% _.each(links, function (link, idx) { %>
<span data-idx="<%= idx %>" class="interactive-link" style="cursor: <% if (editMode) { %>move<% } else { %>pointer<% } %>; position: absolute; display: inline-block; width: 40px; height: 40px; border: 2px solid silver; margin-top: <%= link.y %>px; margin-left: <%= link.x %>px;"></span>
<% }) %>

<% } else if (editMode) { %>
 <div style="position: absolute; width: 400px; text-align: center; margin-top: 100px;">
 <span style="background-color: rgba(0,0,0,0.5); color: #FFF; padding: 10px;"><%= str.click_pucture_to_add_link %></span></div>
<% } %>
