<div style="display: inline-block; border: 1px solid #CCC; background-color: #EEE; width: 640px; height: 360px; max-width: 100%;" class="hbox middle">
 <span class="expand"></span>
 <span class="blue-header"><i class="fa fa-file-video-o"></i> <span><%= name %></span></span>
 <span class="expand"></span>
</div>
