<a href="<%= data.url %>" class="attachment-link-item">
 <img src="<%= data.modicon %>">
 <span <% if (!data.not_supported && attachmentPath) { %>class="editable livevalidation notempty" <% } %><% if (attachmentPath) { %>data-field="<%= attachmentPath %>|name"<% } %>><%= data.name %></span>
</a>
