<div class="media-attachment img-polaroid">
 <a href="#" id="colorbox-video-<%= cid %>" class="ignored_link">
 	<span class="media-thumbnail-wrapper">
    <img class="media-thumbnail" src="" width="320px">
    <img src="../app/img/icon-play.png" id="play-icon-<%= cid %>" style="position: absolute; top: 85px; left: 125px; z-index: 50;">
    </span>
 </a>
</div>
