<div style="display: inline-block;" class="attachment-place <% print(media ? '' : 'small-attachment') %>">
 <span class="attachment-remove-button <% print(media ? '' : 'small-remove-button') %>" data-cid="<%= cid %>"></span>
 <div id="attachment-<%= cid %>-place"></div>
</div>
