<h3 class="block-title editable livevalidation" style="min-height: 40px;" data-placeholder="<%= str.forum_discussion_name %>" data-field="name"><%= data.name %></h3>

<textarea id="post-text-field" data-field="message"><%= data.message %></textarea>

<div class="attachmentlist" style="margin-bottom: -20px; margin-top: 20px;">
<div class="hbox">
 <button class="btn noshrink" data-call="addAttachment"><i class="fa fa-plus"></i> <%= str.add_file %></button>
 <span id="attachment-space" class="expand hbox wrap attachment-place" style="margin: 0px 5px;"></span>
 <button class="btn btn-link noshrink" data-call="cancelComment"><%= str.button_cancel %></button>
 <button class="btn btn-primary noshrink" data-call="saveComment"><%= str.button_post %></button>
</div>
</div>
