<h3 class="block-title"><%= discussion.name %></h3>

<% _.each(posts, function (post, idx) { %>
<div style="margin-left: <% print(post.level * 40); %>px;">
 <div class="hbox middle" style="padding: 0px 10px 0px 0px; margin: 0px 0px 10px 15px; background: #F8F8F8;">
  <img src="<%= post.profileimageurlsmall %>" style="margin: 0px 10px 0px -15px; width: 31px; height: 31px; border-radius: 15px;">
  <span class="expand"><a href="/profile/<%= post.userid %>"><%= post.firstname %> <%= post.lastname %></a>
    <% if (post.is_teacher) { %><span class="label label-warning"><%= str.label_teacher %></span><% } %> | <%= post.modified %>
	<% if (post.is_new) { %><i class="fa fa-circle" style="color: red;"></i><% } %>
	</span>
  <span>
   <i class="fa fa-reply tb" data-postid="<%= post.id %>" style="cursor: pointer; line-height: inherit;" data-call="replyToPost" data-toggle="tooltip" title="<%= str.forum_reply %>"></i>
<% if (post.can_edit) { if (idx) { %>
   <i class="fa fa-edit tb" data-postid="<%= post.id %>" style="cursor: pointer; line-height: inherit;" data-call="editPost" data-toggle="tooltip" title="<%= str.forum_edit %>"></i>
   <i class="fa fa-trash-o tb" data-postid="<%= post.id %>" style="cursor: pointer; line-height: inherit;" data-call="removePost" data-toggle="tooltip" title="<%= str.forum_remove_post %>"></i>
<% } else { %>
   <i class="fa fa-edit tb" data-postid="<%= post.id %>" style="cursor: pointer; line-height: inherit;" data-call="editDiscussion" data-toggle="tooltip" title="<%= str.forum_edit_discussion %>"></i>
   <i class="fa fa-trash-o tb" data-postid="<%= post.id %>" style="cursor: pointer; line-height: inherit;" data-call="removeDiscussion" data-toggle="tooltip" title="<%= str.forum_remove_discussion %>"></i>
<% } } else if (post.can_delete) { if (idx) { %>
   <i class="fa fa-trash-o tb" data-postid="<%= post.id %>" style="cursor: pointer; line-height: inherit;" data-call="removePost" data-toggle="tooltip" title="<%= str.forum_remove_post %>"></i>
<% } else { %>
   <i class="fa fa-trash-o tb" data-postid="<%= post.id %>" style="cursor: pointer; line-height: inherit;" data-call="removeDiscussion" data-toggle="tooltip" title="<%= str.forum_remove_discussion %>"></i>
<% } } %>
  </span>
 </div>
<div style="margin-bottom: 20px;" id="post-message-<%= post.id %>"><%= post.message %>
<% if (post.attachments.length > 0) { %>
 <div style="margin-top: 10px;" data-utils="gallery">
<% _.each(post.attachments, function (att) { if (att.mimetype.substr(0, 6) == "image/") { %>
<a href="<%= att.url %>" data-utils="popup" class="thumbnail ignored_link" style="display: inline-block;"><img src="<%= att.url %>" style="max-height: 140px; max-width: 200px;"></a>
<% } else { %>
 <a href="<%= att.url %>" style="text-decoration: none;" class="attachment-place small-attachment block">
  <img src="<%= att.icon %>"> <span><%= att.filename %></span>
 </a>
<% } }) %>
 </div>
<% } %>
</div>
<% if (idx) { %><div id="reply-box-<%= post.id %>"></div><% } %>
</div>
<% }) %>

<div class="attachmentlist" style="margin-bottom: -20px;" id="reply-box"></div>
