<div class="vbox stretch">
<textarea id="reply-post-text-field"></textarea>

<div class="hbox" style="margin: 10px 0px;">
 <button class="btn noshrink" data-call="addAttachment"><i class="fa fa-plus"></i> <%= str.add_file %></button>
 <span id="attachment-space" class="expand hbox wrap attachment-place" style="margin: 0px 5px;"></span>
 <button class="btn btn-link noshrink" data-call="cancelComment"><%= str.button_cancel %></button>
 <button class="btn btn-primary noshrink disabled" disabled="disabled" data-call="saveComment"><% print(data.id ? str.button_save : str.forum_add_comment); %></button>
</div>
</div>
