<div>
 <i class="fa fa-paperclip"></i> <%= line %><% if (addtasks) {%> <%= str.label_add_tasks.replace(/{/, "<a href=\"#\" data-call=\"addTasks\">").replace(/}/, "</a>") %><% } %>
</div>

<% if(europeanaNeeded) { %>
<div style="background-image: url(./../../app/img/stock/europeana_background_small.jpg);
      background-color: #ddebee;background-position:center center;background-repeat: no-repeat; 
      background-size: cover;
      margin-top:15px;position:relative;overflow: hidden;">
  <div style="margin: 20px 10px 10px 10px;">
     <form method="get" action="http://www.europeana.eu/portal/en/search" target="_blank">
            <input class="form-control" style="height:30px;width:80%;" type="search" name="q" placeholder="Add Culture to your Course">
            <button type="submit" class="btn btn-info" style="height:40px;margin-left:5px;margin-bottom:10px;"><span class="add-on"><i class="fa fa-search"></i></span></button>
     </form>
  </div>
</div>
<% } %>

