<div class="btn-group">
<% if (items.length == 1) { %>
  <a class="btn ignored_link add-item" data-itemid="0" href="#"><i class="fa fa-plus"></i> <%= items[0].label %></a>
<% } else { %>
  <a class="btn dropdown-toggle ignored_link btn-add" data-toggle="dropdown" href="#"><i class="fa fa-plus"></i> <%= str.new_content %></a>
  <ul class="dropdown-menu" style="margin-top: 2px">

<% for (var i in items)  { %>
<% if ("link" in items[i]) { %>
	<li><a href="<%= items[i].link %>"><%= items[i].label %></a></li>
<% } else { %>
    <li><a href="#" class="ignored_link add-item"  data-itemid="<%= i %>"><%= items[i].label %></a></li>
  <% } %>
<% } %>

  </ul>
<% } %>
</div>
