<div id="wrapper">
    <div id="page">
        <div id="page-header" class="noprint"></div>
        <div id="page-warnings-container"></div>
        <div id="page-content" class="container"></div>
    </div>
    <div id="dialog-space"></div>
    <div id="dialog-overlay" style="position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 980; display: none;"></div>
    <div id="tutorial-overlay">
    	<div id="overlay-layer"></div>
    	<div id="closebutton">X</div>
    </div>
    <div id="progress-indicator"></div>
    <script type="text/javascript">
        // UserVoice Javascript SDK (only needed once on a page)
        (function(){
            var uv=document.createElement('script');
            uv.type='text/javascript';
            uv.async=true;
            uv.src='//widget.uservoice.com/eTEcdS7m6UK1wuohZOcX0Q.js';
            var s=document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(uv,s)
        })();
        UserVoice = window.UserVoice || [];

        // UserVoice Javascript SDK developer documentation:
        // https://www.uservoice.com/o/javascript-sdk

        UserVoice.push(['identify', {
            name: "<%= user.fullname.replace(/"/g, '&quot;') %>",
			id: <%= user.id %>
        }]);

        // Add default trigger to the bottom-right corner of the window:
        UserVoice.push(['addTrigger', {}]);

        // Autoprompt users for Satisfaction and SmartVote
        // (only displayed when certain conditions are met)
        UserVoice.push(['autoprompt', {}]);

        UserVoice.push(['set', {
        // (include other options here)
            strings: {
            // Menu items
            contact_menu_label: 'Contact Eliademy team',
            // Contact form
            contact_title: 'Contact Eliademy team'
            // Etc.
            }
        }]);
    </script>
    <div id="push"></div>
</div>

<div class="noprint" style="text-align: center;" dir="<% if(lang == "ar") {print("rtl")} else {print("ltr")} %>" >
 <div class="mb">
	<img src="<%= EliademyUrl %>/img/logo-eliademy-gray-60.png">
 </div>
 <div class="mb">
	<a href="http://www.facebook.com/eliademy" target="_blank"><img src="https://eliademy.com/img/logo-facebook.png" alt="Facebook" style="border-radius: 10px; width: 20px; height: 20px;"/></a>
	<a href="https://www.twitter.com/eliademy" target="_blank"><img src="https://eliademy.com/img/logo-twitter.png" alt="Twitter" style="border-radius: 10px; width: 20px; height: 20px;"/></a>
    <a href="http://www.linkedin.com/company/eliademy" target="_blank"><img src="https://eliademy.com/img/logo-linkedin.png" alt="LinkedIn" style="border-radius: 10px; width: 20px; height: 20px;"/></a>
	<a href="https://plus.google.com/u/0/105453567066036560669/posts" target="_blank"><img src="https://eliademy.com/img/logo-gplus.png" alt="Google+" style="border-radius: 10px; width: 20px; height: 20px;"/></a>
	<a href="http://pinterest.com/eliademy/" target="_blank"><img src="https://eliademy.com/img/logo-pinterest.png" alt="Pinterest" style="border-radius: 10px; width: 20px; height: 20px;"/></a>
	<a href="https://www.youtube.com/channel/UCgQ9s5P7Iw4w5UgjMRPhIhA" target="_blank"><img src="https://eliademy.com/img/logo-youtube.png" alt="YouTube" style="border-radius: 10px; width: 20px; height: 20px;"/></a>
    <a href="https://eliademy.com/blog" target="_blank"><img src="https://eliademy.com/img/logo-blog.png" alt="Blog" style="border-radius: 10px; width: 20px; height: 20px;"/></a>
 </div>
 <div class="mb" style="font-weight: bold; color: #9A9A9A;">
	<a href="https://eliademy.com/about" style="color: #9A9A9A;"><%= str.about %></a> &bull;
    <a href="https://eliademy.com/opensource" style="color: #9A9A9A;"><%= str.opensource %></a> &bull;
	<a href="https://eliademy.com/terms" style="color: #9A9A9A;"><%= str.tos %></a> &bull;
	<a href="https://eliademy.com/privacy" style="color: #9A9A9A;"><%= str.privacy %></a> &bull;
    <a href="http://helpdesk.eliademy.com/knowledgebase" style="color: #9A9A9A;"><%= str.faq %></a>
 </div>
 <div style="color: #9A9A9A;">
    <a href="http://cbtec.fi">© CBTec 2016 | <%= str.text_madeinfinland %></a>  | <a href="https://eliademy.com/" target="_blank">Powered by Eliademy</a>
 </div>
</div>
