<div class="btn-group sel-country" data-id="<%= key %>">
    <button class="btn btn-mini" disabled><%= value %></button>
    <button class="btn btn-mini disabled course-country-remove"><i class="icon-remove"></i></button>
</div>
