<div class="block" style="margin: 30px 0px;">
 <div class="inner">
	<div class="block-header hbox middle mb">
	<h3><% print((typeof count != "undefined") ? (num + "/" + count) : (num)) %>. <%= str.quiz_question %></h3>
	<span class="expand"></span>
	<% if (result.correct) { %>
	<i class="fa fa-check-circle" style="color: green; font-size: 32px;"></i>
	<% } else { %>
	<i class="fa fa-times-circle" style="color: red; font-size: 32px;"></i>
	<% } %>
	</div>

	<div class="hbox stretch">

	<div class="expand"><%= question.text %></div>
	<div class="noshrink" style="margin: 0px 10px; border-right: 1px solid #CACACA;"></div>
	<div class="expand">
	<div style="margin: 10px 0px; font-weight: bold;"><%= str.quiz_your_answer %>:</div>

<% if (!result.correct || (typeof singleTry != "undefined" && !singleTry)) { %>
	<div class="hbox middle">
	<label class="radio hbox middle"><input type="radio" disabled="disabled" checked="checked">
	<span class="ml"><%= result.student_answer %></span>
	</div>
<% } %>

<% if (typeof singleTry == "undefined" || singleTry) { %>
<% _.each(question.answers, function (answer, anum) { if (!anum) return; %>
	<div class="hbox middle">
	<label class="radio hbox middle"><input type="radio" disabled="disabled"<% if ((typeof singleTry == "undefined" || singleTry) && (answer.text.toLowerCase().trim() == result.student_answer.toLowerCase().trim())) { %> checked="checked"<% } %>>
	<span class="ml"><%= answer.text %></span>
	<span class="label label-success ml"><%= str.quiz_select_tf %></span>
	</div>
<% }); %>
<% } %>

	<% if (question.explanation && (typeof singleTry == "undefined" || singleTry)) { %>
	<div style="margin: 10px 0px; font-weight: bold;"><%= str.label_explanation %></div>
	<div class="well"><%= question.explanation %></div>
	<% } %>

	</div>
	</div>

	<div id="quiz-attachment-block-<%= question.cid %>" style="margin-top: 10px; margin-bottom: -20px;"></div>
 </div>
</div>

<% if (typeof nonext == "undefined" || !nonext) { %>
<div class="hbox">
 <div class="expand"></div>
 <button class="btn btn-large" data-call="nextQuestion"><%= (typeof hasNext == "undefined" || !hasNext) ? str.label_see_results : str.label_next_question %> <i class="fa fa-arrow-right"></i></button>
</div>
<% } %>
