<div id="quiz-edit-question-container"></div>

<% if (!data.isgraded) { %>
<div class="hbox middle spread" style="width: 80%; margin: auto;">
	<div class="blue-header" style="line-height: normal;"><%= str.quiz_new_question %>:</div>
	<button id="btn-add-new-question" data-call="addQuestion" data-qtype="0" style="width: 25%;" class="btn"><i class="fa fa-plus"></i> <%= str.quiz_question_mc %></button>
	<button id="btn-add-new-question" data-call="addQuestion" data-qtype="1" style="width: 25%;" class="btn"><i class="fa fa-plus"></i> <%= str.quiz_question_tf %></button>
	<button id="btn-add-new-question" data-call="addQuestion" data-qtype="2" style="width: 25%;" class="btn"><i class="fa fa-plus"></i> <%= str.quiz_question_sa %></button>
</div>
<% } %>
