<div class="block" style="position: relative;">
<% if (!task.graded) { %>
<a href="#" class="btn-remove-question" data-call="removeQuestion" data-question="<%= question.cid %>"></a>
<% } %>
 <div style="position: absolute; right: 30px; top: 10px; font-size: 16px;">
 	<i data-call="moveQuestionUp" data-idx="<%= (num - 1) %>" class="fa fa-chevron-up" style="cursor: pointer;"></i>
 	<i data-call="moveQuestionDown" data-idx="<%= (num - 1) %>" class="fa fa-chevron-down" style="cursor: pointer;"></i>
 </div>
 <div class="inner">
	<h3 class="block-title"><%= num %>. <%= str.quiz_question %></h3>

	<div class="hbox stretch">

	<div class="editable livevalidation multiline richtext expand" style="min-height: 2em;" data-field="questions|<%= question.cid %>|text" data-placeholder="<%= str.quiz_question_placeholder %>"><%= question.text %></div>

	<div class="noshrink" style="margin: 0px 10px; border-right: 1px solid #CACACA;"></div>

	<div class="expand">
	<div style="margin: 10px 0px; font-weight: bold;"><%= str.quiz_enter_mc %>:</div>

<% _.each(question.answers, function (answer, anum) { %>

  <div class="quiz_answer">

<% if (anum > 1 && !task.graded) { %>
   <a href="#" class="btn-remove-answer" data-call="removeAnswer" data-question="<%= question.cid %>" data-answer="<%= answer.cid %>"></a>
<% } %>

	<label class="checkbox"><input type="checkbox"<% if (answer.correct) { print(" checked=\"checked\""); } %> data-field="questions|<%= question.cid %>|answers|<%= answer.cid %>|correct" ></label>
	<span class="editable inputfield livevalidation" data-field="questions|<%= question.cid %>|answers|<%= answer.cid %>|text" data-placeholder="<%= str.quiz_answer %>"><%= answer.text %></span>
  </div>
  <div style="clear: both;"></div>
<% }); %>

<% if (!task.graded) { %>
<button class="btn btn-add-quiz-answer" data-call="addAnswer" data-question="<%= question.cid %>" style="margin-top: 5px;"><i class="fa fa-plus"></i> <%= str.quiz_new_answer %></button>
<% } %>
	<div style="margin: 10px 0px; font-weight: bold;"><%= str.label_explanation %></div>
	<textarea style="width: 100%;" data-field="questions|<%= question.cid %>|explanation" placeholder="<%= str.quiz_question_explanation_placeholder %>"><%= question.explanation %></textarea>
	</div>
	</div>
 </div>

 <div style="margin: 0px 30px;">
	<div id="assignment-attachment-view-<%= question.cid %>" style="margin: 20px 0px 10px 0px;"></div>
 </div>
 
</div>
