<% if (data.startmsg && 0 /* it was in spec. picture but not in description. I'm confused */) { %>
<div class="block">
 <div class="inner">
	<h3 class="block-title"><%= str.label_quiz_open_msg %></h3>
 	<div><%= data.startmsg %></div>
 </div>
</div>
<% } %>

<div class="block quiz_result hbox middle">
 <span class="expand"><%= str.label_your_result %>: <%= correct %>/<%= total %> <%= str.quiz_results %> (<%= Math.round(correct / total * 100) %>%)</span>
 <button data-call="showResults" class="btn btn-large btn-primary"><%= str.quiz_review_answers %></button>
</div>

<% if (data.endmsg) { %>
<div class="block">
 <div class="inner">
	<h3 class="block-title"><%= str.label_quiz_close_msg %></h3>
 	<div><%= data.endmsg %></div>
 </div>
</div>
<% } %>

<div id="quiz-answer-review-block"></div>
