<div class="block" style="margin: 30px 0px;">
 <div class="inner">
	<h3 class="block-title"><% print((typeof count != "undefined") ? (num + "/" + count) : (num)) %>. <%= str.quiz_question %></h3>

	<div class="hbox stretch">
	<div class="expand">
	<%= question.text %>
	</div>

	<div class="noshrink" style="margin: 0px 10px; border-right: 1px solid #CACACA;"></div>

	<div class="expand">
	<div style="margin: 10px 0px; font-weight: bold;"><%= str.quiz_enter_sa %>:</div>

	<input type="text" class="input-xlarge" data-field="questions|<%= question.cid %>|answers|<%= question.answers[0].cid %>|student_answer" >

	</div>
	</div>

	<div id="quiz-attachment-block-<%= question.cid %>" style="margin-top: 10px; margin-bottom: -20px;"></div>
 </div>
</div>

<div class="hbox">
 <div class="expand"></div>
 <button class="btn btn-large btn-primary" data-call="submitAnswer"><%= str.label_submit_answer %></button>
</div>
