<% if (data.startmsg) { %>
<div class="block">
 <div class="inner">
	<h3 class="block-title"><%= str.label_quiz_open_msg %></h3>
 	<div><%= data.startmsg %></div>
 </div>
</div>
<% } %>

<% if(data.attempts == 1) { %>
<div style="text-align: center;">
 <div class="blue-placeholder" style="font-size: 28px; margin-bottom: 0px;"><%= str.quiz_instructions %></div>
 <div class="blue-placeholder" style="margin-top: 20px;"><%= str.quiz_instructions_msg %></div>
 <button class="btn btn-large btn-primary" data-call="startQuiz"><%= answered > 0 ? str.label_continue_answering : str.label_start_quiz %></button>
</div>
<% } else { %>
<div style="text-align: center;">
 <div class="blue-placeholder" style="font-size: 28px; margin-bottom: 0px;"><%= str.quiz_multi_instructions.replace("{NUMBER}", data.attempts ? (answered ? (data.attemptsleft - 1) : data.attempts) : "&infin;") %></div>
 <div class="blue-placeholder" style="margin-top: 20px;"><%= str.quiz_multi_instructions_msg %></div>
</div>

<% if (answered == total) { %>
<div class="block quiz_result hbox middle">
 <span class="expand"><%= str.label_your_result %>: <%= correct %>/<%= total %> <%= str.quiz_results %> (<%= Math.round(correct / total * 100) %>%)</span>
 <button data-call="showResults" class="btn btn-large btn-primary"><%= str.quiz_review_answers %></button>
</div>

<div id="quiz-answer-review-block"></div>
<% } %>

<div style="text-align: center;">
<% if (answered == total) { %>
 <button class="btn btn-large btn-success" data-call="submitQuiz"><i class="fa fa-paper-plane"></i> <%= str.btn_end_quiz %></button>
 or
 <button class="btn btn-large btn-primary" data-call="restartQuiz"><i class="fa fa-history"></i> <%= str.btn_retake_quiz %></button>
<% } else { %>
 <button class="btn btn-large btn-primary" data-call="startQuiz"><%= answered > 0 ? str.label_continue_answering : str.label_start_quiz %></button>
<% } %>
</div>
<% } %>
