<?php

    $courses = $DB->get_records_sql("SELECT courseid AS id, code, enddate FROM {monorail_course_data} WHERE mainteacher=?", array($USERID));
    $studentRole = $DB->get_record('role', array('shortname' => 'student'));

    $userCourses = array();

    foreach ($courses as $course)
    {
        $pData = $DB->get_record_sql("SELECT id, caccess, privacy FROM {monorail_course_perms} WHERE course=?", array($course->id));

        if (!$pData || $pData->caccess < 2 || $pData->privacy != 1)
        {
            // Not accessible?
            continue;
        }

        $api = magento_get_instance();
        $inCatalog = false;

        if ($api)
        {
            $catalogItem = $api->getProductBySku($course->code);

            if (!empty($catalogItem))
            {
                $inCatalog = true;
            }
        }

        if (!$inCatalog)
        {
            // Not in catalog?
            continue;
        }

        $course = (object) array_merge((array) $course, (array) $DB->get_record_sql("SELECT * FROM {course} WHERE id=?", array($course->id)));

        $coursecontext = context_course::instance($course->id);
        $students = get_role_users($studentRole->id, $coursecontext);
        $course->students = count($students);

        $moreData = $DB->get_records_sql("SELECT id, value, datakey FROM {monorail_data} WHERE itemid=?", array($course->id));

        foreach ($moreData as $md)
        {
            $course->{$md->datakey} = $md->value;
        }

        if ($course->startdate)
        {
            $datestring = userdate($course->startdate, "%d %b %Y")." - ";

            if ($course->enddate)
            {
                $datestring .= userdate($course->enddate, "%d %b %Y");
            }
        }
        else
        {
            $datestring = "Self-paced";
        }

        $course->datestring = $datestring;

        // Load background picture
        $backgroundimage = @$course->coursebackground;

        if (!$backgroundimage || $backgroundimage == "/")
        {
            $backgroundimagetn = $CFG->magic_ui_root . "/app/img/stock/other-tn.jpg";
        }
        else
        {
            try
            {
                $backgroundimagetn = monorail_get_course_background_tn($backgroundimage, $course->id);
            }
            catch (Exception $ex)
            {
                // Don't fail completely if thumbnail doesn't exist.
                $backgroundimagetn = $CFG->magic_ui_root . "/app/img/stock/other-tn.jpg";
            }
        }

        $course->coursebackground = $backgroundimagetn;

        $userCourses[] = $course;
    }

    $customFields = array();

    foreach ($DB->get_records_sql("SELECT uid.id, uif.shortname, uid.data FROM {user_info_data} AS uid" .
        " INNER JOIN {user_info_field} AS uif ON uif.id=uid.fieldid WHERE uid.userid=?", array($USERID)) as $rec)
    {
        $customFields[$rec->shortname] = $rec->data;
    }

    $userData = $DB->get_record_sql("SELECT * FROM {user} WHERE id=?", array($USERID));

    $fullName = $userData->firstname . " " . $userData->lastname;

    $socialLinks = array();

    foreach ($DB->get_records_sql("SELECT id, social, value FROM {monorail_social_settings} WHERE userid=? AND datakey='accounturl'", array($USERID)) as $rec)
    {
        $socialLinks[$rec->social] = $rec->value;
    }

    if (empty($userCourses))
    {
        // TODO: user not found page?
        return;
    }

?>
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title><?php echo $fullName; ?> | <?php echo get_string("service_name", "theme_monorail"); ?></title>
 <link href="//fonts.googleapis.com/css?family=Open+Sans:300&amp;subset=latin,cyrillic" rel="stylesheet">
 <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
 <link href="<?php echo $CFG->landing_page ?>/css/header.css" rel="stylesheet">
 <link href="<?php echo $CFG->landing_page ?>/css/catalog.css" rel="stylesheet">
 <link href="<?php echo $CFG->landing_page ?>/app/a/lib/css/bootstrap.min.css" rel="stylesheet">
 <link href="<?php echo $CFG->landing_page ?>/app/a/lib/css/bootstrap-responsive.min.css" rel="stylesheet">
 <link href="<?php echo $CFG->landing_page ?>/app/a/lib/css/social-buttons.min.css" rel="stylesheet">
 <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 <script src="//maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
 <script src="<?php echo $CFG->landing_page ?>/app/theme/monorail/ext/ajax_get_toolbar.js"></script>
 <script>
 $(function()
 {
    _Header.init($("#header-box").get(0));
    _Header.initFooter($("#footer-box").get(0));
 });
 </script>
</head>
<body style="background-color: #F5F5F5;">
<div class="header-block">
 <div class="container" id="header-box"></div>
</div>

<div class="container" itemscope itemtype="http://schema.org/Person">
<div style="line-height: 30px; margin-top: 51px; ">
 <a style="color: #000;" href="javascript:window.history.back();"><i class="fa fa-chevron-left"></i>&nbsp;Back</a>
</div>
 <div style="background-color: #FFF; padding: 10px 30px; box-shadow: 0 1px 2px 0 rgba(50, 50, 50, 0.3); border-radius: 3px;">
	<h3 style="color: #4189DD; font-size: 22px; font-weight: 300; font-family: 'Open Sans'; border-bottom: 1px solid #C1C1C1; padding: 0 0 5px; margin-top: 0px;" itemprop="name"><?php echo $fullName ?></h3>

	<div class="row-fluid">
	 <div class="span3"><img itemprop="image" class="img-circle thumbnail" style="border-radius: 500px;" alt="<?php echo $fullName ?>" src="<?php echo "$CFG->wwwroot/public_images/user_picture/".monorail_get_userpic_hash($USERID)."_185.jpg" ?>"></div>
	 <div class="span9">
		<?php if (@$customFields["usertitle"]) { ?><div itemprop="jobTitle"><?php echo $customFields["usertitle"] ?></div><?php } ?>
		<?php if (@$userData->institution) { ?><div itemprop="worksFor"><i class="fa fa-building"></i> <?php echo $userData->institution ?></div><?php } ?>
		<?php if (@$customFields["web"]) { ?><div><i class="fa fa-globe"></i> <a href="<?php if (strtolower(substr($customFields["web"], 0, 4)) != "http") { echo "http://"; } echo $customFields["web"]; ?>" target="_blank" itemprop="url"><?php echo $customFields["web"] ?></a></div><?php } ?>
	 </div>
	</div>

<?php if (@$socialLinks["facebook"] || @$socialLinks["linkedin"] || @$socialLinks["twitter"] || @$customFields["googleplus"] || @$customFields["vk"] ||
          @$customFields["weibo"] || @$customFields["pinterest"] || @$customFields["instagram"]) { ?>
	<h3 style="color: #4189DD; font-size: 22px; font-weight: 300; font-family: 'Open Sans'; border-bottom: 1px solid #C1C1C1; padding: 0 0 5px; margin-top: 0px;">Social</h3>

	<div class="well">
	 <?php if (@$socialLinks["facebook"]) { ?><a href="<?php echo $socialLinks["facebook"] ?>" class="btn btn-facebook"><i class="fa fa-facebook"></i></a><?php } ?>
	 <?php if (@$socialLinks["linkedin"]) { ?><a href="<?php echo $socialLinks["linkedin"] ?>" class="btn btn-linkedin"><i class="fa fa-linkedin"></i></a><?php } ?>
	 <?php if (@$socialLinks["twitter"]) { ?><a href="<?php echo $socialLinks["twitter"] ?>" class="btn btn-twitter"><i class="fa fa-twitter"></i></a><?php } ?>
	 <?php if (@$customFields["googleplus"]) { ?><a href="<?php echo $customFields["googleplus"] ?>" class="btn btn-google-plus"><i class="fa fa-google-plus"></i></a><?php } ?>
	 <?php if (@$customFields["vk"]) { ?><a href="<?php echo $customFields["vk"] ?>" class="btn btn-vk"><i class="fa fa-vk"></i></a><?php } ?>
	 <?php if (@$customFields["weibo"]) { ?><a href="<?php echo $customFields["weibo"] ?>" class="btn btn-weibo"><i class="fa fa-weibo"></i></a><?php } ?>
	 <?php if (@$customFields["pinterest"]) { ?><a href="<?php echo $customFields["pinterest"] ?>" class="btn btn-pinterest"><i class="fa fa-pinterest"></i></a><?php } ?>
	 <?php if (@$customFields["instagram"]) { ?><a href="<?php echo $customFields["instagram"] ?>" class="btn btn-instagram"><i class="fa fa-instagram"></i></a><?php } ?>
	</div>
<?php } ?>

<?php if (@$userData->description) { ?>
	<h3 style="color: #4189DD; font-size: 22px; font-weight: 300; font-family: 'Open Sans'; border-bottom: 1px solid #C1C1C1; padding: 0 0 5px; margin-top: 0px;">Bio</h3>
	<div style="margin-bottom: 10px;"><?php echo str_replace("\n", "<br>", $userData->description); ?></div>
<?php } ?>

 </div>
</div>

<?php if (!empty($userCourses)) { ?>

<div class="container">
 <h3 style="color: #4189DD; font-size: 22px; font-weight: 300; font-family: 'Open Sans'; border-bottom: 1px solid #C1C1C1; padding: 0 0 5px; margin-top: 30px;">Teaching</h3>
</div>

<div class="catalog-4cols container" style="margin-top: 5px;">
<?php foreach ($userCourses as $course) { ?>
 <div class="catalog-card" style="float: left;" itemscope itemtype="http://schema.org/Product">
	<a href="/catalog/catalog/product/view/sku/<?php echo $course->code ?>" style="text-decoration: none; color: currentcolor;">

	 <div class="catalog-card-image"><img itemprop="image" src="<?php echo $course->coursebackground ?>"></div>

	 <div class="catalog-card-name" itemprop="name"><?php echo $course->fullname ?></div>
	 <div class="catalog-vertical-fade"></div>
	 <div class="catalog-card-status">

<table style="width: 100%;">
<tr>
 <td style="width: 25%;"><i class="fa fa-users"></i>&nbsp;<?php echo $course->students ?></td>
 <td style="width: 50%; text-align: center;">
<?php
    $stars = (int) @$course->course_rating;

    for ($i=0; $i<$stars; $i++)
    {
        echo "<i class=\"fa fa-star\" style=\"color: gold\"></i>\n";
    }

    for ($i=$stars; $i<5; $i++)
    {
        echo "<i class=\"fa fa-star-o\" style=\"color: gold\"></i>\n";
    }
?>
 </td>
 <td style="width: 25%; text-align: right;" itemprop="price"><?php echo ((int) @$course->course_price) ? "€" . $course->course_price : "Free"; ?></td>
</tr>
</table>

     </div>
	 <div class="catalog-card-subtitle"><?php echo $course->datestring ?></div>
	</a>
 </div>
<?php } ?>

</div>

<?php } ?>
<div class="container" id="footer-box"></div>

<script>
// Include the UserVoice JavaScript SDK (only needed once on a page)
UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/eTEcdS7m6UK1wuohZOcX0Q.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

// Set colors
UserVoice.push(['set', {
  accent_color: '#448dd6',
  trigger_color: 'white',
  trigger_background_color: 'rgba(46, 49, 51, 0.6)'
}]);

// Identify the user and pass traits
// To enable, replace sample data with actual user traits and uncomment the line
if (_Header instanceof Object && _Header.info instanceof Object && _Header.info.userid)
{
    UserVoice.push(['identify', { name: _Header.info.username, id: _Header.info.userid }]);
}
else
{
    UserVoice.push(['identify', { name: "No user" }]);
}

// Add default trigger to the bottom-right corner of the window:
UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
UserVoice.push(['autoprompt', {}]);
</script>

<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38321548-1']);
  _gaq.push(['_setDomainName', 'eliademy.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    //ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
_atrk_opts = { atrk_acct:"3TVni1awA+008d", domain:"eliademy.com",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=3TVni1awA+008d" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript -->

<!-- AddThis Button BEGIN -->
<script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-512e0dda5c857366"></script>
<!-- AddThis Button END -->

<!-- Google+ share button BEGIN -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<!-- Google+ share button END -->

</body>
</html>
