<div class="modal-header">
 <button type="button" class="close dialog_reject">&times;</button>
 <h3><%= str.calexport %></h3>
</div>

<div class="modal-body">
<p>
 <%= str.calexport_text %>
</p>

<p>
 <%= calurl %>
</p>

<p>
 <%= str.calexport_text2.replace('{{faq}}', '<a href="http://eliademy.uservoice.com/knowledgebase/articles/238762" target="_blank">FAQ</a>') %>
</p>
</div>

<div class="modal-footer" style="text-align: right;">
    <a href="#" class="btn dialog_accept"><%= str.button_close %></a>
</div>
