<% if (totalUpcoming) { %>

<% _.each(upcoming, function (ev) { if (ev.eventtype == "due" || ev.eventtype == "close") { %>

<div class="side-event vbox stretch noshrink" data-call="dueEventClicked" data-taskid="<%= ev.instanceid %>">
 <div class="hbox stretch">
  <div style="width: 10px; position: relative; margin-left: -10px; line-height: 12px;"><i style="font-size: 6px; color: #4189DD;" class="fa fa-circle"></i></div>
  <div class="expand" style="white-space: nowrap; overflow: hidden;"><%= ev.name %></div>
  <div class="fadeside2 noshrink" style="width: 20px; margin-left: -20px;"></div>
 </div>
 <div class="hbox stretch">
  <div class="expand" style="white-space: nowrap; overflow: hidden; line-height: 18px;"><%= ev.coursename %></div>
  <div class="fadeside2 noshrink" style="width: 20px; margin-left: -20px;"></div>
  <div class="noshrink <%= ev.label %>"><i class="fa fa-clock-o"></i> <%= ev.time %></div>
 </div>
</div>

<% } else if (ev.eventtype == "course") { %>

<div class="side-event vbox stretch noshrink" data-call="eventClicked" data-evid="<%= ev.id %>">
 <div class="hbox stretch">
  <div style="width: 10px; position: relative; margin-left: -10px; line-height: 12px;"><i style="font-size: 6px; color: #4189DD;" class="fa fa-circle"></i></div>
  <div class="expand" style="white-space: nowrap; overflow: hidden;"><%= ev.name %></div>
  <div class="fadeside2 noshrink" style="width: 20px; margin-left: -20px;"></div>
 </div>
 <div class="hbox stretch">
  <div class="expand" style="white-space: nowrap; overflow: hidden; line-height: 18px;"><%= ev.coursename %></div>
  <div class="fadeside2 noshrink" style="width: 20px; margin-left: -20px;"></div>
  <div class="noshrink <%= ev.label %>"><i class="fa fa-clock-o"></i> <%= ev.time %></div>
 </div>
</div>

<% } else { %>

<div class="side-event vbox stretch noshrink" data-call="eventClicked" data-evid="<%= ev.id %>">
 <div class="hbox stretch">
  <div style="width: 10px; position: relative; margin-left: -10px; line-height: 12px;"><i style="font-size: 6px; color: red;" class="fa fa-circle"></i></div>
  <div class="expand" style="white-space: nowrap; overflow: hidden;"><%= ev.name %></div>
  <div class="fadeside2 noshrink" style="width: 20px; margin-left: -20px;"></div>
 </div>
 <div class="hbox stretch">
  <div class="expand" style="white-space: nowrap; overflow: hidden; line-height: 18px;"><%= ev.description %></div>
  <div class="fadeside2 noshrink" style="width: 20px; margin-left: -20px;"></div>
  <div class="noshrink <%= ev.label %>"><i class="fa fa-clock-o"></i> <%= ev.time %></div>
 </div>
</div>

<% } }) %>

<% if (maxUpcoming < totalUpcoming) { %>
<div class="expand"></div>
<div style="text-align: center; margin: 20px 0px;" class="noshrink">
 <button class="btn" data-call="loadMoreEvents"><i class="fa fa-repeat"></i> <%= str.load_more %></button>
</div>
<% } %>

<% } else { %>
<span class="expand"></span>
<h3 style="text-align: center;"><%= str.no_events_msg %></h3>
<span class="expand"></span>
<% } %>
