/*
Copyright (c) 2003-2013, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.md or http://ckeditor.com/license
*/

.cke_editable p
{
	overflow: visible;
}

figure
{
	text-align: center;
	border: solid 1px #ccc;
	border-radius: 2px;
	background: rgba(0,0,0,0.05);
	padding: 10px;
	margin: 10px 0px 10px 0px;
	display: block; /* For IE8 */
}

figure figcaption
{
	text-align: center;
        font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
	display: block; /* For IE8 */
}

.ck-align-left {
    float: left;
    margin-right: 20px;
}

.ck-align-right {
   float: right;
   margin-left: 20px;
}

.ck-align-center {
   text-align: center;
}

.ck-align-center > figure {
   display: inline-block;
}

