<div class="block" id="tasks-table" style="position: relative;">
<% if (disabled_message) { %>
<div class="well disablebanner" style="text-align: center;">
 <h3><%= str[disabled_message] %></h3>
 <a href="/plan-details" class="btn"><%= str.learn_more %></a>
</div>
<div class="disablebox"></div>
<% } %>
    <div class="row-fluid">
        <div id="tasks-col1" class="span6">
            <h3 class="block-title"><%= str.upcoming_live_sessions %></h3>
            <% _.each(upcoming, function (lsession) { %>
                    <div class="task-block" data-call="joinSession" data-id="<%= lsession.id %>">
                      <div class="block task-name hbox">
                        <a class="ignored_link" href="#" data-call="joinSession" data-id="<%= lsession.id %>" style="text-decoration:none">
                            <i class="fa fa-calendar fa-lg"></i>
                            <span><%= lsession.name %></span>
                        </a>
                            <span class="expand"></span>
                            <% if(course.can_edit && !course.cantwrite) { %>
                              <a href="#" class="ignored_link" style="margin-top:4px;margin-right:4px" data-call="editSession" data-id="<%= lsession.id %>" ><i class="fa fa-edit fa-lg"></i></a>
                              <a href="#" class="ignored_link" style="margin:2px" data-call="editSession" data-id="<%= lsession.id %>" ><i class="fa fa-times fa-lg"></i></a>
                            <% } %>
                      </div>
                    </div>
		    <div class="task-subblock hbox">
                        <span class="task-duedate noshrink"><%= str.date %>: <%= moment(lsession.timeavailable, "X").format("ll") %></span>
                      <span class="expand"></span>
                     <span class="noshrink"> <%= str.time %>: <%= moment(lsession.timeavailable, "X").format("LT") %> - <%= moment(lsession.timedue, "X").format("LT") %></span>
		    </div>
            <% }) %>

            <% if (upcoming.length == 0) { %>
                <div class="blue-placeholder"><%= str.no_lapsed_live_sessions %></div>
            <% } %>

           <% if (course.can_edit && !course.cantwrite) { %>
			<div class="hbox mt">
            <button class="btn btn-primary expand" data-call="addSession" ><i class="fa fa-plus" style="color: white"></i>&nbsp;<%= str.add_live_session %></button>
			</div>
            <% } %>
        </div>
        <div id="tasks-col2" class="span6">
            <h3 class="block-title"><%= str.past_live_sessions %></h3>
            <% _.each(lapsed, function (lsession) { %>
                    <div class="task-block">
                      <div class="block task-name hbox">
                        <a class="ignored_link" href="#" data-call="joinSession" data-id="<%= lsession.id %>" style="text-decoration:none">
                            <i class="fa fa-calendar fa-lg"></i>
                            <span><%= lsession.name %></span>
                        </a>
                            <span class="expand"></span>
                            <% if(course.can_edit && !course.cantwrite) { %>
                              <a href="#" class="ignored_link" style="margin-top:4px;margin-right:4px" data-call="editSession" data-id="<%= lsession.id %>" ><i class="fa fa-edit fa-lg"></i></a>
                              <a href="#" class="ignored_link" style="margin:2px" data-call="editSession" data-id="<%= lsession.id %>" ><i class="fa fa-times fa-lg"></i></a>
                            <% } %>
                      </div>
                    </div>
					<div class="task-subblock hbox">
                        	<%= str.date %>: <%= moment(lsession.timeavailable, "X").format("ll") %>
						<span class="expand">
						</span>
						<span class="noshrink">
                     <span class="noshrink"> <%= str.time %>: <%= moment(lsession.timeavailable, "X").format("LT") %> - <%= moment(lsession.timedue, "X").format("LT") %></span>
						</span>
					</div>
            <% }) %>

            <% if (lapsed.length == 0) { %>
                <div class="blue-placeholder"><%= str.no_live_sessions %></div>
            <% } %>
        </div>
        <div id="tasks-colbackground"></div>
    </div>
</div>

<div class="alert alert-note"><% print(str.live_timezone_reminder.replace("%TIMEZONE", "<a href=\"/settings\">" + timezone + "</a>")) %></div>
