<div class="block"><div class="inner">
 <div class="block-header hbox middle">
	<h3><%= str.participants %></h3>
 </div>

<% if (teachers.length > 0 || managers.length > 0) { %>
 <div class="hbox wrap" style="margin-top: 15px;">

<% for (var i=0; i<teachers.length; i++) { %>
	<a href="/profile/<%= teachers[i].id %>" class="hbox middle grid-item">
	 <img src="<%= teachers[i].picurl.m %>" class="noshrink mrl">
	 <span>
		<div class="blue-header small"><%= teachers[i].fullname %></div>
		<div class="label label-info"><%= str.label_teacher %></div>
	 </span>
	</a>
<% } %>

<% for (var i=0; i<managers.length; i++) { %>
	<a href="/profile/<%= managers[i].id %>" class="hbox middle grid-item">
	 <img src="<%= managers[i].picurl.m %>" class="noshrink mrl">
	 <span>
		<div class="blue-header small"><%= managers[i].fullname %></div>
		<div class="label label-info"><%= str.label_org_observer %></div>
	 </span>
	</a>
<% } %>

 </div>
<% } %>

<% if (students.length > 0) { %>
 <div class="hbox wrap" style="margin-top: 15px;">
<% for (var i=firstStudent; i<firstStudent+studentsPerPage && i<students.length; i++) { %>

	<span class="hbox middle grid-item">
	 <a href="/profile/<%= students[i].id %>"><img src="<%= students[i].picurl.m %>" class="noshrink mrl"></a>
	 <span>
		<div class="blue-header tiny"><a href="/profile/<%= students[i].id %>"><%= students[i].fullname %></a></div>
		<div>
<% if (students[i].email && students[i].email.substr(0, 4) != "****") { %>
			<a href="mailto:<%= students[i].email %>" style="color: #666;" class="ignored_link mr" data-toggle="popover" data-content="<%= students[i].email %>"><i class="fa fa-envelope-o"></i></a>
<% } %>
<% if (students[i].city) { %>
			<i class="fa fa-location-arrow mr" style="color: #666;" data-toggle="popover" data-content="<%= students[i].city %>"></i>
<% } %>
<% if (students[i].institution) { %>
			<i class="fa fa-building" style="color: #666;" data-toggle="popover" data-content="<%= students[i].institution %>"></i>
<% } %>
		</div>
	 </span>
	</span>

<% } %>
 </div>
<% } %>

</div>

<% if (pageCount > 1) { %>
<div class="block-bottom hbox middle">
 <span class="expand"></span>
 <div class="pagination noshrink" style="margin: 0px;"><ul>
<% if (pageCount < 5) { %>
<% for (var i=0; i<pageCount; i++) { %>
	<li<% if (i == currentPage) print(" class=\"active\""); %>><a href="#" data-call="showPage" data-page="<%= i %>"><%= i+1 %></a></li>
<% } %>
<% } else { %>
	<% var startPage = (currentPage < 3) ? 0 : ((currentPage > pageCount - 4) ? (pageCount - 5) : (currentPage - 2)); %>
	<li<% if (!currentPage) print(" class=\"disabled\""); %>><a href="#" data-call="showPage" data-page="<%= (currentPage - 1) %>">&laquo;</a></li>
	<% for (var i=0; i<5; i++) { %>
	<li<% if ((i+startPage) == currentPage) print(" class=\"active\""); %>><a href="#" data-call="showPage" data-page="<%= i+startPage %>"><%= i+1+startPage %></a></li>
	<% } %>
	<li<% if (currentPage >= pageCount - 1) print(" class=\"disabled\""); %>><a href="#" data-call="showPage" data-page="<%= (currentPage + 1) %>">&raquo;</a></li>
<% } %>
 </ul></div>
</div>
<% } %>

</div>
