<a href=":back" class="back-button noprint"><i class="fa fa-chevron-left"></i> <%= str.button_back %></a>

<div class="block" style="padding: 6px 6px 0px 6px;">
 <div class="hbox stretch">
	<div class="course_background_width noshrink" style="background: url('<%= course.coursebackground %>') 50% 50% no-repeat; height: 170px; position: relative;">
		<% if (course.course_privacy == 5) { %>
		<div class="label label-important" style="position: absolute; top: 145px; right: 10px;"><%= str.delisted %></div>
		<% } else if (course.completed) { %>
		<div class="label label-warning" style="position: absolute; top: 145px; right: 10px;"><%= str.completed %></div>
		<% } else if (course.course_access == 1) { %>
		<div class="label label-success" style="position: absolute; top: 145px; right: 10px;"><%= str.course_draft %></div>
		<% } %>
		<% if (course.cert_enabled) { %>
		<div style="position: absolute; top: 10px; right: 10px;"><i class="fa fa-certificate" style="font-size: 26px; color: #gold;"></i></div>
		<% } %>
	</div>

	<div class="vbox stretch expand">
	 <div class="expand" style="text-align: center;"><img src="<%= course.course_logo %>"></div>
	 <div class="hbox middle" style="padding: 9px 10px; background-color: #F6F6F6; color: #444; font-size: 12px; overflow: hidden; line-height: 18px;">
	  <img class="noshrink" src="<%= course.teacher_avatar %>" style="margin-right: 10px;">
	  <div class="noshrink">
		<div style="font-weight: bold;"><%= course.teacher_name %></div>
		<div><%= course.teacher_title %></div>
	  </div>
	 </div>
	 <div class="hbox middle" style="background-color: #E7F3FF; padding: 0px 10px; height: 35px; font-size: 12px;">
		<div style="color: #4189DD;">
		 <i style="margin-right: 4px; line-height: inherit;" class="fa fa-users"></i> <%= course.students %>
		</div>
		<div class="expand" style="color: rgb(71, 143, 225); text-align: center;">
			<% var num = 0; while (num++ < parseInt(course.stars)) { %>
			<i class="fa fa-star" style="color:gold"></i>
			<% } %><% while (num++ < 6) { %>
			<i class="fa fa-star-o" style="color:gold"></i>
			<% } %>
		</div>
		<div>&nbsp;&nbsp;&nbsp;</div>
	 </div>
	</div>
 </div>
 <div class="hbox middle">
	<div class="course_background_width noshrink blue-header" style="padding: 15px 5px; font-size: 25px; line-height: normal;"><%= course.fullname %></div>
	<div class="expand" style="text-align: center;">
<% if (action == "reuse") { %>
		<button class="btn btn-large btn-success" data-call="actionClicked"><%= str.button_reuse_course %></button>
<% } %>
	</div>
 </div>
</div>

<div class="btn-group" data-toggle="buttons-radio">
 <a href="#" class="btn<% if (currentPage != 1) { %> active<% } %>" data-call="showContent"><%= str.overview %></a>
 <a href="#" class="btn<% if (currentPage == 1) { %> active<% } %>" data-call="showTasks"><%= str.tasks %></a>
</div>

<div id="preview-course-content-area" style="margin-top: 30px;"></div>
