<div class="hbox">

<div class="sidebar_width noshrink" style="margin-right: 20px;">
<ul class="nav nav-list custom">
<% for (var i=0; i<sections.length; i++) { %>
 <li><a href="#" data-call="openSection" data-section="<%= i %>"><%= i ? sections[i].name : str.overview_content %></a></li>
<% } %>
</ul>
</div>

<div class="expand">
<div class="block"><div class="inner" style="padding-bottom: 10px;">
	<h3 class="block-title"><span id="course-preview-section-name"></span></h3>
	<div id="course-preview-section-content"></div>
	<div id="preview-attachment-place"></div>
</div>

<div id="course-licence-place" class="block-bottom" style="display: none;">
		<% if (course.derivedfrom_code) { %>
		<div class="hbox middle">
		<a rel="license" href="http://creativecommons.org/licenses/by/4.0/" class="ignored_link noshrink mr" target="_blank"><img alt="Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
		<div>
		 <%= str.label_licence_cc_derivative.replace("$COURSENAME", "<a href=\"/" + course.derivedfrom_code + "\" target=\"_blank\" class=\"ignored_link\">" + course.derivedfrom_name + "</a>") %>
		</div>
		</div>
		<% } else if (course.licence == 2) { %>
		<div class="hbox middle">
		<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" class="ignored_link noshrink mr" target="_blank"><img alt="Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
		<div>
		 <%= str.label_licence_cc %><br>
		 <%= str.label_licence_cc_info %>
		</div>
		</div>
		<% } else if (course.teacher_name) { %>
		<%= str.label_licence_nonfree.replace("$INSTRUCTOR", course.teacher_name) %>
		<% } %>
</div></div></div>
</div>
