<div class="block"><div class="inner">
 <h3 class="block-title"><span><%= str.tasks %></span></h3>

 <div class="hbox wrap spread">
 <% for (var i=0; i<tasks.length; i++) { %>
 <div class="hbox middle box-sizing" data-call="showTaskPreview" data-id="<%= tasks[i].instanceid %>" style="cursor: pointer; width: 49%; border-radius: 3px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); padding: 6px; margin-bottom: 15px; color: #08C;">
	<img src="<%= RootDir %>app/img/icon-task.png">&nbsp;&nbsp;
	<span><%= tasks[i].name %></span>
 </div>
 <% } %>
 </div>

</div></div>
