<% var thisPageUsers = pagiInfo.pagedUsers[pagiInfo.pageid-1]; %>

<div class="grade-cell-row" style="background-color: #F9F9F9; font-weight: bold;"><%= str.certificate %></div>
<% var issueall = false; %>
<div>
<% _.each(thisPageUsers, function (user) { %>
<div class="grade-cell-row grade-cell-stripe <%- user.cell_stripe_extra_class %>" style="overflow: visible;">
<div class="btn-group">
  <button class="btn<% if (certs[user.userid] && certs[user.userid].state) { print(" active\" disabled=\"disabled\"");} else { issueall=true;} %>" <% if (user.all_submitted) print("data-toggle=\"button\" "); %>data-action="issue-certificate" data-user-id="<%= user.userid %>" data-user-all-submitted="<%= user.all_submitted %>"><%= str.issue %></button>
  <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
  <ul class="dropdown-menu pull-right" style="text-align: left;">
<% if (certs[user.userid] && certs[user.userid].state) { %>
        <li><a href="#" class="ignored_link" data-action="view-certificate" data-cert-id="<%= certs[user.userid].id %>"><%= str.view %></a></li>
        <li><a href="#" class="ignored_link" data-action="revoke-certificate" data-user-id="<%= user.userid %>"><%= str.revoke %></a></li>
<% } else { %>
        <li><a href="#" class="ignored_link" data-action="issue-certificate" data-user-id="<%= user.userid %>" data-user-all-submitted="<%= user.all_submitted %>"><%= str.issue %></a></li>
<% } %>
  </ul>
</div>
</div>
<% }) %>
</div>
<div class="grade-cell-row" style="border-top: 1px solid silver;"><button class="btn<% if (!issueall) print(" active\" disabled=\"disabled\"");%>" data-action="issue-certificate-all"><%= str.button_issue_all %></div>
