<div class="block"><div class="inner">
 <div class="btn-group pull-right" data-toggle="buttons-radio" style="margin-top: 5px;">
	<a href="/courses/<%= course.code %>/progress" class="btn<% if (!subpage) print(" active"); %>"><%= str.grades %></a>
	<a href="/courses/<%= course.code %>/progress/export" class="btn<% if (subpage == "export") print(" active"); %>"><%= str.label_export %></a>
 </div>
 <h3 class="block-title" style="margin-bottom: 0px;"><%= (subpage == "export" ? str.label_export : (subpage == "design" ? str.design : str.grades)) %></h3>

 <div id="course-progress-subpage"></div>

</div></div>
