<% var users = pagiInfo.pagedUsers[pagiInfo.pageid-1]; %>

<div class="hbox">
    
<div class="noshrink">
	<div class="grade-cell-row" style="font-weight: bold; background-color: #F9F9F9; padding-left: 10px;"><%= str.name %></div>
	<div>
<% _.each(users, function (user) { %>
	<div class="grade-cell-row grade-cell-stripe <%- user.cell_stripe_extra_class %>"><a href="/profile/<%= user.userid %>">
		<img src="<% print(MoodleDir + 'public_images/user_picture/' + user.picturehash + '_32.jpg') %>" style="border-radius: 15px; margin-left: 10px;">
		<span style="margin-right: 10px;"><%= user.firstname %> <%= user.lastname %></span></a></div>
<% }) %>
	</div>
	<div class="grade-cell-row" style="padding-left: 10px; border-top: 1px solid silver;"><%= str.average %> (%)</div>
</div>

<div class="expand" style="overflow: auto;">
 <div style="min-width: <%= 140 * tasks.length %>px;">

 <div class="hbox grade-cell-row" style="background-color: #F9F9F9;">
<% _.each(tasks, function (task) { %>
	<span class="grade-cell noshrink" style="font-weight: bold; overflow: hidden; position: relative; text-align: center;"><a href="/<%= ((task.mod == "quiz") ? "quizzes" : "tasks") %>/<%= task.id %>"><%= task.name %></a><span style="position: absolute; width: 10px; height: 43px; right: 0px; background-color: #F9F9F9; opacity: 0.6;"></span></span>
<% }) %>
 </div>

<div>
<% _.each(users, function (user) { %>
 <div class="hbox grade-cell-stripe <%- user.cell_stripe_extra_class %>">

<% if (user.grades.length > 0) { %>
<% _.each(user.grades, function (grade) { %>
	<span class="grade-cell noshrink" style="text-align: center;"><% switch (grade.grade) { case "*": print(str.task_status1); break; case "-": print(str.task_status2); break; default: print(grade.grade) } %></span>
<% }) %>
<% } else { %>
	<span class="grade-cell">&nbsp;</span>
<% } %>
 </div>
<% }) %>
</div>

 <div class="hbox" style="text-align: center; border-top: 1px solid silver;">
<% _.each(tasks, function (task) { %><span class="grade-cell noshrink"><%= task.average %></span><% }) %>
 </div>

 </div>
</div>

<% var avgSum = 0, avgLen = 0; %>
<div class="noshrink vbox stretch" style="text-align: center;">
	<div class="grade-cell-row" style="font-weight: bold; background-color: #F9F9F9; min-width: 50px;" data-toggle="tooltip" title="<%= str.average %> (%)">x&#772;</div>
	<div>
<% _.each(users, function (user) { %>
	<div class="grade-cell-row grade-cell-stripe <%- user.cell_stripe_extra_class %>"><% print(user.average); if (!isNaN(user.average)) { avgSum += parseFloat(user.average); avgLen++; } %></div>
<% }) %>
	</div>
	<div class="grade-cell-row" style="border-top: 1px solid silver;"><% print(avgLen ? Math.round((avgSum / avgLen) * 100) / 100 : "-") %></div>
</div>

<% if (course.cert_enabled) { %>
<div class="noshrink">
	<div id="progress-grade-cert"></div>
</div>
<% } %>

<div class="noshrink vbox stretch">
	<div class="grade-cell-row" style="background-color: #F9F9F9;"></div>
	<div>
<% _.each(users, function (user) { %>
	<div class="grade-cell-row grade-cell-stripe <%- user.cell_stripe_extra_class %>" style="text-align: center; overflow: visible;">

  <% if (!course.cantwrite) { %>
	<div class="dropdown" style="text-align: left;">
	 <a href="#" class="dropdown-toggle ignored_link" data-toggle="dropdown"><i class="fa fa-ellipsis-v" style="font-size: 18px; display: inline-block; padding: 0px 15px;"></i></a>
	 <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
		<li><a href="#" data-call="resetProgress" data-id="<%= user.userid %>"><%= str.course_reset_progress %></a></li>
		<li><a href="#" data-call="unenroll" data-id="<%= user.userid %>"><%= str.user_unenroll_confirm_header %></a></li>
	 </ul>
	</div>
  <% } %>

	</div>
<% }) %>
	</div>
	<div class="grade-cell-row" style="border-top: 1px solid silver;"></div>
</div>

</div>

<% if (pagiInfo.pagedUsers.length > 1) { %>
<div class="pagination pagination-centered">
            <ul class="pagination pagination-centered pagination-mini">
                <% _.each(pagiInfo.linksInfo, function (linkInfo) { %>
                <li class="<%- linkInfo.class %>"  ><a style="<%- linkInfo.style %>"  href="<%- linkInfo.href %>" > <%- linkInfo.text %> </a></li>
                <% }) %>
            </ul>
</div>
<% } %>

