<p style="margin-top: 10px;"><%= str.select_export_format %></p>
<p><label class="radio"><input type="radio" name="grade_format" value="csv" checked="checked"><%= str.csv_format %></label></p>
<p><label class="radio"><input type="radio" name="grade_format" value="plain"><%= str.plain_text %></label></p>
<p><label class="checkbox"><input type="checkbox" name="include_feedback" value="1" checked="checked"><%= str.export_inlcude_feedback %></label></p>
<p><button class="btn btn-primary" data-call="exportGrades"><%= str.download %></button></p>
