<div class="block">
<div class="inner" style="padding-bottom: 0px; position: relative;">

	<% if (parseInt(index)) { %>
		<a href="#" class="section-remove mui-remove-button" style="position: absolute; right: 0; margin-right: -15px; margin-top: -25px; display: none;"></a>
	<% } %>

	<% if (can_edit) { %>
	  <span class="pull-right hide_in_edit_mode noprint">

<% if (parseInt(index)) { %>
	  <ul class="nav nav-pills" style="display: inline-block; vertical-align: middle; margin-bottom: 0px;"><li class="dropdown">
		  <a class="dropdown-toggle ignored_link" data-toggle="dropdown" href="#"><%= str.position %> <b class="caret"></b></a>
		  <ul class="dropdown-menu" style="max-width: 170px; overflow: hidden;" role="menu" aria-labelledby="dLabel">
<% _.each(allSections, function (sec, idx) { if (idx) { %>
	<% if (idx == index) { %>
			<li style="padding: 3px 20px; white-space: nowrap;"><%= idx + " - " + str.current %></li>
	<% } else { %>
			<li><a href="#" data-call="changeSectionIndex" data-index="<%= idx %>"><%= idx + " - " + sec.name %></a></li>
	<% } %>
<% }}); %>
		  </ul>
	  </li></ul>
<% } %>
<% if (parseInt(index)) { %>
	<input type="checkbox" data-call="togglePublished"<% if (data.visible) print(" checked"); %> data-toggle="toggle" data-on="<%= str.label_published %>" data-off="<%= str.label_unpublished %>">
<% } %>
	<button class="btn btn-primary" data-call="editMode"><i class="fa fa-pencil" style="color: white"></i> <%= str.edit %></button>
	</span>
	<% } %>

	<h3 class="sectionname block-title" >
		<% if (parseInt(index)) { %>
			<div><span class="editable livevalidation" data-placeholder="<%= str.label_description %>" style="display: block; margin-right: 150px; min-height: 40px;" data-field="sections|<%= cid %>|name"><%= data.name %></span></div>
		<% } else { %>
			<div style="min-height: 40px;"><span><%= str.overview_content %></span></div>
		<% } %>
	</h3>
	<div class="summary" <% (! parseInt(index)) ? ' style="padding-top:30px"' : '' %>>
		<div class="no-overflow editable multiline richtext" data-field="sections|<%= cid %>|summary" placeholder="<%=str.add_instructions %>"><%= data.summary %></div>
	</div>
	<div style="padding-top: 20px" id="section-<%= data.id %>-attachments"></div>
</div>

	<% if (!parseInt(index) && course instanceof Object) { %>
	<div class="block-bottom" style="line-height: normal;">
		<% if (course.derivedfrom_code) { %>
		<div class="hbox middle">
		<a rel="license" href="http://creativecommons.org/licenses/by/4.0/" class="ignored_link noshrink mr" target="_blank"><img alt="Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
		<div>
		 <%= str.label_licence_cc_derivative.replace("$COURSENAME", "<a href=\"/" + course.derivedfrom_code + "\" target=\"_blank\" class=\"ignored_link\">" + course.derivedfrom_name + "</a>") %>
		</div>
		</div>
		<% } else if (course.licence == 2) { %>
		<div class="hbox middle">
		<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" class="ignored_link noshrink mr" target="_blank"><img alt="Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
		<div>
		 <%= str.label_licence_cc %><br>
		 <%= str.label_licence_cc_info %>
		</div>
		</div>
		<% } else if (course.teacher_name) { %>
		<%= str.label_licence_nonfree.replace("$INSTRUCTOR", course.teacher_name) %>
		<% } %>

           <% if ((typeof extcourse !== 'undefined') && extcourse) { %>
              <div id="ext-course">
                <button class="btn btn-primary" data-call="goToExtCourse">Access course from <%= extprovider %></button>
              </div>
           <% } %>
	</div>
	<% } %>
</div>

<div id="course-section-task-block"></div>
