<% for (var i=0; i<tasks.length; i++) { %>
<div class="block" style="position: relative;">
<% if (edit_mode) { %>
 <div class="mui-remove-button" style="position: absolute; right: 0px; top: 0px;" data-call="unlinkTask" data-taskid="<%= tasks[i].id %>"></div>
<% } %>
 <div class="inner" style="padding-bottom: 10px; cursor: pointer;" data-call="openTask" data-taskmod="<%= tasks[i].modname %>" data-taskid="<%= tasks[i].id %>">
  <h3 class="block-title hbox middle" style="border-bottom: unset; margin: 0px; padding: 0px;">
	<span class="expand"><%= tasks[i].name %></span>
	<i class="noshrink fa <%= (tasks[i].modname == "quiz" ? "fa-tasks" : "fa-file-text-o") %>"></i>
  </h3></div>
 <div class="block-bottom" style="text-align: right;"><%= (tasks[i].duedate ? str.label_duedate + " " + moment(tasks[i].duedate).format("lll") + " (" + moment(tasks[i].duedate).fromNow() + ")" : str.no_due_date) %></div>
</div>
<% } %>
