<div class="block"><div class="inner">
 <div class="block-header mb">
	<h3><%= str.label_course_details %></h3>
 </div>

<div class="hbox stretch">
<div class="expand" style="margin-right: 15px;">

 <div class="hbox middle mb wrap">
	<div class="llabel"><%= str.label_course_type %>:</div>
	<div class="btn-group" data-toggle="buttons-radio">
	 <button type="button" data-call="deliveryChanged" data-type="1" class="btn<% if (!course.completed && !startdate) { print(" active"); } %>"><%= str.self_paced %></button>
	 <button type="button" data-call="deliveryChanged" data-type="2" class="btn<% if (!course.completed && startdate) { print(" active"); } %>"><%= str.time_driven %></button>
<% if (!course.wizard_mode && !course.from_import) { %>
	 <button type="button" data-call="deliveryChanged" data-type="3" class="btn<% if (course.completed) { print(" active"); } %>"><%= str.completed %></button>
<% } %>
	</div>
 </div>

 <div class="well mb" style="padding: 10px;">
<% if (!course.completed && startdate) { %>
	<div class="hbox middle mbs" style="margin-left: -11px;">
	<div class="llabel"><%= str.label_course_startdate %>:</div>
	<div class="input-append mr nomb">
	 <input class="input-small" id="course-start-date-input" type="text" value="<%= startdate %>">
	 <span class="add-on" onclick="javascript:$('#course-start-date-input').datepicker('show');"><i class="fa fa-calendar"></i></span>
	</div>
	</div>
	<div class="hbox middle" style="margin-left: -11px;">
	<div class="llabel"><%= str.label_course_completiondate %>:</div>
	<div class="input-append nomb">
	 <input class="input-small" id="course-end-date-input" type="text" value="<%= enddate %>">
	 <span class="add-on" onclick="javascript:$('#course-end-date-input').datepicker('show');"><i class="fa fa-calendar"></i></span>
	</div>
	</div>
<% } else if (!course.completed && !startdate) { %>
	<div><%= str.self_paced_description %></div>
<% } else { %>
	<div>
	 <div><%= str.completed_description %> <%= str.completed_description_delete %> <a href="#" data-call="deleteCourse"><%= str.button_delete_course %></a>.</div>
	</div>
<% } %>
 </div>

 <div class="hbox middle mb">
	<div class="llabel"><%= str.course_category %>:</div>
	<select id="listCategory" data-field="category" class="input-large nomb">
	<% _.each(categories, function (cat) { %>
		<option value="<%= cat.id %>"<% if (cat.id == course.category) { %> selected="selected"<% } %>><%= cat.name %></option>
	<% }) %>
	</select>
 </div>

 <div class="hbox middle mb">
	<div class="llabel"><%= str.course_language %>:</div>
	<select class="nomb" data-field="language">
	 <option value=""><%= str.select_language %></option>
<% _.each(languages, function (lang) { %>
	 <option value="<%= lang.key %>"<% if (course.language == lang.key) { print(" selected=\"selected\""); } %>><%= lang.value %></option>
<% }); %>
	</select>
 </div>

 <div class="hbox middle mb">
	<div class="llabel"><%= str.course_keywords %>:</div>
	 <input type="text" class="input-xlarge mr nomb" placeholder="<%= str.course_keywords_placeholder %>" data-field="keywords" value="<%= course.keywords %>">
	 <span style="cursor: pointer; font-size: 22px;" data-toggle="popover" data-content="<%= str.course_keywords_description %>" data-original-title="<%= str.course_keywords %>"><i class="fa fa-question-circle"></i></span>
 </div>

 <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
 <div class="hbox middle mb">
    <div class="llabel"><%= str.course_country %>:</div>
    <div id="course-country-multiselect">
        <span id="course-country-all"><%= str.all_countries %></span>
        <div class="btn-group" id="course-country-add">
            <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown" data-target="#"><i class="icon-plus"></i></button>
            <select class="dropdown-menu" size="5" id="course-country-select"></select>
        </div>
    </div>
 </div>
 <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<% if (teacherList.length) { %>
 <div class="hbox middle mb">
	<div class="llabel"><%= str.lead_instructor %>:</div>
	<select data-field="mainteacher" class="input-large nomb">
	<% _.each(teacherList, function (teacher) { %>
		<option value="<%= teacher.get("id") %>"<% if (course.mainteacher == teacher.get("id")) { print(" selected=\"selected\""); } %>><%= teacher.get("fullname") %></option>
	<% }) %>
	</select>
 </div>
<% } %>
</div>

<div class="expand" style="padding-left: 15px; border-left: 1px solid #C1C1C1;">
 <div>
	<div class="well" style="margin-top: 10px; padding: 10px;"><%= str.thumbnailpicture_info %></div>
	<div class="hbox end wrap">
<% if (course.coursebackgroundtn) {  %>
	 <img class="thumbnail mr noshrink" style="height: 150px; width: 267px;" id="course-thumbnail" src="<%= course.coursebackgroundtn %>">
<% } else { %>
	 <img class="thumbnail mr noshrink" style="height: 150px; width: 267px;" id="course-thumbnail" src="<%= RootDir %>app/img/stock/other-tn.jpg">
<% } %>
<% if (!course.wizard_mode && !course.from_import) { %>
	 <div>
	 	<div class="mbs" style="font-size: 12px; color: #666;"><%= str.thumbnailpicture_details %></div>
		<button data-call="uploadThumbnail" class="btn"><i class="fa fa-upload"></i> <%= str.button_upload_file %></button>
		<button data-call="resetThumbnail" class="btn"><%= str.logo_default %></button>
	 </div>
<% } %>
	</div>
 </div>
</div>
</div>

</div><div class="footer" id="course-general-settings-footer"<% if (!unsavedSettings) { print(" style=\"display: none;\""); } %>>
<button class="btn btn-primary" data-call="saveCourseSettings"><%= str.button_update %></button>

</div></div>
