<div class="hbox">

<div class="block expand" style="position: relative; margin-right: 10px;">
   <div class="inner">
      <div class="hbox middle block-header mb">
         <h3 class="expand"><%= str.course_access %></h3>
       	 <a href="/courses/<%= course.code %>/participants" class="btn"><i class="fa fa-users"></i> <%= str.manage_manage_participants %></a>
      </div>

	  <% if (has_students) { %>
      <label class="radio" style="display: inline-block; vertical-align: middle; opacity: 0.6;">
		<input type="radio" disabled>
		<div><i class="fa fa-file-o"></i> <%= str.course_draft %></div>
		<div><%= str.course_draft_description %> <%=str.course_draft_remove_participants_msg %></div>
	  </label>
	  <% } else { %>
      <label class="radio">
		<input type="radio" name="course_access" value="draft"<% if (access_mode == "draft") print(" checked=\"checked\""); %>>
		<div><i class="fa fa-file-o"></i> <%= str.course_draft %></div>
		<div id="course-details-box-draft" <% if (access_mode != "draft") print(" style=\"display: none;\"") %>><%= str.course_draft_description %>.</div>
      </label>
	  <% } %>

      <label class="radio">
		<input type="radio" name="course_access" value="public_free"<% if (access_mode == "public_free") print(" checked=\"checked\""); %>>
		<div><i class="fa fa-globe"></i> <%= str.course_public %>
			<% if (course.course_privacy == 1 && course.course_access == 3 && course.course_price == 0) { %>
			(<a href="<%= CatalogUrl %>/catalog/product/view/sku/<%= course.code %>"><%= str.label_view_public_page %></a>)
			<% } %>
		</div>
		<div id="course-details-box-public_free" <% if (access_mode != "public_free") print(" style=\"display: none;\"") %>><%= str.course_public_free_description %>. <%= str.course_public_comply_description.replace("{", "<a href=\"" + EliademyUrl + "/terms\">").replace("}", "</a>") %>.</div>
      </label>

      <label class="radio">
		<input type="radio" name="course_access" value="public_paid"<% if (access_mode == "public_paid") print(" checked=\"checked\""); %>>
		<div><i class="fa fa-credit-card"></i> <%= str.course_paid %>
			<% if (course.course_privacy == 1 && course.course_access == 3 && course.course_price > 0) { %>
			(<a href="<%= CatalogUrl %>/catalog/product/view/sku/<%= course.code %>"><%= str.label_view_public_page %></a>)
			<% } %>
		</div>
		<div id="course-details-box-payment"<% if (access_mode != "public_paid") print("style=\"display: none;\"") %>><%= str.course_public_paid_description %> <input type="text" class="input-mini inputfield" id="course-price-input" value="<%= course.course_price %>"> <%= str.course_public_fee %>.
			<% if (course.cohortid == 0) { %>
				<%= str.course_public_fee_description %>:
			<% } else { %>
				<!-- Replace 70 with 90 for premium users -->
				<%= str.course_public_fee_description.replace("7", "9") %>:
			<% } %>

			<% if (course.course_paypal_account) { %>
			<strong><%= course.course_paypal_account %></strong> (<a href="#" data-call="linkPaypal"><%= str.label_change_account %></a>)
			<% } else { %>
			<button class="btn" data-call="linkPaypal"><i class="fa fa-paypal"></i> <%= str.label_link_paypal %></button>
			<% } %>
		 	<div style="margin-top: 5px;"><i class="fa fa-youtube-play"></i> <a class="ignored_link" data-utils="popup-youtube" href="https://www.youtube.com/watch?v=va8eVh0ld4E"><%= str.tutorial_video_sellcourses %></a></div>
		</div>
      </label>

      <label class="radio">
		<input type="radio" name="course_access" value="public_invites_only"<% if (access_mode == "public_invites_only") print(" checked=\"checked\""); %>>
		<div>
		<div><i class="fa fa-lock"></i> <%= str.course_inviteonly %> 
			<% if (course.course_privacy == 1 && course.course_access == 2) { %>
			(<a href="<%= CatalogUrl %>/catalog/product/view/sku/<%= course.code %>"><%= str.label_view_public_page %></a>)
			<% } %>
		</div>
		<div id="course-details-box-public_invites_only" <% if (access_mode != "public_invites_only") print(" style=\"display: none;\"") %>><%= str.course_public_invite_only_description %>. </div>
		</div>
      </label>

	  <% if (cohort_course) { %>
      <label class="radio">
		<input type="radio" name="course_access" value="private"<% if (access_mode == "private") print(" checked=\"checked\""); %>>
		<div><span class="fa-stack" style="width: 1em; height: 1em; line-height: 1em;"><i class="fa fa-circle fa-stack-1x"></i><i class="fa fa-lock fa-stack-1x fa-inverse" style="font-size: 0.7em;"></i></span> <%= str.course_private %></div>
		<div id="course-details-box-private" <% if (access_mode != "private") print(" style=\"display: none;\"") %>><%= str.course_private_description %>. </div>
      </label>
	  <% } else { %>
      <label class="radio">
		<input type="radio" disabled>
		<div><span class="fa-stack" style="width: 1em; height: 1em; line-height: 1em;"><i class="fa fa-circle fa-stack-1x"></i><i class="fa fa-lock fa-stack-1x fa-inverse" style="font-size: 0.7em;"></i></span> <%= str.course_private %></div>
		<div id="course-details-box-private" <% if (access_mode != "private") print(" style=\"display: none;\"") %>><%= str.course_private_description %>. </div>
		<div class="well" style="padding: 8px;">
			<div class="mbs"><%= str.pro_course_pricacy_label.replace("{", "<a href=\"" + EliademyUrl + "/go-premium\">").replace("}", "</a>") %>.</div>
		</div>
      </label>
	  <% } %>

 </div>
 <div class="footer" id="course-access-settings-footer"<% if (!unsavedSettings || (course.course_privacy == 2 && !course.cohortid)) { print(" style=\"display: none;\""); } %>>
	<button class="btn btn-primary" data-call="saveAccessSettings"><%= str.button_update %></button>
 </div>
</div>

<div class="block expand" style="margin-left: 10px;"><div class="inner">
 <div class="block-header mb">
	<h3><%= str.label_course_licence %></h3>
 </div>
<% if (course.derivedfrom_code) { %>
 <label class="radio" style="display: inline-block; vertical-align: middle; opacity: 0.6;">
	<input type="radio" disabled>
	<%= str.label_licence_nonfree.replace("$INSTRUCTOR", instructor) %>
 </label>

 <label class="radio" style="display: inline-block; vertical-align: middle; opacity: 0.6;">
	<input type="radio" disabled>
	<%= str.label_licence_cc %>
	<div class="hbox middle">
	<a rel="license" href="http://creativecommons.org/licenses/by/4.0/" class="ignored_link noshrink mr" target="_blank"><img alt="Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
	<span><%= str.label_licence_cc_info %></span>
	</div>
 </label>

 <label class="radio" style="display: inline-block; vertical-align: middle;">
	<input type="radio" checked="checked">
	<%= str.label_licence_cc_derivative.replace("$COURSENAME", "<a href=\"/" + course.derivedfrom_code + "\" target=\"_blank\" class=\"ignored_link\">" + course.derivedfrom_name + "</a>") %>
 </label>
<% } else { %>
 <label class="radio" style="display: inline-block; vertical-align: middle;">
	<input type="radio" name="course_licence" value="1"<% if (!course.licence || course.licence == 1) print(" checked=\"checked\""); %>>
	<%= str.label_licence_nonfree.replace("$INSTRUCTOR", instructor) %>
 </label>

 <label id="course-cc-radio" class="radio" style="display: inline-block; vertical-align: middle;">
	<input type="radio" name="course_licence" value="2"<% if (course.licence == 2) print(" checked=\"checked\""); %>>
	<%= str.label_licence_cc %>
	<div class="hbox middle">
	<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" class="ignored_link noshrink mr" target="_blank"><img alt="Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
	<span><%= str.label_licence_cc_info %></span>
	</div>
 </label>

 <div id="course-no-cc-info" class="well" style="padding: 10px; display: none;"><%= str.label_licence_cc_limiatation %></div>
<% } %>

</div>

 <div class="footer" id="course-licence-settings-footer"<% if (!unsavedSettings) { print(" style=\"display: none;\""); } %>>
	<button class="btn btn-primary" data-call="saveAccessSettings"><%= str.button_update %></button>
 </div>

</div>

<!-- If account is non-paying, show upgrade banner -->
<% if (course.cohortid == 0) { %>
<div class="block expand" style="margin-left: 10px;"><div class="inner">
 <div class="block-header mb">
	<h3><%= str.button_pro_go %></h3>
 </div>
	<div><%= str.pro_upgrade_label %></div>
	<div><i class="fa fa-check" style="color: green;"></i> <%= lstr.pro_feature0 %></div>
	<div><i class="fa fa-check" style="color: green;"></i> <%= lstr.pro_feature1 %></div>
	<div><i class="fa fa-check" style="color: green;"></i> <%= lstr.pro_feature4 %></div>
	<div><i class="fa fa-check" style="color: green;"></i> <%= lstr.pro_feature5 %></div>
	<div><i class="fa fa-check" style="color: green;"></i> <%= lstr.pro_feature2 %></div>
	<div><i class="fa fa-check" style="color: green;"></i> <%= lstr.pro_feature10 %></div>
	<div><i class="fa fa-check" style="color: green;"></i> <%= lstr.pro_feature11 %></div>
	<div><i class="fa fa-check" style="color: green;"></i> <%= lstr.pro_feature3 %></div>
	<div><i class="fa fa-check" style="color: green;"></i> <%= lstr.pro_feature6 %></div>
	<div class="alert" style="margin-top:10px;"><%= lstr.text_business_faq_a7 %></div>

	<div style="text-align: center;">
		<a href="/go-premium" class="btn btn-info btn btn-large"><%= lstr.button_learn_more %> <i class="fa fa-arrow-right" style="color: white"></i></a>
	</div>

</div>
</div>
<% } %>
<!-- show upgrade banner if cohort_status is payment failed or trial ended  -->

 
</div>
