<% for (var i=0; i<skills.length; i++) { %>
    <span class="label label-<%= (acquired.indexOf(skills[i]) === -1) ? 'info' : 'success' %> skill-label"><%= skills[i] %>
        <i style="cursor: pointer; <%= (editMode) ? '' : 'display: none;' %>" class="fa fa-times-circle" style="color: white"></i>
    </span>
<% } %>