<div class="hbox">

 <div class="expand">
  <div class="block"><div class="inner">
	<div style="text-align: center; opacity: 0.5;"><img src="<%= RootDir %>app/img/cert_demo.jpg"></div>
  </div></div>
 </div>

 <div class="noshrink catalog_column_width" style="margin-left: 20px;">
  <div class="block" style="background-color: #EEE;"><div class="inner" style="text-align: center; padding: 12px;">
  <img class="mb" src="<%= RootDir %>app/img/arrow-ne.png">
  <div><%= str.label_cert_waiting %></div>
  </div></div>
 </div>

</div>
