<div class="block" id="tasks-table">
    <div class="row-fluid">
        <div id="tasks-col1" class="span6">
            <h3 class="block-title"><%= str.tasks_to_be_done %></h3>
            <% _.each(not_done, function (task) { %>
                <% if (task.visible) { %>
                    <div class="task-block">
                        <a class="block task-name" href="/<%= ((task.modulename == "quiz") ? "quizzes" : "tasks") %>/<%= task.instanceid %>">
                            <i class="noshrink fa <%= (task.modulename == "quiz" ? "fa-tasks" : "fa-file-text-o") %>"></i>
                            <span><%= task.name %></span>
                        </a>
                    </div>
					<div class="task-subblock hbox">
					<span class="expand"></span>
					<% if (task.deadline) { %>
                        <span class="task-duedate noshrink"><%= str.label_duedate %> <%= moment(task.deadline, "X").format("lll") %> <strong>(<%= moment(task.deadline, "X").fromNow() %>)</strong></span>
					<% } else { %>
						<span class="task-duedate noshrink"><%= str.no_due_date %></span>
					<% } %>
					</div>
            <% }}) %>
            <% if (not_done.length == 0) { %>
                <div class="blue-placeholder"><%= str.there_are_no_tasks%></div>
            <% } %>
            <div class="clearfix"></div>
        </div>
        <div id="tasks-col2" class="span6">
            <h3 class="block-title"><%= str.completed_tasks %></h3>
            <% _.each(done, function (task) { %>
                <% if (task.visible) { %>
                    <div class="task-block">
                        <a class="block task-name" href="/<%= ((task.modulename == "quiz") ? "quizzes" : "tasks") %>/<%= task.instanceid %>">
                            <i class="noshrink fa <%= (task.modulename == "quiz" ? "fa-tasks" : "fa-file-text-o") %>"></i>
                            <span><%= task.name %></span>
                        </a>
                    </div>

<%
	var gradeStr = "";

if (task.modulename == "quiz")
{
	gradeStr = task.score + " " + str.quiz_results;
}
else if (task.grades && task.grades[0].grade)
{
	gradeStr = str.title_grade + " " + task.grades[0].gradestring;
}
else if (!task.nosubmissions)
{
	gradeStr = str.submitted + ". " + str.waiting_for_grade + ". ";
}

if (task.grades && task.grades[0].feedback && task.grades[0].feedback.length > 0)
{
	gradeStr += "&nbsp;<i class=\"fa fa-comment\"></i>";
}
%>

	<% if (gradeStr) { %>
					<div class="task-subblock hbox">
						<span class="expand"></span>
                        <span class="task-duedate noshrink"><%= gradeStr %></span>
					</div>
	<% } %>

            <% }}) %>
            <% if (done.length == 0) { %>
                <div class="blue-placeholder"><%= str.there_are_no_completed_tasks%></div>
            <% } %>
        </div>
        <div id="tasks-colbackground"></div>
    </div>
</div>

<div class="alert alert-note"><% print(str.live_timezone_reminder.replace("%TIMEZONE", "<a href=\"/settings\">" + timezone + "</a>")) %></div>
