<div class="hbox">

<div class="noprint noshrink sidebar_width" style="margin-right: 20px;">
<div style="position: fixed;" class="sidebar_width">
<ul class="nav nav-list custom" style="margin-top: 30px;">
 <li<% if (page == 1) { %> class="active"<% } %>><a href="/organization-details" id="details-link"><%= str.org_details %><i class="fa fa-chevron-right pull-right" style="line-height: inherit;"></i></a></li>
 <li<% if (page == 9) { %> class="active"<% } %>><a href="/public-page"><%= str.org_public_page_label %><i class="fa fa-chevron-right pull-right" style="line-height: inherit;"></i></a></li>
 <li<% if (page == 2) { %> class="active"<% } %>><a href="/user-directory" id="directory-link"><%= str.user_directory %><i class="fa fa-chevron-right pull-right" style="line-height: inherit;"></i></a></li>
 <li<% if (page == 3) { %> class="active"<% } %>><a href="/course-manager" id="courses-link"><%= str.manage_courses %><i class="fa fa-chevron-right pull-right" style="line-height: inherit;"></i></a></li>
<% /* <li<% if (page == 4) {  class="active" } ><a href="/organization-skills" id="skills-link"> str.skills <i class="fa fa-chevron-right pull-right" style="line-height: inherit;"></i></a></li> */ %>
 <li<% if (page == 5) { %> class="active"<% } %>><a href="/organization-analytics" id="analytics-link"><%= str.analytics %><i class="fa fa-chevron-right pull-right" style="line-height: inherit;"></i></a></li>
</ul>

<% if (cohort.isowner) { %>
<div style="border-top: 1px solid #DDD; border-bottom: 1px solid #EEE; margin: 15px 0px;"></div>

<ul class="nav nav-list custom" style="display:none;">
 <li<% if (page == 6) { %> class="active"<% } %>><a href="/plan-details"><%= str.link_plan_details %><i class="fa fa-chevron-right pull-right" style="line-height: inherit;"></i></a></li>
<% if (cohort.company_status != 3) { %>
 <li<% if (page == 7) { %> class="active"<% } %>><a href="/payment-method"><%= str.label_billing_details %><i class="fa fa-chevron-right pull-right" style="line-height: inherit;"></i></a></li>
<% } %>
<% if (cohort.last_inv_date) { %>
 <li<% if (page == 8) { %> class="active"<% } %>><a href="/invoices"><%= str.label_invoices %><i class="fa fa-chevron-right pull-right" style="line-height: inherit;"></i></a></li>
<% } %>
</ul>

<% } %>

</div>
</div>

<div class="expand">
 <div id="admin-page-base" style="margin-top: 30px"></div>
</div>

</div>
