<label style="display: inline-block;">
<span style="position: relative; top: -5px;"><%= str.select_course %>:</span>
<select id="activity-course-selector" class="input-xlarge">
 <option value="0"><%= str.all %></option>
<% for (var i=0; i<data.courses.length; i++) { %>
 <option value="<% print(i + 1) %>"><%= data.courses[i] %></option>
<% } %>
</select>
</label>

<div id="graph1" style="height: <%= height %>px"></div>
