<label style="display: inline-block;">
<span style="position: relative; top: -5px;"><%= str.select_period %>:</span>
<input id="activity-period-selector" type="text" value="<%= data.current_month %>" class="input-small">
</label>

<div id="graph1" style="height: 400px;"></div>
