<div style="position: relative;">
<% if (disabled_message) { %>
<div class="well disablebanner" style="text-align: center;">
 <h3><%= str[disabled_message] %></h3>
 <a href="/plan-details" class="btn dialog_reject"><%= str.learn_more %></a>
</div>
<div class="disablebox"></div>
<% } %>

<% if (!fromDialog) { %>
<div class="block">
  <div class="inner">
    <h3 class="block-title">
        <span><%= str.manage_courses %></span>
    </h3>
<% } %>

<table id="admin-manage-courses-table">
    <tr>
        <% if (! fromDialog) { %>
            <th style="text-align: left; width: 31%;"><%= str.courses %></th>
            <th style="width: 1%">&nbsp;</th>
        <% } %>
        <th style="text-align: left; width: 31%;"><%= str.participants %></th>
        <th style="width: 6%">&nbsp;</th>
        <th style="text-align: left; width: 31%;"><%= str.user_directory %></th>
    </tr>
    <tr>
        <% if (! fromDialog) { %>
            <td>
				<div class="hbox middle"><span class="noshrink"><%= str.course_access %>: &nbsp;</span>
				<select id="admin-course-type-select" class="expand" style="margin-bottom: 0px; width: auto;">
				<option value="0"><%= str.all %></option>
				<option value="1"><%= str.course_public %></option>
				<option value="2"><%= str.course_private %></option>
				</select></div>
			</td>
            <td>&nbsp;</td>
        <% } %>
            <td><div class="hbox middle"><span class="noshrink"><%= str.label_role %>: &nbsp;</span>
                <select id="admin-course-user-role" class="expand" style="margin-bottom: 0px; width: auto;">
                <option value="student"><%= str.role_student %></option>
                <option value="editingteacher"><%= str.label_teacher %></option>
                <option value="manager"><%= str.label_org_observer %></option>
                </select></div>
            </td>       
        <td>&nbsp;</td>
        <td>
            <% if (! fromDialog) { %>
				<div class="hbox middle"><span class="noshrink"><%= str.group %>: &nbsp;</span>
				<select id="admin-course-user-group-select" class="expand" style="margin-bottom: 0px; width: auto;">
				<option value="0"><%= str.all_users %></option>
				<option value="-1"><%= str.users_with_licence %></option>
				<option value="-3"><%= str.user_directory_int %></option>
				<option disabled>──────────</option>
				<% for (var i=0; i<userTags.length; i++) { %>
					<option value="<%= userTags[i].id %>"><%= userTags[i].name %></option>
				<% } %>
				<option disabled>──────────</option>
				<option value="-2"><%= str.users_without_group %></option>
				</select></div>
            <% } else { %>
                &nbsp;
            <% } %>
        </td>
    </tr>
    <tr>
        <% if (! fromDialog) { %>
            <td>
                <div class="input-append" style="margin: 4px 0px;">
                    <input type="text" id="admin-course-filter-input">
                    <span class="add-on"><i class="fa fa-search"></i></span>
                </div>
            </td>
            <td>&nbsp;</td>
        <% } %>
        <td>
            <div class="input-append" style="margin: 4px 0px;">
                <input type="text" id="admin-student-filter-input">
                <span class="add-on"><i class="fa fa-search"></i></span>
            </div>
        </td>
        <td>&nbsp;</td>
        <td>
            <div class="input-append" style="margin: 4px 0px;">
                <input type="text" id="admin-user-filter-input">
                <span class="add-on"><i class="fa fa-search"></i></span>
            </div>
        </td>
    </tr>
    <tr>
        <% if (! fromDialog) { %>
            <td><select style="width: 100%; height: 350px;" id="admin-course-list" size="2">
                <% _.each(courses, function (course) { %>
                <option value="<%= course.id %>"><%= course.fullname %></option>
                <% }); %>
            </select></td>
            <td>&nbsp;</td>
        <% } %>
        <td><select multiple="multiple" style="width: 100%; height: 350px;" id="admin-course-user-list"></select></td>
        <td style="text-align: center;">
            <div><button class="btn" id="admin-add-course-user-btn" disabled="disabled"><i class="fa fa-chevron-left"></i></button></div>
            <div style="margin-top: 5px;"><button class="btn" id="admin-remove-course-user-btn" disabled="disabled"><i class="fa fa-chevron-right"></i></button></div>
        </td>
        <td><select multiple="multiple" style="width: 100%; height: 350px;" id="admin-user-list">
            <% _.each(users, function (user) { %>
            <option value="<%= user.id %>"><%= user.firstname %> <%= user.lastname %></option>
            <% }); %>
        </select></td>
    </tr>
</table>

<div class="alert alert-note" style="margin-bottom: 0px;"><%= str.enroll_groups_message %></div>
<% if (! fromDialog) { %>
</div>

<div class="footer hbox middle">
	<a href="/courses/wizard" class="btn btn-primary mrs"><i class="fa fa-plus" style="color: white"></i>&nbsp;<%= str.button_start_new_course %></a>
	<a href="#" class="btn mrs" disabled data-call="openCurrentCourse" data-course-action-btn><%= str.button_open_course %></a>
	<a href="#" class="btn" disabled data-call="reuseCurrentCourse" data-course-action-btn><%= str.button_reuse_course %></a>
</div>

</div>
<% } %>

</div>
