<div class="block" style="padding: 10px 30px;">
 <h3 class="block-title"><%= str.label_invoices %></h3>

<table style="width: 100%;">

<tr>
 <th><%= str.label_invoice_num %></th>
 <th><%= str.date %></th>
 <th><%= str.label_total %></th>
 <th style="width: 30%;"><%= str.label_status %></th>
 <th class="noprint"><%= str.label_action %></th>
</tr>

<% for (var i=0; i<invoices.length; i++) { %>
<tr>
 <td><%= invoices[i].invoicenum %></td>
 <td><%= moment.unix(invoices[i].timeissued).format("LL") %></td>
 <td style="text-align: right;">&euro;<%= invoices[i].totalprice.toFixed(2) %></td>
 <td style="text-align: center;"><%= (invoices[i].paymentstatus = 2 ? str.label_status_paid : str.label_status_not_paid) %></td>
 <td style="text-align: center;" class="noprint">
  <a href="/invoices/<%= invoices[i].id %>" class="btn"><%= str.view %></a>
  <a href="/invoices/<%= invoices[i].id %>/print" class="btn"><i class="fa fa-print"></i> <%= str.label_print %></a>
 </td>
</tr>
<% } %>

</table>

</div>
