<div class="block noprint hbox middle" style="padding: 10px 30px;">
 <h1 class="noshrink blue-header" style="font-size: 18pt; line-height: normal; padding: 0px; margin: 0px;"><%= str.label_invoice %> #<%= invoice.invoicenum %></h1>
 <div class="expand"></div>
 <a class="btn ignored_link noshrink" href="#" onclick="window.print(); return false;"><i class="fa fa-print"></i> <%= str.label_print %></a>
</div>

<div class="block" style="padding: 30px;">

<div class="hbox">
 <div class="expand">
  <img src="/img/logo-eliademy-header-black.png" style="height: 30px;"><br>
 </div>
 <div class="expand"></div>
 <div class="expand">
  <div>CBTec Oy</div>
  <div>Hiilikatu 3</div>
  <div>00180 Helsinki</div>
  <div><%= countries["FI"] %></div>
  <div><%= str.label_vat_id %>: FI24577197</div>
 </div>
</div>

<div class="hbox" style="margin-top: 20px;">
 <div class="expand">
  <div style="font-weight: bold;"><%= str.label_cutomer_details %></div>
  <% if (billing_details.company_name) { %><div><%= billing_details.company_name %></div><% } %>
  <% if (billing_details.vat_id) { %><div><%= str.label_vat_id %>: <%= billing_details.vat_id %></div><% } %>
  <% if (billing_details.address) { %><div><%= billing_details.address %></div><% } %>
  <% if (billing_details.city) { %><div><%= billing_details.city %></div><% } %>
  <% if (billing_details.state) { %><div><%= billing_details.style %></div><% } %>
  <% if (billing_details.zip) { %><div><%= billing_details.zip %></div><% } %>
  <% if (billing_details.country) { %><div><%= countries[billing_details.country] %></div><% } %>
 </div>
 <div class="expand"></div>
 <div class="expand">
  <div style="font-weight: bold;"><%= str.label_details %></div>
  <table cellspacing="10">
   <tr><td><%= str.label_invoice_num %>:</td><td><%= invoice.invoicenum %></td></tr>
   <tr><td><%= str.date %>:</td><td><%= moment.unix(invoice.timeissued).format("LL") %></td></tr>
<!--    <tr><td><%= str.label_invoice_due %>:</td><td><%= str.label_invoice_due_immediately %></td></tr> -->
<!--    <tr><td><%= str.label_total %>:</td><td>&euro;<%= invoice.totalprice.toFixed(2) %></td></tr> -->
   <tr><td><%= str.label_status %>:</td><td><%= invoice.paymentstatus == 2 ? str.label_status_paid : str.label_status_not_paid %></td></tr>
  </table>
 </div>
</div>

<table style="border-top: 1px solid #000; margin-top: 20px; width: 100%;">

<% if (invoice.entries instanceof Array && invoice.entries.length > 0) { %>
<tr style="border-bottom: 1px solid #000;">
 <th style="width: 24%; text-align: left;"><%= str.label_description %></th>
 <th style="text-align: left;"><%= str.label_interval %></th>
 <th style="text-align: right;"><%= str.label_quantity %></th>
 <th style="text-align: right;"><%= str.label_unit_price %></th>
 <th style="text-align: right;"><%= str.label_amount %> (&euro;)</th>
</tr>

<% for (var i=0; i<invoice.entries.length; i++) { %>

<tr style="border-bottom: 1px solid #000;">
 <td><%
switch (invoice.entries[i].usertype) {
	case 1:
		print(str.label_account_owner);
		break;

	case 2:
		print(str.label_admins);
		break;

	case 3:
		print(str.label_private_users);
		break;
}
 %></td>
 <td style="text-align: left;"><%= moment.unix(invoice.entries[i].datefrom).format("LL") %> - <%= moment.unix(invoice.entries[i].dateto).format("LL") %></td>
 <td style="text-align: right;"><%= invoice.entries[i].quantity %></td>
 <td style="text-align: right;"><%= invoice.entries[i].unitprice.toFixed(2) %></td>
 <td style="text-align: right;"><%= invoice.entries[i].totalprice.toFixed(2) %></td>
</tr>

<% } %>
<% } else { %>

<tr style="border-bottom: 1px solid #000;">
 <th style="width: 64%; text-align: left;"><%= str.label_description %></th>
 <th style="text-align: right;"><%= str.label_quantity %></th>
 <th style="text-align: right;"><%= str.label_unit_price %></th>
 <th style="text-align: right;"><%= str.label_amount %> (&euro;)</th>
</tr>
<tr style="border-bottom: 1px solid #000;">
 <td><%= description %></td>
 <td style="text-align: right;"><%= invoice.quantity %></td>
 <td style="text-align: right;"><%= invoice.unitprice.toFixed(2) %></td>
 <td style="text-align: right;"><%= (invoice.unitprice * invoice.quantity).toFixed(2) %></td>
</tr>

<% } %>

<tr><td colspan="3" style="text-align: right;"><%= str.label_subtotal %>:</td><td style="text-align: right;">&euro; <%= (invoice.unitprice * invoice.quantity).toFixed(2) %></td></tr>
<tr><td colspan="3" style="text-align: right;"><%= str.label_vat %>:</td><td style="text-align: right;">&euro; <%= invoice.totaltax.toFixed(2) %></td></tr>
<tr><td colspan="3" style="text-align: right;"><%= str.label_order_total %>:</td><td style="text-align: right; font-weight: bold;">&euro; <%= invoice.totalprice.toFixed(2) %></td></tr>
</table>

</div>
