<div class="row-fluid">
	<div class="span12">
		<a href="#" class="back-button ignored_link" onclick="history.go(-1);return false"><i class="fa fa-chevron-left"></i> <%= str.button_back %></a>
	
		<div id="course_page_header" class="block row-fluid">
		    <div class="span12 course-edit-row-top">
	            <div id="course-background" class="span8 carousel slide panel-left" data-interval="false">                    
				</div>
				<div id="course-information" class="span4 panel-right">
					<div class="course-logo">
						<img id="course-logo-img" src=""/>
					</div>
					<div class="teacher-information">
                            <a href=#"" class="teacher-profile ignore_link">
                                <img width="32" height="32" class="userpicture teacher-image" alt="<%= course.teacher_name%>" src="<%= course.teacher_avatar %>">
                                <span class="teacher-detail">
                                    <span class="teacher-name"><%= course.teacher_name%></span><br/>
                                    <span class="teacher-title"><%= course.teacher_title %></span>
                                </span>
                            </a>
                    </div>
					<div class="rating-information">
    					<span style="color:#4189DD; font-size:12px; float: left;">
    						<i style="float: left; margin-right: 4px; line-height: inherit;" class="fa fa-users"></i>
                            <% if (typeof course.participants === "number") { %>
    						    <%= course.participants %>
                            <% } else { %>
                                <%= course.participants.length %>
                            <% } %>
    					</span>


					</div>
				</div>
			</div>

			<div class="span12 course-edit-row">
				<div class="panel-left span8">
					<div style="min-height: 30px;" class="editable inputfield livevalidation full-name caption" id="input-course-fullname" data-field="fullname" data-placeholder="<%= str.wiz_label_title %>"><%= course.fullname %></div>
                    <span id="fullname-helpblock" class="help-block"></span>
				</div>
				<div class="panel-right span4">
                    <% if (course.completed) { %>
                    <div class="label label-warning"><%= str.completed %></div>
                    <% } %>
                	<div id="course-settings" style="float: right; margin-right: -20px; margin-top: 18px; padding: 0px;" class="course-edit-row container-category-selection">
                      <select id="listCategory" style="vertical-align: top;" class="input-large inputfield">
                        <% _.each(categories, function (cat) { %>
                        <option value="<%= cat.id %>"><%= cat.name %></option>
                        <% }) %>
                      </select>
                	</div>
                                        <div style="text-align:center;margin-top:10px;">
                                        <% if (!course.completed) { %>
                                            <a href="/invitation/<%= course.invitecode %>" class="btn btn-success" ><%= str.button_enroll %></a>
                                        <% } %>
                	                </div>
					<span id="shortname-helpblock" class="help-block"></span>
                </div>
		 	</div>
		</div>
		<div class="block-shadow"></div>
		
		<div id="content-box" class="fade">
			<div class="course-content">		
                            <div class="weeks" style="padding: 0px" id="course-section-list">
                               <div id="section-overview" class="section main clearfix"></div>
			    </div>
			</div>
		</div>
		
	</div>
</div>
