<div class="block" style="padding: 10px 30px;">
 <h3 class="block-title hbox middle">
  <span class="expand"><%= str.label_billing_details %></span>
  <button class="btn btn-primary disabled" id="payment_method_save_button" data-call="updateDetailsClicked"><%= str.button_update %></button>
 </h3>

 <div class="hbox">
  <div class="expand vbox" id="billing_details">
	<label><%= str.org_name %></label>
	<input type="text" name="company_name" value="<%= details.company_name %>">
	<label><%= str.label_vat_id %> (<%= str.label_if_applicable %>)</label>
	<input type="text" name="vat_id" value="<%= details.vat_id %>">
	<label><%= str.label_address %></label>
	<input type="text" name="address" value="<%= details.address %>">
	<label><%= str.city %></label>
	<input type="text" name="city" value="<%= details.city %>">
	<div class="hbox spread" style="width: 220px;">
	<div>
	 <label><%= str.state %></label>
	 <input type="text" name="state" value="<%= details.state %>" class="input-small">
	</div>
	<div>
	 <label><%= str.zip %></label>
	 <input type="text" name="zip" value="<%= details.zip %>" class="input-small">
	</div>
	</div>
	<label><%= str.country %></label>
	<select name="country">
	<% for (var i=0; i<countries.length; i++) { %>
	 <option value="<%= countries[i].key %>"<% if (countries[i].key == details.country) { %> selected="selected"<% } %>><%= countries[i].value %></option>
	<% } %>
	</select>
  </div>

  <div class="expand">
	<label><%= str.link_payment_method %></label>
	<img src="<%= EliademyUrl %>/img/logo-creditcards.png">
	<form id="payment_method_form" style="margin-top: 20px;">
	 <div id="payment_form"></div>
	 <input type="submit" id="payment_form_submit" style="display: none;">
	</form>
  </div>
 </div>
</div>
