<div class="block" style="padding: 10px 30px;">
 <h3 class="block-title"><%= str.link_plan_details %></h3>

<% if (cohort.company_status == 1 || cohort.company_status == 5 || cohort.company_status == 6) { /* DEMO/pending NGO/demo expired */ %>

<div class="hbox" style="padding: 20px 0px; margin: 20px 0px;">
  <div class="expand" style="text-align: center; border-right: 1px solid silver;">
    <h4 style="font-size: 24px;"><%= str.current_users %></h4>
    <h1 style="font-size: 46px;"><%= cohort.activeusercount + cohort.externalusers %></h1>
    <div><a href="/user-directory" class="btn"><%= str.manage_users %></a></div>
  </div>
  <div class="expand" style="text-align: center; border-right: 1px solid silver;">
    <h4 style="font-size: 24px;"><%= str.label_free_days_left %></h4>
    <h1 style="font-size: 46px;"><% var days = Math.ceil(moment.duration(cohort.demo_period_end - moment().format("X"), "seconds").asDays()); print(days > 0 ? days : 0); %></h1>
    <div style="color: gray;"><%= str.label_ends_on %> <%= moment.unix(cohort.demo_period_end).format("LL") %></div>
  </div>
  <div class="expand" style="text-align: center;">
    <h4 style="font-size: 24px;"><%= str.label_monthly_estimate %></h4>
    <h1 style="font-size: 46px;"><%= str.trial %></h1>
    <div style="color: gray;"><%= str.label_price_after_trial %> 5&euro;/<%= lstr.text_pricing_per_mo %></div>
    <div style="color: gray;">+1&euro; <%= lstr.text_cost_month_per_user %></div>
 </div>
</div>

<% if (cohort.company_status == 5) { %>
<div class="well" style="text-align: center;"><h4><%= str.ngo_application_pending %></h4></div>
<% } else { %>

<% if (cohort.company_status == 6) { %>
<div class="well">
 <h3><%= str.label_trial_expired %></h3>
 <p><%= str.label_trial_expired_message %></p>
</div>
<% } %>

<div class="hbox">
 <div class="expand well">
  <h3><%= str.link_payment_method %></h3>
  <p><%= str.fill_billing_details %> <%= str.fill_billing_details_invoice_option %></p>
  <a href="/payment-method" class="btn btn-success"><%= str.button_add_billing %></a>
 </div>
 <div style="width: 20px;"></div>
 <div class="expand well">
  <h3><%= str.apply_for_ngo_title %></h3>
  <p><%= lstr.text_business_faq_a7 %> <%= str.apply_for_ngo_instructions %></p>
<!--   <a href="" data-call="applyNgo" class="btn btn-success"><%= str.button_apply_ngo %></a> -->

<!--   <a href="" data-call="applyNgo" class="btn btn-success"><%= str.button_apply_ngo %></a> -->


 </div>
</div>
<% } %>

</div>
<% } else if (cohort.company_status == 2 || cohort.company_status == 4 || cohort.company_status == 7) { /* Regular paying user / suspended user */ %>

<div class="hbox" style="padding: 20px 0px; margin: 20px 0px;">
  <div class="expand" style="text-align: center; border-right: 1px solid silver;">
    <h4 style="font-size: 24px;"><%= str.current_users %></h4>
    <h1 style="font-size: 46px;"><%= cohort.activeusercount + cohort.externalusers %></h1>
    <div><a href="/user-directory" class="btn"><%= str.manage_users %></a></div>
  </div>
  <div class="expand" style="text-align: center; border-right: 1px solid silver;">
    <h4 style="font-size: 24px;"><%= str.label_cost %></h4>

    <h1 style="font-size: 46px;">5&euro;<sub>/<%= lstr.text_pricing_per_mo %></sub></h1>
    <div style="color: gray;">+1&euro; <%= lstr.text_cost_month_per_user %></div>

  </div>
  <div class="expand" style="text-align: center;">
    <h4 style="font-size: 24px;"><%= str.label_monthly_estimate %></h4>
    <h1 style="font-size: 46px;">&euro;<% var sum = 4 + (cohort.activeusercount + cohort.externalusers) - cohort.licences; print(sum > 0 ? sum : 0); %></h1>
    <div style="color: gray;"><%= str.label_next_billing %> <%= moment.unix(cohort.next_billing).format("LL") %></div>
 </div>
</div>

<% if (cohort.company_status == 7) { %>
<div class="alert">
 <h3 style="margin: 0px;"><%= str.label_pro_payment_failed %></h3>
 <div><%= str.label_pro_payment_failed_msg %></div>
</div>
<div style="text-align: center;">
 <a href="/payment-method" class="btn btn-primary btn-large"><%= str.link_payment_method %></a>
</div>

<% } else { %>

<% if (cohort.licences) { /* User also has annual plan! */ %>
<div class="well" style="padding: 5px 20px;">
<h3>Eliademy Premium <%= str.label_annual_prepayment %></h3>
<p><%= str.text_pro_offer_details.replace(/\$NUMBER/g, cohort.licences).replace(/\$DATE/g, moment.unix(cohort.valid_until).format("LL")) %></p>
</div>

<% } %>
<% } %>
</div>

<div class="hbox stretch">
<div class="block expand" style="margin-right: 10px; padding: 10px 30px;">
 <h3 class="block-title"><%= str.label_last_invoice %></h3>
<% if (cohort.last_inv_date) { %>
<div class="hbox">
 <span class="noshrink"><a href="/invoices/<%= cohort.last_inv_id %>"><strong># <%= cohort.last_inv_num %></strong></a>&nbsp;&nbsp;</span>
 <span class="expand"><%= moment.unix(cohort.last_inv_date).format("LL") %></span>
 <span class="noshrink" style="text-align: right;">&euro;<%= cohort.last_inv_sum.toFixed(2) %></span>
</div>
<div style="margin-top: 10px;">
 <a href="/invoices"><%= str.label_see_all_invoices %></a>
</div>
<% } else { %>
<h3 style="text-align: center; padding: 30px 0px;"><%= str.label_no_invoices %></h3>
<% } %>
</div>

<div class="block expand" style="margin-left: 10px; padding: 10px 30px;">
 <h3 class="block-title"><%= str.label_billing_details %></h3>
 <table style="width: 100%; border-spacing: 10px; border-collapse: separate;">
 <tr>
  <td style="width: 40%;"><%= str.org_name %></td>
  <td><%= billingDetails.company_name %></td>
 </tr>
 <tr>
  <td><%= str.link_payment_method %></td>
  <td id="payment_method_info" style="display: none;"><div class="hbox middle"><span class="expand"><%= str.label_not_entered %></span><a href="/payment-method"><%= str.button_update %></a></div></td>
 </tr>
 <tr>
  <td><%= str.label_billing_country %></td>
  <td><%= billingDetails.country ? billingDetails.country : str.label_not_entered %></td>
 </tr>
 </table>
</div>
</div>

<% } else if (cohort.company_status == 3) { /* NGO */ %>


<div class="hbox" style="padding: 20px 0px; margin: 20px 0px;">
  <div class="expand" style="text-align: center; border-right: 1px solid silver;">
    <h4 style="font-size: 24px;"><%= str.current_users %></h4>
    <h1 style="font-size: 46px;"><%= cohort.activeusercount + cohort.externalusers %></h1>
    <div><a href="/user-directory" class="btn"><%= str.manage_users %></a></div>
  </div>
  <div class="expand" style="text-align: center; border-right: 1px solid silver;">
    <h4 style="font-size: 24px;"><%= str.licences %></h4>
    <h1 style="font-size: 120px;">&infin;</h1>
  </div>
  <div class="expand" style="text-align: center;">
    <h4 style="font-size: 24px;"><%= str.label_monthly_estimate %></h4>
    <h1 style="font-size: 46px;"><%= str.free %></h1>
 </div>
</div>

<div class="well" style="text-align: center;"><h4><%= str.ngo_account_message %></h4></div>

</div>
<% } %>

<div class="block" style="padding: 10px 30px;">
<h3 class="block-title"><%= lstr.text_business_faq %></h3>
<div class="row-fluid"><div class="span6">
 <strong><%= lstr.text_business_faq_q1 %></strong>
 <p style="color: #777"><%= lstr.text_business_faq_a1 %></p>
 <strong><%= lstr.text_business_faq_q2 %></strong>
 <p style="color: #777"><%= lstr.text_business_faq_a2 %></p>
 <strong><%= lstr.text_business_faq_q3 %></strong>
 <p style="color: #777"><%= lstr.text_business_faq_a3 %></p>
 <strong><%= lstr.text_business_faq_q4 %></strong>
 <p style="color: #777"><%= lstr.text_business_faq_a4 %></p>
</div><div class="span6">
 <strong><%= lstr.text_business_faq_q5 %></strong>
 <p style="color: #777"><%= lstr.text_business_faq_a5 %></p>
 <strong><%= lstr.text_business_faq_q6 %></strong>
 <p style="color: #777"><%= lstr.text_business_faq_a6 %></p>
 <strong><%= lstr.text_business_faq_q7 %></strong>
 <p style="color: #777"><%= lstr.text_business_faq_a7 %></p>
 <strong><%= lstr.text_business_faq_q8 %></strong>
 <p style="color: #777"><%= lstr.text_business_faq_a8 %></p>
</div></div>
</div>
