<div class="block">
 <div style="padding: 10px 30px;">
 <h3 class="block-title">Eliademy Premium <%= str.label_annual_prepayment %></h3>

 <div class="hbox" style="padding: 20px 0px; margin: 20px 0px;">
  <div class="expand" style="text-align: center; border-right: 1px solid silver;">
	<h4 style="font-size: 24px;"><%= str.label_prepaid_licences %></h4>
	<h1 style="font-size: 46px;"><%= numlicences %></h1>
	<div style="color: gray;"><%= str.label_available_until%>: <%= validity %></div>
  </div>

  <div class="expand" style="text-align: center;">
	<h4 style="font-size: 24px;"><%= str.label_cost %></h4>
	<h1 style="font-size: 46px;">&euro;<%= price %></h1>
	<div style="color: gray;"><%= str.label_subject_vat %></div>
  </div>

 </div>

 <div class="well" style="padding: 10px 20px;">
  <h3><%= str.label_offer_details %></h3>
  <p><%= str.text_pro_offer_details.replace(/\$DATE/g, validity).replace(/\$NUMBER/g, numlicences) %></p>

 </div>

 <div class="hbox">
  <div class="expand vbox" id="pro_billing_details">
	<label><%= str.org_name %></label>
	<input type="text" name="company_name" value="<%= details.company_name %>">
	<label><%= str.label_vat_id %> (<%= str.label_if_applicable %>)</label>
	<input type="text" name="vat_id" value="<%= details.vat_id %>">
	<label><%= str.label_address %></label>
	<input type="text" name="address" value="<%= details.address %>">
	<label><%= str.city %></label>
	<input type="text" name="city" value="<%= details.city %>">
	<div class="hbox spread" style="width: 220px;">
	<div>
	 <label><%= str.state %></label>
	 <input type="text" name="state" value="<%= details.state %>" class="input-small">
	</div>
	<div>
	 <label><%= str.zip %></label>
	 <input type="text" name="zip" value="<%= details.zip %>" class="input-small">
	</div>
	</div>
	<label><%= str.country %></label>
	<select name="country">
	<% for (var i=0; i<countries.length; i++) { %>
	 <option value="<%= countries[i].key %>"<% if (countries[i].key == details.country) { %> selected="selected"<% } %>><%= countries[i].value %></option>
	<% } %>
	</select>
  </div>

  <div class="expand">
	<img src="<%= EliademyUrl %>/img/logo-creditcards.png">
	<form id="payment_method_form" style="margin-top: 20px;">
	 <div id="payment_form"></div>
	 <input type="submit" id="pro_payment_form_submit" style="display: none;">
	</form>
  </div>
 </div>


<table style="border-top: 1px solid #000; margin-top: 20px; margin-bottom: 20px; width: 100%;">
<tr style="border-bottom: 1px solid #000;">
 <th style="width: 64%; text-align: left;"><%= str.label_description %></th>
 <th style="text-align: right;"><%= str.label_available_until %></th>
 <th style="text-align: right;"><%= str.label_unit_price %></th>
</tr>
<tr style="border-bottom: 1px solid #000;">
 <td style="width: 64%; text-align: left;">Eliademy Premium <%= str.label_annual_prepayment %></td>
 <td style="text-align: right;"><%= validity %></td>
 <td style="text-align: right;">1</td>
</tr>

<tr><td colspan="2" style="text-align: right;"><%= str.label_subtotal %>:</td><td style="text-align: right;">&euro; <%= price %></td></tr>
<tr><td colspan="2" style="text-align: right;"><%= str.label_vat %>:</td><td style="text-align: right;">&euro; <span id="pro_vat_amount"></span></td></tr>
<tr><td colspan="2" style="text-align: right;"><%= str.label_order_total %>:</td><td style="text-align: right; font-weight: bold;">&euro; <span id="pro_total_price"></span></td></tr>
</table>


<!--   <table style="margin: 20px auto; font-size: 26px; width: 60%;" cellpadding="10">
   <tr>
   <td style="text-align: left; font-family:Open Sans"><%= str.label_n_licences %></td>
   <td style="text-align: right; font-family:Open Sans">&euro;<%= price %></td>
   </tr>
   <tr>
   <td style="text-align: left; font-family:Open Sans"><%= str.label_vat %></td>
   <td style="text-align: right; font-family:Open Sans">&euro;<span id="pro_vat_amount"></span></td>
   </tr>
   <tr style="border-top: 1px solid #000;">
   <td style="text-align: left; font-family:Open Sans"><%= str.label_order_total %></td>
   <td style="text-align: right; font-family:Open Sans">&euro;<span id="pro_total_price"></span></td>
   </tr>
  </table> -->


 </div>

 <div class="footer hbox middle">
  <div class="expand" style="margin-rigth: 2em;"><%= str.label_complete_purchase_legal
  	.replace(/{/, "<a href=\"https://eliademy.com/terms\" target=\"blank\">")
	.replace(/{/, "<a href=\"https://eliademy.com/privacy\" target=\"blank\">")
	.replace(/}/g, "</a>").replace(/\n/g, "<br>") %></div>

  <button class="btn btn-large btn-success" data-call="completePurchase"><%= str.label_complete_purchase %></button>
 </div>
</div>
