<% if (ad_info instanceof Object && ad_info.ads instanceof Array && ad_info.ads.length > 0) { %>
<table class="table mt">
<tr style="background-color: #F9F9F9;">
 <th colspan="2">&nbsp;</th>
 <th style="width: 40%;"><%= str.label_url %></th>
 <th><%= str.group %></th>
 <th><%= str.course_country %></th>
</tr>
<% for (var i=0; i<ad_info.ads.length; i++) { %>
<tr>
 <td><input type="checkbox" data-idx="<%= i %>" data-ad-checkbox></td>
 <td style="text-align: right;"><img src="<%= ad_info.ads[i].cover %>" style="max-width: 60px; max-height: 60px;"></td>
 <td><%= ad_info.ads[i].url %></td>
 <td><%= groups[ad_info.ads[i].group] %></td>
 <td><%= countries[ad_info.ads[i].country] %></td>
</tr>
<% } %>
</table>
<% } %>
