<div style="position: relative;">
<% if (disabled_message) { %>
<div class="well disablebanner" style="text-align: center;">
 <h3><%= str[disabled_message] %></h3>
 <a href="/plan-details" class="btn"><%= str.learn_more %></a>
</div>
<div class="disablebox"></div>
<% } %>

<div class="block">
<div style="padding: 10px 30px 20px 30px;">
 <h3 class="block-title"><span><%= str.org_public_page_label %></span></h3>

 <div class="hbox stretch">

 <div class="form-horizontal expand noshrink" style="border-right: 1px solid silver; padding-right: 20px;">
  <div class="control-group">
	<label class="control-label"><%= str.org_page_status_label %></label>
	<div class="controls">
	<input type="checkbox"<% if (parseInt(cohort.public_page)) print(" checked"); %> data-call="togglePublished" data-toggle="toggle" data-on="<%= str.label_enabled %>" data-off="<%= str.label_disabled %>">
	</div>
  </div>
 
<% if (cohort.public_page_path) { %>
  <div class="control-group">
	<label class="control-label"><%= str.org_public_page_url %></label>
	<div class="controls hbox middle">
	<input type="text" onClick="this.setSelectionRange(0, this.value.length)" readonly value="http://<%= cohort.public_page_path %>.eliademy.com" class="input mr">
    <span style="cursor: pointer;" data-toggle="popover" data-content="<%= str.org_public_page_url_info %>" data-original-title="<%= str.org_public_page_url %>"><i class="fa fa-question-circle"></i></span>
	</div>
  </div>
<% if (parseInt(cohort.public_page)) { %>
  <div class="control-group">
	<label class="control-label"><i class="fa fa-external-link"></i></label>
	<div class="controls" style="padding-top: 5px;"><a href="http://<%= cohort.public_page_path %>.eliademy.com"><%= str.org_view_page_label %></a></div>
  </div>
<% } %>
<% } %>
 </div>
  <div class="expand" style="padding-left: 20px;">
	<div class="alert alert-note" style="margin-bottom: 0px;"><%= str.org_public_page_info %></div>
  </div>
 </div>
</div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<div class="block">
<div style="padding: 10px 30px;">
 <div class="block-title hbox middle"<% if (!cohort.public_page_ann) { %> style="border-bottom: none; padding-bottom: 0px;"<% } %>>
  <h3 class="expand"><%= str.org_public_page_announcement %></h3>
  <input type="checkbox"<% if (cohort.public_page_ann) print(" checked"); %> data-call="toggleAnnouncement" data-toggle="toggle" data-on="<%= str.label_enabled %>" data-off="<%= str.label_disabled %>">
 </div>
<% if (cohort.public_page_ann) { %>
 <div class="form-horizontal" style="margin-top: 20px;">

  <div class="control-group">
	<label class="control-label"><%= str.label_url %></label>
	<div class="controls">
	 <input type="text" class="input-xxlarge inputfield" name="ann_info_url" data-group-ann value="<%= ann_info.url %>">
	 <button class="btn" data-call="fetchPostInfo"><i class="fa fa-refresh"></i></button>
	</div>
  </div>

  <div class="control-group">
	<label class="control-label"><%= str.org_cover_pic %></label>
	<div class="controls hbox end">
	  <img class="thumbnail mr" style="max-width: 70%; max-height: 100px;" id="public-ann-cover" src="<%= ann_info.cover ? ann_info.cover : "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAABkAQMAAAFMf5laAAAAA1BMVEX///+nxBvIAAAAGUlEQVRIx2NgGAWjYBSMglEwCkbBKBgkAAAImQABesgcQwAAAABJRU5ErkJggg==" %>">
	  <div>
		<div style="font-size: 12px; line-height: normal;"><%= str.org_cover_picture_details %></div>
		<button data-call="changeAnnCover" class="btn"><i class="fa fa-upload"></i> <%= str.button_upload_file %></button>
	  </div>
	</div>
  </div>

  <div class="control-group">
	<label class="control-label"><%= str.profile_label_title %></label>
	<div class="controls">
	 <input type="text" class="input-xxlarge inputfield" name="ann_info_title" data-group-ann value="<%= ann_info.title %>">
	</div>
  </div>

  <div class="control-group">
	<label class="control-label"><%= str.label_description %></label>
	<div class="controls">
	 <textarea class="input-xxlarge inputfield" rows="3" name="ann_info_description" data-group-ann><%= ann_info.description %></textarea>
	</div>
  </div>

 </div>

 <div class="alert"><%= str.org_public_page_announcement_info %></div>
<% } %>
</div>
<div class="footer" id="public-page-update-announcement" style="display: none; text-align: right;">
 <button class="btn btn-primary" data-call="updateAnnouncement"><%= str.button_save_changes %></button>
</div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<div class="block">

<div style="padding: 10px 30px;">

 <div class="block-title hbox middle"<% if (!cohort.public_page_ad) { %> style="border-bottom: none; padding-bottom: 0px;"<% } %>>
  <h3 class="expand"><%= str.org_public_page_advertisements %></h3>
  <input type="checkbox"<% if (cohort.public_page_ad) print(" checked"); %> data-call="toggleAdvertisements" data-toggle="toggle" data-on="<%= str.label_enabled %>" data-off="<%= str.label_disabled %>">
 </div>
<% if (cohort.public_page_ad) { %>
 <table style="margin-top: 20px; width: 100%;"><tr>

  <td style="width: 32%;">
	<div><strong><%= str.org_public_page_banner1 %></strong></div>
	<label class="hbox middle" style="width: 100%;">
	 <span class="expand noshrink mr"><%= str.label_title %>:</span>
	 <input type="text" class="input inputfield" name="ad_info_title1" style="margin-bottom: 0px;" data-group-ad value="<%= ad_info.title1 %>">
	</label>
  </td>

  <td style="width: 2%;"></td>

  <td style="width: 32%;">
	<div><strong><%= str.org_public_page_banner2 %></strong></div>
	<label class="hbox middle" style="width: 100%;">
	 <span class="expand noshrink mr"><%= str.label_title %>:</span>
	 <input type="text" class="input inputfield" name="ad_info_title2" style="margin-bottom: 0px;" data-group-ad value="<%= ad_info.title2 %>">
	</label>
  </td>

  <td style="width: 2%;"></td>

  <td style="width: 32%;">
	<div><strong><%= str.org_public_page_banner3 %></strong></div>
	<label class="hbox middle" style="width: 100%;">
	 <span class="expand noshrink mr"><%= str.label_title %>:</span>
	 <input type="text" class="input inputfield" name="ad_info_title3" style="margin-bottom: 0px;" data-group-ad value="<%= ad_info.title3 %>">
	</label>
  </td>

 </tr></table>

 <div id="public-page-ad-list"></div>

</div>

<div class="footer hbox">
 <button class="btn btn-primary mrs" data-call="newAd"><i class="fa fa-plus"></i> <%= str.org_public_page_new_ad %></button>

 <div class="btn-group mrs">
  <a class="btn dropdown-toggle ignored_link disabled" data-ad-actions disabled data-toggle="dropdown" href="#"><%= str.change_group %> <span class="caret"></span></a>
  <ul class="dropdown-menu">
	<li><a href="#" data-call="changeAdGroup" data-group="1"><%= str.org_public_page_banner1 %></a></li>
	<li><a href="#" data-call="changeAdGroup" data-group="2"><%= str.org_public_page_banner2 %></a></li>
	<li><a href="#" data-call="changeAdGroup" data-group="3"><%= str.org_public_page_banner3 %></a></li>
  </ul>
 </div>

 <div class="btn-group mrs">
  <a class="btn dropdown-toggle ignored_link disabled" data-ad-actions disabled data-toggle="dropdown" href="#"><%= str.change_course_country %> <span class="caret"></span></a>
  <ul class="dropdown-menu" style="max-height: 300px; overflow: auto;">
	<li><a href="#" data-call="changeAdCountry" data-country="">-</a></li>
  <% for (var i=0; i<countries.length; i++) { %>
	<li><a href="#" data-call="changeAdCountry" data-country="<%= countries[i].key %>"><%= countries[i].value %></a></li>
  <% } %>
  </ul>
 </div>

 <button class="btn" data-call="deleteAds" data-ad-actions disabled><%= str.button_delete %></button>
<% } %>
</div>

</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<div class="block">
<div style="padding: 10px 30px;">
 <h3 class="block-title"><span><%= str.org_published_courses_label %></span></h3>

<% if (courses.length > 0) { %>
 <table class="table table-striped" style="margin-top: 0px;">
  <tr>
	<th colspan="3" style="width: 70%; border-top: none;"><%= str.label_course_name %></th>
	<th style="border-top: none;"><%= str.label_price %></th>
	<th style="border-top: none;"><%= str.label_status %></th>
  </tr>

<% for (var i=0; i<courses.length; i++) { %>
  <tr>
	<td><input type="checkbox" data-courseid="<%= courses[i].id %>" data-course-all-cats></td>
	<td style="vertical-align: middle; text-align: center;"><div style="width: 40px;"><img src="<%= courses[i].teacher_avatar %>" style="border-radius: 15px; width: 30px; height: 30px;"></div></td>
	<td><a href="/courses/<%= courses[i].code %>"><%= courses[i].fullname %></a></td>
	<td><%= courses[i].price || str.free %></td>
<% if (courses[i].org_published) { %>
	<td><span class="label label-success"><%= str.label_published %></span></td>
<% } else { %>
	<td><span class="label"><%= str.label_unpublished %></span></td>
<% } %>
  </tr>
<% } %>
 </table>
<% } else { %>

 <div class="blue-header" style="text-align: center; font-size: 16px; padding: 24px 0px;"><%= str.org_public_no_courses %></div>

<% } %>

</div>
<div class="footer">
 <button class="btn" data-call="addCourses" id="public-page-add-courses-btn" disabled><%= str.org_public_page_add %></button>
 <button class="btn" data-call="removeCourses" id="public-page-remove-courses-btn" disabled><%= str.org_public_page_remove %></button>
</div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<% for (var i=0; i<cats.length; i++) { %>

<div class="block">
<div style="padding: 10px 30px;">
 <div class="block-title hbox middle">
	<h3 class="expand mr" id="public-page-cat-title-<%= i %>"><%= cats[i].title %></h3>

	<div class="btn-group" id="public-page-cat-edit-<%= i %>">
	 <button class="btn btn-primary" data-call="updateCategory" data-idx="<%= i %>"><%= str.button_update %></button>
	 <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
	 <ul class="dropdown-menu pull-right" style="text-align: left;">
        <li><a href="#" class="ignored_link" data-call="deleteCategory" data-idx="<%= i %>"><%= str.button_delete %></a></li>
	 </ul>
	</div>

	<button class="btn btn-primary" style="display: none;" id="public-page-cat-edit-save-<%= i %>" data-call="updateSaveCategory" data-idx="<%= i %>"><%= str.button_save %></button>
 </div>

<% if (courses.length > 0) { %>
 <table class="table table-striped" style="margin-top: 0px;">
  <tr>
	<th colspan="3" style="width: 70%; border-top: none;"><%= str.label_course_name %></th>
	<th style="border-top: none;"><%= str.label_price %></th>
	<th style="border-top: none;"><%= str.label_status %></th>
  </tr>

<% for (var j=0; j<courses.length; j++) { %>
  <tr>
	<td><input type="checkbox" data-courseid="<%= courses[j].id %>" data-catidx="<%= i %>" data-course-cat></td>
	<td style="vertical-align: middle; text-align: center;"><div style="width: 40px;"><img src="<%= courses[j].teacher_avatar %>" style="border-radius: 15px; width: 30px; height: 30px;"></div></td>
	<td><a href="/courses/<%= courses[j].code %>"><%= courses[j].fullname %></a></td>
	<td><%= courses[j].price || str.free %></td>
<% if (cats[i].courses.indexOf(courses[j].id) != -1) { %>
	<td><span class="label label-success"><%= str.label_published %></span></td>
<% } else { %>
	<td><span class="label"><%= str.label_unpublished %></span></td>
<% } %>
  </tr>
<% } %>
 </table>
<% } else { %>

 <div class="blue-header" style="text-align: center; font-size: 16px; padding: 24px 0px;"><%= str.org_public_no_courses %></div>

<% } %>

</div>
<div class="footer">
 <button class="btn" data-call="addCatCourses" id="public-page-add-cat-courses-btn-<%= i %>" data-idx="<%= i %>" disabled><%= str.org_public_page_cat_add %></button>
 <button class="btn" data-call="removeCatCourses" id="public-page-remove-cat-courses-btn-<%= i %>" data-idx="<%= i %>" disabled><%= str.org_public_page_cat_remove %></button>
</div>
</div>

<% } %>

<div class="block" id="public-page-new-category-block" style="display: none;">
 <div style="padding: 10px 30px;">
 <div class="block-title hbox middle" style="padding-bottom: 0px; border-bottom: 0px;">
	<input class="input expand mr inputfield" id="public-page-new-category-edit" style="font-size: 18pt; font-family: 'Open Sans'; font-weight: 300; color: rgb(65, 137, 221);" placeholder="<%= str.org_public_page_cat_placeholder %>"></input>
	<button class="btn btn-primary" data-call="createNewCategory"><%= str.button_update %></button>
 </div>
 </div>
</div>

<div style="text-align: center; margin-bottom: 24px;">
 <button class="btn btn-large" data-call="addCategory"><i class="fa fa-plus"></i> <%= str.org_public_page_add_category %></button>
</div>

</div>
