<div style="position: relative;">
<% if (disabled_message) { %>
<div class="well disablebanner" style="text-align: center;">
 <h3><%= str[disabled_message] %></h3>
 <a href="/plan-details" class="btn"><%= str.learn_more %></a>
</div>
<div class="disablebox"></div>
<% } %>
<div class="block" style="padding: 10px 30px;">
<h3 class="block-title">
    <span><%= str.org_skills %></span>
</h3>
<p>
    <%= str.org_skills_desc %>
</p>
<br>
<% if (skillreport) { %>
    <div id="skills-progress">
        <% _.each(skillreport, function (item, skill) { %>
            <div class="progress" data-placement="top" data-trigger="hover" data-title="<%= skill %>" data-content="<%= _.pluck(item, 'username').join(', ') %>">
                <div class="bar" aria-valuetransitiongoal="<%= (item.length/cohort.activeusercount)*100 %>">
                    <%= skill %> (<%= item.length %> <%= (item.length === 1) ? str.users_one : str.users_many %>)
                </div>
            </div>
        <% }) %>
    </div>
<% } else { %>
    <div id="skills-progress-empty">
        <div class="subtitle-blue"><%= str.org_skills_empty %></div>
    </div>
<% } %>
</div>
</div>
