<div class="block">
<div style="padding: 10px 30px;">
<div class="block-title hbox middle">
 <h3 class="expand"><%= str.user_directory_ext %> (<%= usercount %>)</h3>
 <span><%= str.group %>:&nbsp;</span>
 <div class="btn-group">
	<a class="btn dropdown-toggle ignored_link" data-toggle="dropdown" href="#"><% print(currentFilter); %>&nbsp;<span class="caret"></span></a>
	<ul class="dropdown-menu">
	 <li><a href="#" class="ignored_link" data-filter-tagid="0"><%= str.all_users %></a></li>
	 <li><a href="#" class="ignored_link" data-filter-tagid="-1"><%= str.users_with_licence %></a></li>
	 <li><a href="#" class="ignored_link" data-filter-tagid="-3"><%= str.user_directory_int %></a></li>
	 <li class="divider"></li>
	 <% for (var i=0; i<tags.length; i++) { %>
	 <li><a href="#" class="ignored_link" data-filter-tagid="<%= tags[i].id %>"><%= tags[i].name %></a></li>
	 <% } %>
	 <li class="divider"></li>
	 <li><a href="#" class="ignored_link" data-filter-tagid="-2"><%= str.users_without_group %></a></li>
	</ul>
 </div>
 <div class="input-append" style="margin: 0px 0px 0px 10px;">
	<input type="text" class="input-medium" id="admin-user-filter-input" placeholder="<%= str.search_courses %>" value="<%= userFilter %>">
 <% if (userFilter) { %>
	<button class="btn btn-mini" style="position: absolute; margin: 4px 0px 0px -25px;" data-call="clearFilter"><i class="fa fa-times"></i></button>
 <% } %>
	<span class="add-on"><i class="fa fa-search"></i></span>
 </div>
</div>

<div class="row-fluid" style="background-color: #F9F9F9; padding-top: 10px;">
 <span class="span1 list-checkbox"><input type="checkbox" name="selectall" id="selectall"></span>
<% if (mode == 3) { %>
 <span class="span11"><strong><%= str.email %></strong></span>
<% } else { %>
 <span class="span1"></span>
 <span class="span3"><strong style="position: relative; left: -15px;"><%= str.name %></strong></span>
 <span class="span2"><strong><%= str.label_role %></strong></span>
 <span class="span2"><strong><%= str.group %></strong></span>
 <span class="span2"><strong><%= str.last_access %></strong></span>
 <span class="span1"></span>
<% } %>
</div>

<% _.each(users, function (user) {  %>
<label class="row-fluid list-item">
 <span class="span1 list-checkbox"><% if (user.usertype != 1) { %><input type="checkbox" name="selectrow" data-userid="<%= user.id %>"><% } %></span>
 <span class="span1"><img src="<% print(MoodleDir + 'public_images/user_picture/' + user.profilepichash + '_32.jpg') %>" style="border-radius: 15px; position: relative; top: -3px;"></span>
 <span class="span3"><a href="/profile/<%= user.id %>" style="position: relative; left: -15px;"><%= user.firstname %> <%= user.lastname %></a></span>
 <span class="span2"><% switch (user.usertype) {
	case 1: print(str.label_account_owner); break;
	case 2: print(str.label_admin); break;
	case 3: print(str.label_org_observer); break;
	case 4: print(str.label_org_teacher); break;
	case 5: print(str.label_org_user); break;
} %></span>
 <span class="span2"><%= user.tags.map(function (ut) { return ut.tagname }).join(", ") %></span>
 <span class="span2"><%= moment(user.lastaccess, "X").fromNow() %></span>
 <span class="span1"><% if (user.usertype != 1) { %>
	<div class="dropdown">
	 <a href="#" class="dropdown-toggle ignored_link" data-toggle="dropdown"><i class="fa fa-ellipsis-v" style="font-size: 18px; display: inline-block; padding: 4px 15px;"></i></a>
	 <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
		<li><a href="#" data-call="makeAdmins" data-cid="<%= user.cid %>"></i><%= str.addasadmin %></a></li>
		<li><a href="#" data-call="makeObservers" data-cid="<%= user.cid %>"></i><%= str.addasobserver %></a></li>
		<li><a href="#" data-call="makeTeachers" data-cid="<%= user.cid %>"></i><%= str.addasteacher %></a></li>
		<li><a href="#" data-call="makeUsers" data-cid="<%= user.cid %>"></i><%= str.org_remove_role %></a></li>
		<li class="divider"></li>
		<li><a href="#" data-call="deleteUsers" data-cid="<%= user.cid %>"><%= str.button_delete %></a></li>
	 </ul>
	</div>
 <% } %></span>
</label>
<% }); %>

<% if (pages > 1) { %>
<div class="pagination pull-right" style="margin: 0px;">
<ul>
<% if (pages < 6) { %>
<% for (var i=1; i<=pages; i++) { %>
	<li<% if (i == page) print(" class=\"active\""); %>><a href="#" class="ignored_link" data-page="<%= i %>"><%= i %></a></li>
<% } %>
<% } else { %>
	<% var startPage = (page < 4) ? 1 : ((page > pages - 3) ? (pages - 4) : (page - 2)); %>
	<li<% if (page <= 1) print(" class=\"disabled\""); %>><a href="#" class="ignored_link" data-page="<%= (page - 1) %>">&laquo;</a></li>
	<% for (var i=0; i<5; i++) { %>
	<li<% if ((i+startPage) == page) print(" class=\"active\""); %>><a href="#" class="ignored_link" data-page="<%= i+startPage %>"><%= i+startPage %></a></li>
	<% } %>
	<li<% if (page >= pages) print(" class=\"disabled\""); %>><a href="#" class="ignored_link" data-page="<%= (page + 1) %>">&raquo;</a></li>
<% } %>
</ul>
</div>
<% } %>
<div style="height: 30px;"></div>
</div>

<div class="footer hbox middle" style="margin-bottom: 30px;">

<div class="btn-group">
  <a class="btn dropdown-toggle ignored_link user_actions" disabled="true" data-toggle="dropdown" href="#" id="admin-show-tag-menu"><%= str.add_to_group %>&nbsp;<span class="caret"></span></a>
  <ul class="dropdown-menu" style="width: 240px;">
<% for (var i=0; i<tags.length; i++) { %>
  <li style="line-height: 24px;" class="hbox middle">
	<label class="checkbox expand" data-action="toggle-tag"><input type="checkbox" data-tagid="<%= tags[i].id %>" style="margin-left: -10px; margin-right: 10px;"><%= tags[i].name %></label>
	<a href="#" class="ignored_link admin-tag-menu-action" data-action="delete-tag" data-tagid="<%= tags[i].id %>"><i class="fa fa-trash-o"></i></a>
	<a href="#" class="ignored_link admin-tag-menu-action" data-action="edit-tag" data-tagid="<%= tags[i].id %>"><i class="fa fa-pencil-square-o"></i></a>
  </li>
<% } %>
	<li class="divider"></li>
	<li><a href="#" class="ignored_link" id="admin-add-user-tag"><i class="fa fa-plus" style="margin-left: -9px; margin-right: 11px;"></i><%= str.new_group %></a></li>
	<li><a href="#" class="ignored_link" style="display: none;" id="admin-apply-user-tags"><i class="fa fa-check" style="margin-left: -10px; margin-right: 8px;"></i><%= str.apply %></a></li>
  </ul>
</div>

<div class="btn-group mrs">
  <a class="btn dropdown-toggle ignored_link user_actions" disabled="true" data-toggle="dropdown" href="#"><%= str.change_role %>&nbsp;<span class="caret"></span></a>
  <ul class="dropdown-menu" style="width: 240px;">
	<li><a href="#" data-call="makeAdmins"></i><%= str.label_admin %></a></li>
	<li><a href="#" data-call="makeObservers"></i><%= str.label_org_observer %></a></li>
	<li><a href="#" data-call="makeTeachers"></i><%= str.label_org_teacher %></a></li>
	<li><a href="#" data-call="makeUsers"></i><%= str.org_remove_role %></a></li>
  </ul>
</div>

<button class="btn mrs user_actions" disabled="true" data-call="deleteUsers"><%= str.button_delete %></button>

<button class="btn"  data-call="exportUsers"><%= str.label_export %></button>

<div class="expand"></div>

<select class="input-mini" name="usersperpage">
 <option value="20"<% if (itemsPerPage == 20) print(" selected=\"selected\""); %>>20</option>
 <option value="50"<% if (itemsPerPage == 50) print(" selected=\"selected\""); %>>50</option>
 <option value="100"<% if (itemsPerPage == 100) print(" selected=\"selected\""); %>>100</option>
 <option value="0"<% if (itemsPerPage == 0) print(" selected=\"selected\""); %>>All</option>
</select>

</div>
</div>
