<div class="block">
<div style="padding: 10px 30px;">

<div class="block-title hbox middle" style="margin-bottom: 0px;">
 <h3 class="expand"><%= str.invited_users %> (<%= userCount %>)</h3>
</div>

 <% if (users.length > 0) { %>
	<div class="row-fluid" style="background-color: #F9F9F9; padding-top: 10px;">
	 <span class="span5"><strong style="margin-left: 10px;"><%= str.email %></strong></span>
	 <span class="span1"><strong><%= str.label_status %></strong></span>
	 <span class="span5"><strong><%= str.invited_on %></strong></span>
	 <span class="span1">&nbsp;</span>
	</div>
	<% _.each(users, function (user) { %>
	<div class="row-fluid" style="line-height: 40px; border-top: 1px solid #CCC;">
	 <span class="span5"><%= user.email %></span>
	 <span class="span1">
		 <% if (user.status == 1) { %>
			<span class="label"><%= str.label_status_sending %></span>
		 <% } else if (user.status == 2) { %>
			<span class="label"><%= str.label_status_sent %></span>
		 <% } else if (user.status == 3) { %>
			<span class="label label-success" data-toggle="popover" data-content="<%= str.label_delivery_succeeded_info.replace("%TIMESTAMP", moment.unix(user.dateinvited).format("LL hh:mm")) %>"><%= str.label_status_delivered %></span>
		 <% } else if (user.status == 4) { %>
			<span class="label label-important" data-toggle="popover" data-content="<%= str.label_delivery_failed_info %>"><%= str.label_status_failed %></span>
		 <% } else { %>
			<span class="label"><%= str.label_status_sent %></span>
		 <% } %>
	 </span>
	 <span class="span5"><%= moment.unix(user.dateinvited).format("LL hh:mm") %></span>
	 <span class="span1">
		<div class="dropdown">
		 <a href="#" class="dropdown-toggle ignored_link" data-toggle="dropdown"><i class="fa fa-ellipsis-v" style="font-size: 18px; display: inline-block; padding: 4px 15px;"></i></a>
		 <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
			<li><a href="#" data-call="deleteUsers" data-cid="<%= user.cid %>"><%= str.button_cancel %></a></li>
			<li><a href="mailto:<%= user.email %><% print("?&body=" + encodeURIComponent(EliademyUrl + RootDir + "invitation/" + inviteCode + "/" + user.email + "/signup")); %>" class="ignored_link"><%= str.resend_invite %></a></li>
		 </ul>
		</div>
	 </span>
	</div>
	<% }); %>
 <% } else { %>
	<div class="blue-header small" style="padding-left: 100px; margin-top:20px; margin-bottom:10px;">
	<img src="<%= RootDir %>app/img/arrow-sw.png" style="margin-right: 15px; position: relative;"><%= str.tutorial_admin_send_invite %>
	</div>
 <% } %>

</div>

 <div class="footer hbox middle" style="margin-bottom: 30px;">
	<button data-call="addUsers" class="btn btn-primary mrs"><i class="fa fa-envelope" style="color: white"></i>&nbsp;<%= str.user_directory_invite_button %></button>

	<div class="expand"></div>

	<select class="input-mini" name="itemsperpage" style="margin-bottom: 0px;">
	 <option value="20"<% if (itemsPerPage == 20) print(" selected=\"selected\""); %>>20</option>
	 <option value="50"<% if (itemsPerPage == 50) print(" selected=\"selected\""); %>>50</option>
	 <option value="100"<% if (itemsPerPage == 100) print(" selected=\"selected\""); %>>100</option>
	 <option value="0"<% if (itemsPerPage == 0) print(" selected=\"selected\""); %>>All</option>
	</select>

<% if (pages > 1) { %>
<div class="pagination" style="margin: 5px 0px 0px 10px;">
<ul>
<% if (pages < 6) { %>
<% for (var i=1; i<=pages; i++) { %>
	<li<% if (i == page) print(" class=\"active\""); %>><a href="#" class="ignored_link" data-page="<%= i %>"><%= i %></a></li>
<% } %>
<% } else { %>
	<% var startPage = (page < 4) ? 1 : ((page > pages - 3) ? (pages - 4) : (page - 2)); %>
	<li<% if (page <= 1) print(" class=\"disabled\""); %>><a href="#" class="ignored_link" data-page="<%= (page - 1) %>">&laquo;</a></li>
	<% for (var i=0; i<5; i++) { %>
	<li<% if ((i+startPage) == page) print(" class=\"active\""); %>><a href="#" class="ignored_link" data-page="<%= i+startPage %>"><%= i+startPage %></a></li>
	<% } %>
	<li<% if (page >= pages) print(" class=\"disabled\""); %>><a href="#" class="ignored_link" data-page="<%= (page + 1) %>">&raquo;</a></li>
<% } %>
</ul>
</div>
<% } %>

 </div>

</div>
