<div style="position: relative;">

<% if (disabled_message) { %>
<div class="well disablebanner" style="text-align: center;">
 <h3><%= str[disabled_message] %></h3>
 <a href="/plan-details" class="btn"><%= str.learn_more %></a>
</div>
<div class="disablebox"></div>
<% } %>

<div id="admin-user-extlist"></div>

<div class="alert alert-note" style="margin-top:10px; margin-bottom:10px"><%= str.user_directory_orgteam_label %>
 <ul>
	<li><%= str.user_directory_orgteam_label_owner %></li>
	<li><%= str.user_directory_orgteam_label_admin %></li>
	<li><%= str.user_directory_orgteam_label_observer %></li>
	<li><%= str.user_directory_orgteam_label_orginstructor %></li>
 </ul>
</div>

<div id="admin-user-invitationlist" style="margin-top: 20px;"></div>

</div>
