/** Calendar **/
.daymon {
	font-size:12px;
	font-weight: bold;
	color: #8D8C94;
	text-align: left;
	margin-left:8px;
	margin-top:10px;
	font-family:Helvetica,sans-serif;
	
}

.dayprevmon{
	font-size:12px;
	font-weight: bold;
	color:#cacacd;
	text-align: left;
	margin-left:8px;
	margin-top:10px;
	font-family:Helvetica,sans-serif;

}

.calendartable th {
	background-color: #738cbc;
	color: white;
}

li.calendar_event_course, li.calendar_event_global, li.calendar_event_group, li.calendar_event_user { margin-left: 8px; }

/*evenet list styling for month view*/
.calendar_event_global {border-color: none; background-color:transparent;font-size:10pt;font-weight:400;color:#8D8C94;text-align:left;}
.calendar_event_course {border-color: none; background-color:transparent;font-size:10pt;font-weight:400;color:#8D8C94;text-align:left;}
.calendar_event_user {border-color: none; background-color:transparent;font-size:10pt;font-weight:400;color:#8D8C94;text-align:left;}
.calendar_event_group {border-color: none; background-color:transparent;font-size:10pt;font-weight:400;color:#8D8C94;text-align:left;}

.calendartable {
	width: 99%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border-spacing: 0px;
	border-bottom: 1px solid #C1C1C1;
}

.calendartable th, .calendartable td {
	vertical-align:top;
	text-align: left;
	padding: 0px;
	width: 14%;
	height: auto;
	word-wrap: break-word;
}

/*style class for evenet detail page*/
.date 
	{font-size:16px;	
	text-align: left;	
	font-family:Helvetica,sans-serif;
	line-height:60px;}

.description
	{font-size:16px;	
	text-align: left;	
	font-family:Helvetica,sans-serif;
	line-height:40px;

	}
.course
	{
	background:#D2DBE1;
	width:200px;
	font-size:16px;	
	text-align: left;	
	padding-left:1em;
	font-family:Helvetica,sans-serif;
	line-height:50px;}
	
	
.calendartable td.week_info {
	text-align: left;
	font-size: 22px;
	font-weight: 600;
	color: #65a256;
}

.calendartable td.week_info_mon {
	height: auto;
	height: auto;
	padding: 0px;
	margin: 0px;
	border: none;
	text-align: left;
}

.calendartable td.week_info_mon > a {
	display: block;
	background-color: #FFF;
	color: #636363;
	font-size: 10pt;
	font-weight: bold;
	line-height: 40px;
	padding: 0px 20px;
	margin: 0px -3px;
	border-radius: 3px;
	box-shadow: 1px 1px 4px #888;
	width: auto;
	position: relative;
	z-index: 10;

}

.calendartable td.hours {
	width: auto;
	border: none;
	font-size: 11px;
	font-weight: bolder;
	vertical-align: middle;
	text-align: center;
	text-shadow: 0px 1px #FFF;
	color: #8D8C94;
}

.cl1, .cl1:hover { color: #3EAEF6; }
.cl2 { color: #4D9AEC; }
.cl3, .cl3:hover { color: #31B492; }
.cl4 { color: #FFF; text-shadow: 0px 1px #666; }
.cl5 { color: #2676CB; }
.cl6, .cl6:hover { color: #4895EF; }

.event_red, event_red .cl1, .event_red .cl2, .event_red .cl3, .event_red .cl4, .event_red .cl5 { color: #F33; }

.fn1 { font-size: 18pt; font-weight: normal; text-shadow: 0px -2px #FFF; }
.fn2 { font-size: 14pt; font-weight: 300; font-family: 'Open Sans'; text-shadow: 0px 1px #FFF; }
.fn3 { font-size: 10pt; font-weight: 600; }
.fn4 { font-size: 11pt; font-weight: 700; }
.fn5 { font-size: 22pt; font-weight: 600; }
.fn6 { font-size: 10pt; font-weight: 700; }


.calendartable a.box { display: block; height: 100%; }
.calendartable a.box:hover { background-color: #738CBC; }
.calendartable a.box:hover span { color: #FFF; }

.calendartable a.ev {
	font-size: 8pt;
	font-weight: normal;
	display: block;
	background-color: #738CBC;
	color: #FFF;
	padding: 3px;
	margin: 0px 1px;
	text-align: left;
}

.calendartable td.bord { border: 1px solid #C1C1C1; }

.calendartable td.bord2 {
	border-top: none;
	border-bottom: none;
	border-left: 1px solid #C1C1C1;
	border-right: 1px solid #C1C1C1;
}

.calendartable .pad1 { padding: 10px 10px; }
.calendartable .pad2 { padding: 3px 5px; }
.calendartable .block { display: block; }

.today { background-color: #EAEAEA; }
.nottoday { background-color: #EAEAEA; }
.weekend { background-color: #EAEAEA; }
.today_today { background-color: #FFF; }

.events-new{
	color:#b70000;
	font-size:12px;	
	background-color:transparent;
	display:block;
	margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.events-underway{
	font-size:10pt;font-weight:400;color:#8D8C94;
	display:block;
	margin: 0px;
    list-style-type: none;
    padding: 0px;
}

/*end styling for month cell*/

.event_blue {
	background-color: #FFF;
	border: 1px solid #D2D2D2;
	border-radius: 5px;
	margin: 1px;
	color: #49B0E6;
}

.event_blue a, .event_blue a:hover { color: #49B0E6; }

.event_green {
	background-color: #FFF;
	border: 1px solid #D2D2D2;
	border-radius: 5px;
	margin: 1px;
	color: #3AB398;
}

.event_green a, .event_green a:hover { color: #3AB398; }

.empty_line_today { background-color: #F0EFEF; }

.morning_evening {
	height: 84px;
	border: 1px solid #ddd;
	background-color: #ededed;
}

.cal_button {
	display: inline-block;
	vertical-align: top;
	width: 68px;
}

.cal_header_cell {
	height: 58px;
	background-color: #fff; /* layer fill content */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDY2IDU4IiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImhhdDAiIGdyYWRpZW50VW5pdHM9Im9iamVjdEJvdW5kaW5nQm94IiB4MT0iNTAlIiB5MT0iMTAwJSIgeDI9IjUwJSIgeTI9Ii0xLjQyMTA4NTQ3MTUyMDJlLTE0JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNkYWRhZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjY2IiBoZWlnaHQ9IjU4IiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=); /* gradient overlay */
	background-image: -moz-linear-gradient(90deg, #dadada 0%, #f3f3f3 100%); /* gradient overlay */
	background-image: -o-linear-gradient(90deg, #dadada 0%, #f3f3f3 100%); /* gradient overlay */
	background-image: -webkit-linear-gradient(90deg, #dadada 0%, #f3f3f3 100%); /* gradient overlay */
	background-image: linear-gradient(90deg, #dadada 0%, #f3f3f3 100%); /* gradient overlay */
}

.cal_hdr_label {
	display: inline-block;
	height: 58px;
	line-height: 58px;
	padding: 0px 20px;
}

.cal_hdr_border { border-right: 1px solid #FFF; }
.cal_hdr_border1 { border-left: 1px solid #FFF; }

.cal_button a, .cal_button span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 58px;
	height: 58px;
	cursor: pointer;
	padding: 0px 15px;
	color: #8E8D95;
	text-shadow: 0px 1px #FFF;
	font-size: 10pt;
	font-weight: 600;
}

.cal_button .icon_left { background: url([[pix:theme|cal_left]]) 50% 50% no-repeat; }
.cal_button .icon_right { background: url([[pix:theme|cal_right]]) 50% 50% no-repeat; }
.cal_button .icon_add { background: url([[pix:theme|cal_add]]) 50% 50% no-repeat; }
.cal_button .icon_cal{background: url([[pix:theme|cal]]) 50% 50% no-repeat;}
.cal_button .icon_back{background: url([[pix:theme|back-arrow]]) 50% 50% no-repeat;}

.calendartable td.clickable:hover { background: #E9F2FB url([[pix:theme|new]]) 50% 50% no-repeat; }

.fabric { background: url([[pix:theme|fabric]]); }
.fl_right { float: right; }
.fl_left { float: left; }
.d_block { display: block; }

.new_event_dialog {
	position: absolute;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #FFF;
	border: 1px solid silver;

	-moz-box-shadow:
		0 0 9px rgba(24,25,24,.39) /* drop shadow */,
		inset 0 -2px 2px rgba(24,25,24,.75) /* inner shadow */;
	-webkit-box-shadow:
		0 0 9px rgba(24,25,24,.39) /* drop shadow */,
		inset 0 -2px 2px rgba(24,25,24,.75) /* inner shadow */;
	box-shadow:
		0 0 9px rgba(24,25,24,.39) /* drop shadow */,
		inset 0 -2px 2px rgba(24,25,24,.75) /* inner shadow */;

	padding: 15px;
	z-index: 1000;
}

.new_event_dialog input, .new_event_dialog select {
	width: 250px;
	height: 30px;
}

.new_event_dialog .control-group {
	margin: 0px;
	clear: both;
	overflow: hidden;
}

.new_event_dialog .control-group label {
	line-height: 30px;
	display: inline-block;
	vertical-align: top;
}

.new_event_dialog .ptr {
	position: relative;
	margin-top: -31px;
	margin-bottom: 15px;
	height: 16px;
	background: transparent url("[[pix:theme|dialog_ptr]]") 50% 0px no-repeat;
}


.new_event_dialog .text {
	color: #FFF;
	font-size: 12pt;
	font-weight: bold;
	text-shadow: 0px -2px #333;
}

.new_event_dialog button.text {
	font-weight: normal;
}
.monthPicker{
	width: 270px;
	height: 227px;
	-moz-border-radius: 4px 115px 4px 153px ; /* from vector shape */
	-webkit-border-radius: 4px 115px 4px 153px ; /* from vector shape */
	border-radius: 4px 115px 4px 153px ; /* from vector shape */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #000; /* layer fill content */
	-moz-box-shadow:
		0 0 9px rgba(24,25,24,.39) /* drop shadow */,
		inset 0 -2px 2px rgba(24,25,24,.75) /* inner shadow */;
	-webkit-box-shadow:
		0 0 9px rgba(24,25,24,.39) /* drop shadow */,
		inset 0 -2px 2px rgba(24,25,24,.75) /* inner shadow */;
	box-shadow:
		0 0 9px rgba(24,25,24,.39) /* drop shadow */,
		inset 0 -2px 2px rgba(24,25,24,.75) /* inner shadow */;
		
}

.monthPicker Button{
	width: 241px;
	height: 41px;
	opacity: .25; /* layer alpha */
	-moz-border-radius: 3px; /* from vector shape */
	-webkit-border-radius: 3px; /* from vector shape */
	border-radius: 3px; /* from vector shape */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #fff; /* layer fill content */
	-moz-box-shadow: inset 0 -1px 1px rgba(24,25,24,.75); /* inner shadow */
	-webkit-box-shadow: inset 0 -1px 1px rgba(24,25,24,.75); /* inner shadow */
	box-shadow: inset 0 -1px 1px rgba(24,25,24,.75); /* inner shadow */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDI0MSA0MSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMTcxODE3IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNTE1MTUxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIyNDEiIGhlaWdodD0iNDEiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==); /* gradient overlay */
	background-image: -moz-linear-gradient(90deg, #171817 0%, #515151 100%); /* gradient overlay */
	background-image: -o-linear-gradient(90deg, #171817 0%, #515151 100%); /* gradient overlay */
	background-image: -webkit-linear-gradient(90deg, #171817 0%, #515151 100%); /* gradient overlay */
	background-image: linear-gradient(90deg, #171817 0%, #515151 100%); /* gradient overlay */
	
}


.monthPicker input_month{	
	width: 133px;
	height: 41px;
	opacity: .15; /* layer alpha */
	-moz-border-radius: 3px; /* from vector shape */
	-webkit-border-radius: 3px; /* from vector shape */
	border-radius: 3px; /* from vector shape */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #fff; /* layer fill content */
	-moz-box-shadow: inset 0 1px 1px rgba(24,25,24,.75); /* inner shadow */
	-webkit-box-shadow: inset 0 1px 1px rgba(24,25,24,.75); /* inner shadow */
	box-shadow: inset 0 1px 1px rgba(24,25,24,.75); /* inner shadow */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEzMyA0MSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMzMiIGhlaWdodD0iNDEiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==); /* gradient overlay */
	background-image: -moz-linear-gradient(90deg, #fff 0%, #fff 100%); /* gradient overlay */
	background-image: -o-linear-gradient(90deg, #fff 0%, #fff 100%); /* gradient overlay */
	background-image: -webkit-linear-gradient(90deg, #fff 0%, #fff 100%); /* gradient overlay */
	background-image: linear-gradient(90deg, #fff 0%, #fff 100%); /* gradient overlay */
	
}

.monthPicker input_year{
	width: 91px;
	height: 41px;
	opacity: .15; /* layer alpha */
	-moz-border-radius: 3px; /* from vector shape */
	-webkit-border-radius: 3px; /* from vector shape */
	border-radius: 3px; /* from vector shape */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #fff; /* layer fill content */
	-moz-box-shadow: inset 0 1px 1px rgba(24,25,24,.75); /* inner shadow */
	-webkit-box-shadow: inset 0 1px 1px rgba(24,25,24,.75); /* inner shadow */
	box-shadow: inset 0 1px 1px rgba(24,25,24,.75); /* inner shadow */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDkxIDQxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImhhdDAiIGdyYWRpZW50VW5pdHM9Im9iamVjdEJvdW5kaW5nQm94IiB4MT0iNTAlIiB5MT0iMTAwJSIgeDI9IjUwJSIgeTI9Ii0xLjQyMTA4NTQ3MTUyMDJlLTE0JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjkxIiBoZWlnaHQ9IjQxIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=); /* gradient overlay */
	background-image: -moz-linear-gradient(90deg, #fff 0%, #fff 100%); /* gradient overlay */
	background-image: -o-linear-gradient(90deg, #fff 0%, #fff 100%); /* gradient overlay */
	background-image: -webkit-linear-gradient(90deg, #fff 0%, #fff 100%); /* gradient overlay */
	background-image: linear-gradient(90deg, #fff 0%, #fff 100%); /* gradient overlay */
}

.cal_up {
	background: url([[pix:theme|cal_up]]) 50% 50% no-repeat;
	height: 40px;
}

.cal_down {
	background: url([[pix:theme|cal_down]]) 50% 50% no-repeat;
	height: 40px;
}

.fill_cell {
	display: block;
	width: 100%;
}

.cal_prev_icon { background: transparent url([[pix:theme|arrow-prev]]) 50% 50% no-repeat; }
.cal_next_icon { background: transparent url([[pix:theme|arrow-next]]) 50% 50% no-repeat; }
.cal_new_icon { background: transparent url([[pix:theme|new]]) 50% 50% no-repeat; }
