body.pagelayout-login div#page-content div#main-col,
body.pagelayout-base div#page-content div#main-col
{
	float:none;
	width:100%;
}

/************************ MAINTENANCE LAYOUT ************************/
body.pagelayout-maintenance div#logo
{
	margin-left:26px;
}

body.pagelayout-maintenance div#page
{
	padding:0;
}

body.pagelayout-maintenance div#page-content div#main-col
{
	width:100%;
}

body.pagelayout-maintenance .main-block
{
	text-align:center;
}

body.pagelayout-maintenance .maintenance-icon
{
	margin:40px;
}

body.pagelayout-maintenance h2
{
	background:none;
}

body.pagelayout-maintenance .maintenance_message
{
	border:none;
	width:100%;
	font-size:24px;
	font-weight:400;
}