<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{%title%}</title>
    <style type="text/css">
        img {
            border: 0 none;
            height: auto;
            max-width: 100%;
            vertical-align: middle;
        }
        p {
            color: #464646;
            margin: 0 0 10px;
        }       
        a {
            color: #0088CC;
            text-decoration: none;
        }
		h2 {
			padding: 0px;
			margin: 10px 0px;
			font-size: 22px;
			font-weight: normal;
		}
		h3 {
			padding: 0px;
			margin: 10px 0px;
			font-size: 20px;
			font-weight: normal;
		}
        .button {        
            -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
            -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
            box-shadow: 0px 1px 0px 0px #f0f7fa;
            background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #418add), color-stop(1, #019ad2));
            background:-moz-linear-gradient(top, #418add 5%, #019ad2 100%);
            background:-webkit-linear-gradient(top, #418add 5%, #019ad2 100%);
            background:-o-linear-gradient(top, #418add 5%, #019ad2 100%);
            background:-ms-linear-gradient(top, #418add 5%, #019ad2 100%);
            background:linear-gradient(to bottom, #418add 5%, #019ad2 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#418add', endColorstr='#019ad2',GradientType=0);
            background-color:#418add;
            -moz-border-radius:6px;
            -webkit-border-radius:6px;
            border-radius:6px;
            border:1px solid #418add;
            display:inline-block;
            color:#ffffff;
            font-family: Helvetica, Verdana, sans-serif;
            font-weight: normal;
            font-size: 15px;
            padding:7px 24px;
            text-decoration:none;        
            text-shadow:0px -1px 0px #5b6178;
            
        }
        .button:hover {
            background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #418add));
            background:-moz-linear-gradient(top, #019ad2 5%, #418add 100%);
            background:-webkit-linear-gradient(top, #019ad2 5%, #418add 100%);
            background:-o-linear-gradient(top, #019ad2 5%, #418add 100%);
            background:-ms-linear-gradient(top, #019ad2 5%, #418add 100%);
            background:linear-gradient(to bottom, #019ad2 5%, #418add 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#418add',GradientType=0);
            background-color:#019ad2;
        }
        .button:active {
            position:relative;
            top:1px;
        }
    </style>
</head>
<body bgcolor="#F5F5F5" style="background: #F5F5F5; font-family: Helvetica, Verdana, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.5; color: #464646;">
<table width="100%" style="width: 100%;"><tr><td align="center">
<br>
<table width="600" cellpadding="10" cellspacing="0" style="width: 600px; margin: auto; border-radius: 3px; overflow: hidden; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);">
<tr><td bgcolor="#FFFFFF" style="background: #FFFFFF; border-bottom: 1px solid #C1C1C1;">
<table cellpadding="0" cellspacing="10" width="100%" style="width: 100%;"><tr>
 <td align="left"><h1 style="padding: 0px; margin: 0px; color: #4189DD; font-size: 22px; font-weight: normal; font-family: serif;">{%block_header%}</h1></td>
 <td align="right"><a href="https://mrdi.eliademy.com/"><img src="https://mrdi.eliademy/img/header_logo.png" height="28" border="0" alt="UNIVERNET PLUS" style="height:28px;"></a></td>
</tr>
<tr><td colspan="2" style="border-top: 1px solid #C1C1C1;"></td></tr>
<tr><td colspan="2">
 {%body%}
</td></tr>
</table>
</td></tr>


</table>
<br>
<table width="600" cellpadding="0" style="width: 600px; margin: auto;"><tr>
<td align="left" style="color: #808080; font-size: 12px;">
   Powered By Eliademy © CBTec OY brand | {{text_madeinfinland}}<br>Oravantie 27, Kuusamo, 00960, Finland
</td>
<td align="right" style="color: #808080; font-size: 12px;">
	<a href="http://helpdesk.eliademy.com/knowledgebase">{{email_visit_support}}</a>
    <br>
    <a href="https://mrdi.eliademy.com/app/a/settings">{{settings_url_text}}</a>
</td>
</tr></table>
<br>
</td></tr></table>
</body>
</html>
