<p>{{email_header_dear_username}}</p>

<p>Thank you for your purchase of certificate.</p>

<p>"{%COURSENAME%}"</p>

<p>
Quantity {%QTY%}<br>
Order subtotal {%SUBTOTAL%} €<br>
VAT {%VAT%} €<br>
Order Total {%TOTAL%} €
</p>

<p>The letter with certificate will be delivered to this address:
{%ADDRESS%}.</p>

<p>If you would like to change address of delivery, please let us know by
replying to this email within next 24 hours.</p>

<p>--<br>{{email_regards}}<br>{{email_team}}</p>
