<p>{{email_header_dear_username}}</p>

<p>{{email_notif_student_cert_p2}} <a href="{%courselink%}">{%coursename%}</a>.</p>

<p style="text-align:center"><a href="{%certurl%}"><img style="width:480px;max-height:360px;margin-top:10px;margin-botton:10px" src="{%certimgurl%}"></a></p>

<p>&nbsp;</p>

<a href="{%certurl%}">{{email_label_download}}</a> {{email_label_or}} {{email_label_share_on}}
<a href="{%fb_url%}"><img style="border-radius:10px;width:20px;height:20px;" alt="Facebook" src="https://mrdi.eliademy.com/img/logo-facebook.png"></a>
<a href="{%tw_url%}"><img style="border-radius:10px;width:20px;height:20px;" alt="Twitter" src="https://mrdi.eliademy.com/img/logo-twitter.png"></a>
<a href="{%li_url%}"><img style="border-radius:10px;width:20px;height:20px;" alt="LinkedIn" src="https://mrdi.eliademy.com/img/logo-linkedin.png"></a></br>

<p>&nbsp;</p>

<p>{{email_notif_student_cert_share_msg}}</p>

<p>&nbsp;</p>

<p style="text-align: center;"><a href="{%certurl%}" class="button">{{email_notif_student_cert_view}}</a></p>

<p>&nbsp;</p>

<p>{{email_notif_student_cert_p4}}</p>
