<p>
	<b>{%cohortadminName%}</b> {{email_header_cohort_invite3}} <b>{%cohortName%}</b>.
</p>			
<p>
	{{email_header_cohort_invite_msg}} - <b>{%invEmail%}</b>.
</p>			

<div style="text-align: center; padding-top: 12px; padding-bottom: 12px;">
	<a href="{%link%}" target="_blank" class="button">{{email_action_join}}</a>
</div>

<p>
	<i>{{email_footer_general}}</i>
</p>

<p>
	{{email_message_sent_by}} <b>{%cohortadminName%}</b> {{email_via_eliademy}}
</p>

<p>{%emailSummary%}</p>
