<p>{{email_header_dear_username}}</p>

<p>We were unable to collect the payment for Eliademy Premium. All Premium
features are disabled, but you have access to all your courses. Please
check that you provided valid payment method.</p>

<div style="text-align: center; padding-top: 12px; padding-bottom: 12px;">
<a href="https://mrdi.eliademy.com/app/a/payment-method" target="_blank" class="button">Add valid payment method</a>
</div>

<p>--<br>{{email_team}}</p>
