<p>{{email_header_dear_username}}</p>

<p>Thank you for your purchase from Eliademy.</p>

<p>This is a payment receipt for Invoice {%INVOICENUM%} sent on {%DATE%}.</p>

<p>Amount: {%AMOUNT%} EUR</p>

<div style="text-align: center; padding-top: 12px; padding-bottom: 12px;">
<a href="https://mrdi.eliademy.com/app/a/invoices/{%INVOICEID%}" target="_blank" class="button">View Invoice Details</a>
</div>

<p>Note: You may review your invoice history at any time by logging in to Eliademy.</p>

<p>--<br>{{email_team}}</p>
