<p>{{email_header_dear_username}}</p>

<p>{{email_order_notification_thanks}} {{email_order_notification_order_details}}</p>

<p>
    Invoice number: {%INVOICENUMBER%} <br>
    Invoice date: {%INVOICEDATE%} <br>
    Seller's VAT number: FI-2457719-7 <br>
{{email_order_notification_course_name}}: {%COURSENAME%}<br>
Base price: {%SUBTOTAL%} <br>
{{email_order_notification_tax}}: {%VAT%} {{currency_euro}}<br>
{{email_order_notification_course_price}}: {%TOTAL%} {{currency_euro}}<br>
</p>

<p>{{email_order_notification_questions}}</p>

<p>--<br>{{email_regards}}<br>{{email_team}}</p>
