<p>{{email_order_notification_congrats}} {{email_order_notification_order_details}}</p>

<p>
{{email_order_notification_course_name}}: {%COURSE_NAME%}<br>
{{email_order_notification_course_price}}: {%TOTALPRICE%} {{currency_euro}}<br>
{{email_order_notification_tax}}: {%VAT%} {{currency_euro}}<br>
{{email_order_notification_student_name}}: {%STUDENT_NAME%} ({%STUDENT_EMAIL%})
</p>

<p>{{email_order_notification_discount}}</p>

<p>{{email_order_notification_questions}} {{email_order_notification_check_knowledgebase}}</p>

<p>--<br>{{email_regards}}<br>{{email_team}}</p>