<p>
	{{label_teacher}} <b>{%teacherName%}</b> {{email_header_course_invite}} <b>{%courseName%}</b>. {{email_course_invite_explanation}}.
</p>

<div style="text-align: center; padding-top: 12px; padding-bottom: 12px;">
	<a href="{%link%}" target="_blank" class="button">{{email_action_join}}</a>
</div>


<p>{{email_message_sent_by}} <b>{%teacherName%}</b> via UNIVERNET PLUS</p>

<p>{%emailSummary%}</p>
