<p>{{email_header_dear_username}}</p>

<p>
	{{label_teacher}} <b>{%teacherName%}</b> {{email_header_course_message}} <b>{%courseName%}</b>.
</p>

<p>{%course_message%}</p>

    <div style="text-align: center; padding-top: 12px; padding-bottom: 12px;">
	<a href="https://mrdi.eliademy.com/app/a/" target="_blank" class="button">{{email_action_go_to_eliademy}}</a>

<p>{{email_message_sent_by}} <b>{%teacherName%}</b> {{email_via_eliademy}}</p>
<!-- {%username%} -->
