<p>{{email_header_hello}},</p>

<p>{{email_subject_eliademy_invite}}</p>

<p>
	{{email_footer_general}}
</p>

<p>{%invite_message%}</p>

    <div style="text-align: center; padding-top: 12px; padding-bottom: 12px;">
        <a href="https://mrdi.eliademy.com/signup" target="_blank" class="button">{{header_signup}}</a>
    </div>


