<div>
    <h3>
        {%coursename%}
    </h3>
    {%notifications%}

    <div style="text-align: center; padding-top: 12px; padding-bottom: 12px;">
	<a href="https://mrdi.eliademy.com/app/a/" target="_blank" class="button">{{email_button_view_on_eliademy}}</a>
	</div>

</div>
