<div class="hbox">

<div class="expand" style="margin-right: 24px;">
<div class="block">
	<div class="inner">
		<div class="block-header hbox middle mb">
			<h3 class="expand"><%= str.task_student_submissions %> (<%= data.studentname %>)</h3>
			<% if (data.lastsubmissiondate) { %>
				<% if (data.duedate && data.duedate < data.lastsubmissiondate) { %>
					<span class="noshrink label label-important mr"><%= str.label_late %></span>
				<% } %>
				<span class="noshrink"><%= moment(data.lastsubmissiondate, "X").format("LLL") %></span>
			<% } else if (data.dategraded) { %>
				<span class="noshrink label label-warning mr"><%= str.task_needs_work %></span>
			<% } else { %>
				<span class="noshrink label"><%= str.task_status2 %></span>
			<% } %>
		</div>
		<div><%= data.text %></div>

	</div>

	<% if (data.submissions.length > 0) { %>
	<div class="block-bottom" data-utils="gallery">
	<% _.each(data.submissions, function (item) { %>
	<% if (item instanceof Object && item.mimetype && item.mimetype.substr(0, 6) == "image/") { %>
		<div style="margin-left: 15px; padding: 0px; border: none; box-shadow: none;" class="attachment-place <% print(item.media ? '' : 'small-attachment') %>">
			<a class="ignored_link" data-utils="popup" href="<%= item.url %>"><img src="<%= item.url %>" style="max-width: 320px;" class="img-polaroid"></a>
		</div>
	<% } else { %>
		<div style="margin-left: 15px; background-color: white;" class="attachment-place <% print(item.media ? '' : 'small-attachment') %>">
			<a href="<%= item.url %>" class="attachment-link-item">
				<% if (item.icon) { %>
					<img src="<%= RootDir %>/app/img/<%= item.icon %>">
				<% } else if (item.mimetype) { %>
					<img src="<%= Utils.mimeIcon(item.mimetype) %>">
				<% } %>
				<span><%= item.name %></span>
			</a>
		</div>
	<% } %>
	<% }) %>
	</div>
	<% } %>
</div>



<!-- Feedback block -->
	<div class="block">
	 	<div class="inner">
			<div class="block-header hbox middle" style="margin-bottom: 10px;">
		    	<h3 class="expand"><%= str.feedback %></h3>
 		    	<% if (data.dategraded) { %>
					<span class="noshrink"><%= moment(data.dategraded, "X").format("LLL") %></span>
		    	<% } %>
		    </div>

<!-- If block is graded, we show static feedback box, otherwise we show text field. In principle updating field wold always, but confusing for teachers -->

			<% if (!cantwrite) { %>
				<% if (data.lastsubmissiondate) { %>
					<textarea id="feedback-input-field" style="width: 98%; margin: 12px 0px;" rows="3"><%= data.feedback %></textarea>
<!-- 					<div class="attachmentlist" style="margin-bottom: -20px; margin-top: 10px;">
						<div class="hbox">
						<div class="expand"></div>
						<button class="btn btn-primary noshrink" data-call="draftTask"><%= str.forum_add_comment %></button>
						</div>
					</div> -->
				<% } else { %>
					<div><%= data.feedback %></div>
				<% } %>
			<% } %>
		</div>
	</div>

<!-- Previous/next block -->
<% if (previous || next) { %>
<div class="hbox">
	<% if (previous) { %>
	<div class="pagination noshrink">
	  <ul>
		<li><a href="#" data-studentid="<%= previous %>" data-call="openGradeBox"><i class="fa fa-long-arrow-left"></i> <%= str.button_prev_answer %></a></li>
	  </ul>
	</div>
	<% } %>

	<div class="expand">&nbsp;</div>

	<% if (next) { %>
	<div class="pagination noshrink">
	  <ul>
		<li><a href="#" data-studentid="<%= next %>" data-call="openGradeBox"><%= str.button_next_answer %> <i class="fa fa-long-arrow-right"></i></a></li>
	  </ul>
	</div>
	<% } %>
</div>
<% } %>

</div>

<div class="block noshrink sidebar_width">
	<div class="inner">
<!-- 		<h3 class="block-title"><%= str.role_student %></h3>
		<div style="text-align: center;">
			<img class="img-circle img-polaroid" src="<%= data.picurl.l %>">
			<h4><%= data.studentname %></h4>
		</div> -->

		<% if (!cantwrite) { %>
		<% if (data.lastsubmissiondate) { %>
		<h3 class="block-title"><%= str.title_grade %></h3>
		<div style="text-align: center; font-size: 28px; font-family: 'Open Sans'; margin: 12px 0px;">
			<input type="text" id="grade-input-field" class="inputfield" value="<%= data.grade %>" style="font-size: 32px; padding: 8px 0px; font-family: 'Open Sans'; width: 60px;">
			<span> /<%= data.grademax %></span>
		</div>

		<div style="text-align: center;">
			<button class="btn btn-primary btn-large disabled" data-call="gradeTask"><%= str.button_grade_task %></button>
			<div style="margin: 12px 0px;"><%= str.or %></div>
			<a href="#" data-call="draftTask"><%= str.label_comment_and_draft %></a>
		</div>
		<% } else if (data.dategraded) { %>
		<div style="text-align: center; color: #4189DD;">
			<i class="fa fa-hourglass-half" style="font-size: 48px; margin: 30px 0px 40px 0px;"></i>
			<div style="font-size: 16px;"><%= str.waiting_for_update %></div>
		</div>
		<% } %>
		<% } %>
	</div>
</div>

</div>
