<a href=":back" class="back-button noprint"><i class="fa fa-chevron-left"></i> <%= str.button_back %></a>

<div class="block">
 <div class="inner" style="padding-bottom: 10px;"><h3 class="block-title" style="margin: 0px; padding: 0px; border: none;"><%= task.name %></h3></div>
</div>

<div id="content-box"></div>
