<div class="hbox stretch" style="border-top: 1px solid #C1C1C1; padding-top: 20px;">

	<div class="expand" style="border-right: 1px solid #C1C1C1; padding-right: 20px;">
		<div class="well"><%= str.quiz_description %></div>

		<div class="hbox mt">
		 <div style="width: 25%; text-align: right;" class="mr"><%= str.label_quiz_open_msg %>:</div>
		 <textarea class="expand" data-field="startmsg" style="margin: 0px;" placeholder="<%= str.label_quiz_open_desc %>"><%= data.startmsg %></textarea>
		</div>

		<div class="hbox mt">
		 <div style="width: 25%; text-align: right;" class="mr"><%= str.label_quiz_close_msg %>:</div>
		 <textarea class="expand" data-field="endmsg" style="margin: 0px;" placeholder="<%= str.label_quiz_close_desc %>"><%= data.endmsg %></textarea>
		</div>

	</div>

	<div class="expand">

		<div class="hbox middle">
		 <div style="width: 25%; text-align: right;" class="mr mb"><%= str.task_start_time %>:</div>
		 <div class="expand hbox middle">
			<div class="input-append noshrink mr">
				<input id="start-date" type="text" class="input-small">
				<span class="add-on" onclick="javascript:$('#start-date').datepicker('show');"><i class="fa fa-calendar"></i></span>
			</div>
			<div class="input-append noshrink" id="start-time">
				<input type="text" class="input-mini" id="start-time-input">
				<span class="add-on" onclick="javascript:$('#start-time-input').timepicker('show');"><i class="fa fa-clock-o"></i></span>
			</div>
			<span style="cursor: pointer; font-size: 22px;" data-toggle="popover" data-content="<%= str.task_start_time_msg %>"><i class="fa fa-question-circle ml mb"></i></span>
		 </div>
		</div>

		<div class="hbox middle">
		 <div style="width: 25%; text-align: right;" class="mr mb"><%= str.task_end_time %>:</div>
		 <div class="expand hbox middle">
			<div class="input-append noshrink mr">
				<input id="deadline-date" type="text" class="input-small">
				<span class="add-on" onclick="javascript:$('#deadline-date').datepicker('show');"><i class="fa fa-calendar"></i></span>
			</div>
			<div class="input-append noshrink" id="deadline-time">
				<input type="text" class="input-mini" id="deadline-time-input">
				<span class="add-on" onclick="javascript:$('#deadline-time-input').timepicker('show');"><i class="fa fa-clock-o"></i></span>
			</div>
			<span style="cursor: pointer; font-size: 22px;" data-toggle="popover" data-content="<%= str.task_end_time_msg %>"><i class="fa fa-question-circle ml mb"></i></span>
		 </div>
		</div>

		<div class="hbox middle mb">
		 <div style="width: 25%; text-align: right;" class="mr"><%= str.allow_late_submissions %>:</div>
		 <div class="expand hbox middle">
		  <input id="allow-late-submissions" type="checkbox" value="1" data-toggle="toggle" data-off="<%= str.label_allow %>" data-on="<%= str.label_reject %>"<% if (data.nolatesubmissions) { %> checked="checked"<% } %>>
		  <span style="cursor: pointer; font-size: 22px;" data-toggle="popover" data-content="<%= str.allow_late_submissions_msg %>"><i class="fa fa-question-circle ml"></i></span>
		 </div>
		</div>

		<div class="hbox middle">
		 <div style="width: 25%; text-align: right;" class="mr mb"><%= str.label_question_order %>:</div>
		 <div class="expand hbox middle">
		  <select data-field="question_order">
		  <option value="0"<% if (data.question_order == "0") { %> selected="selected"<% } %>><%= str.label_sequential %></option>
		  <option value="1"<% if (data.question_order == "1") { %> selected="selected"<% } %>><%= str.label_random %></option>
		  </select>
		  <!--
		 <span style="cursor: pointer; font-size: 22px;" data-toggle="popover" data-content="" data-original-title=""><i class="fa fa-question-circle ml mb"></i></span>
		 -->
		 </div>
		</div>

		<div class="hbox middle">
		 <div style="width: 25%; text-align: right;" class="mr mb"><%= str.quiz_attempts %>:</div>
		 <div class="expand hbox middle">
			<select id="quizattempts" data-field="attempts">
			<% var opts=[1,2,3,4,5,10,0];for (var i in opts) { %>
			  <% if (opts[i] == 0) { %>
				<option <% if (data.attempts == opts[i]) print("selected=\"selected\""); %> value="<%= opts[i] %>"><%= str.label_unlimited %></option>
			  <% } else { %>
				<option <% if (data.attempts == opts[i]) print("selected=\"selected\""); %> value="<%= opts[i] %>"><%= opts[i] %></option>
			  <% } %>
			<% } %>
			</select>

			<span style="cursor: pointer; font-size: 22px;" data-toggle="popover" data-content="<%= str.label_quiz_tries_desc %>"><i class="fa fa-question-circle ml mb"></i></span>
		 </div>
		</div>

	</div>

</div>
