<div class="block quiz_result"><%= correct %>/<%= total %> <%= str.quiz_results %> (<%= Math.round(correct / total * 100) %>%)</div>

<div id="student-quiz-rezult-preview-block"></div>

<div class="block quiz_result"><%= correct %>/<%= total %> <%= str.quiz_results %> (<%= Math.round(correct / total * 100) %>%)</div>


<%/* if((data.attemptsleft > 0) || ((data.attempts == 0) && (data.endquiz == 0))) { %>
   <div style="padding: 0px 0px 30px 0px; text-align:center">
  <% if(data.attempts == 0) { %>
    <div class="blue-placeholder"><%= str.quiz_unlimited %></div>
  <% } else if(data.attemptsleft > 1) { %>
    <div class="blue-placeholder" style="margin: 25px"><% print(str.quiz_retake.replace('{%attemptsleft%}', data.attemptsleft)) %></div>
  <%  } else { %>
    <div class="blue-placeholder" style="margin: 25px"><%= str.quiz_retake_last %></div>
  <% } %>
    <button class="btn btn-primary" id="button-quiz-restart"><%= str.btn_retake_quiz %></button>
    <div class="blue-placeholder" style="margin: 25px"><%= str.label_quiz_end %></div>
    <button class="btn btn-large btn-primary centered" id="button-quiz-end"><%= str.btn_end_quiz %></button>
  </div>
  </div>
<% } */ %>

<div style="text-align: center;">
 <a href="/quizzes/<%= data.instanceid %>" class="btn btn-large"><i class="fa fa-chevron-left"></i> <%= str.button_back_to_results %></a>
</div>
