<div class="block">
 <div class="inner">
    <h3 class="block-title" style="margin-bottom: 0px;"><%= str.label_tasks_returned %> <%= ret_count %>/<%= data.length %></h3>

	<table class="table table-striped">
	<tr>
		<th style="width: 35%;"><%= str.role_student %></th>
		<th><%= str.label_status %></th>
		<th><%= str.completed_at %></th>
		<th><%= str.title_result %></th>
		<th>x&#772;</th>
		<th>&nbsp;</th>
	</tr>

    <% _.each(data, function (item) { %>
	<tr>
	<td>
		<a href="/profile/<%= item.id %>"><img src="<%= item.picurl.s %>" style="border-radius: 20px; margin-right: 8px;"><%= item.fullname %></a>
	</td>

	<% if (item.finished) { %>
	<td>
		<% if (task.duedate && item.datetaken > task.duedate) { %>
		<span class="label label-important"><%= str.label_late %></span>
		<% } else { %>
		<span class="label label-success"><%= str.completed %></span>
		<% } %>
	</td>
	<td>
		<%= moment(item.datetaken, "X").format("LLL") %>
	</td>
	<td>
		<%= item.correct %>/<%= item.total %>
	</td>
	<td>
		<%= item.result %>%
	</td>
	<td style="text-align: right;">
		<a href="#" data-call="resetResult" data-studentid="<%= item.id %>"><i class="fa fa-history mr" style="font-size: 18px; line-height: 30px; color: #333;"></i></a>
		<a href="/quizzes/<%= task.instanceid %>/<%= item.id %>" class="btn"><%= str.button_view_answers %></a>
	</td>
	<% } else { %>
	<td>
		<span class="label"><%= str.task_status2 %></span>
	</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td style="text-align: right;"><button class="btn disabled"><%= str.button_view_answers %></button></td>
	<% } %>
	</tr>
    <% }) %>
	<tr>
	<td colspan="3"><%= str.class_average %></td>
	<td><%= average_answer %>/<%= task.questions.length %></td>
	<td><%= average_percent %></td>
	<td>&nbsp;</td>
	</tr>
    </table>
 </div>
</div>
