DELETE ME!

<div id="quiz-attempt-block" style="display: none;">
<% _.each(data.questions, function (question, qnum) { %>

<div class="block" style="padding: 0px 0px 6px 0px;">
<div class="quiz_question" style="margin: 0px 35px; padding: 25px 0px;">
	<h3 class="block-title"><% print(qnum + 1) %>. <%= str.quiz_question %></h3>
	<%= question.text %>
	<div id="quiz-attachment-block-<%= qnum %>" style="margin-top: 10px;"></div>
</div>

   <div class="quiz_answer_block">
<% _.each(question.answers, function (answer) { %>

<% if (preview) { %>
	<div style="padding: 5px 0px 5px 15px;"><i class="fa fa-check-square-o" style="font-size: 12pt;"></i>&nbsp;&nbsp;<span><%= answer.text %></span></div>
<% } else { %>
	<label class="checkbox"><input data-field="questions|<%= question.cid %>|answers|<%= answer.cid %>|student_answer" type="checkbox">
	<span><%= answer.text %></span></label>
<% } %>

<% }); %>
   </div>

</div>
<div class="block-shadow"></div>

<% }); %>

<% if (!preview) { %>
<div style="text-align: center; margin: 15px 0px 30px 0px;">
 <button class="btn btn-large btn-primary" id="button-quiz-finish"><%= str.label_finish %></button>
</div>
<% } %>
</div>
