<table class="table table-striped">
<tr>
	<th style="width: 40%;"><%= str.role_student %></th>
	<th><%= str.label_status %></th>
	<th><%= str.completed_at %></th>
	<th><%= str.title_grade %></th>
	<th>&nbsp;</th>
</tr>

<% for (var i=page*ipp; i<(page+1)*ipp && i<data.length; i++) { var item = data[i]; %>
<tr>
	<td><a href="<%= item.profileurl %>"><img src="<%= item.picurl.s %>" style="border-radius: 20px; margin-right: 8px;"><%= item.studentname %></a></td>

	<% if (item.lastsubmissiondate) { %>

	<td><% if (item.duedate && item.duedate < item.lastsubmissiondate) { %><span class="label label-important"><%= str.label_late %></span><% } else { %><span class="label label-success"><%= str.label_tasks_returned %></span><% } %></td>

	<td><%= moment(item.lastsubmissiondate, "X").format("LLL") %></td>
	<td><% if (item.grade) { %><%= item.grade %><% } else { %>-<% } %></td>

	<% } else { %>

	<td><% if (item.dategraded) { %><span class="label label-warning"><%= str.task_needs_work %></span><% } else { %><span class="label"><%= str.task_status2 %></span><% } %></td>
	<td>-</td>
	<td>-</td>

	<% } %>

<!-- Show grade button only if task is submitted -->
	<% if (item.lastsubmissiondate || item.dategraded) { %>
	<td style="text-align: right;"><button class="btn" data-call="openGradeBox" data-studentid="<%= item.studentid %>"><%= str.button_view_task %></button></td>
	<% } else { %>
	<td style="text-align: right;"><button class="btn" data-call="openGradeBox" data-studentid="<%= item.studentid %>" disabled><%= str.button_view_task %></button></td>
	<% } %>

</tr>
<% } %>
</table>

<% if (pages > 1) { %>
<div style="text-align: center;">
<div class="pagination">
	<ul>
	<% for (var i=0; i<pages; i++) { %>
    <li<% if (i == page) { %> class="active"<% } %>><a href="#" data-call="changePage" data-page="<%= i %>"><%= (i + 1) %></a></li>
	<% } %>
	</ul>
</div>
</div>
<% } %>
