<div id="task-returned" class="block">
    <h3 class="block-title" style="margin-bottom: 0px;"><%= str.returned_tasks %></h3>
	<div id="returned-list-container"><div class="blue-placeholder"><%= str.there_are_no_tasks_to_grade %></div></div>
</div>
<div id="returned-grade-container"></div>
