<div class="hbox">


<div class="expand">
	<div class="block" style="margin-right: 24px;">
	 	<div class="inner">
			<div class="block-header hbox middle" style="margin-bottom: 10px;">
		     <h3 class="expand"><%= str.task_your_answer %></h3>
			 <% if (data.timesubmitted) { %>
			 <% if (task.duedate && task.duedate < data.timesubmitted) { %><span class="label label-important mr"><%= str.label_late %></span><% } %>
			 <span class="noshrink"><%= moment(data.timesubmitted, "X").format("lll") %></span>
			 <% } else if (!parseInt(data.status) && data.grade instanceof Object && data.grade.dategraded) { %>
				<span class="noshrink label label-warning mr"><%= str.task_needs_work %></span>
			 <% } %>
			</div>

			<% if (parseInt(data.status)) { %>
			<div><%= data.text %></div>
			<% } else { %>
			<textarea id="task-submission-text-input"><%= data.text %></textarea>
			<% } %>

		    <div class="attachmentlist" style="margin-bottom: -20px; margin-top: 10px;">
				<div id="submission-files-container" style="margin-top: 5px;"></div>

				<% if (!parseInt(data.status)) { %>
				<div class="hbox">
		         <button class="btn noshrink" data-call="submitFile"><i class="fa fa-plus"></i> <%= str.forum_attachment %></button>
				 <div class="expand"></div>
				 <button class="btn btn-primary noshrink" disabled="true" data-call="saveEdit"><%= str.button_update %></button>
				</div>
				<% } %>
		    </div>
    	</div>
	</div>


<!-- if there is feedback, show it on the panel -->
<% if (data.grade instanceof Object && data.grade.feedback && $.trim(data.grade.feedback)) { %>
	<div class="block" style="margin-right: 24px;">
	 	<div class="inner">
			<div class="block-header hbox middle" style="margin-bottom: 10px;">
		    	<h3 class="expand"><%= str.feedback %></h3>
		    	<span class="noshrink"><%= moment(data.grade.dategraded, "X").format("LLL") %></span>
		    </div>
		    <div><%= data.grade.feedback %></div>
		</div>
	</div>
<% } %>

</div>


<div class="block noshrink sidebar_width">
 <div class="inner">
	<h3 class="block-title"><%= str.label_your_grade %></h3>

	<% if (parseInt(data.status)) { %>
		<% if (data.grade instanceof Object && data.grade.grade != "") { %>
		<div style="text-align: center; margin: 40px 0px 30px 0px; font-family: 'Open Sans';">
			<span style="font-size: 48px; font-weight: bold;"><%= data.grade.grade %></span>
			<span style="font-size: 42px;">/<%= data.grade.grademax %></span>
		</div>
		<% if (data.grade instanceof Object && data.grade.feedback && $.trim(data.grade.feedback)) { %>
		<!-- <h3 class="block-title"><%= str.feedback %></h3> -->
		<% } %>
		<% } else { %>
		<div style="text-align: center; color: #4189DD;">
			<i class="fa fa-hourglass-half" style="font-size: 48px; margin: 30px 0px 40px 0px;"></i>
			<div style="font-size: 16px;"><%= str.waiting_for_grade %></div>
		</div>
		<% } %>
	<% } else { %>
		
		<!-- if assignment needs work shown different message  -->
		<% if (!parseInt(data.status) && data.grade instanceof Object && data.grade.dategraded) { %>
		<div><%= str.task_submit_update %></div>
		<% } else { %>
		<div><%= str.task_submit_message %></div>
		<% } %>
		<div style="text-align: center; margin: 24px 0px;">
			<button class="btn btn-success btn-large" data-call="saveFinal"><i class="fa fa-paper-plane"></i> <%= str.task_submit %></button>
		</div>
	<% } %>

 </div>
</div>

</div>
