<div data-utils="gallery">
<% _.each(submissionfiles, function (item) { %>
    <% if (! item.remove) { %>
<% if (item instanceof Object && item.mimetype && item.mimetype.substr(0, 6) == "image/") { %>
	<div style="margin-left: 15px; padding: 0px; border: none; box-shadow: none;" class="attachment-place <% print(item.media ? '' : 'small-attachment') %>">
		<span style="<%= ((editmode) ? "" : 'display: none;') %>" class="attachment-remove-button <% print(item.media ? '' : 'small-remove-button') %>" data-cid="<%= item.cid %>"></span>
		<a class="ignored_link" data-utils="popup" href="<%= item.url.replace('WSTOKEN', wstoken) %>"><img src="<%= item.url.replace('WSTOKEN', wstoken) %>" style="max-width: 320px;" class="img-polaroid"></a>
	</div>
<% } else { %>
        <div style="margin-left: 15px; background-color: white;" class="attachment-place <% print(item.media ? '' : 'small-attachment') %>">
            <span style="<%= ((editmode) ? "" : 'display: none;') %>" class="attachment-remove-button <% print(item.media ? '' : 'small-remove-button') %>" data-cid="<%= item.cid %>"></span>
            <div id="attachment-<%= item.cid %>-place">
                <a href="<%= item.url.replace('WSTOKEN', wstoken) %>" class="attachment-link-item">
                    <% if (item.icon) { %>
                        <img src="<%= RootDir %>/app/img/<%= item.icon %>">
                    <% } %>
                    <span><%= item.filename %></span>
                </a>
            </div>
        </div>
<% } %>
    <% } %>
<% }) %>
</div>
