<div class="block">
 <div class="inner" style="padding-bottom: 0px;">
	<h3 class="block-title"><%= str.instructions %></h3>
	<div id="intro"><p><%= data.intro %></p></div>
	<div id="assignment-attachment-view"></div>
 </div>
</div>

<div id="assignment-submission-view"></div>

<div style="clear: both;"></div>
