<div class="block">
 <div class="inner" style="padding-bottom: 0px;">
	<h3 class="block-title"><%= str.instructions %></h3>
	<div id="intro" data-field="intro" placeholder="<%= str.add_instructions %>" class="editable livevalidation multiline richtext" style="min-height: 2em;"><p><%= data.intro %></p></div>
	<div style="clear: both;" id="assignment-attachment-view"></div>
 </div>
</div>

<div id="assignment-returned-view"></div>

<div style="clear: both;"></div>
