<div class="hbox stretch" style="border-top: 1px solid #C1C1C1; padding-top: 20px;">

	<div class="expand" style="border-right: 1px solid #C1C1C1;">
		<% if (isnew) { %>
		<div style="text-align: center;" class="mb">
			<span><%= str.task_options %></span>
			<div class="btn-group" data-toggle="buttons-radio">
			 <button class="btn" data-call="changeTaskType" id="btn-task-type-upload"><%= str.task_write_upload %></button>
			 <button class="btn" data-call="changeTaskType" id="btn-task-type-nosubmissions"><%= str.task_no_submission %></button>
			</div>
		</div>
		<% } %>
		<div class="well" style="margin: 0px 20px 0px 0px;" id="task-type-description"></div>
	</div>

	<div class="expand">

		<div class="hbox middle">
		 <div style="width: 25%; text-align: right;" class="mr mb"><%= str.task_start_time %>:</div>
		 <div class="expand hbox middle">
			<div class="input-append noshrink mr">
				<input id="start-date" type="text" class="input-small">
				<span class="add-on" onclick="javascript:$('#start-date').datepicker('show');"><i class="fa fa-calendar"></i></span>
			</div>
			<div class="input-append noshrink" id="start-time">
				<input type="text" class="input-mini" id="start-time-input">
				<span class="add-on" onclick="javascript:$('#start-time-input').timepicker('show');"><i class="fa fa-clock-o"></i></span>
			</div>
			<span style="cursor: pointer; font-size: 22px;" data-toggle="popover" data-content="<%= str.task_start_time_msg %>"><i class="fa fa-question-circle ml mb"></i></span>
		 </div>
		</div>

		<div class="hbox middle">
		 <div style="width: 25%; text-align: right;" class="mr mb"><%= str.task_end_time %>:</div>
		 <div class="expand hbox middle">
			<div class="input-append noshrink mr">
				<input id="deadline-date" type="text" class="input-small">
				<span class="add-on" onclick="javascript:$('#deadline-date').datepicker('show');"><i class="fa fa-calendar"></i></span>
			</div>
			<div class="input-append noshrink" id="deadline-time">
				<input type="text" class="input-mini" id="deadline-time-input">
				<span class="add-on" onclick="javascript:$('#deadline-time-input').timepicker('show');"><i class="fa fa-clock-o"></i></span>
			</div>
			<span style="cursor: pointer; font-size: 22px;" data-toggle="popover" data-content="<%= str.task_end_time_msg %>"><i class="fa fa-question-circle ml mb"></i></span>
		 </div>
		</div>

		<div class="hbox middle">
		 <div style="width: 25%; text-align: right;" class="mr"><%= str.allow_late_submissions %>:</div>
		 <div class="expand hbox middle">
		  <input id="allow-late-submissions" type="checkbox" value="1" data-toggle="toggle" data-off="<%= str.label_allow %>" data-on="<%= str.label_reject %>"<% if (data.nolatesubmissions) { %> checked="checked"<% } %>>
		  <span style="cursor: pointer; font-size: 22px;" data-toggle="popover" data-content="<%= str.allow_late_submissions_msg %>"><i class="fa fa-question-circle ml"></i></span>
		 </div>
		</div>

	</div>

</div>
