<div class="block" style="padding: 10px 30px;">

<h3 class="block-title"><%= str.course_analytics %></h3>

<div style="display: flex; display: -webkit-flex; display: -ms-flex; flex-flow: row wrap; -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; justify-content: space-between; -webkit-justify-content: space-between; -ms-justify-content: space-between;">
 <div class="well statistic_block">
  <div><i class="fa fa-users"></i></div>
  <div><%= data.user_count %></div>
  <div><%= str.current_users %></div>
 </div>

 <div class="well statistic_block">
  <div><i class="fa fa-book"></i></div>
  <div><%= data.course_count %></div>
  <div><%= str.courses %></div>
 </div>

 <div class="well statistic_block">
  <div><i class="fa fa-edit"></i></div>
  <div><%= data.section_count %></div>
  <div><%= str.topics %></div>
 </div>

 <div class="well statistic_block">
  <div><i class="fa fa-tasks"></i></div>
  <div><%= data.task_count %></div>
  <div><%= str.tasks %></div>
 </div>

 <div class="well statistic_block">
  <div><i class="fa fa-list-ol"></i></div>
  <div><%= data.quiz_count %></div>
  <div><%= str.quizzes %></div>
 </div>
</div>

<label style="display: inline-block;">
<span style="position: relative; top: -5px;"><%= str.type %>:</span>
<select id="view-type-selector" class="input-xlarge">
<% for (var i in views) { %>
 <option value="<%= i %>"><%= views[i] %></option>
<% } %>
</select>
</label>

<div id="analytics-content-view"></div>

</div>
