<h3 class="block-title"><%= str.user_details %></h3>

<div class="well">
<%= str.groups %>:
<% for (var i=0; i<stats.usertags.length; i++) { %>
<span class="label label-info"><%= stats.usertags[i] %></span>
<% } %>
</div>

<div style="display: flex; display: -webkit-flex; display: -ms-flex; flex-flow: row wrap; -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; justify-content: space-between; -webkit-justify-content: space-between; -ms-justify-content: space-between;">
 <div class="well statistic_block">
  <div><i class="fa fa-hand-o-up"></i></div>
  <div><%= stats.activity %></div>
  <div><%= str.total_interactions %></div>
 </div>

 <div class="well statistic_block">
  <div><i class="fa fa-book"></i></div>
  <div><% print(_.reduce(stats.courses, function (num, crs) { if (!crs.completed) num++; return num; }, 0)); %>/<% print(stats.courses.length); %></div>
  <div><%= str.active_courses %></div>
 </div>

<% if (user.firstaccess) { %>
 <div class="well statistic_block">
  <div><i class="fa fa-calendar"></i></div>
  <div style="font-size: 16px; line-height: 47px;"><%= moment(user.firstaccess, "X").format("ll") %></div>
  <div><%= str.first_access %></div>
 </div>
<% } %>

<% if (user.lastaccess) { %>
 <div class="well statistic_block">
  <div><i class="fa fa-calendar"></i></div>
  <div style="font-size: 16px; line-height: 47px;"><%= moment(user.lastaccess, "X").format("ll") %></div>
  <div><%= str.last_access %></div>
 </div>
<% } %>
</div>

<table class="table table-striped">
<tr>
 <td style="width: 50%;"><%= str.course %></td>
 <td style="text-align: center;"><%= str.last_access %></td>
 <td style="text-align: center;"><%= str.task_submission_progress %></td>
 <td style="text-align: center;"><%= str.average_grade %> (%)</td>
</tr>
<% for (var i=0; i<stats.courses.length; i++) { %>
<tr>
 <td><a href="/courses/<%= stats.courses[i].code %>"><%= stats.courses[i].fullname %></a></td>
 <td style="text-align: center;"><% print(stats.courses[i].lastaccess ? moment(stats.courses[i].lastaccess, "X").format("ll") : "-"); %></td>
 <td style="text-align: center;">
<% if (stats.courses[i].tasks) { %>
 <div class="progress" style="margin-bottom: -20px; position: relative;">
  <div class="bar" style="width: <% print(Math.round(stats.courses[i].submitted / stats.courses[i].tasks * 100)); %>%;"></div>
 </div>
<% } %>
 <span style="position: relative; z-index: 100;"><%= stats.courses[i].submitted %>/<%= stats.courses[i].tasks %></span>
 </td>
 <td style="text-align: center;"><%= stats.courses[i].average_grade %></td>
</tr>
<% } %>
</table>
