<div style="margin-bottom: 10px;">
 <div class="input-prepend">
  <span class="add-on"><i class="fa fa-facebook"></i></span>
<% if (social.facebook) { %>
  <input type="text" class="input-xlarge inputfield" readonly="readonly" value="<%= social.facebook.accounturl %>">
 </div>
<% } else { %>
  <input type="text" class="input-xlarge inputfield" data-field="customfields_facebook" value="<%= data.customfields_facebook %>" placeholder="www.facebook.com/username">
 </div>
 <button class="btn btn-facebook" data-call="addFacebookAccount"><i class="fa fa-facebook"></i> <%= str.add_facebook_account %></button>
<% } %>
</div>

<div style="margin-bottom: 10px;">
 <div class="input-prepend">
  <span class="add-on"><i class="fa fa-linkedin"></i></span>
<% if (social.linkedin) { %>
  <input type="text" class="input-xlarge inputfield" readonly="readonly"  value="<%= social.linkedin.accounturl %>">
 </div>
<% } else { %>
  <input type="text" class="input-xlarge inputfield" data-field="customfields_linkedin" value="<%= data.customfields_linkedin %>" placeholder="www.linkedin.com/in/username">
 </div>
 <button class="btn btn-linkedin" data-call="addLinkedinAccount"><i class="fa fa-linkedin"></i> <%= str.add_linkedin_account %></button>
<% } %>
</div>

<div style="margin-bottom: 10px;">
 <div class="input-prepend">
  <span class="add-on"><i class="fa fa-twitter"></i></span>
<% if (social.twitter) { %>
  <input type="text" class="input-xlarge inputfield" readonly="readonly" value="<%= social.twitter.accounturl %>">
 </div>
<% } else { %>
  <input type="text" class="input-xlarge inputfield" data-field="customfields_twitter" value="<%= data.customfields_twitter %>" placeholder="twitter.com/username">
 </div>
 <button class="btn btn-twitter" data-call="addTwitterAccount"><i class="fa fa-twitter"></i> <%= str.add_twitter_account %></button>
<% } %>
</div>
<!--
<div style="margin-bottom: 10px;">
 <div class="input-prepend">
  <span class="add-on"><i class="fa fa-google-plus"></i></span>
<% if (social.google) { %>
  <input type="text" class="input-xlarge inputfield" readonly="readonly" value="<%= social.google.accounturl %>">
 </div>
<% } else { %>
  <input type="text" class="input-xlarge inputfield" data-field="customfields_googleplus" value="<%= data.customfields_googleplus %>" placeholder="plus.google.com/username">
 </div>
 <button class="btn btn-google-plus" data-call="addGoogleAccount"><i class="fa fa-google-plus"></i> <%= str.add_google_account %></button>
<% } %>
</div>



<div style="margin-bottom: 10px;">
 <div class="input-prepend">
  <span class="add-on"><i class="fa fa-windows"></i></span>
<% if (social.live) { %>
  <input type="text" class="input-xlarge inputfield" readonly="readonly" value="<%= social.live.accounturl %>">
 </div>
<% } else { %>
  <input type="text" class="input-xlarge inputfield" readonly="readonly">
 </div>
 <button class="btn btn-windows" data-call="addLiveAccount"><i class="fa fa-windows"></i> <%= str.add_live_account %></button>
<% } %>
</div>
-->
