<div class="block" style="padding: 10px 30px;">

<form class="form-horizontal">

<button class="btn btn-primary pull-right" style="margin-top: 5px;" id="profile-save-btn" data-call="save" disabled="disabled"><%= str.button_update %></button>
<h3 class="block-title">
 <span style="display: block; margin-right: 100px; min-height: 40px;" class="editable livevalidation" data-field="fullname"><%= data.fullname %></span>
</h3>

<div class="control-group">
 <label class="control-label" style="width: 120px;"><%= str.label_picture %>:</label>
 <div class="controls" style="margin-left: 130px;">
 <div class="row-fluid">
 <span class="span2"><img id="user-profile-image" class="thumbnail" alt="<%= data.fullname %>" src="<%= data.picurl.l %>"></span>
 <span class="span10">
 <a href="#" class="btn" id="profile-upload-picture" data-call="uploadPicture"><i class="fa fa-upload"></i> <%= str.button_upload_file %></a>&nbsp;
 <div class="btn-group">
   <a class="btn dropdown-toggle ignored_link" data-toggle="dropdown" href="#"><i class="fa fa-plus"></i> <%= str.add_social_img_button %> <span class="caret"></span></a>
   <ul class="dropdown-menu">
     <li><a href="#"id="profile-facebook-picture" data-call="facebookPicture"><i class="fa fa-facebook"></i>&nbsp;<%= str.service_facebook %></a</li>
     <li><a href="#" id="profile-linkedin-picture" data-call="linkedinPicture"><i class="fa fa-linkedin"></i>&nbsp;<%= str.service_linkedin %></a</li>
     <li><a href="#" id="profile-twitter-picture" data-call="twitterPicture"><i class="fa fa-twitter"></i>&nbsp;<%= str.service_twitter %></a></li>
   </ul>
  </div>

 </span>
 </div>
 </div>
</div>

<div class="control-group">
 <label class="control-label" style="width: 120px;"><%= str.profile_label_title %>:</label>
 <div class="controls" style="margin-left: 130px;">
      <input type="text" class="input-xxlarge inputfield livevalidation" data-field="customfields_usertitle" value="<%= data.customfields_usertitle %>">
 </div>
</div>

<div class="control-group">
 <label class="control-label" style="width: 120px;"><%= str.organization %>:</label>
 <div class="controls" style="margin-left: 130px;">
  <% if(data.cohortid > 0) { %>
      <span class="input-xxlarge uneditable-input"><%= data.institution %></span>
  <% } else { %>
      <input type="text" class="input-xxlarge inputfield livevalidation" data-field="institution" value="<%= data.institution %>">
  <% } %> 
 </div>
</div>

<div class="control-group">
 <label class="control-label" style="width: 120px;"><%= str.location %>:</label>
 <div class="controls" style="margin-left: 130px;">
  <input type="text" class="input-medium inputfield livevalidation" value="<%= data.city %>" data-field="city" data-placeholder="<%= str.city %>">
  <select class="input-medium inputfield" data-field="country">
<% _.each(countries, function (country) { %>
  <option value="<%= country.key %>"<% if (country.key == data.country) print(" selected=\"selected\""); %>><%= country.value %></option>
<% }); %>
  </select>
 </div>
</div>

<div class="control-group">
<label class="control-label" style="width: 120px;"><%= str.links %>:</label>

<div class="controls" style="margin-left: 130px;">

<div id="profile-social-buttons"></div>

<div style="margin-bottom: 10px;">
<div class="input-prepend">
 <span class="add-on"><i class="fa fa-google-plus"></i></span>
 <input type="text" class="input-xlarge inputfield livevalidation" data-field="customfields_googleplus" value="<%= data.customfields_googleplus %>" placeholder="plus.google.com/username">
</div>
</div>

<div style="margin-bottom: 10px;">
 <div class="input-prepend">
  <span class="add-on"><i class="fa fa-skype"></i></span>
  <input type="text" class="input-xlarge inputfield livevalidation" data-field="skype" value="<%= data.skype %>" placeholder="Skype">
 </div>
</div>

<div style="margin-bottom: 10px;">
 <div class="input-prepend">
  <span class="add-on"><i class="fa fa-vk"></i></span>
  <input type="text" class="input-xlarge inputfield livevalidation" data-field="customfields_vk" value="<%= data.customfields_vk %>" placeholder="vk.com/username">
 </div>
</div>

<div style="margin-bottom: 10px;">
 <div class="input-prepend">
  <span class="add-on"><i class="fa fa-weibo"></i></span>
  <input type="text" class="input-xlarge inputfield livevalidation" data-field="customfields_weibo" value="<%= data.customfields_weibo %>" placeholder="weibo.com/username">
 </div>
</div>

<div style="margin-bottom: 10px;">
 <div class="input-prepend">
  <span class="add-on"><i class="fa fa-pinterest"></i></span>
  <input type="text" class="input-xlarge inputfield livevalidation" data-field="customfields_pinterest" value="<%= data.customfields_pinterest %>" placeholder="pinterest.com/username">
 </div>
</div>

<div style="margin-bottom: 10px;">
 <div class="input-prepend">
  <span class="add-on"><i class="fa fa-instagram"></i></span>
  <input type="text" class="input-xlarge inputfield livevalidation" data-field="customfields_instagram" value="<%= data.customfields_instagram %>" placeholder="instagram.com/username">
 </div>
</div>

<div>
 <div class="input-prepend">
  <span class="add-on"><i class="fa fa-globe"></i></span>
  <input type="text" class="input-xlarge inputfield livevalidation" data-field="customfields_web" value="<%= data.customfields_web %>" placeholder="www.yourwebsite.com">
 </div>
</div>
</div>
</div>

<div class="control-group">
 <label class="control-label" style="width: 120px;"><%= str.bio %>:</label>
 <div class="controls" style="margin-left: 130px;">
  <textarea class="input-xxlarge livevalidation" rows="6" data-field="description" style="width: 580px;" placeholder="<%= str.bio_placeholder %>"><%= data.description %></textarea>
 </div>
</div>

</form>
</div>

