<% if (!canedit) { %>
<div>
 <a href=":back" class="back-button"><i class="fa fa-chevron-left"></i> <%= str.button_back %></a>
</div>
<% } %>
<div class="block" style="padding: 10px 30px;">
	<% if (canedit) { %>
	<span class="pull-right" style="margin-top: 5px;"><a href="/profile/edit" class="btn btn-primary"><i class="fa fa-pencil" style="color: white"></i> <%= str.edit %></a></span>
	<% } %>
	<h3 class="block-title"><%= data.fullname %></h3>

    <div class="row-fluid">
        <span class="span3">
            <img class="img-polaroid" style="border-radius: 50%" alt="<%= data.fullname %>" src="<%= data.picurl.l %>">
        </span>

        <span class="span9">
            <% if (data.customfields_usertitle) { %>
            <div><%= data.customfields_usertitle %></div>
            <% } %>

            <% if (data.institution) { %>
            <div><i class="fa fa-building"></i> <%= data.institution %></div>
            <% } %>
            <div><i class="fa fa-location-arrow"></i> <% if (data.city) print(data.city + ", "); %><%= countryName %></div>
            <div><i class="fa fa-envelope-o"></i> <a class="ignored_link" href="mailto:<%= data.email %>"><%= data.email %></a></div>
            <% if (data.skype) { %>
            <div><i class="fa fa-skype"></i> <a class="ignored_link" href="skype:<%= data.skype %>?call"><%= data.skype %></a></div>
            <% } %>

            <% if (data.customfields_web) { %>
            <div><i class="fa fa-globe"></i> <a href="<%= data.customfields_web %>" target="_blank"><%= data.customfields_web %></a></div>
            <% } %>

        </span>
    </div>

<% if (haveSocial || canedit) { %>
  <h3 class="block-title"><%= str.social %></h3>
  <div class="social-toggles well">
	<% if (social.facebook) { %><a href="<%= social.facebook.accounturl %>" class="btn btn-facebook"><i class="fa fa-facebook"></i></a><% } %>
	<% if (social.linkedin) { %><a href="<%= social.linkedin.accounturl %>" class="btn btn-linkedin"><i class="fa fa-linkedin"></i></a><% } %>
	<% if (social.twitter) { %><a href="<%= social.twitter.accounturl %>" class="btn btn-twitter"><i class="fa fa-twitter"></i></a><% } %>
	<% if (data.customfields_googleplus) { %><a href="<%= data.customfields_googleplus %>" class="btn btn-google-plus"><i class="fa fa-google-plus"></i></a><% } %>
	<% if (data.customfields_vk) { %><a href="<%= data.customfields_vk %>" class="btn btn-vk"><i class="fa fa-vk"></i></a><% } %>
	<% if (data.customfields_weibo) { %><a href="<%= data.customfields_weibo %>" class="btn btn-weibo"><i class="fa fa-weibo"></i></a><% } %>
	<% if (data.customfields_pinterest) { %><a href="<%= data.customfields_pinterest %>" class="btn btn-pinterest"><i class="fa fa-pinterest"></i></a><% } %>
	<% if (data.customfields_instagram) { %><a href="<%= data.customfields_instagram %>" class="btn btn-instagram"><i class="fa fa-instagram"></i></a><% } %>
<% if (canedit && haveUnconnected) { %>
  <div class="btn-group">
   <a class="btn dropdown-toggle ignored_link" data-toggle="dropdown" href="#"><i class="fa fa-plus"></i> <%= str.add_social_button %> <span class="caret"></span></a>
   <ul class="dropdown-menu">
	<% if (!social.facebook) { %><li><a href="#" data-social="facebook" data-call="linkAccount"><i class="fa fa-facebook"></i> <%= str.service_facebook %></a></li><% } %>
	<% if (!social.linkedin) { %><li><a href="#" data-social="linkedin" data-call="linkAccount"><i class="fa fa-linkedin"></i> <%= str.service_linkedin %></a></li><% } %>
	<% if (!social.twitter) { %><li><a href="#" data-social="twitter" data-call="linkAccount"><i class="fa fa-twitter"></i> <%= str.service_twitter %></a></li><% } %>
	<% if (!data.customfields_googleplus) { %><li><a href="#" data-social="google" data-call="addAccountLink"><i class="fa fa-google-plus"></i> <%= str.service_google_plus %></a></li><% } %>
	<% if (!data.customfields_vk) { %><li><a href="#" data-social="vk" data-call="addAccountLink"><i class="fa fa-vk"></i> <%= str.service_vk %></a></li><% } %>
	<% if (!data.customfields_weibo) { %><li><a href="#" data-social="weibo" data-call="addAccountLink"><i class="fa fa-weibo"></i> <%= str.service_weibo %></a></li><% } %>
	<% if (!data.customfields_pinterest) { %><li><a href="#" data-social="pinterest" data-call="addAccountLink"><i class="fa fa-pinterest"></i> <%= str.service_pinterest %></a></li><% } %>
	<% if (!data.customfields_instagram) { %><li><a href="#" data-social="instagram" data-call="addAccountLink"><i class="fa fa-instagram"></i> <%= str.service_instagram %></a></li><% } %>
   </ul>
  </div>
<% } %>
  </div>
<% } %>

	<% if (data.description || canedit) { %>
	<h3 class="block-title"><%= str.bio %></h3>
	<% if (data.description) { %>
	<div><%= data.description.replace(/\n/gi, '<br>') %></div>
	<% } else { %>
	<div class="blue-placeholder">
	 <a href="/profile/edit"><%= str.bio_placeholder %></a>
	</div>
	<% }} %>

	<!--
	<% if (0 /*canedit*/) { %>
		<h3 class="block-title"><%= str.personal_skills %></h3>
		<% if (data.skills.length) { %>
			<div id="skills-progress">
				<% _.each(data.skills, function (skill) { %>
					<span data-placement="top" data-trigger="hover" data-title="<%= skill.name %>" data-content="<%= skill.courses.join(', ') %>" class="label label-success"><%= skill.name %></span>
				<% }) %>
			</div>
		<% } else { %>
			<div id="skills-progress-empty">
				<div class="blue-placeholder"><a href="<%= CatalogUrl %>" class="ignored_link"><%= str.personal_skills_empty %></a></div>
			</div>
		<% } %>
	<% } %>
	-->

	<div id="profile-extras-placeholder"></div>
</div>



<% _.each(courseProfilesToDisp, function (courseProfileToDisp) {  %>

<% if (courseProfileToDisp.courses.length) { %>

<div class="blue-header small" style="border-bottom: 1px solid #888; padding-bottom: 0.5em; margin-bottom: 1em;"><%= courseProfileToDisp.title %></div>

<div class="hbox wrap <% if (canedit) { %>catalog-3cols<% } else { %>catalog-4cols<% } %>">
<% _.each(courseProfileToDisp.courses, function (course) {  if(course!=null && course.id!=null){ %>

<div class="catalog-card" data-call="openCourse" data-code="<%= course.code %>" style="position: relative;">
<% if (course.course_privacy == 5) { %>
 <div class="label label-important" style="position: absolute; top: 130px; right: 10px;"><%= str.delisted %></div>
<% } else if (!parseInt(course.coursestatus)) { %>
 <div class="label label-warning" style="position: absolute; top: 130px; right: 10px;"><%= str.completed %></div>
<% } %>
<% if (course.cert_enabled) { %>
 <div style="position: absolute; top: 10px; right: 10px;"><i class="fa fa-certificate" style="font-size: 26px; color: gold;"></i></div>
<% } %>
<% if (course.course_privacy == 2) { %>
 <div class="label label-info" style="position: absolute; top: 130px; left: 10px;"><%= str.course_private %></div>
<% } %>
 <div class="catalog-card-image"><img src="<%= course.coursebackgroundtn %>"></div>
 <div class="catalog-card-name<% if (course.fullname.length > 40) print(" longtext"); %>"><%= course.fullname %></div>
 <div class="catalog-vertical-fade"></div>

 <div class="catalog-card-status hbox middle">

<span class="noshrink"><i class="fa fa-users"></i>&nbsp;<%= course.students %></span>
	<% if (course.course_privacy == 2) { %>
 		<div class="label label-info" style="position: absolute; top: 222px; right: 10px;"><%= str.course_private %></div>
	<% } %>
	<% if (course.course_access == 1) { %>
 		<div class="label label-success" style="position: absolute; top: 222px; right: 10px;"><%= str.course_draft %></div>
	<% } %>
	<% if (course.course_privacy == 1) { %>
		<span class="expand" style="text-align: center; color: #F9D333;"><% if (course.stars != -1) { %>
		 <i class="fa fa-star<% if (course.stars < 1) { print("-o"); } %>"></i>
		 <i class="fa fa-star<% if (course.stars < 2) { print("-o"); } %>"></i>
		 <i class="fa fa-star<% if (course.stars < 3) { print("-o"); } %>"></i>
		 <i class="fa fa-star<% if (course.stars < 4) { print("-o"); } %>"></i>
		 <i class="fa fa-star<% if (course.stars < 5) { print("-o"); } %>"></i>
		<% } %></span>
		<span class="noshrink"><% if (course.price != -1) { print(course.price ? "€" + course.price : str.free); } %></span>
<% } %>
 
 </div>

 <div class="catalog-card-subtitle"><%= course.durationstr %></div>
</div>

<% }}) %>
</div>

<% } %>

<% }) %>
