<div class="control-group">
 <label class="control-label" style="width: 90px;"><%= str.service_facebook %>:</label>
 <div class="controls" style="margin-left: 100px;">
<% if (social.facebook) { %>
<div><button class="btn btn-link" style="padding: 5px 0px;" data-call="removeFacebookAccount"><% print(str.revoke_access_for.replace("%SERVICE", social.facebook.account)) %></button></div>
<label class="checkbox"><input type="checkbox" value="1" name="facebook_share_enroll"<% if (social.facebook.share_enroll) print(" checked=\"checked\"") %>> <%= str.share_enroll %></label>
<label class="checkbox"><input type="checkbox" value="1" name="facebook_share_complete"<% if (social.facebook.share_complete) print(" checked=\"checked\"") %>> <%= str.share_complete %></label>
<label class="checkbox"><input type="checkbox" value="1" name="facebook_share_certificate"<% if (social.facebook.share_certificate) print(" checked=\"checked\"") %>> <%= str.share_certificate %></label>
<% } else { %>
  <button class="btn btn-facebook" data-call="addFacebookAccount"><i class="fa fa-facebook"></i> <%= str.add_facebook_account %></button>
<% } %>
 </div>
</div>

<div class="control-group">
 <label class="control-label" style="width: 90px;"><%= str.service_linkedin %>:</label>
 <div class="controls" style="margin-left: 100px;">
<% if (social.linkedin) { %>
<div><button class="btn btn-link" style="padding: 5px 0px;" data-call="removeLinkedinAccount"><% print(str.revoke_access_for.replace("%SERVICE", social.linkedin.account)) %></button></div>
<label class="checkbox"><input type="checkbox" value="1" name="linkedin_share_enroll"<% if (social.linkedin.share_enroll) print(" checked=\"checked\"") %>> <%= str.share_enroll %></label>
<label class="checkbox"><input type="checkbox" value="1" name="linkedin_share_complete"<% if (social.linkedin.share_complete) print(" checked=\"checked\"") %>> <%= str.share_complete %></label>
<label class="checkbox"><input type="checkbox" value="1" name="linkedin_share_certificate"<% if (social.linkedin.share_certificate) print(" checked=\"checked\"") %>> <%= str.share_certificate %></label>
<% } else { %>
  <button class="btn btn-linkedin" data-call="addLinkedinAccount"><i class="fa fa-linkedin"></i> <%= str.add_linkedin_account %></button>
<% } %>
 </div>
</div>

<div class="control-group">
 <label class="control-label" style="width: 90px;"><%= str.service_twitter %>:</label>
 <div class="controls" style="margin-left: 100px;">
<% if (social.twitter) { %>
<div><button class="btn btn-link" style="padding: 5px 0px;" data-call="removeTwitterAccount"><% print(str.revoke_access_for.replace("%SERVICE", social.twitter.account)) %></button></div>
<label class="checkbox"><input type="checkbox" value="1" name="twitter_share_enroll"<% if (social.twitter.share_enroll) print(" checked=\"checked\"") %>> <%= str.share_enroll %></label>
<label class="checkbox"><input type="checkbox" value="1" name="twitter_share_complete"<% if (social.twitter.share_complete) print(" checked=\"checked\"") %>> <%= str.share_complete %></label>
<label class="checkbox"><input type="checkbox" value="1" name="twitter_share_certificate"<% if (social.twitter.share_certificate) print(" checked=\"checked\"") %>> <%= str.share_certificate %></label>
<% } else { %>
  <button class="btn btn-twitter" data-call="addTwitterAccount"><i class="fa fa-twitter"></i> <%= str.add_twitter_account %></button>
<% } %>
 </div>
</div>
