<div>
 <a href=":back" class="back-button"><i class="fa fa-chevron-left"></i> <%= str.button_back %></a>
</div>
<div class="hbox">
<div class="noshrink catalog-sidebar" style="background: transparent; box-shadow: none; margin-right: 16px;">
<ul class="nav nav-list custom">
 <li<% if (page == 0) print(" class=\"active\""); %>><a href="/profile"><%= str.profile_myprofile %><i class="fa fa-chevron-right pull-right" style="line-height: inherit;"></i></a></li>
 <li<% if (page == 1) print(" class=\"active\""); %>><a href="/settings"><%= str.settings %><i class="fa fa-chevron-right pull-right" style="line-height: inherit;"></i></a></li>
 <li<% if (page == 2) print(" class=\"active\""); %>><a href="/analytics"><%= str.analytics %><i class="fa fa-chevron-right pull-right" style="line-height: inherit;"></i></a></li>
</ul>
</div>
<div class="expand">
 <div id="settings-page-content"></div>
</div>
</div>
