<div class="block" style="padding: 10px 30px;">
<h3 class="block-title">
 <span><%= str.settings %></span>
 <span class="pull-right"><button class="btn btn-primary" id="saveBtn" data-call="saveEdit"><%= str.button_update%></button></span>
</h3>

<div class="form-horizontal">
<div class="control-group">
 <label class="control-label" style="width: 90px;"><%= str.label_username %>:</label>
 <div class="controls" style="margin-left: 100px;">
  <input type="text" class="inputfield"  value="<%= data.username %>" disabled>
  <i class="fa fa-question-circle" data-toggle="tooltip" rel="tooltip" data-placement="right" title="<%= str.update_username %>"></i>
</div>
</div>

<div class="control-group">
 <label class="control-label" style="width: 90px;"><%= str.password %>:</label>
 <div class="controls" style="margin-left: 100px;">
  <a class="btn" id="changepassword" data-call="changePassword"><%= str.change_password %></a>
  <div id="passwordpanel" class="panel panel-default hide">
    <div class="panel-body">
      <% if((data.auth != 'googleoauth2') || email_login) { %> 
        <div><input type="password" class="inputfield" id="origpassword" style="margin-top:5px;margin-bottom:5px" placeholder="<%= str.currentpassword %>"></div>
      <% } %> 
      <div><input type="password" class="inputfield" id="password1" style="margin-top:5px;margin-bottom:5px" placeholder="<%= str.newpassword %>"></div>
      <div><input type="password" class="inputfield" id="password2" style="margin-top:5px;margin-bottom:5px" placeholder="<%= str.newpassword_again %>"></div>
      <div id="password-error" class="alert alert-error hide"></div>
      <div id="password-success" class="alert alert-success hide"></div>
    </div> 
    <div class="panel-footer clearfix" style="margin-top:10px;margin-bottom:10px">
        <div>
            <a href="#" class="btn btn-cancel" id="cancelpassword" data-call="changePassword" ><%= str.button_cancel %></a>
            <a href="#" class="btn btn-primary" id="updatepassword"data-call="updatePassword" ><%= str.update_password %></a>
        </div>
    </div>
 </div>
 </div>
</div>

<div class="control-group">
 <label class="control-label" style="width: 90px;"><%= str.change_language %>:</label>
 <div class="controls" style="margin-left: 100px;">
  <select id="languageselect" class="inputfield">
<% for (var i in data.langs) { %>
   <option <% if (data.lang == data.langs[i].key) print("selected=\"selected\""); %> value="<%= data.langs[i].key %>"><%= data.langs[i].value%></option>
<% } %> 
  </select>
  <a class="btn btn-link" href="http://translate.eliademy.com" target="_blank"><%= str.settings_help_translate %></a>
 </div>
</div>

<div class="control-group">
 <label class="control-label" style="width: 90px;"><%= str.change_timezone %>:</label>
 <div class="controls hbox middle" style="margin-left: 100px;">
  <input type="text" class="inputfield mr" id="timezone-input" readonly value="<%= data.timezone %>">
  <button class="btn" data-call="editTimezone"><%= str.edit %></button>
 </div>
</div>

<div class="control-group">
 <label class="control-label" style="width: 90px;"><%= str.email %>:</label>
 <div class="controls" style="margin-left: 100px;">
  <select id="emailselect" class="inputfield">
   <option <% if (data.maildisplay > 0) print("selected=\"selected\""); %> value="1"><%= str.show_email %></option>
   <option <% if (data.maildisplay == 0) print("selected=\"selected\""); %> value="0"><%= str.hide_email %></option>
  </select>
 </div>
</div>

<div id="settins-social-buttons"></div>

</div>
<% var platform_updates = 1; %>

<table class="table" style="border-bottom: 1px solid #DDD;">
  <tr>
	  <td style="width: 70%; border-top: none;"><%= str.email_when %></td>
	  <td style="width: 10%; border-top: none; text-align: center;"><%= str.email_immediately %></td>
	  <td style="width: 10%; border-top: none; text-align: center;"><%= str.email_daily %></td>
	  <td style="width: 10%; border-top: none; text-align: center;"><%= str.email_never %></td>
  </tr>
  <% if (typeof data.notificationsettings !== 'undefined') { %>
	  <% _.each(data.notificationsettings, function(item) { %>
                  <% if(item.type == 'platform_updates') { %>
                     <% platform_updates = parseInt(item.value); %> 
                  <% } else {%>
		  <tr>
			  <td><%= str['email_'+item.type] %></td>
			  <td style="text-align: center;"><input type="radio" name="<%= item.type %>" value="2" class="radio_opt" <% print(item.value == 2 ? 'checked="checked"' : ''); %> ></td>
			  <td style="text-align: center;"><input type="radio" name="<%= item.type %>" value="1" class="radio_opt" <% print(item.value == 1 ? 'checked="checked"' : ''); %> ></td>
			  <td style="text-align: center;"><input type="radio" name="<%= item.type %>" value="0" class="radio_opt" <% print(item.value == 0 ? 'checked="checked"' : ''); %> ></td>
		  </tr>
	          <% } %>
	  <%  }); %> 
	  <% } %>
</table>

<div class="well" style="padding: 10px 20px; margin-top: 15px;">
     <% if(platform_updates) { %>
         <label class="checkbox"><input type="checkbox" id="platform_updates" checked><%= str.email_platform_updates %></label>
     <% } else { %>
         <label class="checkbox"><input type="checkbox" id="platform_updates" ><%= str.email_platform_updates %></label>
     <% } %>
</div>

</div>

<div class="block-shadow"></div>
