<p>{{email_header_dear_username}}</p>

<p>Your Eliademy Premium trial ends tomorrow and you haven't entered your payment details yet. From tomorrow onwards, Premium features will be disabled, but you are not going to lose any courses or data.</p>

<p>We have good reasons to believe Eliademy Premium can help you spread knowledge faster. Thousands of good reasons to keep using Premium. See our <a href="eliademy.com">user stories</a>.</p>

<p>If you are ready to continue with Premium, please enter your payment details.</p>

<div style="text-align: center; padding-top: 12px; padding-bottom: 12px;">
<a href="https://mrdi.eliademy.com/app/a/plan-details" target="_blank" class="button">{{email_button_update_payment_details}}</a>
</div>

<p>If you believe Eliademy Premium is not for you, would you give us a minute of your time and let us know what could we do better to meet your needs?  Please email our CEO at <a href="mailto:ceo@eliademy.com">ceo@eliademy.com</a> to help us improve.</p>

<p>--<br>{{email_team}}</p>
<!-- {%username%} -->