<p>{{email_header_dear_username}}</p>

<p>Thank you for trying out Eliademy Premium for 30 days. We work hard to make the platform as elegant and user friendly as we can. We are sorry to see you go.</p> 

<p>We are passionate and in love with our product! The best way for us to learn is to get your feedback and opinion how to improve this platform. Would you help us to do that by answering this five short questions?</p>


<div style="text-align: center; padding-top: 12px; padding-bottom: 12px;">
<a href="https://docs.google.com/a/cloudberrytec.com/forms/d/1yVPC5aG9zbsh4LOBR4kzW6E0PXPi1fG173-4KeWu1_k" target="_blank" class="button">Give Feedback</a>
</div>

<p>We will make improvements based on your feedback. We invite you activate your trial version again in few months.</p>

<p>--<br>Yours truly<br>Sotiris &amp; Sergey</p>
<!-- {%username%} -->
