<p>{{email_header_dear_username}}</p>

<p>This is just to remind you that your Eliademy Premium trial will end in 7 days.</p>

<p>Want to continue with Eliademy Premium? Please go to Billing section in your account and enter your payment details.</p>

<div style="text-align: center; padding-top: 12px; padding-bottom: 12px;">
<a href="https://mrdi.eliademy.com/app/a/plan-details" target="_blank" class="button">{{email_button_update_payment_details}}</a>
</div>

<p>If you decide not to upgrade, within the next 7 days your free trial will smoothly transform into a regular subscription. No worries, no data will be lost, only the Premium features.</p>

<p>Remember, that Eliademy Premium is free for nonprofits, public academic institutions or for student projects. Please <a href="https://mrdi.eliademy.com/app/a/plan-details" target="_blank">apply here</a>.</p>

<p>If at any time you need help or would like to tell us how to tailor Eliademy better for your needs, just hit reply and let us know. We're usually very quick to respond.</p>

<p>--<br>{{email_team}}</p>
<!-- {%username%} -->