<p>{{email_header_dear_username}}</p>

<p>We would like to support you in creating and sharing knowledge. How can we help? Firstly, please watch this 2 minutes video instruction:</p>

<a href="https://www.youtube.com/embed/DE7rghCsIls" target="_blank">YouTube - How to Create a Course on Eliademy</a>

<p>In addition, here are some tips to help you started:</p>

<ul>
<li><a href="http://helpdesk.eliademy.com/knowledgebase/articles/378351" target="_blank">Define</a> your course learning objective;</li>
<li><a href="https://mrdi.eliademy.com/catalog/featured.html" target="_blank">Browse</a> catalogue of open courses for examples;</li>
<li><a href="https://mrdi.eliademy.com/catalog/real-time-education-go-beyond-with-live-sessions-on-eliademy.html" target="_blank">Enrol</a> to a free webinar about teaching on Eliademy;</li>
<li>And finally:</li>
</ul>

<div style="text-align: center; padding-top: 12px; padding-bottom: 12px;">
<a href="https://mrdi.eliademy.com/app/a/teaching" target="_blank" class="button">{{email_button_first_course}}</a>
</div>

<p>Remember that you can also import courses in Common Cartridge format, which you usually can get from Moodle, Canvas or BlackBoard LMS.</p>

<p>If at any time you need help or would like to tell us how to tailor Eliademy better for your needs, just hit reply and let us know. We're usually very quick to respond.</p>

<p>--<br>{{email_team}}</p>

<!-- {%username%} -->