<p>{{email_header_dear_username}}</p>

<p>We would like to support you in creating and sharing knowledge. How can we help? Firstly, please watch this 2 minutes video instruction:</p>

<a href="https://www.youtube.com/embed/pxXV0xmxxV0" target="_blank">YouTube - Your Private Learning Space</a>

<p>In addition, here are some tips to help you started:</p>

<ul>
<li>Do you know you can issue <a href="https://www.youtube.com/watch?v=r3YyTYRb1Kc&spfreload=10" target="_blank">completion certificates</a>? Users love them;</li>
<li>You can easily manage a large group of students and teachers (<a href="https://mrdi.eliademy.com/blog/2014/04/04/feature-friday-improved-quizzes-groups-management-and-self-registration-for-e4b/" target="_blank">learn more</a>);</li>
<li>Don't forget that you have a private catalog of courses</li>
</ul>

<p>If at any time you need help or would like to tell us how to tailor Eliademy better for your needs, just hit reply and let us know. We're usually very quick to respond.</p>

<p>--<br>{{email_team}}</p>

<!-- {%username%} -->