<p>{{email_header_dear_username}}</p>

<p>{{email_premium_welcome_p1}}</p>

<ul>
<li>{{email_premium_welcome_li0}}</li>
<li>{{email_premium_welcome_li1}}</li>
<li>{{email_premium_welcome_li2}}</li>
<li>{{email_premium_welcome_li3}}</li>
<li>{{email_premium_welcome_li4}}</li>
<li>{{email_premium_welcome_li5}}</li>
<li>{{email_premium_welcome_li6}}</li>
<li>{{email_premium_welcome_li7}}</li>
<li>{{email_premium_welcome_li8}}</li>
<li>{{email_premium_welcome_li9}}</li>
</ul>

<p>{{email_premium_welcome_p2}}</p>
<div style="text-align: center; padding-top: 12px; padding-bottom: 12px;">
<a href="https://mrdi.eliademy.com/app/a/teaching" target="_blank" class="button">{{email_button_first_course}}</a>
</div>

<p>{{email_premium_welcome_p4}}</p>

<ul>
<li>{{email_premium_welcome_l2_li1}} (<a href="http://helpdesk.eliademy.com/knowledgebase" target="_blank">{{label_link}}</a>);</li>
<li>{{email_premium_welcome_l2_li2}} (<a href="https://www.youtube.com/watch?v=DE7rghCsIls&index=1&list=PLS9SvrZomLGaf35Yu-P1ZE_LNlxN-HgjQ&spfreload=10" target="_blank" >{{label_link}}</a>);</li>
<li>{{email_premium_welcome_l2_li3}} (<a href="https://mrdi.eliademy.com/catalog/real-time-education-go-beyond-with-live-sessions-on-eliademy.html" target="_blank">{{label_link}}</a>).</li>
</ul>

<p>{{email_premium_welcome_p5}}</p>
<p>{{email_premium_welcome_p6}}</p>

<p>--<br>{{email_regards}}<br>{{email_team}}</p>

<!-- {%username%} -->