<p>{{email_header_dear_username}}</p>


<p>{{email_welcome_2_p1}}</p>
<p>{{email_welcome_2_p2}}</p>

<ul>
<li>{{email_welcome_2_li1}}</li>
<li>{{email_welcome_2_li2}}</li>
<li>{{email_welcome_2_li3}}</li>
<li><a href="https://mrdi.eliademy.com/blog/2015/04/30/receive-printed-certificates-for-online-courses-on-eliademy/">{{email_welcome_2_li4}}</a></li>
<li><a href="https://mrdi.eliademy.com/catalog/featured.html">{{email_welcome_2_li5}}</a></li>
<li>{{email_welcome_2_li6}} (<a href="https://mrdi.eliademy.com/business">upgrade</a>)</li>
</ul>

<div style="text-align: center; padding-top: 12px; padding-bottom: 12px;">
<a href="https://mrdi.eliademy.com/app/a/teaching" target="_blank" class="button">{{email_button_first_course}}</a>
</div>

<p>{{email_premium_welcome_p4}}</p>
<ul>
<li>{{email_premium_welcome_l2_li4}} (<a href="http://eliademy.com/features" target="_blank">{{label_link}}</a>);</li>
<li>{{email_premium_welcome_l2_li1}} (<a href="http://helpdesk.eliademy.com/knowledgebase" target="_blank">{{label_link}}</a>);</li>
<li>{{email_premium_welcome_l2_li2}} (<a href="https://www.youtube.com/watch?v=DE7rghCsIls&index=1&list=PLS9SvrZomLGaf35Yu-P1ZE_LNlxN-HgjQ&spfreload=10" target="_blank">{{label_link}}</a>);</li>
<li>{{email_premium_welcome_l2_li3}} (<a href="https://mrdi.eliademy.com/catalog/real-time-education-go-beyond-with-live-sessions-on-eliademy.html" target="_blank" >{{label_link}}</a>).</li>
</ul>



<div style="text-align: center; padding-top: 12px; padding-bottom: 12px;">
<a href="https://mrdi.eliademy.com/catalog/featured.html" target="_blank" class="button">{{email_action_go_to_catalogue}}</a>
</div>

<p>{{email_welcome_2_p6}}</p>

<p>{{email_welcome_2_p8}}</p>

<p>--<br>{{email_regards}}<br>{{email_team}}</p>

<!-- {%username%} -->
