#admin-manage-courses-table {
	width: 100%;
}

@media (min-width: 1200px) {
	#admin-manage-courses-table input[type=text] { width: 208px; }
}
 
@media (max-width: 1199px) and (min-width: 980px) {
	#admin-manage-courses-table input[type=text] { width: 160px; }
}

@media (max-width: 979px) {
	#admin-manage-courses-table input[type=text] { width: 100px; }
}

#skills-progress {
    .bar {
        padding-left: 10px;
        text-align: left;
    }
}

#skills-progress-empty {
    text-align: center;
}

.list-item {
	margin-bottom: 0px !important;
	padding-top: 8px;
	border-top: 1px solid #CCC;
}

.list-item:hover {
	background-color: #EEE;
}

.list-checkbox {
	text-align: center;

	input {
		margin: 0px;
	}
}

.admin-tag-menu-action {
	padding: 3px 0px !important;
	text-align: center;
	width: 30px;
}

.statistic_block {
	display: inline-block;
	padding: 10px !important;
	min-width: 100px;

	div {
		text-align: center;
		line-height: normal;
	}

	div:nth-child(1) {
		font-size: 26px;
	}

	div:nth-child(2) {
		font-size: 40px;
		font-weight: 700;
		color: #4189DD;
	}

	div:nth-child(3) {
		font-size: 12px;
	}
}
