
/* ATTACHMENT LIST */
.attachmentlist {
    background-color:#f0efef;
    width:100%;
    padding:10px 30px;
    margin: 0px 0px 0px -30px;
    border-top:1px solid #c1c1c1;
    .rounded-corners(0 0 3px 3px);
    
    .add-button-place {
        display:none;
        margin:0 10px 10px 0;
    }
}

.attachment-place {
    position:relative;
    padding:0;
    margin: 0 20px 20px 0;
    
    
    .attachment-remove-button {
        position:absolute;
        cursor: pointer; 
        z-index: 10;
        width: 33px;
        height: 33px;
        display: inline-block;
        right:-15px;
        top:-15px;
        background: transparent url("../img/button-delete.png") 50% 50% no-repeat;
        
        &.small-remove-button {
            width: 17px;
            height: 17px;
            right:-8px;
            top:-8px;
            background: transparent url("../img/button-delete-small.png") 50% 50% no-repeat;                    
        }
    }
    
    .media-attachment {
        clear:both;                
        position:relative;
        
        a {
            background:#000;
            display:block;
            height:240px;
        }
    }
    
    .colorbox-image {
        display:block;
        width:240px;
        height:240px;
        background-size:cover;
        background-repeat: no-repeat;
        background-position:center;
    }
    
    &.small-attachment {
        display:inline-block;
        .shadow-box(0 1px 4px rgba(0,0,0,.5));
        padding:6px;
        
        &:hover {
            background-color:#f8f8f8;
        }
        
        .attachment-link-item {
            text-decoration:none;
        
            > span {
                margin: 0 10px;
            }
        }
    }
    
}
.temp-attachment-media{
    #progress-bar{

        position: absolute;
        
        top: 50%;
        width: 100%;
        z-index: 10000000;
    }

}
.temp-attachment-block{
    position:relative;
    padding:0;
    margin: 0 20px 20px 0;
    height: 26px;
    margin-bottom: 0;
    width: 120px;
    display:inline-block;
    vertical-align: middle;
    .shadow-box(0 1px 4px rgba(0,0,0,.5));
    padding:6px;
    #progress-bar{

        position: absolute;
        
        top: 30%;
        width: 100px;
        z-index: 10000000;
    }
}
