@-webkit-keyframes toolbuttonhover {
	from { color: #666; }
	to { color: #4189DD; }
}

@keyframes toolbuttonhover {
	from { color: #666; }
	to { color: #4189DD; }
}

html,
body {
	background-color: #F5F5F5;
	height: 100%;
	min-width: 750px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
}

p {
	color:@textcolor-paragraph;
	word-break: break-word;
}

h1, h2, h3, h4, h5, h6, .caption {
	font-family: 'Open Sans';
	font-weight: 300;
}

.clear {
	clear:both;
}

.block {
	.rounded-corners(3px);
	.shadow-box(0 1px 2px 0 rgba(50,50,50,0.3));
	padding: 0px;
	background-color:#fff;
	margin-bottom: 25px;

	div.block-title {
		h3 {
			color:@textcolor-heading;
			font-size:@textsize-course-heading;
			font-weight: 300;
			font-family: "Open Sans";
			margin: 0px;
		}

		border-bottom:1px solid #c1c1c1;
		padding:0 0 5px;
		margin-top:0px;
	}

	h3.block-title {
		color:@textcolor-heading;
		font-size:@textsize-course-heading;
		font-weight: 300;
		font-family: "Open Sans";
		border-bottom:1px solid #c1c1c1;
		padding:0 0 5px;
		margin-top:0px;
	}
}

.block > .inner {
	padding: 10px 30px 20px 30px;
}

.block > .footer {
	background-color: #F0EFEF;
	padding: 10px 30px;
	border-top: 1px solid #C1C1C1;
}

.showhidden {
	.opaque(0.3);

	* { cursor: default; }
}

.block-bottom {
	background-color:#f0efef;
	padding: 15px 30px;
	border-top:1px solid #c1c1c1;
	clear: both;
}

.block-header {
	border-bottom: 1px solid #C1C1C1;
	padding-bottom: 5px;
}

.block-header h3 {
	color: #4189DD;
	font-size: 22px;
	font-weight: 300;
	font-family: "Open Sans";
	margin: 0px;
}

#tutorial-overlay {
	width:100%;
	height:100%;
	z-index:2000;
	top:0;
	left:0;
	position:absolute;
	display:none;

	#overlay-layer {
		background: #000;
		width:      100%;
		height:     100%;
		top:        0;
		left:       0;
		position:   fixed;
		.opaque(0.55);
	}


	#closebutton {
		position: fixed;
		top: 20px;
		right:20px;
		width: 40px;
		height: 40px;
		font-weight: bold;
		font-size:30px;
		line-height: 42px;
		color: #fff;
		text-align: center;
		background: #222222;
		border: 3px solid #ffffff;
		cursor:pointer;

		.rounded-corners(23px);
		.opaque(0.5);

		&:hover {
			color: #ffffff;
			text-decoration: none;
			.opaque(0.9);
		}
	}

	.instruction {
		display:block;
		position:absolute;
		color:#fff;
		font-size:18px;

		.arrow {
			display:inline-block;
			height:41px;
			width:53px;
		    background: url("../img/arrow-tutorial-NW.png") no-repeat;

		    &.nw {}
		    &.ne {.flipH();}
		    &.sw {
		    	vertical-align:top;
		    	.flipV();
		    }
		    &.se {
		    	vertical-align:top;
		    	.rotate(180deg);
		    }
		}

		&.fixed{position:fixed;}
	}
}

#page-header {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #FFF;
	box-shadow: 0 1px 2px 0 rgba(50,50,50,0.3);
	min-width: 750px;
	z-index: 970;
	opacity: 0.97;

	#mainmenu {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: 51px;

		a { text-decoration: none; }

		.menubutton {
			margin: 0px 8px;
			padding: 0px 1px;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			height: 51px;
			line-height: 51px;

			i.fa {
				font-size: 22px;
				vertical-align: middle;
				margin-right: 5px;
			}
		}

		.menubutton.active {
			border-bottom: 3px solid #4189DD;
			color: #000;
			>* { color: #000; }
		}

		.clickable {
			cursor: pointer;
			color: #666;
		}

		.clickable:hover {
			color: #4189DD;
			-webkit-animation: toolbuttonhover 0.3s;
			animation: toolbuttonhover 0.3s;
		}

		.userpicture {
			border-radius: 16px;
		}
	}
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -170px;
    .box-sizing();
    padding-top:51px;
    #push {
        height:180px;
    }
}

#page-warnings-container {
	text-align: center;
	position: fixed;
	width:100%;
	z-index:1030;

	.alert{
		margin: 10px auto 0;
		.box-sizing();
	}
}

.full-name {
        padding:5px;
        margin:6px 0;
        line-height:30px;
        word-break:break-all;
        color:@textcolor-heading;
        font-size:@textsize-course-fullname;
}

@media (max-width: 979px) {
	.expand-tablet {
		width: 100% !important;
		float: none !important;
		margin: 0px !important;
	}
}

@media (max-width: 979px) {
	.expand-tablet {
		width: 100% !important;
		float: none !important;
		margin: 0px !important;
	}

	#page-header {
		#mainmenu {
			.menubutton {
				span { display: none; }
				i.fa { margin-right: 0px; }
			}
		}
	}
}

.notif-item {
	padding: 5px 0px;
	border-bottom: 1px solid #DDD;
	cursor: pointer;
}

.notif-item.active { background: #e9f3fe; }
.notif-item:hover { background: #f5f5f5; }

.embeddedContentCustom {
	width: 100%;
	height: 400px;

	iframe {
		width: 100%;
		height: 400px;
	}
}
