#calendar-page {
	.side-event {
		border-top: 1px solid silver;
		padding: 10px 0px;
		cursor: pointer;
		font-size: 12px;
		line-height: normal;

		>div:first-child {
			font-weight: bold;
		}
	}

	.event-list {
		font-size: 12px;

		>div {
			white-space: nowrap;
			cursor: pointer;
			overflow: hidden;
		}

		.ev-more {
			display: none;
		}
	}

	.add-event-cell {
		cursor: pointer;
		height: 100px;
		margin-bottom: -100px;
		position: relative;
		z-index: 100;
		opacity: 0;
		text-align: center;
		font-size: 48px;
		line-height: 100px;

		i {
			color: #F0EFEF;
		}
	}

	.add-event-cell:hover {
		background: #FFF;
		opacity: 0.6;
	}

	.calendar-cell {
		height: 100px;
		vertical-align: top;
		border: 1px solid #DDD;
		padding: 0px;
	}

	.fadeside1 {
		background: -moz-linear-gradient(left, rgba(245,245,245,0) 0%, rgba(245,245,245,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(245,245,245,0)), color-stop(100%,rgba(245,245,245,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, rgba(245,245,245,0) 0%,rgba(245,245,245,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, rgba(245,245,245,0) 0%,rgba(245,245,245,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, rgba(245,245,245,0) 0%,rgba(245,245,245,1) 100%); /* IE10+ */
		background: linear-gradient(to right, rgba(245,245,245,0) 0%,rgba(245,245,245,1) 100%); /* W3C */

		position: relative;
		z-index: 50;
	}

	.fadeside2 {
		background: -moz-linear-gradient(left, rgba(240,239,239,0) 0%, rgba(240,239,239,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(240,239,239,0)), color-stop(100%,rgba(240,239,239,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, rgba(240,239,239,0) 0%,rgba(240,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, rgba(240,239,239,0) 0%,rgba(240,239,239,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, rgba(240,239,239,0) 0%,rgba(240,239,239,1) 100%); /* IE10+ */
		background: linear-gradient(to right, rgba(240,239,239,0) 0%,rgba(240,239,239,1) 100%); /* W3C */

		position: relative;
		z-index: 50;
	}

	.clickable:hover {
		background: #e9f3fe;
	}
}
