.catalog-header {
	margin-bottom: 20px;
	border-bottom: 1px solid #CCC;
	height: 60px;
}

.catalog-header .catalog-tab {
	font-size: 22px;
	font-weight: 300;
	font-family: "Open Sans";
	text-decoration: none;
	color: #666;
}

keyframes toolbuttonhover {
	from { color: #666; }
	to { color: #4189DD; }
}

@keyframes toolbuttonhover {
	from { color: #666; }
	to { color: #4189DD; }
}

.catalog-header .catalog-tab.active {
	color: #000;
	border-bottom: 3px solid #4189DD;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 60px;
	line-height: 60px;
}

.catalog-header .catalog-tab:hover {
	color: #4189DD;
	-webkit-animation: toolbuttonhover 0.3s;
	animation: toolbuttonhover 0.3s;
}

.catalog-header .catalog-tab .fa {
	font-size: 16px;
	margin: 1px 0px 0px 5px;
}

/* --------------------------------------------------------------------- */

.course-intro {
    display: none;
    padding: 30px;
    margin-bottom: 10px;
    min-height: 20px;

    #enroll-button-container {
        float: right; padding: 0 0 20px 20px;
    }
}

.course-product {
	background-color: #FFF;
	margin-bottom: 10px;
	box-shadow: 1px 1px 3px #AAA;
	border-radius: 2px;
}

.course-product:hover {
	box-shadow: 1px 1px 6px #888;
	opacity: 0.9;
}

.course-product a {
	color: #4391DC;
	text-decoration: none;
}

.course-product a:hover {
	color: #4391DC;
}

.course-product .top {
	border: 4px solid #FFF;
	overflow: hidden;
	height: 150px;
	text-align: center;
}

.course-product img.product {
	height: 150px;
	max-width: none;
}

.course-product img.product { }

.course-product .author {
	background-color: #F6F6F6;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
	padding: 6px 4px;
	font-weight: bold;
	font-size: 12px;
	color: #454545;
}

.course-product .author img {
	width: 30px;
	height: 30px;
	margin: 2px 6px;
	border-radius: 2px;
}

.course-product .price {
	background-color: #E7F3FF;
	padding: 6px 4px;
}

#catalog-category-filter li.active a {
	background-color: #F5F5F5;
}

.span3 .fixed-sidebar {
	position: fixed;
	z-index: 1;
	width: 220px;
}

@media (min-width: 1200px) { .span3 .fixed-sidebar { width: 270px; } }
@media (max-width: 979px) { .span3 .fixed-sidebar { width: auto; position: static; } }
