.bottom-shadow1 {
	padding-bottom: 25px;
	position: relative;
	z-index: 2;
}

.bottom-shadow2 {
	padding-bottom: 25px;
	position: relative;
}

.shadowbox1 {
	.shadow-box(0 1px 2px 0 rgba(50,50,50,0.3));
	.rounded-corners(3px);
}

.nav-list.custom {
	.rounded-corners(6px);
	.shadow-box(0 1px 4px rgba(0,0,0,.065));
	background-color: #FFF;
	padding: 0px;

	li a {
		display: block;
		margin: 0 0 -1px;
		padding: 8px 14px;
		border: 1px solid #E5E5E5;

		.icon-chevron-right {
			.opaque(.25);
		}
	}

	li:first-child a {
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}

	li:last-child a {
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	li.active a .icon-chevron-right { .opaque(1); color: #FFF; }

	li.active a {
	color: #555;
	text-shadow: 0 0 0 rgba(0,0,0,0);
	background-color: #e9f3fe;
	}

}

.social-toggles {
	button {
		font-size: 16px;
		width: 50px !important;
		text-align: center;
	}

	button.inactive {
		opacity: 0.5;
	}
}

.blue-header {
	font-size: 28px;
	font-weight: 300;
	font-family: "Open Sans";
	color: #4189DD;
	line-height: 50px;
}

.blue-header.small {
	font-size: 22px;
	line-height: 30px;
}

.blue-header.tiny {
	font-size: 18px;
	line-height: 28px;
}

.blue-header a, .blue-header a:hover {
	color: #4189DD;
	text-decoration: none;
}

.grid-item {
	display: inline-block;
	width: 33%;
	margin: 0px 0px 20px 0px;
}

a.grid-item:hover {
	color: #4189DD;
	text-decoration: none;
}

.grid-item {
	img {
		border-radius: 25px;
		width: 50px;
		height: 50px;
	}
}

.hoverable {
	position: relative;
	display: block;
}

.hoverable-content {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	cursor: pointer;
	display: none;
}

.hoverable:hover > .hoverable-content {
	display: block;
}
