@subtitle_color:#65A157;
@placeholder_color:#999999;

@textcolor-heading:#4189DD;
@textcolor-paragraph:#131313;
@textcolor-coursecode:#939393;

@textsize-course-fullname:25px;
@textsize-course-heading:22px;
@textsize-course-shortname:16px;

// same as bootstrap, change here if that is changed
@textfont-content:"Helvetica Neue",Helvetica,Arial,sans-serif;
@textsize-content:14px;
@textcolor-content:#333;
