.fade {
    .opaque(0);
    .transition(opacity 0.4s linear);
  
    &.in {
        .opaque(1);
    }
}

a.back-button {
    display:block;
    height:30px;    
    color:#131313;
    line-height:30px;
}

.hide-section {
	display:none;
	float:right;
	margin: 5px 0 0;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#course_page_header {
	padding: 6px;
	.box-sizing();

    .course-edit-row-top {
	
    	#course-background 	{
            width: 73%;
    		height:170px;
    		margin-bottom:0;
    		overflow:hidden;
    		position:relative;
    		
    		.carousel-control,
    		.carousel-inner {
    			display:none;
    			
    			.item {
    			    height:170px;
    			    width:100%;
    			}
    		}
    		
    		#uploaded-background-container{
    		    position:absolute;
    		    width:100%;
    		    display:none;
    		    z-index:1;
    		    
    		    img {
    		        max-width:none;
    		    }
    		}
    		
    		.edit-course-background {
    		    visibility:hidden;
    			position:absolute;
    			right:6px;
    			top:6px;
    			cursor:pointer;
    			color:#fff;
    			text-decoration:none;
    			text-shadow: 0 0 5px #000, 0 0 10px #000;
    			outline:none;
    			z-index:1;
    				
    			.caret {
    				border-bottom-color:#fff;
    				border-top-color:#fff;
    			}
    		}
    	}
    	
    	#course-information {
            width: 27%;
            margin-left: 0px;
    		height:170px;
    		position:relative;
    		
    		.course-logo{
    		    padding:0 6px 6px;
    		    height:76px;
    		    line-height:76px;
                text-align:center;
                position:relative;
                
                #course-logo-img {
                    max-height:76px;
                    max-width:100%;
                }

                #change-course-logo {
                    line-height:20px;
                    position:absolute;
                    right: 6px;
                    top:6px;
                    
                    #btn-change-course-logo {
                        color:#131313;
                        text-decoration:none;
                        text-shadow: -1px 0 1px #fff, 0 1px 1px #fff, 1px 0 1px #fff, 0 -1px 1px #fff;
                        visibility:hidden;
                        outline:none;
                        
                        .caret {
                            border-bottom-color:#131313;
                            border-top-color:#131313;
                            margin-top:8px;
                        }
                    }
                }
            }
            
    		.teacher-information {
    		    width:100%;
    		    background-color:#f6f6f6;
    		    padding:10px;
    		    position:absolute;
    		    height:60px;
    		    .box-sizing();
    		    
    		    a.teacher-profile {
                    color:#444444;
                    text-decoration:none;
                    
                    .teacher-image {
                        display:inline-block;
                        vertical-align:middle;
                        margin-right:10px;
                    }
                    
                    .teacher-detail {
                        display:inline-block;                    
                        vertical-align:middle;
                        font-size:12px;
                        line-height:18px;
                        
                        .teacher-name {
                            font-weight:bold;
                        }
                    }
    		    }
                
                #change-teacher {
                    display: none;
                    float: right;
                    outline:none;
                    
                    .caret {
                        border-bottom-color:#131313;
                        border-top-color:#131313;
                        margin-top:8px;
                    }
                    
                    a {
                        color: #131313;
                    }
                }
    		}
    		
    		.rating-information {
    			position:absolute;
    			background-color:#e7f3ff;
    			height:35px;
    			padding:0 10px;
    			line-height:35px;
    			width:100%;
    			bottom:0;
    			.box-sizing();
                
    		}
        }
	}
	
    .course-edit-row {
        margin-left:0;
        .box-sizing();  
        margin-top: 10px;
        margin-right: 13px;
        margin-bottom: 10px;
    
        .panel-left {
            width: 73%;
            min-height: 30px;
            
            #fullname-helpblock,
            #shortname-helpblock {
                display:none;
                color:#B94A48;
            }
        }
    	
        .panel-right {
            width: 27%;
            margin-left: 0px;
            margin-right: 0px;
            
            #course-settings {
                float: right;
                margin-right: 0px;
                margin-top: 18px;
                padding: 0px;
                
                #listCategory {
                    vertical-align: top;
                }
            }
        	.short-name {
        		font-size:@textsize-course-shortname;
        		color:@textcolor-coursecode;
                margin-top:6px;
        		padding:8px 14px 0;
        		word-break:break-all;
			    line-height: 32px;
                min-height: 41px;
                display: inline-block;
        	}
            .social-interaction {
                display: inline-block;
                float: right;
                margin-top: 6px;
            }
        }
        
        #btn-group-edit {
            text-align: right;
            
            #btn-delete-course {
                display: none;
            }
        }
        

        &#course-settings {
            display: none;
            padding-left: 5px;
            padding-right: 24px;
            margin-bottom: 0;
            
            .input-append {
                margin-left: 10px;
            }
            
            .container-category-selection {
                text-align: right;
            }
        }
    }
}

span#btn-hide-task {
    margin-top: -35px; 
}

#course-menu-row {
    margin-left:0;
    .panel-left {
        width: 73%;
        min-height: 30px;
        margin-bottom:25px;

        a.btn{
           color:#666666;   
        }
    }
    
    .panel-right {
        width: 27%;
        margin-left: 0px;
        margin-right: 0px;
        
        span {
            margin-top: 5px;
        }
    }
}

/* COURSE OVERVIEW */
#course-section-list {
	list-style:none;
	margin:0;

	.section.switchhidden {
		
		.section-content.block {
			border:5px solid #3a87ad;
			padding:5px 25px;
		}
		.attachmentlist {
			border:5px solid #3a87ad;
			border-top:1px solid #3a87ad;
			padding:10px 24px 5px 25px;
			margin-left:-29px;			
		}
	}
	.section-content.block {
		padding:10px 30px;
		position:relative;
		
		.sectionname {
			color:@textcolor-heading;
			font-size:@textsize-course-heading;
			font-weight:300;
			border-bottom:1px solid #c1c1c1;
			padding:0 0 5px;
			margin-top:0px;
			
		}
		
		.media-thumbnail-wrapper {
			background-color:#000;
			display: table-cell;
    		vertical-align: middle;
    		height:240px;			
		}
        
        #ext-course {
            background-color: #F0EFEF;
            border-radius: 0 0 3px 3px;
            border-top: 1px solid #C1C1C1;
            margin: 0 0 -10px -30px;
            padding: 10px 30px 20px 30px;
            width: 100%;
        }
        #section-skills {
            background-color: #F0EFEF;
            border-radius: 0 0 3px 3px;
            border-top: 1px solid #C1C1C1;
            margin: 0 0 -10px -30px;
            padding: 10px 30px 20px 30px;
            width: 100%;
            
            .skills-edit {
                display: none;

                #skills-edit-container {
                    margin-top: 10px;
                    
                    #skills-input {
                        background-color: #F0EFEF;
                        border-width: 0px;
                        border-bottom: 1px solid #EEE;
                        box-shadow: inset 0px -1px 0px rgba(82, 168, 236, 0.6);
                    }
                    
                    #skill-edit-errors {
                        margin-top: 10px;
                    }
                }
                
                #skill-suggestions-cont, #skill-edit-errors {
                    display: none;
                }
            }
            
            .skills-list {
                display: inline;
            }
            
            #skills-share-container {
                display: inline;
                float: right;
                padding-top: 5px;
            }
            
            .skill-labels-container {
                display: inline;
                
                .skill-label {
                    line-height: 20px;
                    margin-top: 10px;
                    
                    i {
                        opacity: 0.6;
                    }
                    i:hover {
                        opacity: 1;
                    }
                }
            }
            
            #skill-save-error-cont {
                margin-top: 10px;
                display: none;
            }
        }
	}
}

/* TASKS PAGE */
#tasks-table {
    padding:0;

    .row-fluid {
        position:relative;
    }

    @media (min-width: 768px) {
        .span6 {
            width:50%;
            margin:0;
        }

        #tasks-col2 {
            position:relative;
            z-index:10;
        }

        #tasks-colbackground {
            position:absolute;
            background-color:#f0efef;
            width:50%;
            right:0;
            top:0;
            bottom:0;
            border-left:solid #c1c1c1 1px;
            .rounded-corners(0 3px 3px 0);
        }
    }

    #tasks-col1 {
        padding:10px 30px 30px;
    }

    #tasks-col2 {
        padding:10px 30px 30px;
        background-color:#f0efef;
    }

    .task-block {
        margin-top:15px;

        .task-name {
            display:block;
            width:100%;
            padding:10px;
            margin-bottom: 0px !important;
            .shadow-box(0 1px 3px rgba(0,0,0,.5));
            .box-sizing();

            &:hover {
                background-color:#f8f8f8;
                text-decoration:none;
            }
        }
    }

    .task-block-hidden {
        margin-top:15px;
        border:2px solid #3a87ad;
        .task-name {
            display:block;
            width:100%;
            padding:6px;
            .shadow-box(0 1px 4px rgba(0,0,0,.5));
            .box-sizing();

            &:hover {
                background-color:#f8f8f8;
                text-decoration:none;
            }
        }
        .task-duedate {
            margin-top:4px;
        }
    }

	.task-subblock {
		background: #E9F3FE;
		margin: 0px 10px 0px 10px;
		padding: 8px;
		border-radius: 0px 0px 6px 6px;
		border: 1px solid silver;
	}
}

/* TASK DETAIL PAGE */
#task-returned {
    padding:10px 30px;
    
    .task-student-block {
    margin-bottom:20px;
    
    .task-student-name {
        font-size:14px;
        color:#666666;
        margin-bottom:15px;
        font-weight:bold;
    }
    
    .task-submission {
        display:table;
        margin-bottom:5px;
        
        span {
            display:table-cell;
        }
        
        .cell-file{
            padding-right:5px;
        }
        
        .cell-grade {
            width: 160px;
            vertical-align: middle;
        }
        
        .task-submission-file {
            display:block;
            width:100%;
            text-decoration:none;
            text-align:left;
            .box-sizing();
            
            i {
                margin-right:12px;
            }
        }
        
        .grade-item {
            display:block;
            width:100%;
            text-decoration:none;
            .box-sizing();
        }
    }
}
}

.task-page {
    &.rating-information {
        color:#4189DD;
        text-align:center;    
    }
    
    &.teacher-information {
        text-align:center;    
    }
}

.new_event_dialog {
    width:auto;
    
    .dline-dlg-late-lable {
        margin-top:20px;
    }
}

/* PARTICIPANTS */
div#setting-header {
    padding-top: 25px;
}

div#enrollment-block {
    padding: 10px 30px 20px;
}


.popover {
    width:384px;
}

.subtitle-blue {
	color: @sub-blue;
	line-height: 32px;
	font-size: 16pt;
	font-family: 'Open Sans';
    font-weight: 300;
}

.blue-placeholder {
	color: @sub-blue;
	display: block;
	font-size: 22px;
    font-weight: 300;
	font-family: "Open Sans";
	text-align: center;
	margin: 50px 0px;

	a {
		text-decoration: none;
		color: @sub-blue;
	}
}

.news-item-box {
	border-bottom: 1px solid #C1C1C1;
	padding: 15px 0px;

	a { text-decoration: none; }

	.news-item {
		margin-left: 50px;

		a {
			color: #5E5E5E;
			font-size: 10pt;
			line-height: 100%;

			span.author { font-weight: bold; }
		}
	}

	.news-pic {
        position: absolute;
        cursor: pointer;
    }
}

.course-title {
	padding: 2px 15px;
	background-color: #FFF;

	a { text-decoration: none; }

	.subtitle-blue {
		font-size: 14pt;
		line-height: 115%;
		width: 80%;
        font-weight: 300;
	}

	.course-code {
		font-size: 10pt;
		line-height: 50%;
		color: #A0A0A0;

		.course-teacher { color: #353535; font-weight: bold; }
	}

	table { width: 100%; }
	table, tr, td { margin: 0px; padding: 0px; border-collapse: collapse; }
}

.course-tasks {
	background-color: #E7F3FF;
	border: 1px solid #CFCFD1;
	border-top: none;
	.rounded-corners(0px 0px 5px 5px);
	margin: -25px 5px 25px 5px;
	position: relative;
	z-index: 1;

	a {
		display: block;
		padding: 10px 15px;
		text-decoration: none;
		color: #64656A;
		text-shadow: 1px 1px 2px #FFF;
		border-top: 1px solid #C6C1BE;
		font-size: 10pt;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	}

	table { width: 100%; }
	table, tr, td { margin: 0px; padding: 0px; border-collapse: collapse; }
}

#course-new-link {
	color: @sub-blue;
	padding: 5px 0px 5px 35px;
	line-height: 35px;
	background: transparent url('../img/new.png') 0px 50% no-repeat;
	display: block;
}

.coursebox {
	margin-bottom: -15px;
	overflow: hidden;
}

/* TUTORIAL TOOL TIP */
.tutorial-tool-tip {
    //text-align:left;
}

/* NEWS */
.news-unread-img {
    padding-left: 10px;
    display: inline;
}
.news-item .message .coursename {
    font-weight: bold;
}

.grade-cell {
	display: block;
	width: 140px;
	line-height: 43px;
	overflow: hidden;
	white-space: nowrap;
}

.grade-cell-stripe { border-top: 1px solid silver;height:43px;}
.grade-cell-stripe:nth-child(2n+2) { background-color: #F9F9F9; }
.grade-cell-stripe-completed { background-color:  #e9fce6 !important; }

.grade-cell-row {
	line-height: 43px;
	height: 43px;
	overflow: hidden;
}

#course-menu-right {
	.progress {
		height: 30px;
		.bar {
			line-height: 30px !important;
		}
	}
}

.fa.tb {
	font-size: 18px;
	margin: 0px 5px;
}

#course-settings-general-view {
    #course-country-multiselect {
        line-height: 190%;

        #course-country-all {
            color: @textcolor-coursecode;
        }
        .btn-group {
            margin-left: 0;
            margin-right: 5px;
        }
    }
}
