.mui-dialog {
	.rounded-corners(6px);
	.clip-background(padding-box);
	.shadow-box(0 3px 7px rgba(0, 0, 0, 0.3));

	.ptr {
		position: relative;
		margin-top: -16px;
		height: 16px;
		width: 20px;
		background: transparent url("../img/dialog_ptr.png") 50% 0px no-repeat;
	}
	#button-invite-facebook {
        background-color:#3B5998;
        background-image: -khtml-gradient(linear, left top, left bottom, from(#627aad), to(#3b5998));
        background-image: -moz-linear-gradient(top, #627aad, #3b5998);
        background-image: -ms-linear-gradient(top, #627aad, #3b5998);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #627aad), color-stop(100%, #3b5998));
        background-image: -webkit-linear-gradient(top, #627aad, #3b5998);
        background-image: -o-linear-gradient(top, #627aad, #3b5998);
        background-image: linear-gradient(top, #627aad, #3b5998);
        filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#627aad', endColorstr='#3b5998', GradientType=0)";
    }
}

.modal-header {
	button.close {
		font-size: 30px;
	}
}
