.mui-remove-button {
	cursor: pointer; 
	z-index: 10;
	width: 33px;
	height: 33px;
	display: inline-block;
	background: transparent url("../img/button-delete.png") 50% 50% no-repeat;
	margin-right: -15px;
	margin-top: -15px;
}

.editable.richtext {
	padding-top: 3px;
	padding-left: -2px;
	min-height: 40px;
}

span.editable[contenteditable="true"] { cursor: text; }

.inputfield[contenteditable="true"], input.inputfield, select.inputfield {
	border: 1px solid #FFF;
	border-radius: 0px;
	border-bottom: 1px solid #EEE;
	box-shadow: none;
	outline: none;
}

.inputfield[contenteditable="true"]:hover, .inputfield[contenteditable="true"]:focus,
 select.inputfield:hover, select.inputfield:focus, input.inputfield:hover, input.inputfield:focus {
	border: 1px solid #FFF;
	border-bottom: 1px solid #EEE;
	animation-name: edit_highlight;
	animation-duration: 0.3s;
	-webkit-animation-name: edit_highlight;
	-webkit-animation-duration: 0.3s;
	box-shadow: inset 0px -1px 0px rgba(82, 168, 236, 0.6);
}

@keyframes edit_highlight {
	from { box-shadow: none; }
	to { box-shadow: inset 0px -1px 0px rgba(82, 168, 236, 0.6); }
}

@-webkit-keyframes edit_highlight {
	from { box-shadow: none; }
	to { box-shadow: inset 0px -1px 0px rgba(82, 168, 236, 0.6); }
}

.editable { outline: none; }

.control-group .add-on {
	background: none;
	border: none;
}
