.placeholder {
    color: @placeholder_color;
}
@sub-blue: #4189DD;

#progress-indicator {
	position: fixed;
	z-index: 1000;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	display: none;
}

.modal-backdrop { z-index: 980; }
.navbar-fixed-top { z-index: 970; }
.tooltip { white-space: normal !important; }

@import "constants.less";
@import "utils.less";
@import "base.less";
@import "course_page.less";
@import "editor.less";
@import "dialog.less";
@import "common.less";
@import "attachment.less";
@import "profile.less";
@import "participants.less";
@import "task_page.less";
@import "catalog.less";
@import "admin.less";
@import "calendar.less";
@import "header.less";
