#page-warnings {
    position: fixed;
    width: 760px;
    top: 60px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    z-index: 2000;
    overflow: visible;
    text-align: center;
}
