#participants-block {
    ul{
        margin:0;
        li{
            //--TODO detect the the max height in one picture line instead of a fixed number 
            max-height:130px !important;
            margin-bottom:50px !important;
            width:100px !important;

            a {
                text-decoration:none;
                text-align:center;
            }

            .thumbnail {
                position:relative;

                img:hover{
                    .opaque(0.7);
                    transition: all 0.2s ease-in-out 0s;
                }
                
                .btn-change-role {
                    .opaque(0);
                    display:none;
                    top:4px;
                    left:4px;
                    position:absolute;                    
                    height:91px;
                    width:91px;
                    color:#fff;
                    padding-top:25px;
                    .box-sizing();
                    
                    
                    &:hover {
                        background-color:rgba(0,0,0,0.3);
                        .opaque(1);
                    }
                }
                .removed-user {

                    top:4px;
                    left:4px;
                    position:absolute;                    
                    height:91px;
                    width:91px;
                    color:#fff;
                    padding-top:25px;
                    .box-sizing();
                    background-color:rgba(255, 0, 0,0.6);
                
                }
                .attachment-remove-button {
                    position:absolute;
                    cursor: pointer; 
                    z-index: 10;
                    width: 33px;
                    height: 33px;
                    display: inline-block;
                    right:-10px;
                    top:-10px;
                    background: transparent url("../img/button-delete.png") 50% 50% no-repeat;
                    
                    &.small-remove-button {
                        width: 17px;
                        height: 17px;
                        right:-8px;
                        top:-8px;
                        background: transparent url("../img/button-delete-small.png") 50% 50% no-repeat;                    
                    }
                }            
            }
        }
    }

    div.teacher-label{
        
            font-size:11px;
            color:#4189DD;
            font-weight:bold;   
            background-color: #e7f3ff;         
    }
}

#enrollment-block{
.popover{
    width:384px;
    max-width: 500px;
}
    .newmail{
        
        border:none;
        box-shadow:none;
    }
    .checkedmails{

        margin-bottom: 3px;
        margin-right: 5px;
        display: inline-block;
        font-weight: normal;
        color: #3182A0;
        background-color: #B5D7E3;
        padding: 5px;
        border-radius: 3px;
    }
}
