div #profile-space {
		
	#progress-bar{

        position: absolute;
        top: 20%;
        width: 140px;
        margin-left: 10px;
        z-index: 10000000;

    }
}
input[name=fullname]{
    font-weight: bold;
    font-size: 24px;
    color: #131313;
}
.modal-header{
    
    .control-group{
        margin-bottom:10px;
    }
 }   
.modal-body .span7{
    .control-group{
        margin-bottom:5px;
    }
}
.modal-body .row-fluid .span5 .thumbnails>li{
    
    margin-left: 25px;
    margin-bottom: 0px;
}
.control-group label{
    margin-bottom: 0px;
    i{
        margin-right: 10px;
    }
}