div#submission-grade {
	background-color: #E7F3FF;
	color: @textcolor-heading;
	padding: 20px;

	div#submission-grade-grade {
	    display: inline;
	    font-size: @textsize-course-heading;
	    padding-right: 15px;
	    vertical-align: middle;
	}

	div#submission-grade-feedback {
	    display: inline;
	    font-size: 14px;
	    vertical-align: middle;
	}
}

div#assignment-submission-view {
	div.submission-text {
	    min-height: 2em;
	}

	div#no-submission-yet-text {
	    display: none;
	}
}

a.btn-remove-question {
	width: 33px;
	height: 33px;
	background: url('../img/button-delete.png') no-repeat 50% 50%;
	position: absolute;
	right: -10px;
	top: -10px;
}

a.btn-remove-answer {
	float: right;
	z-index: 1000;
	width: 17px;
	height: 17px;
	background: url('../img/button-delete-small.png') no-repeat 50% 50%;
	margin-right: -6px;
	margin-top: -6px;
}

.quiz_answer {
	min-width: 450px;
	display: inline-block;
	margin-bottom: 10px;

	label.checkbox {
		display: inline-block;
		margin-left: 20px;
		padding: 6px 15px 0px 0px;
		float: left;
	}

	span.editable {
		display: block;
		margin-left: 30px;
		padding: 4px 14px;
		min-height:25px;		    
		word-wrap: normal;
		word-break: break-all;
		width: 95%;
	}
}

.quiz_question {
	border-bottom: 1px solid silver;
	padding: 25px 35px;
}

.quiz_answer_block {
	margin: 20px;

	label {
		margin: 15px;

		span {
			display: block;
			margin-left: 20px;
		}
	}
}

.quiz_option_correct {
	color: #FFF;
	background-color: #3B3;
	font-weight: bold;
	padding: 4px;
	font-size: 90%;
	margin: 5px;
	.rounded-corners(3px);
}

.quiz_option_incorrect {
	color: #FFF;
	background-color: #B33;
	font-weight: bold;
	padding: 4px;
	font-size: 90%;
	margin: 5px;
	.rounded-corners(3px);
}

.quiz_option_correct_option {
	color: #FFF;
	background-color: #888;
	font-weight: bold;
	padding: 4px;
	font-size: 90%;
	margin: 5px;
	.rounded-corners(3px);
}

.block.quiz_result {
	background-color: #E7F3FF;
	color: @textcolor-heading;
	font-size: @textsize-course-heading;
	font-family: 'Open Sans';
	font-weight: normal;
	padding: 20px;
}
