.rounded-corners (@radius) {
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	border-radius: @radius;
}

.opaque (@o) {
	@msop: round(@o * 100);

	filter: alpha(opacity=@msop);
	-moz-opacity: @o;
	-khtml-opacity: @o;
	opacity: @o;
}

.shadow-box (@sh) {
	-moz-box-shadow: @sh;
	-webkit-box-shadow: @sh;
	box-shadow: @sh;
}

.shadow-box (@sh1, @sh2) {
	-moz-box-shadow: @sh1, @sh2;
	-webkit-box-shadow: @sh1, @sh2;
	box-shadow: @sh1, @sh2;
}

.clip-background (@clip) {
	-moz-background-clip: @clip;
	-webkit-background-clip: @clip;
	background-clip: @clip;
}

.gradient-linear(@a, @b, @c) {
	background-image: -moz-linear-gradient(@a, @b, @c);
	background-image: -o-linear-gradient(@a, @b, @c);
	background-image: -webkit-linear-gradient(@a, @b, @c);
	background-image: linear-gradient(@a, @b, @c);
}

.rotate (@deg) {
	-moz-transform:rotate(@deg);
	-webkit-transform:rotate(@deg);
	-o-transform:rotate(@deg);
	-ms-transform:rotate(@deg);
}

.transition(@x) {
	-webkit-transition: @x;
	-moz-transition: @x;
	-o-transition: @x;
	transition: @x;
}

.flipH {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.flipV {
	-moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: "FlipV";
    filter: FlipV;
}

.box-sizing {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.vbox, .hbox {
	display: -webkit-box !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: -webkit-flex !important;
	display: flex !important;

	-webkit-box-align: start;
	-moz-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.hbox {
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.vbox {
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.vbox > *, .hbox > * {
	min-width: 1px;
}

.vbox.stretch, .hbox.stretch {
	-webkit-box-align: stretch;
	-moz-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.vbox.spread, .hbox.spread {
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.vbox > .selfstretch, .hbox > .selfstretch {
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;
}

.vbox.middle, .hbox.middle {
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.vbox > .selfmiddle, .hbox > .selfmiddle {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
}

.vbox.end, .hbox.end {
	-webkit-box-align: end;
	-moz-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.vbox.wrap, .hbox.wrap {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.vbox > .expand, .hbox > .expand {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1 1;
	-ms-flex: 1 1;
	flex: 1 1;
}

.vbox > .noshrink, .hbox > .noshrink {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.mb { margin-bottom: 15px; }
.mbs { margin-bottom: 5px; }
.mr { margin-right: 10px; }
.mrs { margin-right: 5px; }
.mrl { margin-right: 20px; }
.ml { margin-left: 10px; }
.mll { margin-left: 20px; }
.mt { margin-top: 15px; }
.mts { margin-top: 5px; }
.nomb { margin-bottom: 0px !important; }
.llabel {
	min-width: 120px;
	text-align: right;
	margin-right: 10px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 1200px) { .llabel { min-width: 160px; } }
@media (max-width: 979px) { .llabel { min-width: 80px; } }

// CKEditor adds own styles to ALL figure elements...
.mfp-figure > figure {
	padding: 0px !important;
	border: none !important;
}

img[data-mfp-src] {
	cursor: zoom-in;
	cursor: -webkit-zoom-in;
}

a.bluelink { color: #4189DD !important; }
a.bluelink:hover { color: #4189DD !important; }

.fadeside_white {
	position: relative;
	z-index: 50;
}

/* noprint will be hidden when printing */
@media print { .noprint { display: none !important; } }

/* printonly will be shown only when printing */
@media not print { .printonly { display: none !important; } }

/* replacement for span3 - span9 sidebar */
.sidebar_width { width: 220px !important; }
@media (min-width: 1200px) { .sidebar_width { width: 270px !important; } }
@media (max-width: 979px) { .sidebar_width { width: 166px !important; } }

.course_background_width { width: 677px !important; }
@media (min-width: 1200px) { .course_background_width { width: 845px !important; } }
@media (max-width: 979px) { .course_background_width { width: 520px !important; } }

.catalog_column_width { width: 223px !important; }
@media (min-width: 1200px) { .catalog_column_width { width: 275px !important; } }
@media (max-width: 979px) { .catalog_column_width { width: 231px !important; } }

.disablebox {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 100;
	background: #FFF;
	opacity: 0.4;
	cursor: not-allowed;
}

.disablebanner {
	position: absolute;
	top: 30px;
	left: 20%;
	right: 20%;
	z-index: 101;
}
