<div id="header-nag-block" style="padding: 10px 0px; display: none;">
 <div class="container" style="text-align: center;">
  <i style="cursor: pointer;" class="fa fa-times-circle pull-right" id="header-close-nag"></i>
  <span></span>
 </div>
</div>

<div class="container">
 <div id="mainmenu" class="hbox middle">
	<a class="noshrink ignored_link" href="<%= EliademyUrl %>"><img id="logo" src="<%= EliademyUrl %>/img/header_logo.png" alt="pace" style="height:41px; margin-right: 10px;"></a>
	<div class="menubutton noshrink" id="bt-course">
	 <a class="clickable" href="/"><i class="fa fa-bars"></i><span><%= str.courses_my %></span></a>
	 <i style="font-size: 12px; line-height: 51px; margin-right: 0px;" class="fa fa-chevron-down clickable" data-call="quickCourses"></i>
	</div>
	<a class="menubutton noshrink clickable" id="bt-calendar" href="/calendar"><i class="fa fa-calendar"></i><span><%= str.calendar %></span></a>
	<a class="menubutton ignored_link noshrink clickable" href="<%= CatalogUrl %>"><i class="fa fa-th-large"></i><span><%= str.catalog %></span></a>

<% if (data.adminCohort && data.cohortusertype != 3) { %>
	<a class="menubutton noshrink clickable" id="bt-catalog" href="/catalog"><i class="fa fa-users"></i><span><%= data.orgname %> <%= str.courses %></span></a>
<% } else if (data.cohortparticipant instanceof Array) { %>

<% if (data.cohortparticipant.length == 1) { %>
	<a class="menubutton noshrink clickable" id="bt-org_catalog" href="/org/<%= data.cohortparticipant[0].cohortid %>"><i class="fa fa-users"></i><span><%= data.cohortparticipant[0].orgname %> <%= str.courses %></span></a>
<% } else if (data.cohortparticipant.length > 1) { %>
	<div class="menubutton noshrink hbox" id="bt-org_catalog">
	 <a class="clickable mrs" href="/org/<%= data.cohortparticipant[CurrentCatalogIdx].cohortid %>"><i class="fa fa-users"></i><span><%= data.cohortparticipant[CurrentCatalogIdx].orgname %> <%= str.courses %></span></a>
	 <div class="dropdown">
	  <i data-toggle="dropdown" style="font-size: 12px; line-height: 51px;" class="fa fa-chevron-down clickable"></i>
	  <ul role="menu" class="dropdown-menu pull-right">
		<% for (var i=0; i<data.cohortparticipant.length; i++) { %>
		  <li><a href="/org/<%= data.cohortparticipant[i].cohortid %>"><%= data.cohortparticipant[i].orgname %></a></li>
		<% } %>
	  </ul>
	 </div>
	</div>
<% } %>

<% } %>

<% if (data.adminCohort && data.cohortusertype != 3) { %>
	<a class="menubutton noshrink clickable" id="bt-administration" href="/organization-details"><i class="fa fa-cogs"></i><span><%= str.admin %></span></a>
<% } %>

	<span class="expand"></span>

<% if (!data.adminCohort && !data.cohorts && is_teacher) { %>
	<a class="menubutton noshrink clickable" id="bt-go-pro" style="color: #4189DD;" href="/go-premium"><span><%= str.button_pro_go %></span></a>
<% } %>

	<div class="noshrink clickable" style="padding: 0px 5px; margin: 5px 10px 0px; line-height: 46px;" data-call="showNotifications">
	 <span id="courses_ncount" class="badge badge-important" style="position: absolute; margin: 3px 0px 0px 10px; z-index: 920; font-size: 11px; padding: 1px 4px; display: none!important;"></span>
	 <i class="fa fa-bell-o" style="font-size: 22px;"></i>
	</div>

	<div class="dropdown noshrink">
		<a data-toggle="dropdown" class="dropdown-toggle ignored_link clickable" href="#" style="line-height: 51px;">
		   <img src="<%= data.picurl.s %>" alt="<%= data.fullname %>" width="32" height="32" class="userpicture">
		   <% if (0 && typeof data.fullname !== 'undefined') { %><span><%= data.fullname %></span><% } %>
		   <i class="fa fa-chevron-down"></i>
	   </a>

	   <ul aria-labelledby="bt-settings" role="menu" class="dropdown-menu pull-right">
		  <li><a href="/profile" tabindex="-1"><i class="fa fa-user"></i> <%= str.profile_myprofile %></a></li>
		  <li><a href="/settings" tabindex="-1" id="settings-link"><i class="fa fa-cog"></i> <%= str.settings %></a></li>
		  <li><a href="/analytics" tabindex="-1" id="settings-link"><i class="fa fa-bar-chart-o"></i> <%= str.analytics %></a></li>
		  <li><a a href="http://helpdesk.eliademy.com/knowledgebase" target="_blank" tabindex="-1"><i class="fa fa-question-circle"></i> <%= str.helpdesk %></a></li>
		  <li class="divider"></li>
		  <li><a href="#" class="ignored_link" id="header-invite-friends" tabindex="-1"><i class="fa fa-envelope-o"></i> <%= str.invite_friends %></a></li>
		  <li><a href="#" tabindex="-1" class="ignored_link" id="header-logout-link"><i class="fa fa-power-off"></i> <%= str.logout %></a></li>
	  </ul>
	</div>

 </div> <!-- /mainmenu -->

 <div id="header-button-box" class="hbox middle" style="height: 51px; display: none !important;">
	<a class="noshrink ignored_link" href="<%= EliademyUrl %>"><img src="<%= EliademyUrl %>/img/header_logo" alt="pace" style="height:41px; margin-right: 10px;"></a>
	<div id="edit-caption" class="expand"></div>
	<div id="edit-button-block" class="noshrink"></div>
 </div>

</div> <!-- /container -->
