<div class="modal-header">
    <h3><%= str.notifications %></h3>
</div>

<div class="modal-body" style="width: 430px; padding: 0px;">

<% if (data.length > 0) { %>
<% _.each(data, function(item) { %>
 <div class="hbox middle notif-item<% if (!item.read) { print(" active"); } %>" data-link="<%= item.actionurl %>" data-nid="<%= item.id %>" data-call="openNotification">
	<div class="noshrink" style="margin: 0px 10px;">
	 <img style="border-radius: 15px;" src="<%= MoodleDir %>public_images/user_picture/<%= item.profilepichash %>_32.jpg">
	</div>
	<div class="vbox expand stretch">
		<div class="hbox stretch">
			<span class="expand" style="font-weight: bold; white-space: nowrap; overflow: hidden;"><%= item.coursename %></span>
			<!--<span class="fadeside_white" style="width: 15px; margin-left: -15px;"></span>-->
			<span class="noshrink label label-info selfmiddle" style="margin: 0px 5px;"><%= item.time %></span>
		</div>
		<div><%= item.fullname %> <%= item.text %></div>
	</div>
 </div>
<% }) %>
<% } else { %>
<div style="text-align: center; margin: 30px 0px;" class="blue-header small">
 <%= str.notifications_placeholder %>
</div>
<% } %>

<% if (moreAvailable) { %>
 <a href="#" data-call="loadMore" style="display: block; text-align: center; line-height: 36px;"><i class="fa fa-repeat"></i> <%= str.load_more %></a>
<% } %>
</div>

<div class="modal-footer" style="text-align: center;">
 <a href="#" data-call="clearAll"><%= str.clear_all_notifications %></a>
</div>
