<div class="modal-body hbox stretch">

<div style="margin-right: 10px;">
 <div class="blue-header small" style="border-bottom: 1px solid #EEE; margin-bottom: 10px; padding-bottom: 10px;"><%= str.learning %></div>

<% if (learning.length > 0) { %>
<div class="hbox stretch">
<div>
<% _.each(learning, function (c) { %>
 <a href="#" style="color: #333; width: 170px; line-height: 25px; white-space: nowrap; overflow: hidden; display: block;" data-call="gotoCourse" data-code="<%= c.code %>"><%= c.fullname %></a>
<% }) %>
</div>
<div style="width: 20px; margin-left: -20px;" class="fadeside_white"></div>
</div>
<% } else { %>
<p style="width: 170px;"><a href="<%= CatalogUrl %>" class="btn btn-link"><%= str.find_a_course_button %></a></p>
<% } %>
</div>

<div>
 <div class="blue-header small" style="border-bottom: 1px solid #EEE; margin-bottom: 10px; padding-bottom: 10px;"><%= str.teaching %></div>

<% if (teaching.length > 0) { %>
<div class="hbox stretch">
<div>
<% _.each(teaching, function (c) { %>
 <a href="#" style="color: #333; width: 170px; line-height: 25px; white-space: nowrap; overflow: hidden; display: block;" data-call="gotoCourse" data-code="<%= c.code %>"><%= c.fullname %></a>
<% }) %>
</div>
<div style="width: 20px; margin-left: -20px;" class="fadeside_white"></div>
</div>
<% } else { %>
<p style="width: 170px;"><a href="#" data-call="startCourse" class="btn btn-primary"><%= str.button_start_first_course %></a></p>
<% } %>
</div>

</div>

<div class="modal-footer" style="text-align: center;">
 <a href="#" data-call="showAllCourses"><%= str.all %></a>
</div>
