<div class="container">
 <div class="hbox middle" style="height: 51px;">
	<a class="noshrink ignored_link" href="<%= EliademyUrl %>"><img id="logo" src="<%= EliademyUrl %>/img/logo-eliademy-header-black.png" alt="Eliademy" style="height:28px; margin-right: 10px;"></a>
	<div id="wizard-step-one" class="noshrink" style="margin-right: 10px;">1. <%= str.button_start_new_course %></div>
	<div id="wizard-step-two" class="noshrink">2. <%= str.wiz_course_details %></div>
	<span class="expand"></span>
	<div id="edit-button-block" class="noshrink"></div>
 </div>
</div>
