<a href=":back" class="back-button noprint"><i class="fa fa-chevron-left"></i> <%= str.button_back %></a>

<div class="catalog-header hbox middle">
 <div class="blue-header small"><%= str.label_choose_public_course %></div>
 <span class="expand"></span>
 <div class="dropdown noshrink">
	<a href="#" class="dropdown-toggle catalog-tab ignored_link hbox middle" data-toggle="dropdown"><span><% if (search_string) { print(str.search_results + " '" + search_string + "'"); } else { print(current_category_name); } %> (<%= itemCount %>)</span><i class="fa fa-chevron-down"></i></a>
	<ul class="dropdown-menu">
	 <li><a href="#" data-call="setCategory" data-cat="0"><%= str.all %></a></li>
<% _.each(categories, function (cat) { if (cat.idnumber) { %>
	 <li><a href="#" data-call="setCategory" data-cat="<%= cat.idnumber %>"><%= cat.name %></a></li>
<% }}); %>
	</ul>
 </div>
 <div class="input-prepend" style="margin: 0px 0px 0px 20px;">
	<span class="add-on"><i class="fa fa-search"></i></span>
	<input id="catalog-search-input" type="text" placeholder="<%= str.search_your_courses %>" value="<%= search_string %>">
 </div>
</div> <!-- /catalog header -->

<% if (search_string) { %>
<div style="margin-bottom: 10px;" class="hbox middle">
 <span class="blue-header small"><%= str.search_results %> '<%= search_string %>'</span>
 <span class="expand"></span>
 <a href="#" class="blue-header small" data-call="clearSearch"><%= str.clear_search %> <i class="fa fa-times"></i></a>
</div>
<% } %>

<% if (items.length > 0) { %>

<div class="hbox wrap catalog-4cols">
<% _.each(items, function (item) { %>
<div class="catalog-card" data-call="openCourse" data-id="<%= item.id %>" style="position: relative;">
<% if (item.course_privacy == 5) { %>
 <div class="label label-important" style="position: absolute; top: 130px; right: 10px;"><%= str.delisted %></div>
<% } else if (item.completed) { %>
 <div class="label label-warning" style="position: absolute; top: 130px; right: 10px;"><%= str.completed %></div>
<% } %>
<% if (item.cert_enabled) { %>
 <div style="position: absolute; top: 10px; right: 10px;"><i class="fa fa-certificate" style="font-size: 26px; color: gold;"></i></div>
<% } %>
<% if (item.course_privacy == 2) { %>
 <div class="label label-info" style="position: absolute; top: 130px; left: 10px;"><%= str.course_private %></div>
<% } %>
 <div class="catalog-card-image"><img src="<%= item.coursebackgroundtn %>"></div>
 <div class="catalog-card-name<% if (item.fullname.length > 40) print(" longtext"); %>"><%= item.fullname %></div>
 <div class="catalog-vertical-fade"></div>
 <div class="catalog-card-teacher hbox middle">
	<img src="<% print(item.teacher_avatar ? item.teacher_avatar : MoodleDir + "/public_images/user_picture/default_32.jpg"); %>">
	<div class="vbox">
	 <span><%= item.teacher_name %></span>
	 <span><%= item.teacher_title %></span>
	</div>
 </div>
 <div class="catalog-card-status hbox middle">
	<span class="noshrink"><i class="fa fa-users"></i>&nbsp;<%= item.students %></span>
	<span class="expand" style="text-align: center; color: #F9D333;"><% if (item.stars != -1) { %>
	 <i class="fa fa-star<% if (item.stars < 1) { print("-o"); } %>"></i>
	 <i class="fa fa-star<% if (item.stars < 2) { print("-o"); } %>"></i>
	 <i class="fa fa-star<% if (item.stars < 3) { print("-o"); } %>"></i>
	 <i class="fa fa-star<% if (item.stars < 4) { print("-o"); } %>"></i>
	 <i class="fa fa-star<% if (item.stars < 5) { print("-o"); } %>"></i>
	<% } %></span>
	<span class="noshrink">&nbsp;&nbsp;&nbsp;</span>
 </div>
</div>
<% }); %>
</div>

<% if (pageCount > 1) { %>
<div style="text-align: center; margin: 10px 0px 20px 0px;">
	<div class="pagination">
		<ul>
			<% for (var i=1; i<=pageCount; i++) { %>
				<li<% if (i == page) { print(" class=\"active\""); } %>><a href="#" data-call="setPage" data-page="<%= i %>"><%= i %></a></li>
			<% } %>
		</ul>
	</div>
</div>
<% } %>

<% } else { %>
<div style="text-align: center; margin: 50px 0px 0px 0px;">
 <div class="blue-header"><%= str.search_no_results %></div>
</div>
<% } %>
