<div class="modal-header">
    <h3><%= str.org_public_page_add_ad %></h3>
</div>

<div class="modal-body">
 <div class="form-horizontal">

  <div class="control-group">
	<label class="control-label"><%= str.label_url %></label>
	<div class="controls">
	 <input type="text" class="input-xlarge" name="ad_url">
	</div>
  </div>

  <div class="control-group">
	<label class="control-label"><%= str.group %></label>
	<div class="controls">
	 <select class="input-xlarge" name="ad_group">
		<option value="1"><%= str.org_public_page_banner1 %></option>
		<option value="2"><%= str.org_public_page_banner2 %></option>
		<option value="3"><%= str.org_public_page_banner3 %></option>
	 </select>
	</div>
  </div>

  <div class="control-group">
	<label class="control-label"><%= str.course_country %></label>
	<div class="controls">
	 <select class="input-xlarge" name="ad_country">
		<option value="">-</option>
		<% _.each(countries, function (ctr) { %>
		<option value="<%= ctr.key %>"><%= ctr.value %></option>
		<% }); %>
	 </select>
	</div>
  </div>

  <div class="control-group">
	<label class="control-label">&nbsp;</label>
	<div class="controls">
	<img class="thumbnail" id="public-page-ad-image" style="max-width: 70%; max-height: 100px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAABkAQMAAAFMf5laAAAAA1BMVEX///+nxBvIAAAAGUlEQVRIx2NgGAWjYBSMglEwCkbBKBgkAAAImQABesgcQwAAAABJRU5ErkJggg==">
	<div style="font-size: 12px; line-height: normal;"><%= str.org_ad_picture_details %></div>
	<button data-call="setAdImage" class="btn"><i class="fa fa-upload"></i> <%= str.button_upload_file %></button>
	</div>
  </div>

 </div>
</div>

<div class="modal-footer">
    <a href="#" class="btn dialog_reject"><%= str.button_cancel %></a>
    <a href="#" class="btn btn-success dialog_accept"><%= str.button_save %></a>
</div>
