<div class="modal-header">
    <button type="button" class="close dialog_reject" style="line-height:inherit;">&times;</button>
    <h3><%= str.user_unenroll_confirm_header %></h3>
</div>

<div class="modal-body">
    <p class="text"><%= str.user_unenroll_confirm_message %></p>

    <input type="text" name="confirmation" id="confirmation_input" class="confirmation_input" placeholder="<%= str.user_unenroll_confirmation %>">
</div>

<div class="modal-footer">
    <a href="#" class="btn dialog_reject"><%= str.button_cancel %></a>
    <a href="#" id="confirm-delete-button" class="btn btn-danger disabled dialog_accept"><%= str.user_unenroll_confirm_header %></a>
</div>
