<div class="modal-body" dir="auto" >
    <p><%= instruction.replace('%s', filelimit) %></p>
    <div style="text-align:right">
        <a href="#" class="btn dialog_reject"><%= str.button_cancel %></a>
<% if (!hideDefault) { %>
        <button class="btn" id="btn-default"><%= clearLabel %></button>
<% } %>
        <button class="btn btn-primary" id="btn-upload"><i class="fa fa-upload"></i> <%= str.button_upload_file %></button>
    </div>
</div>
