<div class="modal-header">
    <button type="button" class="close dialog_reject" style="line-height:inherit;">&times;</button>
    <h3><%= message %></h3>
</div>

<div class="modal-body">
    <p class="text"><%= str.forum_delete_message %></p>
    <p class="text"><%= str.forum_delete_body.replace('{{confirmationstring}}', str.course_delete_confirmation) %></p>
    <input type="text" name="confirmation" id="confirmation_input" class="confirmation_input" placeholder="Type here">
</div>

<div class="modal-footer">
    <a href="#" class="btn dialog_reject"><%= str.button_cancel %></a>
    <a href="#" id="confirm-delete-button" class="btn btn-danger dialog_accept disabled"><%= str.button_delete %></a>
</div>
