<div class="modal-header">
    <button type="button" class="close dialog_reject" style="line-height:inherit;">&times;</button>
    <h3><%= str.remove_user %></h3>
</div>

<div class="modal-body">
    <p class="text"><%= str.remove_user_msg.replace('{{confirmationstring}}', str.user_remove_confirmation) %></p>

    <input type="text" name="confirmation" id="confirmation_input" class="confirmation_input" placeholder="<%= str.user_remove_confirmation %>">
</div>

<div class="modal-footer">
    <a href="#" class="btn dialog_reject"><%= str.button_cancel %></a>
    <a href="#" id="confirm-delete-button" class="btn btn-danger disabled dialog_accept"><%= str.button_confirm %></a>
</div>
