<div class="modal-header">
  <button type="button" class="close dialog_reject" style="line-height:inherit;">&times;</button>
  <h3><%= str.button_enroll_users %></h3>
</div>

<div class="modal-body" id="admin-page-base" style="max-height: 700px;"></div>

<div class="modal-footer">
    <button class="btn btn-primary dialog_accept"><%= str.button_done %></button>
</div>
