<div class="modal-header">
  <button type="button" class="close dialog_reject" style="line-height:inherit;">&times;</button>
  <h3><%= header %></h3>
</div>

<div class="modal-body"><%= message %></div>

<div class="modal-footer">
    <a href="#" class="btn btn-primary dialog_accept"><%= str.button_done %></a>
</div>
