<div class="modal-header hbox">
    <h3 class="expand"><%= data.name %></h3>
    <button type="button" class="close noshrink dialog_reject" style="line-height:inherit;">&times;</button>
</div>

<div class="modal-body vbox stretch">

<% if (data.coursename) { %>
<div class="hbox middle">
 <label class="expand" style="text-align: right; margin: 0px 10px 10px 0px;"><%= str.type %>:</label>
 <input type="text" readonly="readonly" style="width: 222px;" value="<% print(data.coursename ? data.coursename : str.personal_event); %>">
</div>
<% } %>

<div class="hbox middle">
 <label class="expand" style="text-align: right; margin: 0px 10px 10px 0px;"><%= str.from %>:</label>
 <div class="input-append" style="margin-right: 5px;">
	<input type="text" class="input-small" readonly="readonly" value="<%= from_date %>">
	<span class="add-on"><i class="fa fa-calendar"></i></span>
 </div>
 <div class="input-append">
	<input type="text" class="input-mini" readonly="readonly" value="<%= from_time %>">
	<span class="add-on"><i class="fa fa-clock-o"></i></span>
 </div>
</div>

<div class="hbox middle">
 <label class="expand" style="text-align: right; margin: 0px 10px 10px 0px;"><%= str.to %>:</label>
 <div class="input-append" style="margin-right: 5px;">
	<input type="text" class="input-small" readonly="readonly" value="<%= to_date %>">
	<span class="add-on"><i class="fa fa-calendar"></i></span>
 </div>
 <div class="input-append">
	<input type="text" class="input-mini" readonly="readonly" value="<%= to_time %>">
	<span class="add-on"><i class="fa fa-clock-o"></i></span>
 </div>
</div>

<% if (data["location"]) { %>
<div class="input-prepend">
 <span class="add-on"><i class="fa fa-location-arrow"></i></span>
 <input type="text" class="input-xlarge" readonly="readonly" value="<%= data["location"] %>">
</div>
<% } %>

<% if (data.description) { %>
<div class="input-prepend">
 <span class="add-on"><i class="fa fa-file-text-o"></i></span>
 <input type="text" class="input-xlarge" readonly="readonly" value="<%= data.description %>">
</div>
<% } %>

</div>

<div class="modal-footer hbox">
 <span class="expand"></span>
 <a href="#" class="btn dialog_reject"><%= str.button_close %></a>
</div>
