<% if (header) { %>
<div class="modal-header">
    <button type="button" class="close dialog_reject" style="line-height:inherit;">&times;</button>
    <h3><%= header %></h3>
</div>
<% } %>

<div class="modal-body" style="overflow: visible;">
<div class="form-horizontal">
 <div class="control-group">
  <label class="control-label"><%= str.name %>:</label>
  <div class="controls"><input id="forum-form-name" type="text" data-field="name" class="input-xlarge livevalidation" value="<%= forum.name %>"></div>
 </div>

 <div class="control-group">
  <label class="control-label"><%= str.label_description %>:</label>
  <div class="controls">
  <textarea id="forum-form-description" class="input-xlarge livevalidation" data-field="intro"><%= forum.intro %></textarea>
  </div>
 </div>
</div>
</div>

<div class="modal-footer">
 <a href="#" class="btn btn-success dialog_accept"><%= str.button_done %></a>
</div>
