<div class="modal-body">
    <div><%= str.import_tasks_warning %></div>
    <div id="import-tasks-selections">
        <form>
            <fieldset>
                <% _.each(tasks, function(task) { %>
                    <label class="checkbox">
                        <input type="checkbox" name="task_<%= task.id %>" checked> <%= task.name %>
                    </label>
                <% }); %>
            </fieldset>
        </form>
    </div>
</div>

<div class="modal-footer">
    <a href="#" id="import-course-tasks-next" class="btn btn-primary dialog_accept"><%= str.button_next %></a>
</div>

