<div class="modal-header">
    <button type="button" class="close dialog_reject" style="line-height:inherit;">&times;</button>
    <h3><%= dlgTitle %></h3>
</div>

<div class="modal-body" style="max-height:550px;">

<% if (showtabs) { %>
   <div class="btn-group" data-toggle="buttons-radio" style="margin-bottom: 15px">
   <a href="#invite-type-emails" data-toggle="tab" class="btn active"><%= str.type_emails %></a>
   <a href="#invite-import-csv" data-toggle="tab" class="btn"><%= str.import_csv %></a>
 <% if (gapp == 1) { %>
     <a href="#invite-google-users" data-toggle="tab" class="btn"><%= str.add_gusers %></a>
 <% } %>

  </div>
<% } %>

<div class="tab-content" style="padding-top: 0px">
 <div class="tab-pane active" id="invite-type-emails">
  <div><%= str.type_paste_emails %>:</div>
  <div id="invite-error-type-box" class="alert alert-error hide"><%= str.invitemailErr %></div>
  <textarea class="box-sizing" style="width: 100%; height: 80px;" id="invite-emails-input" placeholder="student@example.com, John Doe <john@doe.example.com>"></textarea>
 </div>

 <div class="tab-pane" id="invite-import-csv">
  <div style="margin-bottom: 10px;"><%= str.upload_csv_file %>

<div class="fileupload fileupload-new pull-right" data-provides="fileupload">
  <span class="btn btn-file"><span class="fileupload-new"><%= str.button_upload_file %></span><span class="fileupload-exists"><%= str.button_upload_file %></span><input id="invite-upload-btn" type="file" /></span>
  <span class="fileupload-preview"></span>
  <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
</div>

  </div>
  <div id="invite-error-upload-box" class="alert alert-error hide"><%= str.invitemailErr %></div>
  <textarea class="box-sizing" id="invite-emails-read" style="width: 100%; height: 80px;" readonly="true"></textarea>
 </div>

<div class="tab-pane" id="invite-google-users">
  <div style="margin-bottom: 10px;"><%= str.import_gapp_contacts %>
  <span class="btn pull-right" style="margin-bottom: 10px;" id="admin-add-gusers-btn"><%= str.get_gapp_users %></span></div>
  <div id="invite-google-error-type-box" class="alert alert-error hide"><%= str.invitemailErr %></div>
  <textarea class="box-sizing" style="width: 100%; height: 80px;" id="invite-gemails-input" placeholder=""></textarea>
</div>

  <div id="inv-msg-label"><%= str.label_message %>:</div>
  <% if (showtabs) { %>
    <textarea class="box-sizing" style="width: 100%; height: 80px;" id="invite-summary" placeholder="<%= summaryPlaceHolder %>"></textarea>
  <% } else { %>
    <textarea class="box-sizing" style="width: 100%; height: 80px;" id="invite-summary" ><%= summaryPlaceHolder %></textarea>
  <% } %>
</div>

<div class="hbox">
<% if (userTags && userTags.length > 0) { %>
<label id="invite-dlg-tag-selector-block"><%= str.add_to_group %>:
<select class="input-medium" style="margin: 0px;" id="invite-dlg-tag-selector">
 <option value="0"><%= str.all_users %></option>
<% for (var i=0; i<userTags.length; i++) { %>
	<option value="<%= userTags[i].id %>"><%= userTags[i].name %></option>
<% } %>
</select>
</label>
<% } %>

<div class="expand"></div>

<% if (userRoles && userRoles.length > 0) { %>
<label id="invite-dlg-role-selector-block"><%= str.label_role %>:
<select class="input-medium" style="margin: 0px;" id="invite-dlg-role-selector">
<% for (var i=0; i<userRoles.length; i++) { %>
	<option value="<%= userRoles[i].id %>"><%= userRoles[i].name %></option>
<% } %>
</select>
</label>
<% } %>
</div>

<div class="hbox">
  <!-- <div id="captchadiv" class="vbox">
      <iframe id="captchaframe" src="/app/a/captcha.php" height="200" width="350" frameborder="0"> </iframe>
  </div> -->
  <div class="vbox"> 
  <div class="hbox middle" style="height:200px">
    <a href="#" id="send-invite" class="btn btn-primary dialog_accept"><i class="fa fa-envelope-o"></i> Send</a>
  </div>
  </div>
</div>

</div>

<div class="modal-footer">
  <% if (cohortSelfRegister == 1) { %>
    <div style="text-align:left;"><label style="display: inline;margin-top:10px;" id='cohort-footer'><%= str.label_cohort_selfregister_crs %></label>
  <% } %> 
</div>
