<% if (header) { %>
<div class="modal-header">
    <h3><%= header %></h3>
</div>
<% } %>

<div class="modal-body">
<div class="form-horizontal">
 <div class="control-group">
  <label class="control-label" for="dialog-lineinput"><%= label %></label>
  <div class="controls"><input type="text" value="<%= value %>" name="lineinput" id="dialog-lineinput"></div>
 </div>
</div>
</div>

<div class="modal-footer">
    <a href="#" class="btn btn-success dialog_accept"><%= str.button_done %></a>
</div>
