<div class="modal-header">
    <button type="button" class="close dialog_reject" style="line-height:inherit;">&times;</button>
    <h3><%= str.liveevents %></h3>
</div>

<div class="modal-body">

<%= str.liveclientcompat_dialog_message %>

<% var idx = 1; while (str["liveclientcompat_dialog_message_li" + idx]) { %>
<div class="hbox middle" style="margin: 5px 0px 0px 10px;">
 <i class="fa fa-check-circle" style="color: green;"></i>
 <span style="margin-left: 10px;"><%= str["liveclientcompat_dialog_message_li" + idx] %></span>
</div>
<% idx++; } %>

</div>

<div class="modal-footer">
    <a href="#" class="btn btn-success dialog_accept"><%= str.button_continue %></a>
</div>
