<div class="modal-header hbox">
    <h3 class="editable expand livevalidation" data-field="name" data-placeholder="<%= str.event_name %>" style="min-height: 30px;"><%= data.name %></h3>
    <button type="button" class="close dialog_reject noshrink" style="line-height:inherit;">&times;</button>
</div>

<div class="modal-body vbox stretch">
<div id="errorstr" class="alert alert-error hide"></div>
<div class="hbox middle">
 <label class="expand" style="text-align: right; margin: 0px 10px 10px 0px;"><%= str.from %>:</label>
 <div class="input-append" style="margin-right: 5px;">
	<input id="event-dialog-from-date-field" type="text" class="input-small date start" value="<%= from_date %>">
	<span class="add-on" onclick="javascript:$('#event-dialog-from-date-field').datepicker('show');"><i class="fa fa-calendar"></i></span>
 </div>
 <div class="input-append">
	<input id="event-dialog-from-time-field" type="text" class="input-mini time start" value="<%= from_time %>">
	<span class="add-on" onclick="javascript:$('#event-dialog-from-time-field').timepicker('show');"><i class="fa fa-clock-o"></i></span>
 </div>
</div>

<div class="hbox middle">
 <label class="expand" style="text-align: right; margin: 0px 10px 10px 0px;"><%= str.to %>:</label>
 <div class="input-append" style="margin-right: 5px;">
	<input id="event-dialog-to-date-field" type="text" class="input-small date end" value="<%= to_date %>">
	<span class="add-on" onclick="javascript:$('#event-dialog-to-date-field').datepicker('show');"><i class="fa fa-calendar"></i></span>
 </div>
 <div class="input-append">
	<input id="event-dialog-to-time-field" type="text" class="input-mini time end" value="<%= to_time %>">
	<span class="add-on" onclick="javascript:$('#event-dialog-to-time-field').timepicker('show');"><i class="fa fa-clock-o"></i></span>
 </div>
</div>

<div class="input-prepend">
 <span class="add-on"><i class="fa fa-file-text-o"></i></span>
 <input id="event-dialog-notes-field" type="text" class="input-xlarge livevalidation" data-field="welcome" value="<%= data.welcome %>" placeholder="<%= str.welcome_msg %>">
</div>

</div>

<div class="modal-footer hbox">
 <a href="#" class="btn btn-primary dialog_accept"><%= str.button_save %></a>
 <a href="#" class="btn btn-link dialog_reject"><%= str.button_cancel %></a>
 <% if (!is_new) { %>
   <span class="expand"></span>
     <a href="#" data-call="deleteSession" class="btn btn-danger" data-id="<%= live_id %>" ><%= str.button_delete %></a>
<% } %>
</div>
