<div class="modal-header" >
<div>
<span id="ltiheader" ><%= str.add_lti_tool %></span>
<button type="button" id="close" class="close dialog_reject">&times;</button>
<a href="#"  id="ltiopennewwindow" class="btn hide" style="float:right;margin-right:5px;margin-top:-4px;"><%= str.button_open_nwin %></a>
</div>
</div>
<div class="modal-body">
        <div id="errorstr" class="alert alert-error hide"></div>
         <div style="padding-bottom: 10px;" id="ltiselector" style="margin-left:10px;">
         <div class="row-fluid list-group" id="ltitoolsgrid">
          <ul id="toolslist" style="margin-left:0px">
          <% for (var i in ltitools) { %>
          <div class="span4" style="margin-left:0px;margin-top:4px;">
            <a href="#" id="ltitool-<%= ltitools[i].id %>" style="height:32px;margin-right:4px;">
                <input type="radio" id="radio-<%= ltitools[i].id %>" style="float:left;">
                <% if(ltitools[i].iconurl) { %> 
                    <img src="<%= ltitools[i].iconurl %>" style="max-width: 16px;max-height: 16px;float:left;margin-right:5px;margin-left:5px;">
                <% } else { %>
                    <img src="<%= RootDir%>/app/img/icon-lti.png" style="max-width: 16px;max-height: 16px;float:left;margin-right:5px;margin-left:5px;">
                <% } %>
                <span style="white-space: nowrap;width: 60%;text-overflow: ellipsis;overflow: hidden;cursor:default;display:inline-block;" ><%= ltitools[i].name %></span>
             </a>
            </div>
          <% } %>
          <div class="span4" style="margin-left:0px;margin-top:4px;">
            <a href="#" id="ltitool-0" style="height:32px;margin-right:4px;">
                <input type="radio" id="radio-0" style="float:left;margin-right:5px;">
                <span style="white-space: nowrap;width: 60%;text-overflow: ellipsis;overflow: hidden;cursor:default;display:inline-block;"><%= str.add_custom_lti %></span>
            </a>
          </div>
          </div>
          </ul>
        </div>
        
        <div class="hide" id="lticustomtool">
            <div class="control-group row-fluid">
                <a href="#" id="ltiedit" class="btn hide" style="float: right;"><%= str.edit %></a>
                <a href="#" id="ltidelete" class="btn hide" style="float: right; margin-right: 10px;"><%= str.button_delete %></a>
            </div> 
            <div>
            <div class="control-group">
                <label class="row-fluid">
                <span class="span4" style="line-height: 30px; margin-right: 2%;"><%= str.ltitool_name %></span>
                <input type="text" class="input-xlarge inputfield livevalidation span8" id="ctoolname" data-field="toolname" value="">
                </label> 
            </div>
            <div class="control-group">
                <label class="row-fluid">
                    <span class="span4" style="line-height: 30px; margin-right: 2%;"><%= str.ltitool_url %></span>
                    <input type="text" class="input-xlarge inputfield livevalidation span8" id="ctoolurl" data-field="toolurl" value="">
                </label> 
            </div>
            <div class="control-group">
                <label class="row-fluid">
                <span class="span4" style="line-height: 30px; margin-right: 2%;"><%= str.ltitool_icon_url %></span>
                <input type="text" class="input-xlarge inputfield livevalidation span8" id="ciconurl" data-field="iconurl" value="">
                </label> 
            </div>
            <div class="control-group">
                <label class="row-fluid">
                <span class="span4" style="line-height: 30px; margin-right: 2%;"><%= str.lti_customer_key %></span>
                <input type="text" class="input-xlarge inputfield livevalidation span8" id="ckey" data-field="key" value="">
                </label> 
            </div>
            <div class="control-group">
                <label class="row-fluid">
                <span class="span4" style="line-height: 30px; margin-right: 2%;"><%= str.lti_customer_secret %></span>
                <input type="text" class="input-xlarge inputfield livevalidation span8" id="csecret" data-field="secret" value="">
                </label> 
            </div>
            <label class="checkbox" style=""><input name='username' type="checkbox" id="cusername" ><%= str.lti_share_username %></label>
            <label class="checkbox" style=""><input name='email' type="checkbox" id="cemail" ><%= str.lti_share_email %></label>
            </div>
        </div>
        <div class="hide" id="lticonfigtool">
            <iframe id="lticonfigurl" type="text/html" width="526" height="350" src="#" frameborder="1" />
        </div>
</div>
<div class="modal-footer">
    <a href="#" id="ltisave" class="btn btn-success dialog_accept"><%= str.button_next %></a>
</div>
</div>
