<% if (header) { %>
<div class="modal-header">
    <h3><%= header %></h3>
</div>
<% } %>

<div class="modal-body"><%= message %></div>

<div class="modal-footer">
    <a href="#" class="btn btn-success dialog_accept"><%= str.button_done %></a>
</div>
