<div class="modal-body">
    <p class="text" id="prompt_text"><strong><%= data.text1 %></strong></p>
    <p class="text muted" id="prompt_text"><%= data.text2 %></p>
    
    <input type="text" name="url" class="url_input" >
    <div class="hide" id="link-preview" ><img class="media-thumbnail" src="" ></div>
    <p class="text-error hide" id="error_msg"><%= str.err_link %></p>
</div>

<div class="modal-footer">
    <a href="#" class="btn dialog_reject"><%= str.button_cancel %></a>
    <a href="#" class="btn btn-primary dialog_accept"><%= str.button_done %></a>
</div>
