<div class="modal-header">
<button type="button" class="close dialog_reject" style="line-height:inherit;">&times;</button>
 <h3><%= str.button_sendmsg %></h3>
</div>

<div class="modal-body" style="max-height:500px;">
  <textarea class="box-sizing" style="width: 100%; height: 240px;" id="message-summary" placeholder="<%= str.email_custom_text %>"></textarea>
  
<div class="hbox">
  <!-- <div id="captchadiv" class="vbox">
      <iframe id="captchaframe" src="/app/a/captcha.php" height="200" width="350" frameborder="0"> </iframe>
  </div> -->
  <div class="vbox"> 
  <div class="hbox middle" style="height:200px">
    <a href="#" id="send-invite" class="btn btn-primary dialog_accept"><i class="fa fa-envelope-o"></i> Send</a>
  </div>
  </div>
</div>
  
</div>

</div>

<div class="modal-footer">
</div>
