<% if (header) { %>
<div class="modal-header">
<button type="button" class="close dialog_reject" style="line-height:inherit;">&times;</button>
    <h3><%= header %></h3>
</div>
<% } %>

<div class="modal-body">

<% if (message) { %><p><%= message %></p><% } %>

<% if (image) { %><p style="text-align: center;"><img src="<%= image %>" style="max-width: 250px;"></p><% } %>

<% if (rate) { %>
<div id="share-rating-block" style="border: 1px solid #FFF; font-size: 24px; color: gold; text-align: center; letter-spacing: 3px;">
<% for (var i=1; i<=5; i++) { %>
  <i data-item="<%= i %>" data-call="rate" class="fa fa-star-o" style="cursor: pointer; color:gold"></i>
<% } %>
</div>
<% } %>

<% if (review) { %>
<label>
 <div><%= str.review %>:</div>
 <textarea name="review" style="box-sizing: border-box; width: 100%;" rows="4"></textarea>
</label>
<% } else { %>
<br>
<% } %>

<div style="margin-top: 10px;">
 <label><%= str.share_on %></label>
</div>

<div>
	<button data-social="facebook" data-call="socialButtonToggle" class="btn btn-facebook"><i class="fa fa-facebook"></i> <%= str.service_facebook %></button>
	<button data-social="twitter" data-call="socialButtonToggle" class="btn btn-twitter"><i class="fa fa-twitter"></i> <%= str.service_twitter %></button>
	<button data-social="linkedin" data-call="socialButtonToggle" class="btn btn-linkedin"><i class="fa fa-linkedin"></i> <%= str.service_linkedin %></button>
</div>

<div id="share_enrollments_box" style="margin-top: 10px;">
 <label class="checkbox"><input type="checkbox" name="enable_autoshare" checked="checked"> <%= str.automatically_share_enrollments %></label>
</div>

</div>

<div class="modal-footer">
<% if (review) { %>
    <a href="#" class="btn btn-success dialog_accept"><%= str.button_save %></a>
<% } else { %>
    <a href="#" class="btn pull-left" data-call="neverRemind"><%= str.button_never_remind %></a>
    <a href="#" class="btn dialog_reject"><%= str.button_later %></a>
    <a href="#" class="btn btn-success dialog_accept"><%= str.button_share %></a>
<% } %>
</div>
