<div class="modal-header">
	<button type="button" class="close dialog_reject" style="line-height:inherit;">&times;</button>
    <h3><%= str.congratulations %></h3>
</div>

<div class="modal-body">

<p><%= str.share_course_certificate_label.replace("%COURSENAME", course.fullname) %></p>
<p style="text-align: center;"><a href="#" data-call="gotoCourse"><img src="<%= EliademyUrl + "/cert/" + course.cert_hashurl + ".jpg" %>" style="max-width: 250px;"></a></p>
<p><%= str.share_course_certificate_info.replace(/{/g, "<a href=\"#\" data-call=\"gotoCourse\">").replace(/}/g, "</a>") %></p>

<p style="text-align: center;">
	<button data-call="shareCertificateFacebook" class="btn btn-facebook"><i class="fa fa-facebook"></i> <%= str.service_facebook %></button>
	<button data-call="shareCertificateTwitter" class="btn btn-twitter"><i class="fa fa-twitter"></i> <%= str.service_twitter %></button>
	<button data-call="shareCertificateLinkedin" class="btn btn-linkedin"><i class="fa fa-linkedin"></i> <%= str.service_linkedin %></button>
	<button data-call="gotoCourse" class="btn"><%= str.other_service %></button>
</p>

<% if (course.cert_enabled == 2) { %>
<p><%= str.label_premium_cert_msg %></p>
<p style="text-align: center;"><a href="#" class="btn btn-large btn-success" data-call="gotoCourse"><%= str.label_premium_cert %></a></p>
<% } %>

</div>

<div class="modal-footer">
    <a href="#" class="btn dialog_reject pull-left"><%= str.button_later %></a>
    <a href="#" class="btn btn-success dialog_accept"><%= str.button_done %></a>
</div>
