<div class="modal-header">
<button type="button" class="close dialog_reject" style="line-height:inherit;">&times;</button>
<h3>Welcome to Eliademy</h3>
</div>

<div class="modal-body">
<iframe height="360" style="margin-left:auto;margin-right:auto;width:100%;vertical-align:middle;" src="<%= link %>" frameborder="0" allowfullscreen></iframe></div>

<div class="modal-footer">
    <button class="btn btn-primary dialog_accept"><%= str.button_done %></button>
</div>
