<% if (header) { %>
<div class="modal-header">
    <button type="button" class="close dialog_reject" style="line-height:inherit;">&times;</button>
    <h3><%= header %></h3>
</div>
<% } %>

<div class="modal-body">
<% if (label) { %>
  <div class="alert"><%= label %></div>
<% } %>
 <div class="hbox">
  <textarea class="expand" rows="4" name="textinput" placeholder="<%= placeholder %>"><%= value %></textarea>
 </div>
</div>

<div class="modal-footer">
    <a href="#" class="btn btn-success dialog_accept"><%= button ? button : str.button_done %></a>
</div>
