<div class="modal-header">
<button type="button" id="btn-close" class="close dialog_reject" style="line-height:inherit;">&times;</button>
<h3><%= str.upload_video %></h3>
</div>

<div class="modal-body" dir="auto" >
    <div id="storage-progress-container">
        <div class="progress" id="storage-progress-bar">
            <div class="bar" id="storage-progress-now" style="width: <%= data.vusage %>;"></div>
            <span style="text-align:center;z-index: 2;position:absolute;width:100%"><%= str.label_used %> <%= data.videousage %> (<a style="color:black" href="#" id="video-support"><%= str.label_request_more %></a>)</span>
        </div>
    </div>
    <div id="video-support-feedback" class="alert alert-success hide"><%= str.support_response %></div>
    <div><%= str.video_upload_text %></div>
    <div class="row-fluid">
      <div id="upload-progress-container" class="span9" style="margin-top:10px">
        <div class="progress" id="upload-progress-bar">
            <div class="bar" id="upload-progress-now" style="width:0%;"></div>
            <span style="text-align:center;z-index: 2;position:absolute;width:100%"><%= str.upload_video_text1 %></span>
        </div>
      </div>
      <div class="span3" id="upload-buttons" style="float:right">
        <a href="#" class="btn" id="btn-upload" style="float:right"><i class="fa fa-upload"></i> <%= str.button_upload_file %></a>
        <a href="#" class="btn dialog_reject hide" id="btn-cancel" style="float:right"><%= str.button_cancel %></a>
      </div>
    </div>
  <div id="upload-error" class="alert alert-error hide"></div>
</div>

<div class="modal-footer" >
    <a href="#" class="btn btn-success disabled dialog_accept" id="btn-insert"><%= str.button_insert_file %></a>
</div>
