<% if (header) { %>
<div class="modal-header">
    <h3><%= header %></h3>
</div>
<% } %>

<div class="modal-body"><%= message %></div>

<div class="modal-footer">
   <a href="#" class="btn btn-cancel dialog_reject"><%= button_secondary %></a>
   <a href="#" class="btn <% print(invert_danger ? "btn-success" : "btn-danger") %> dialog_accept"><%= button_primary %></a>
</div>
