<% if (accountNag) { %>
<div class="catalog-sidebar-item">
 <div style="text-align: center;" class="blue-header tiny"><%= str.sidebar_complete_profile %></div>
 <div style="font-size: 12px; line-height: normal; margin: 12px 0px;"><%= str.sidebar_complete_profile_msg %></div>
 <div style="text-align: center;"><a href="/profile/edit" class="btn"><i class="fa fa-pencil-square-o"></i> <%= str.sidebar_edit_profile_button %></a></div>
</div>
<% } %>
